ibmData/schema_invalid/D3_1/d3_1si01.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:xs="http://www.w3.org/2001/XMLSchema-datatypes"
	targetNamespace="http://xstest-tns/schema11"
	xmlns:si="http://xstest-tns/schema11">
	<complexType name="TimerType">
		<attribute name="time" type="xs:gYear" />
	</complexType>

<element name="root">
<complexType>
		<sequence>
			<element name="elDTimeType" type="si:TimerType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
</complexType>
</element>    

</schema>  

<!-- 
Test Case Type: Schema invalid test
Description   : use of the namespace http://www.w3.org/2001/XMLSchema-datatypes has been deprecated.
-->
