nistData/union/duration-decimal/Schema+Instance/NISTSchema-SV-IV-union-duration-decimal-pattern-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-union-duration-decimal-pattern-4-NS"
        targetNamespace="NISTSchema-SV-IV-union-duration-decimal-pattern-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-union-duration-decimal-pattern-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-union-duration-decimal-pattern-4,
      which is derived by restriction of a union of built-in types 
      duration and decimal
      by facet pattern with a value of: P\d\d47Y\d3M1\dDT\d9H2\dM2\dS
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="NISTSchema-SV-IV-union-duration-decimal-pattern-4" type="NISTSchema-SV-IV-union-duration-decimal-pattern-4-Type"/>

  <xs:simpleType name="unionOf-duration-decimal">
    <xs:union memberTypes="xs:duration xs:decimal"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-union-duration-decimal-pattern-4-Type">
    <xs:restriction base="unionOf-duration-decimal">
      <xs:pattern value="P\d\d47Y\d3M1\dDT\d9H2\dM2\dS"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
