nistData/union/duration-decimal/Schema+Instance/NISTSchema-SV-II-union-duration-decimal-enumeration-5.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-union-duration-decimal-enumeration-5-NS"
        targetNamespace="NISTSchema-SV-II-union-duration-decimal-enumeration-5-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-union-duration-decimal-enumeration-5.xsd
      This schema specifies a datatype, NISTSchema-SV-II-union-duration-decimal-enumeration-5,
      which is derived by restriction of a union of built-in types 
      duration and decimal
      by facet enumeration with values of:
          P2002Y06M20DT06H52M17S
          P1979Y07M18DT23H39M21S
          2529.37096036778
          2243523.801653221
          -67.89875320547014
          P1984Y04M16DT07H16M10S
          P2027Y12M07DT04H33M22S
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="NISTSchema-SV-II-union-duration-decimal-enumeration-5" type="NISTSchema-SV-II-union-duration-decimal-enumeration-5-Type"/>

  <xs:simpleType name="unionOf-duration-decimal">
    <xs:union memberTypes="xs:duration xs:decimal"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-union-duration-decimal-enumeration-5-Type">
    <xs:restriction base="unionOf-duration-decimal">
          <xs:enumeration value="P2002Y06M20DT06H52M17S"/>
          <xs:enumeration value="P1979Y07M18DT23H39M21S"/>
          <xs:enumeration value="2529.37096036778"/>
          <xs:enumeration value="2243523.801653221"/>
          <xs:enumeration value="-67.89875320547014"/>
          <xs:enumeration value="P1984Y04M16DT07H16M10S"/>
          <xs:enumeration value="P2027Y12M07DT04H33M22S"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
