nistData/union/duration-decimal/Schema+Instance/NISTSchema-SV-IV-union-duration-decimal-enumeration-5.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-union-duration-decimal-enumeration-5-NS"
        targetNamespace="NISTSchema-SV-IV-union-duration-decimal-enumeration-5-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-union-duration-decimal-enumeration-5.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-union-duration-decimal-enumeration-5,
      which is derived by restriction of a union of built-in types 
      duration and decimal
      by facet enumeration with values of:
          -9.833664239753505
          P2030Y05M26DT02H26M21S
          2.02830188
          P2024Y02M08DT18H57M25S
          -19315130.661
          -471562.69552
          -33596.4487
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="NISTSchema-SV-IV-union-duration-decimal-enumeration-5" type="NISTSchema-SV-IV-union-duration-decimal-enumeration-5-Type"/>

  <xs:simpleType name="unionOf-duration-decimal">
    <xs:union memberTypes="xs:duration xs:decimal"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-union-duration-decimal-enumeration-5-Type">
    <xs:restriction base="unionOf-duration-decimal">
          <xs:enumeration value="-9.833664239753505"/>
          <xs:enumeration value="P2030Y05M26DT02H26M21S"/>
          <xs:enumeration value="2.02830188"/>
          <xs:enumeration value="P2024Y02M08DT18H57M25S"/>
          <xs:enumeration value="-19315130.661"/>
          <xs:enumeration value="-471562.69552"/>
          <xs:enumeration value="-33596.4487"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
