nistData/union/duration-decimal/Schema+Instance/NISTSchema-SV-II-union-duration-decimal-pattern-5.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-union-duration-decimal-pattern-5-NS"
        targetNamespace="NISTSchema-SV-II-union-duration-decimal-pattern-5-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-union-duration-decimal-pattern-5.xsd
      This schema specifies a datatype, NISTSchema-SV-II-union-duration-decimal-pattern-5,
      which is derived by restriction of a union of built-in types 
      duration and decimal
      by facet pattern with a value of: \d{1}
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="NISTSchema-SV-II-union-duration-decimal-pattern-5" type="NISTSchema-SV-II-union-duration-decimal-pattern-5-Type"/>

  <xs:simpleType name="unionOf-duration-decimal">
    <xs:union memberTypes="xs:duration xs:decimal"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-union-duration-decimal-pattern-5-Type">
    <xs:restriction base="unionOf-duration-decimal">
      <xs:pattern value="\d{1}"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
