nistData/union/duration-decimal/Schema+Instance/NISTSchema-SV-IV-union-duration-decimal-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-union-duration-decimal-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-IV-union-duration-decimal-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-union-duration-decimal-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-union-duration-decimal-enumeration-4,
      which is derived by restriction of a union of built-in types 
      duration and decimal
      by facet enumeration with values of:
          P2024Y02M08DT18H57M25S
          -8662801.7
          -6.6957506428
          P2025Y10M04DT21H48M39S
          -9.833664239753505
          35.153218
          30.9431
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="NISTSchema-SV-IV-union-duration-decimal-enumeration-4" type="NISTSchema-SV-IV-union-duration-decimal-enumeration-4-Type"/>

  <xs:simpleType name="unionOf-duration-decimal">
    <xs:union memberTypes="xs:duration xs:decimal"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-union-duration-decimal-enumeration-4-Type">
    <xs:restriction base="unionOf-duration-decimal">
          <xs:enumeration value="P2024Y02M08DT18H57M25S"/>
          <xs:enumeration value="-8662801.7"/>
          <xs:enumeration value="-6.6957506428"/>
          <xs:enumeration value="P2025Y10M04DT21H48M39S"/>
          <xs:enumeration value="-9.833664239753505"/>
          <xs:enumeration value="35.153218"/>
          <xs:enumeration value="30.9431"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
