nistData/union/duration-decimal/Schema+Instance/NISTSchema-SV-II-union-duration-decimal-enumeration-1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-union-duration-decimal-enumeration-1-NS"
        targetNamespace="NISTSchema-SV-II-union-duration-decimal-enumeration-1-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-union-duration-decimal-enumeration-1.xsd
      This schema specifies a datatype, NISTSchema-SV-II-union-duration-decimal-enumeration-1,
      which is derived by restriction of a union of built-in types 
      duration and decimal
      by facet enumeration with values of:
          P1979Y07M18DT23H39M21S
          P1971Y03M06DT06H40M10S
          P1985Y08M18DT14H09M52S
          -4742.740239
          P2027Y03M15DT09H07M43S
          -6.3457535573
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="NISTSchema-SV-II-union-duration-decimal-enumeration-1" type="NISTSchema-SV-II-union-duration-decimal-enumeration-1-Type"/>

  <xs:simpleType name="unionOf-duration-decimal">
    <xs:union memberTypes="xs:duration xs:decimal"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-union-duration-decimal-enumeration-1-Type">
    <xs:restriction base="unionOf-duration-decimal">
          <xs:enumeration value="P1979Y07M18DT23H39M21S"/>
          <xs:enumeration value="P1971Y03M06DT06H40M10S"/>
          <xs:enumeration value="P1985Y08M18DT14H09M52S"/>
          <xs:enumeration value="-4742.740239"/>
          <xs:enumeration value="P2027Y03M15DT09H07M43S"/>
          <xs:enumeration value="-6.3457535573"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
