nistData/union/duration-decimal/Schema+Instance/NISTSchema-SV-II-union-duration-decimal-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-union-duration-decimal-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-II-union-duration-decimal-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-union-duration-decimal-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-II-union-duration-decimal-enumeration-4,
      which is derived by restriction of a union of built-in types 
      duration and decimal
      by facet enumeration with values of:
          50
          P2016Y03M23DT13H42M27S
          P1986Y11M18DT13H19M11S
          -67.89875320547014
          1860.8
          P2027Y12M07DT04H33M22S
          12.111
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="NISTSchema-SV-II-union-duration-decimal-enumeration-4" type="NISTSchema-SV-II-union-duration-decimal-enumeration-4-Type"/>

  <xs:simpleType name="unionOf-duration-decimal">
    <xs:union memberTypes="xs:duration xs:decimal"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-union-duration-decimal-enumeration-4-Type">
    <xs:restriction base="unionOf-duration-decimal">
          <xs:enumeration value="50"/>
          <xs:enumeration value="P2016Y03M23DT13H42M27S"/>
          <xs:enumeration value="P1986Y11M18DT13H19M11S"/>
          <xs:enumeration value="-67.89875320547014"/>
          <xs:enumeration value="1860.8"/>
          <xs:enumeration value="P2027Y12M07DT04H33M22S"/>
          <xs:enumeration value="12.111"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
