nistData/union/duration-decimal/Schema+Instance/NISTSchema-SV-IV-union-duration-decimal-enumeration-1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-union-duration-decimal-enumeration-1-NS"
        targetNamespace="NISTSchema-SV-IV-union-duration-decimal-enumeration-1-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-union-duration-decimal-enumeration-1.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-union-duration-decimal-enumeration-1,
      which is derived by restriction of a union of built-in types 
      duration and decimal
      by facet enumeration with values of:
          P2016Y12M19DT03H19M26S
          P1985Y05M23DT13H27M38S
          -19315130.661
          P2030Y05M26DT02H26M21S
          P2013Y04M14DT17H28M59S
          -2585.976
          P1998Y03M11DT00H17M15S
          P1997Y09M05DT00H39M56S
          P2003Y06M13DT16H21M34S
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="NISTSchema-SV-IV-union-duration-decimal-enumeration-1" type="NISTSchema-SV-IV-union-duration-decimal-enumeration-1-Type"/>

  <xs:simpleType name="unionOf-duration-decimal">
    <xs:union memberTypes="xs:duration xs:decimal"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-union-duration-decimal-enumeration-1-Type">
    <xs:restriction base="unionOf-duration-decimal">
          <xs:enumeration value="P2016Y12M19DT03H19M26S"/>
          <xs:enumeration value="P1985Y05M23DT13H27M38S"/>
          <xs:enumeration value="-19315130.661"/>
          <xs:enumeration value="P2030Y05M26DT02H26M21S"/>
          <xs:enumeration value="P2013Y04M14DT17H28M59S"/>
          <xs:enumeration value="-2585.976"/>
          <xs:enumeration value="P1998Y03M11DT00H17M15S"/>
          <xs:enumeration value="P1997Y09M05DT00H39M56S"/>
          <xs:enumeration value="P2003Y06M13DT16H21M34S"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
