nistData/list/unsignedByte/Schema+Instance/NISTSchema-SV-II-list-unsignedByte-enumeration-2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-unsignedByte-enumeration-2-NS"
        targetNamespace="NISTSchema-SV-II-list-unsignedByte-enumeration-2-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-unsignedByte-enumeration-2.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-unsignedByte-enumeration-2,
      which is derived by restriction of a list with itemType unsignedByte
      by facet enumeration with values of:
          96 236 78 17 66 255 39 27 50
          67 4 49 255 22 27
          255 50 11 6 62 40 7
          84 99 255 91 18 43 6 7
          21 8 255 92 121 66 7
          10 38 40 255 75
          8 2 255 6 49 78 72 3 51
          255 172 59 65 70 96 57
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-unsignedByte-enumeration-2" type="NISTSchema-SV-II-list-unsignedByte-enumeration-2-Type"/>

  <xs:simpleType name="listOfunsignedByte">
    <xs:list itemType="xs:unsignedByte"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-unsignedByte-enumeration-2-Type">
    <xs:restriction base="listOfunsignedByte">
          <xs:enumeration value="96 236 78 17 66 255 39 27 50"/>
          <xs:enumeration value="67 4 49 255 22 27"/>
          <xs:enumeration value="255 50 11 6 62 40 7"/>
          <xs:enumeration value="84 99 255 91 18 43 6 7"/>
          <xs:enumeration value="21 8 255 92 121 66 7"/>
          <xs:enumeration value="10 38 40 255 75"/>
          <xs:enumeration value="8 2 255 6 49 78 72 3 51"/>
          <xs:enumeration value="255 172 59 65 70 96 57"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
