nistData/list/unsignedByte/Schema+Instance/NISTSchema-SV-IV-list-unsignedByte-minLength-4.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-unsignedByte-minLength-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-unsignedByte-minLength-4-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-unsignedByte-minLength-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-unsignedByte-minLength-4,
      which is derived by restriction of a list with item type unsignedByte
      by facet minLength with a value of: 8
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-unsignedByte-minLength-4" type="nist:NISTSchema-SV-IV-list-unsignedByte-minLength-4-Type"/>

  <simpleType name="listOfunsignedByte">
    <list itemType="unsignedByte"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-unsignedByte-minLength-4-Type">
    <restriction base="nist:listOfunsignedByte">
      <minLength value="8"/>
    </restriction>
  </simpleType>

</schema>
