ibmData/valid/S3_3_4/s3_3_4v19.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="union_of_ids_element" type="unionOfIDs" maxOccurs="unbounded"/>				
			</xs:sequence>
			<xs:attribute name="idref_attr" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="unionOfIDs">
		<xs:union memberTypes="xs:integer xs:boolean xs:ID"/>
	</xs:simpleType>

</xs:schema>

<!-- 
	Test Case Type: valid test (Structures 3.3.4)
	facet Type 	  : ID/IDREF
	Description   : Unions involving ID in elements, attributes
-->