ibmData/valid/S3_3_4/s3_3_4v15.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="wrapper">
	  <xs:complexType>
	    <xs:sequence>
	      <xs:element ref="root"/>
	    </xs:sequence>
	  </xs:complexType>
	</xs:element>
	
	<xs:element name="root">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="listOfIDs">
					<xs:attribute name="idref_attr" type="xs:IDREF"/>
				</xs:extension>					
			</xs:simpleContent>			
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="listOfIDs">
		<xs:list itemType="xs:ID"/>
	</xs:simpleType>
</xs:schema>


<!-- 
	Test Case Type: valid test (Structures 3.3.4)
	facet Type 	  : ID/IDREF
	Description   : lists of ID, simpleContent
-->
