ibmData/valid/S3_3_4/s3_3_4v14.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="list_of_ids_element" type="listOfIDs" maxOccurs="unbounded"/>
				<xs:element name="idref_element" type="xs:IDREF"/>
			</xs:sequence>
			<xs:attribute name="idref_attr" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="listOfIDs">
		<xs:list itemType="xs:ID"/>
	</xs:simpleType>
</xs:schema>


<!-- 
	Test Case Type: valid test (Structures 3.3.4)
	facet Type 	  : ID/IDREF
	Description   : lists of ID, naive test case on elements
-->
