nistData/union/short-gYear/Schema+Instance/NISTSchema-SV-IV-union-short-gYear-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-union-short-gYear-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-IV-union-short-gYear-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-union-short-gYear-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-union-short-gYear-enumeration-4,
      which is derived by restriction of a union of built-in types 
      short and gYear
      by facet enumeration with values of:
          -760
          1987
          1974
          -17213
          -543
          1983
          -2
          442
          -1
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="NISTSchema-SV-IV-union-short-gYear-enumeration-4" type="NISTSchema-SV-IV-union-short-gYear-enumeration-4-Type"/>

  <xs:simpleType name="unionOf-short-gYear">
    <xs:union memberTypes="xs:short xs:gYear"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-union-short-gYear-enumeration-4-Type">
    <xs:restriction base="unionOf-short-gYear">
          <xs:enumeration value="-760"/>
          <xs:enumeration value="1987"/>
          <xs:enumeration value="1974"/>
          <xs:enumeration value="-17213"/>
          <xs:enumeration value="-543"/>
          <xs:enumeration value="1983"/>
          <xs:enumeration value="-2"/>
          <xs:enumeration value="442"/>
          <xs:enumeration value="-1"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
