nistData/union/short-gYear/Schema+Instance/NISTSchema-SV-IV-union-short-gYear-enumeration-2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-union-short-gYear-enumeration-2-NS"
        targetNamespace="NISTSchema-SV-IV-union-short-gYear-enumeration-2-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-union-short-gYear-enumeration-2.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-union-short-gYear-enumeration-2,
      which is derived by restriction of a union of built-in types 
      short and gYear
      by facet enumeration with values of:
          -3830
          1970
          -37
          -205
          -8
          -4097
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="NISTSchema-SV-IV-union-short-gYear-enumeration-2" type="NISTSchema-SV-IV-union-short-gYear-enumeration-2-Type"/>

  <xs:simpleType name="unionOf-short-gYear">
    <xs:union memberTypes="xs:short xs:gYear"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-union-short-gYear-enumeration-2-Type">
    <xs:restriction base="unionOf-short-gYear">
          <xs:enumeration value="-3830"/>
          <xs:enumeration value="1970"/>
          <xs:enumeration value="-37"/>
          <xs:enumeration value="-205"/>
          <xs:enumeration value="-8"/>
          <xs:enumeration value="-4097"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
