nistData/union/short-gYear/Schema+Instance/NISTSchema-SV-II-union-short-gYear-enumeration-1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-union-short-gYear-enumeration-1-NS"
        targetNamespace="NISTSchema-SV-II-union-short-gYear-enumeration-1-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-union-short-gYear-enumeration-1.xsd
      This schema specifies a datatype, NISTSchema-SV-II-union-short-gYear-enumeration-1,
      which is derived by restriction of a union of built-in types 
      short and gYear
      by facet enumeration with values of:
          1977
          -8226
          -28
          2024
          -4397
          -460
          1994
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="NISTSchema-SV-II-union-short-gYear-enumeration-1" type="NISTSchema-SV-II-union-short-gYear-enumeration-1-Type"/>

  <xs:simpleType name="unionOf-short-gYear">
    <xs:union memberTypes="xs:short xs:gYear"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-union-short-gYear-enumeration-1-Type">
    <xs:restriction base="unionOf-short-gYear">
          <xs:enumeration value="1977"/>
          <xs:enumeration value="-8226"/>
          <xs:enumeration value="-28"/>
          <xs:enumeration value="2024"/>
          <xs:enumeration value="-4397"/>
          <xs:enumeration value="-460"/>
          <xs:enumeration value="1994"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
