nistData/union/short-gYear/Schema+Instance/NISTSchema-SV-II-union-short-gYear-enumeration-5.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-union-short-gYear-enumeration-5-NS"
        targetNamespace="NISTSchema-SV-II-union-short-gYear-enumeration-5-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-union-short-gYear-enumeration-5.xsd
      This schema specifies a datatype, NISTSchema-SV-II-union-short-gYear-enumeration-5,
      which is derived by restriction of a union of built-in types 
      short and gYear
      by facet enumeration with values of:
          1971
          -924
          -8
          -8676
          -4397
          -26098
          2006
          -406
          1998
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="NISTSchema-SV-II-union-short-gYear-enumeration-5" type="NISTSchema-SV-II-union-short-gYear-enumeration-5-Type"/>

  <xs:simpleType name="unionOf-short-gYear">
    <xs:union memberTypes="xs:short xs:gYear"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-union-short-gYear-enumeration-5-Type">
    <xs:restriction base="unionOf-short-gYear">
          <xs:enumeration value="1971"/>
          <xs:enumeration value="-924"/>
          <xs:enumeration value="-8"/>
          <xs:enumeration value="-8676"/>
          <xs:enumeration value="-4397"/>
          <xs:enumeration value="-26098"/>
          <xs:enumeration value="2006"/>
          <xs:enumeration value="-406"/>
          <xs:enumeration value="1998"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
