nistData/union/short-gYear/Schema+Instance/NISTSchema-SV-II-union-short-gYear-enumeration-2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-union-short-gYear-enumeration-2-NS"
        targetNamespace="NISTSchema-SV-II-union-short-gYear-enumeration-2-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-union-short-gYear-enumeration-2.xsd
      This schema specifies a datatype, NISTSchema-SV-II-union-short-gYear-enumeration-2,
      which is derived by restriction of a union of built-in types 
      short and gYear
      by facet enumeration with values of:
          1972
          1973
          1987
          -924
          -28
          1320
          63
          2024
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="NISTSchema-SV-II-union-short-gYear-enumeration-2" type="NISTSchema-SV-II-union-short-gYear-enumeration-2-Type"/>

  <xs:simpleType name="unionOf-short-gYear">
    <xs:union memberTypes="xs:short xs:gYear"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-union-short-gYear-enumeration-2-Type">
    <xs:restriction base="unionOf-short-gYear">
          <xs:enumeration value="1972"/>
          <xs:enumeration value="1973"/>
          <xs:enumeration value="1987"/>
          <xs:enumeration value="-924"/>
          <xs:enumeration value="-28"/>
          <xs:enumeration value="1320"/>
          <xs:enumeration value="63"/>
          <xs:enumeration value="2024"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
