ibmData/valid/D3_3_10/d3_3_10v01.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_3_10_v01"
	xmlns:sv="http://xstest-tns/schema11_D3_3_10_v01">
	
<!-- 
	Test Case Type: Schema Valid test (Datatypes section 3.3.10) 
	Base Type     : date
	Description   : A day is a calendar (or "local time") day in each timezone, including the timezones
			    outside of +12:00 through -11:59 inclusive.
-->


<simpleType name="dtMin">
	<restriction  base="date">
		<minInclusive value="2000-12-12+13:00"/>
	</restriction>
</simpleType>



<element name="root">
	<complexType>
		<sequence>
			<element name="elDate" type="sv:dtMin" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</element>    

</schema>  
