nistData/list/unsignedInt/Schema+Instance/NISTSchema-SV-IV-list-unsignedInt-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-unsignedInt-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-unsignedInt-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-unsignedInt-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-unsignedInt-enumeration-4,
      which is derived by restriction of a list with itemType unsignedInt
      by facet enumeration with values of:
          11 62 582535 6677026 691306 617080803 140039 18220733 952867
          5130 17444351 8688886 8049084 6311992
          80 990990257 91 268 196566196 34641 557310162 46453 23175
          58701769 4294967295 89715 503257427 4082 8772 1716 47104021
          82014 5521567 613030925 660302 108343 3112 4261566
          6101 50709182 6000 2746905 38838 22141 986333 644 95
          20275407 277 234 944976672 530161667 714783900 4657401 4666020
          1674452098 6209 3948525560 781 20146 4265102
          14295 94 73497 566568265 735 519 489351607
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-unsignedInt-enumeration-4" type="NISTSchema-SV-IV-list-unsignedInt-enumeration-4-Type"/>

  <xs:simpleType name="listOfunsignedInt">
    <xs:list itemType="xs:unsignedInt"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-unsignedInt-enumeration-4-Type">
    <xs:restriction base="listOfunsignedInt">
          <xs:enumeration value="11 62 582535 6677026 691306 617080803 140039 18220733 952867"/>
          <xs:enumeration value="5130 17444351 8688886 8049084 6311992"/>
          <xs:enumeration value="80 990990257 91 268 196566196 34641 557310162 46453 23175"/>
          <xs:enumeration value="58701769 4294967295 89715 503257427 4082 8772 1716 47104021"/>
          <xs:enumeration value="82014 5521567 613030925 660302 108343 3112 4261566"/>
          <xs:enumeration value="6101 50709182 6000 2746905 38838 22141 986333 644 95"/>
          <xs:enumeration value="20275407 277 234 944976672 530161667 714783900 4657401 4666020"/>
          <xs:enumeration value="1674452098 6209 3948525560 781 20146 4265102"/>
          <xs:enumeration value="14295 94 73497 566568265 735 519 489351607"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
