nistData/list/unsignedInt/Schema+Instance/NISTSchema-SV-II-list-unsignedInt-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-unsignedInt-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-II-list-unsignedInt-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-unsignedInt-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-unsignedInt-enumeration-4,
      which is derived by restriction of a list with itemType unsignedInt
      by facet enumeration with values of:
          4294967295 96507 342350365 85836 5247 447752
          385387 24682 590208075 236902 69684 63 903 272155 342158 832769
          6512 1867491817 112330 391074431 80 39032 8318505 86227 866829150
          1126154022 9 587354167 74 838 180 29802968
          38656 533053 756 4294967295 417 380928238 984331 6551372 550548
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-unsignedInt-enumeration-4" type="NISTSchema-SV-II-list-unsignedInt-enumeration-4-Type"/>

  <xs:simpleType name="listOfunsignedInt">
    <xs:list itemType="xs:unsignedInt"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-unsignedInt-enumeration-4-Type">
    <xs:restriction base="listOfunsignedInt">
          <xs:enumeration value="4294967295 96507 342350365 85836 5247 447752"/>
          <xs:enumeration value="385387 24682 590208075 236902 69684 63 903 272155 342158 832769"/>
          <xs:enumeration value="6512 1867491817 112330 391074431 80 39032 8318505 86227 866829150"/>
          <xs:enumeration value="1126154022 9 587354167 74 838 180 29802968"/>
          <xs:enumeration value="38656 533053 756 4294967295 417 380928238 984331 6551372 550548"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
