nistData/list/unsignedInt/Schema+Instance/NISTSchema-SV-IV-list-unsignedInt-enumeration-5.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-unsignedInt-enumeration-5-NS"
        targetNamespace="NISTSchema-SV-IV-list-unsignedInt-enumeration-5-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-unsignedInt-enumeration-5.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-unsignedInt-enumeration-5,
      which is derived by restriction of a list with itemType unsignedInt
      by facet enumeration with values of:
          4790 705422250 494 4294967295 6118 71 490 980151 763670898 578
          320 12338 202 8802187 95929 91652152 40482
          34756 159 515837953 46288 31
          5 163803 84 43983 3102378450
          78 9714250 39 31 1575032 875293721 301345 3955 823756
          3 558 49 10715829 68 508503 4294967295 7301916
          1369750 135 28 91 3571 223722983 940805014 452629
          44425889 209188253 174559 698388 35 3158276 105
          60 257 82546925 5499636 9029392 909675 267687 7391 21
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-unsignedInt-enumeration-5" type="NISTSchema-SV-IV-list-unsignedInt-enumeration-5-Type"/>

  <xs:simpleType name="listOfunsignedInt">
    <xs:list itemType="xs:unsignedInt"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-unsignedInt-enumeration-5-Type">
    <xs:restriction base="listOfunsignedInt">
          <xs:enumeration value="4790 705422250 494 4294967295 6118 71 490 980151 763670898 578"/>
          <xs:enumeration value="320 12338 202 8802187 95929 91652152 40482"/>
          <xs:enumeration value="34756 159 515837953 46288 31"/>
          <xs:enumeration value="5 163803 84 43983 3102378450"/>
          <xs:enumeration value="78 9714250 39 31 1575032 875293721 301345 3955 823756"/>
          <xs:enumeration value="3 558 49 10715829 68 508503 4294967295 7301916"/>
          <xs:enumeration value="1369750 135 28 91 3571 223722983 940805014 452629"/>
          <xs:enumeration value="44425889 209188253 174559 698388 35 3158276 105"/>
          <xs:enumeration value="60 257 82546925 5499636 9029392 909675 267687 7391 21"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
