nistData/list/negativeInteger/Schema+Instance/NISTSchema-SV-II-list-negativeInteger-pattern-5.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-II-list-negativeInteger-pattern-5-NS"
        targetNamespace="NISTSchema-SV-II-list-negativeInteger-pattern-5-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-negativeInteger-pattern-5.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-negativeInteger-pattern-5,
      which is derived by restriction of a list with item type negativeInteger
      by facet pattern with a value of: \-\d{1} \-\d{3} \-\d{5} \-\d{7} \-\d{9} \-\d{11} \-\d{13} \-\d{15} \-\d{18}
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-II-list-negativeInteger-pattern-5" type="nist:NISTSchema-SV-II-list-negativeInteger-pattern-5-Type"/>

  <simpleType name="listOfnegativeInteger">
    <list itemType="negativeInteger"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-II-list-negativeInteger-pattern-5-Type">
    <restriction base="nist:listOfnegativeInteger">
      <pattern value="\-\d{1} \-\d{3} \-\d{5} \-\d{7} \-\d{9} \-\d{11} \-\d{13} \-\d{15} \-\d{18}"/>
    </restriction>
  </simpleType>

</schema>
