nistData/list/negativeInteger/Schema+Instance/NISTSchema-SV-II-list-negativeInteger-enumeration-3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-negativeInteger-enumeration-3-NS"
        targetNamespace="NISTSchema-SV-II-list-negativeInteger-enumeration-3-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-negativeInteger-enumeration-3.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-negativeInteger-enumeration-3,
      which is derived by restriction of a list with itemType negativeInteger
      by facet enumeration with values of:
          -91168021202001 -898 -6876195 -351876418 -86228 -43917315939378176 -48
          -2729716117106790 -91868419811357 -4225084 -55 -95051879422906 -549605 -81 -79 -9709616521
          -44 -227839628 -51128981154 -923110390 -37273659 -7427434362 -344030 -6053
          -1058448218765564 -387929696 -47930582081900185 -915293471938453 -2708 -856915 -72775941 -8201
          -9924 -83985452471 -36 -326696697965316196 -194143845 -6809792293 -7240197798 -89504885679617 -92485
          -70845202938096 -82208772386111 -20102261938 -28190 -11191 -2950403232198690 -34189199805 -25735138401 -3694403064988229
          -88523953 -5 -124603786373970626 -53531648480443 -789738097754 -4333624 -492854 -465551
          -7893124453407943 -97555416883 -519346 -849 -122568123414075302 -6125935286 -6737548074528 -210574768070 -94
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-negativeInteger-enumeration-3" type="NISTSchema-SV-II-list-negativeInteger-enumeration-3-Type"/>

  <xs:simpleType name="listOfnegativeInteger">
    <xs:list itemType="xs:negativeInteger"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-negativeInteger-enumeration-3-Type">
    <xs:restriction base="listOfnegativeInteger">
          <xs:enumeration value="-91168021202001 -898 -6876195 -351876418 -86228 -43917315939378176 -48"/>
          <xs:enumeration value="-2729716117106790 -91868419811357 -4225084 -55 -95051879422906 -549605 -81 -79 -9709616521"/>
          <xs:enumeration value="-44 -227839628 -51128981154 -923110390 -37273659 -7427434362 -344030 -6053"/>
          <xs:enumeration value="-1058448218765564 -387929696 -47930582081900185 -915293471938453 -2708 -856915 -72775941 -8201"/>
          <xs:enumeration value="-9924 -83985452471 -36 -326696697965316196 -194143845 -6809792293 -7240197798 -89504885679617 -92485"/>
          <xs:enumeration value="-70845202938096 -82208772386111 -20102261938 -28190 -11191 -2950403232198690 -34189199805 -25735138401 -3694403064988229"/>
          <xs:enumeration value="-88523953 -5 -124603786373970626 -53531648480443 -789738097754 -4333624 -492854 -465551"/>
          <xs:enumeration value="-7893124453407943 -97555416883 -519346 -849 -122568123414075302 -6125935286 -6737548074528 -210574768070 -94"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
