nistData/list/negativeInteger/Schema+Instance/NISTSchema-SV-II-list-negativeInteger-enumeration-1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-negativeInteger-enumeration-1-NS"
        targetNamespace="NISTSchema-SV-II-list-negativeInteger-enumeration-1-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-negativeInteger-enumeration-1.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-negativeInteger-enumeration-1,
      which is derived by restriction of a list with itemType negativeInteger
      by facet enumeration with values of:
          -46249027 -60343879628499386 -27595357 -82413 -26783811866664097 -2439084740757371 -60259397697155459 -256
          -92038424989151035 -528052332453114 -73 -858116043422 -9827074131 -9519 -1106313865656 -7359036462531
          -576102 -457174564712 -133980282947105 -2334739247 -9195626302236690
          -1900679 -28768202 -82 -72430081 -690164 -344030708689 -41793870933 -638302541742216678 -97069507550
          -107 -83226588669783 -2435425509842279 -3 -3820935 -7302195267 -41011029310381608 -1933373137 -59 -25569001738655
          -8750 -3224579610998099 -1694039266745495 -296 -96181 -4163671439831045 -15608845 -8606886469655085
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-negativeInteger-enumeration-1" type="NISTSchema-SV-II-list-negativeInteger-enumeration-1-Type"/>

  <xs:simpleType name="listOfnegativeInteger">
    <xs:list itemType="xs:negativeInteger"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-negativeInteger-enumeration-1-Type">
    <xs:restriction base="listOfnegativeInteger">
          <xs:enumeration value="-46249027 -60343879628499386 -27595357 -82413 -26783811866664097 -2439084740757371 -60259397697155459 -256"/>
          <xs:enumeration value="-92038424989151035 -528052332453114 -73 -858116043422 -9827074131 -9519 -1106313865656 -7359036462531"/>
          <xs:enumeration value="-576102 -457174564712 -133980282947105 -2334739247 -9195626302236690"/>
          <xs:enumeration value="-1900679 -28768202 -82 -72430081 -690164 -344030708689 -41793870933 -638302541742216678 -97069507550"/>
          <xs:enumeration value="-107 -83226588669783 -2435425509842279 -3 -3820935 -7302195267 -41011029310381608 -1933373137 -59 -25569001738655"/>
          <xs:enumeration value="-8750 -3224579610998099 -1694039266745495 -296 -96181 -4163671439831045 -15608845 -8606886469655085"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
