ibmData/valid/S2_2_2/s2_2_2v03.xsd

<?xml version="1.1"?>
<schema xmlns          ="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://xstest-tns/ibms3_3_6_v01"
        xmlns:v27      ="http://xstest-tns/ibms3_3_6_v01">

<element name="elem1" type="string"/>
<element name="root" type="v27:rootType"/>

<complexType name="rootType">
	<sequence>
		<element ref="v27:elem1"/>	
	</sequence>
</complexType>

<element name="elem2" type="string" substitutionGroup="v27:elem1"/>

</schema>
<!-- 
Test Case Type: Valid test	
Description   : Tests for 1 substitution group head
-->