ibmData/valid/S4_2_4/s4_2_4v02b.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="a"
        elementFormDefault="qualified"
        attributeFormDefault="qualified"
        xmlns:tns="a">

	<redefine schemaLocation="s4_2_4v02c.xsd">
		<complexType name="c1">
			<complexContent>
				<extension base="tns:c1">
					<sequence>
						<element name="element2" minOccurs="1" maxOccurs="unbounded"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</redefine>
	
	
	

	<element name="root_2" type="tns:c1"/>

</schema>

<!--
Test Case Type: Valid test
Description   : Schema Representation Constraint: Redefinition Constraints and Semantics
-->