nistData/list/nonNegativeInteger/Schema+Instance/NISTSchema-SV-IV-list-nonNegativeInteger-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-nonNegativeInteger-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-nonNegativeInteger-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-nonNegativeInteger-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-nonNegativeInteger-enumeration-4,
      which is derived by restriction of a list with itemType nonNegativeInteger
      by facet enumeration with values of:
          97 55862 435 109130888609 652904205747291 46301
          33410621552 21890129781313 188411 43694 7009 306195530590 145
          53204595094980811 8725784946 362642743681343193 492 1479511 88227
          375659921049063 66769411135698 549146804 7437158001558 963701806150 254341782 35845127385188 3893006304080182
          6 29407253452436 727306 8348595716619 6676 3612045076 712417
          42596692 11 67 884 39798129314144725 385837350 1209208290114781 65
          950710846079 780846043373 5983673779 434027206477549 8876543599382
          7344326376 705948 336241963330 976785948980 79900002911
          28 6939654897562895 2656967926781 697 35060269 6061466 367638350458262208
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-nonNegativeInteger-enumeration-4" type="NISTSchema-SV-IV-list-nonNegativeInteger-enumeration-4-Type"/>

  <xs:simpleType name="listOfnonNegativeInteger">
    <xs:list itemType="xs:nonNegativeInteger"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-nonNegativeInteger-enumeration-4-Type">
    <xs:restriction base="listOfnonNegativeInteger">
          <xs:enumeration value="97 55862 435 109130888609 652904205747291 46301"/>
          <xs:enumeration value="33410621552 21890129781313 188411 43694 7009 306195530590 145"/>
          <xs:enumeration value="53204595094980811 8725784946 362642743681343193 492 1479511 88227"/>
          <xs:enumeration value="375659921049063 66769411135698 549146804 7437158001558 963701806150 254341782 35845127385188 3893006304080182"/>
          <xs:enumeration value="6 29407253452436 727306 8348595716619 6676 3612045076 712417"/>
          <xs:enumeration value="42596692 11 67 884 39798129314144725 385837350 1209208290114781 65"/>
          <xs:enumeration value="950710846079 780846043373 5983673779 434027206477549 8876543599382"/>
          <xs:enumeration value="7344326376 705948 336241963330 976785948980 79900002911"/>
          <xs:enumeration value="28 6939654897562895 2656967926781 697 35060269 6061466 367638350458262208"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
