nistData/list/nonNegativeInteger/Schema+Instance/NISTSchema-SV-II-list-nonNegativeInteger-enumeration-1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-nonNegativeInteger-enumeration-1-NS"
        targetNamespace="NISTSchema-SV-II-list-nonNegativeInteger-enumeration-1-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-nonNegativeInteger-enumeration-1.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-nonNegativeInteger-enumeration-1,
      which is derived by restriction of a list with itemType nonNegativeInteger
      by facet enumeration with values of:
          9549407828600 722 49433102 75419325584 28756 566848642054172069 38 1343966006 2102185
          2136423461880 14638 33179218690 58310653037354265 179935 4050657871289
          58232325053398 62414891 794751610 29 5150952017
          23802828796447 93907747884396297 2011017 70 85966717473 8099463576524 7503 32159024252167067 1515927098419
          384965 606121 84885367371 421666371632889 7937050027895036 31951 89319464 855
          2384229886233 3745 641680156 742 508895625513275939 49 39037802 3795540019524 1962858 4290968307
          3104493845708 5528604371 86070253547 61786522646 3248208343 6489174154968235 240745282759156 2202919
          20167789781 3377852241002 194 46340056756 810971305616 845236 2504666189 5229658969882778
          9639647 147137683687345033 28839434085541 92107924 382422683 859931596877 7488 297992668481
          558456079163 47726667 7932126449699 8506798093 45533 199538477906175 13103846355517 6311572332 621575978737
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-nonNegativeInteger-enumeration-1" type="NISTSchema-SV-II-list-nonNegativeInteger-enumeration-1-Type"/>

  <xs:simpleType name="listOfnonNegativeInteger">
    <xs:list itemType="xs:nonNegativeInteger"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-nonNegativeInteger-enumeration-1-Type">
    <xs:restriction base="listOfnonNegativeInteger">
          <xs:enumeration value="9549407828600 722 49433102 75419325584 28756 566848642054172069 38 1343966006 2102185"/>
          <xs:enumeration value="2136423461880 14638 33179218690 58310653037354265 179935 4050657871289"/>
          <xs:enumeration value="58232325053398 62414891 794751610 29 5150952017"/>
          <xs:enumeration value="23802828796447 93907747884396297 2011017 70 85966717473 8099463576524 7503 32159024252167067 1515927098419"/>
          <xs:enumeration value="384965 606121 84885367371 421666371632889 7937050027895036 31951 89319464 855"/>
          <xs:enumeration value="2384229886233 3745 641680156 742 508895625513275939 49 39037802 3795540019524 1962858 4290968307"/>
          <xs:enumeration value="3104493845708 5528604371 86070253547 61786522646 3248208343 6489174154968235 240745282759156 2202919"/>
          <xs:enumeration value="20167789781 3377852241002 194 46340056756 810971305616 845236 2504666189 5229658969882778"/>
          <xs:enumeration value="9639647 147137683687345033 28839434085541 92107924 382422683 859931596877 7488 297992668481"/>
          <xs:enumeration value="558456079163 47726667 7932126449699 8506798093 45533 199538477906175 13103846355517 6311572332 621575978737"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
