nistData/list/nonNegativeInteger/Schema+Instance/NISTSchema-SV-II-list-nonNegativeInteger-enumeration-3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-nonNegativeInteger-enumeration-3-NS"
        targetNamespace="NISTSchema-SV-II-list-nonNegativeInteger-enumeration-3-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-nonNegativeInteger-enumeration-3.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-nonNegativeInteger-enumeration-3,
      which is derived by restriction of a list with itemType nonNegativeInteger
      by facet enumeration with values of:
          51883846809 9730683 98151501355565506 387 11854337 48 3440922300701 108381597 7388
          881270 408456622715 29646740452220787 363317991155844 14663 8089866209 509364835466092 320419 58146673286
          906390963788 321057474859630 236918 883890717981938 17453262254209 265110 4696363773464103 8135035093661 5357379018233 68482864910066
          872 950801790302296 81797429 23828717804 8452403093567284 413637422414 55537255151743 43361620276044 189400811506
          244999652 35870998973 3017546267508 81523621791801714 97044137545554 92 7120651036 20556837876946054
          978 93392150505901216 9705365607652 2946288650696 3556010000 34305 279056904919268 102 53603851 618083918579
          860279293 5096323507678021 95313 69831 8910170100 3861747408656764 51462050107
          59896696202872 1282090704 88215789552520429 4465057337262 683835460309 3672269817500892 31595705195 59388 71323438170414
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-nonNegativeInteger-enumeration-3" type="NISTSchema-SV-II-list-nonNegativeInteger-enumeration-3-Type"/>

  <xs:simpleType name="listOfnonNegativeInteger">
    <xs:list itemType="xs:nonNegativeInteger"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-nonNegativeInteger-enumeration-3-Type">
    <xs:restriction base="listOfnonNegativeInteger">
          <xs:enumeration value="51883846809 9730683 98151501355565506 387 11854337 48 3440922300701 108381597 7388"/>
          <xs:enumeration value="881270 408456622715 29646740452220787 363317991155844 14663 8089866209 509364835466092 320419 58146673286"/>
          <xs:enumeration value="906390963788 321057474859630 236918 883890717981938 17453262254209 265110 4696363773464103 8135035093661 5357379018233 68482864910066"/>
          <xs:enumeration value="872 950801790302296 81797429 23828717804 8452403093567284 413637422414 55537255151743 43361620276044 189400811506"/>
          <xs:enumeration value="244999652 35870998973 3017546267508 81523621791801714 97044137545554 92 7120651036 20556837876946054"/>
          <xs:enumeration value="978 93392150505901216 9705365607652 2946288650696 3556010000 34305 279056904919268 102 53603851 618083918579"/>
          <xs:enumeration value="860279293 5096323507678021 95313 69831 8910170100 3861747408656764 51462050107"/>
          <xs:enumeration value="59896696202872 1282090704 88215789552520429 4465057337262 683835460309 3672269817500892 31595705195 59388 71323438170414"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
