nistData/list/nonNegativeInteger/Schema+Instance/NISTSchema-SV-II-list-nonNegativeInteger-enumeration-2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-nonNegativeInteger-enumeration-2-NS"
        targetNamespace="NISTSchema-SV-II-list-nonNegativeInteger-enumeration-2-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-nonNegativeInteger-enumeration-2.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-nonNegativeInteger-enumeration-2,
      which is derived by restriction of a list with itemType nonNegativeInteger
      by facet enumeration with values of:
          227903428147089 540326096 624224664 353199 8777505 11059195493795415 841490617407
          174805865517048020 43872871307440 4704037287451127 9957 73910970944850 716984 359624813 21186001 43467
          11644 941212 9970024622449192 3215 23028510034 514361
          695895255422384 76395877 71772600925230 5537226337298 686333585442 816021037650724 58966 4373034868361
          169512572661 7542988555849969 431 8693908953036801 413509 44626149758011 197794 19017011025 81 7999484967
          91997059776725 38137527679 51677102205 306 582936 4795018941845
          5571374996 798503047 8215248480 915923039162 15544412999935142
          193099908 823232028970817 36109578054358659 5658 5991 7771149145233136 847 957285092 29011 38
          7905168 58020736226367386 7461160697092 92786870 83
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-nonNegativeInteger-enumeration-2" type="NISTSchema-SV-II-list-nonNegativeInteger-enumeration-2-Type"/>

  <xs:simpleType name="listOfnonNegativeInteger">
    <xs:list itemType="xs:nonNegativeInteger"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-nonNegativeInteger-enumeration-2-Type">
    <xs:restriction base="listOfnonNegativeInteger">
          <xs:enumeration value="227903428147089 540326096 624224664 353199 8777505 11059195493795415 841490617407"/>
          <xs:enumeration value="174805865517048020 43872871307440 4704037287451127 9957 73910970944850 716984 359624813 21186001 43467"/>
          <xs:enumeration value="11644 941212 9970024622449192 3215 23028510034 514361"/>
          <xs:enumeration value="695895255422384 76395877 71772600925230 5537226337298 686333585442 816021037650724 58966 4373034868361"/>
          <xs:enumeration value="169512572661 7542988555849969 431 8693908953036801 413509 44626149758011 197794 19017011025 81 7999484967"/>
          <xs:enumeration value="91997059776725 38137527679 51677102205 306 582936 4795018941845"/>
          <xs:enumeration value="5571374996 798503047 8215248480 915923039162 15544412999935142"/>
          <xs:enumeration value="193099908 823232028970817 36109578054358659 5658 5991 7771149145233136 847 957285092 29011 38"/>
          <xs:enumeration value="7905168 58020736226367386 7461160697092 92786870 83"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
