nistData/list/nonNegativeInteger/Schema+Instance/NISTSchema-SV-IV-list-nonNegativeInteger-length-2.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-nonNegativeInteger-length-2-NS"
        targetNamespace="NISTSchema-SV-IV-list-nonNegativeInteger-length-2-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-nonNegativeInteger-length-2.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-nonNegativeInteger-length-2,
      which is derived by restriction of a list with item type nonNegativeInteger
      by facet length with a value of: 6
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-nonNegativeInteger-length-2" type="nist:NISTSchema-SV-IV-list-nonNegativeInteger-length-2-Type"/>

  <simpleType name="listOfnonNegativeInteger">
    <list itemType="nonNegativeInteger"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-nonNegativeInteger-length-2-Type">
    <restriction base="nist:listOfnonNegativeInteger">
      <length value="6"/>
    </restriction>
  </simpleType>

</schema>
