nistData/list/byte/Schema+Instance/NISTSchema-SV-II-list-byte-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-byte-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-II-list-byte-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-byte-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-byte-enumeration-4,
      which is derived by restriction of a list with itemType byte
      by facet enumeration with values of:
          127 -98 -1 86 -128 39 -50 95 -8
          -128 -90 -61 -87 89 127 31
          -67 127 31 -7 -95 -31
          99 2 44 -4 51 6
          13 -34 -22 28 18 5 -7 -42 127
          8 127 -94 -29 6 34 55
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-byte-enumeration-4" type="NISTSchema-SV-II-list-byte-enumeration-4-Type"/>

  <xs:simpleType name="listOfbyte">
    <xs:list itemType="xs:byte"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-byte-enumeration-4-Type">
    <xs:restriction base="listOfbyte">
          <xs:enumeration value="127 -98 -1 86 -128 39 -50 95 -8"/>
          <xs:enumeration value="-128 -90 -61 -87 89 127 31"/>
          <xs:enumeration value="-67 127 31 -7 -95 -31"/>
          <xs:enumeration value="99 2 44 -4 51 6"/>
          <xs:enumeration value="13 -34 -22 28 18 5 -7 -42 127"/>
          <xs:enumeration value="8 127 -94 -29 6 34 55"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
