nistData/list/byte/Schema+Instance/NISTSchema-SV-IV-list-byte-enumeration-3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-byte-enumeration-3-NS"
        targetNamespace="NISTSchema-SV-IV-list-byte-enumeration-3-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-byte-enumeration-3.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-byte-enumeration-3,
      which is derived by restriction of a list with itemType byte
      by facet enumeration with values of:
          127 22 -82 5 94
          89 -128 5 -50 35 127 -57
          89 93 46 -55 -32 -78 -79
          3 99 -3 -42 37 -64 56
          9 -69 -99 -72 38 -128
          -128 127 19 99 72 -65 -4 -81 74
          -66 51 -7 -9 127 -23 54
          27 127 -4 71 64 -128 -68
          -4 19 38 52 -98 34 127 -8 -128
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-byte-enumeration-3" type="NISTSchema-SV-IV-list-byte-enumeration-3-Type"/>

  <xs:simpleType name="listOfbyte">
    <xs:list itemType="xs:byte"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-byte-enumeration-3-Type">
    <xs:restriction base="listOfbyte">
          <xs:enumeration value="127 22 -82 5 94"/>
          <xs:enumeration value="89 -128 5 -50 35 127 -57"/>
          <xs:enumeration value="89 93 46 -55 -32 -78 -79"/>
          <xs:enumeration value="3 99 -3 -42 37 -64 56"/>
          <xs:enumeration value="9 -69 -99 -72 38 -128"/>
          <xs:enumeration value="-128 127 19 99 72 -65 -4 -81 74"/>
          <xs:enumeration value="-66 51 -7 -9 127 -23 54"/>
          <xs:enumeration value="27 127 -4 71 64 -128 -68"/>
          <xs:enumeration value="-4 19 38 52 -98 34 127 -8 -128"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
