nistData/list/byte/Schema+Instance/NISTSchema-SV-II-list-byte-enumeration-3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-byte-enumeration-3-NS"
        targetNamespace="NISTSchema-SV-II-list-byte-enumeration-3-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-byte-enumeration-3.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-byte-enumeration-3,
      which is derived by restriction of a list with itemType byte
      by facet enumeration with values of:
          -96 -64 -128 -5 10 46 -68 25 88
          127 -6 -128 62 -89 73 -40 -54
          78 -5 6 127 -78 35 -54 19 53
          -48 53 22 -7 -5 -128
          -7 127 37 -55 -27 -9 -4 -89
          -87 -6 2 -60 9 66 -19
          -19 127 -41 -5 -63 73 -128
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-byte-enumeration-3" type="NISTSchema-SV-II-list-byte-enumeration-3-Type"/>

  <xs:simpleType name="listOfbyte">
    <xs:list itemType="xs:byte"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-byte-enumeration-3-Type">
    <xs:restriction base="listOfbyte">
          <xs:enumeration value="-96 -64 -128 -5 10 46 -68 25 88"/>
          <xs:enumeration value="127 -6 -128 62 -89 73 -40 -54"/>
          <xs:enumeration value="78 -5 6 127 -78 35 -54 19 53"/>
          <xs:enumeration value="-48 53 22 -7 -5 -128"/>
          <xs:enumeration value="-7 127 37 -55 -27 -9 -4 -89"/>
          <xs:enumeration value="-87 -6 2 -60 9 66 -19"/>
          <xs:enumeration value="-19 127 -41 -5 -63 73 -128"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
