nistData/list/byte/Schema+Instance/NISTSchema-SV-II-list-byte-enumeration-1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-byte-enumeration-1-NS"
        targetNamespace="NISTSchema-SV-II-list-byte-enumeration-1-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-byte-enumeration-1.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-byte-enumeration-1,
      which is derived by restriction of a list with itemType byte
      by facet enumeration with values of:
          127 -1 77 -55 10 -29 -27 -24 3 -77
          127 -128 53 -8 38 -31 77
          -128 63 -5 -6 -47 62 -9 21
          60 3 127 4 -98 -1
          -6 65 -93 -47 28 127 62 -128 29
          127 -128 -9 -97 -82 -4 -89
          -128 127 9 99 -87 -5 57 -82 30 -124
          3 -19 77 87 -6 10 -8 68 4
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-byte-enumeration-1" type="NISTSchema-SV-II-list-byte-enumeration-1-Type"/>

  <xs:simpleType name="listOfbyte">
    <xs:list itemType="xs:byte"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-byte-enumeration-1-Type">
    <xs:restriction base="listOfbyte">
          <xs:enumeration value="127 -1 77 -55 10 -29 -27 -24 3 -77"/>
          <xs:enumeration value="127 -128 53 -8 38 -31 77"/>
          <xs:enumeration value="-128 63 -5 -6 -47 62 -9 21"/>
          <xs:enumeration value="60 3 127 4 -98 -1"/>
          <xs:enumeration value="-6 65 -93 -47 28 127 62 -128 29"/>
          <xs:enumeration value="127 -128 -9 -97 -82 -4 -89"/>
          <xs:enumeration value="-128 127 9 99 -87 -5 57 -82 30 -124"/>
          <xs:enumeration value="3 -19 77 87 -6 10 -8 68 4"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
