nistData/list/byte/Schema+Instance/NISTSchema-SV-IV-list-byte-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-byte-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-byte-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-byte-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-byte-enumeration-4,
      which is derived by restriction of a list with itemType byte
      by facet enumeration with values of:
          -9 -30 53 85 -18 127 -46 -92
          23 -128 81 127 41
          -128 -97 -82 25 -4 -56 41 52 -36
          3 -128 -75 93 -25 127
          127 9 20 -46 -55 -97 79 60
          4 95 72 83 65 127 -16 94
          5 -88 -29 127 -128 91
          -128 -91 127 40 30 -7 -5
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-byte-enumeration-4" type="NISTSchema-SV-IV-list-byte-enumeration-4-Type"/>

  <xs:simpleType name="listOfbyte">
    <xs:list itemType="xs:byte"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-byte-enumeration-4-Type">
    <xs:restriction base="listOfbyte">
          <xs:enumeration value="-9 -30 53 85 -18 127 -46 -92"/>
          <xs:enumeration value="23 -128 81 127 41"/>
          <xs:enumeration value="-128 -97 -82 25 -4 -56 41 52 -36"/>
          <xs:enumeration value="3 -128 -75 93 -25 127"/>
          <xs:enumeration value="127 9 20 -46 -55 -97 79 60"/>
          <xs:enumeration value="4 95 72 83 65 127 -16 94"/>
          <xs:enumeration value="5 -88 -29 127 -128 91"/>
          <xs:enumeration value="-128 -91 127 40 30 -7 -5"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
