ibmData/instance_invalid/D3_4_6/d3_4_6ii04.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="a"
        elementFormDefault="qualified"
		xmlns:a="a">
<!-- 
Test Case Type: Instance invalid test
Description   : invalid instance for effect of \c in regular expressions
-->
	
	<complexType name="Nametest">
		<sequence>
			<element name="ele" type="a:Namea" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	
	<simpleType name="Namea">
		<restriction base="Name">
			<pattern value="\i\c">
			</pattern>
		</restriction>
    </simpleType>
	
	<element name="root" type="a:Nametest"/>
</schema>