ibmData/instance_invalid/S2_7_2/s2_7_2ii01.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="a"
	xmlns:a="a"
	elementFormDefault="qualified">
<!-- 
Test Case Type: Instance invalid test
Description   : When an xsi:type attribute appears on an element, and has a QName
                as its value,but the QName does not resolve to a known type 
				definition, processors are now required to "fall back" to lax 
				validation.
-->
	
<complexType name="t">
 <sequence>
  <element ref="a:b"/>
 </sequence>
</complexType>

<element name="b" type="integer" nillable="true"/>
<element name="root" type="a:t"/>
</schema>
