ibmData/schema_invalid/D3_4_27/d3_4_27si12.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_4_27_si12"
	xmlns:sv="http://xstest-tns/schema11_D3_4_27_si12">
	
<!-- 
	Test Case Type: Schema Invalid test (Datatypes section 3.4.27) 
	Base Type     : dayTimeDuration
	Description   : Tests negative boundary values and equality.  
			(min)(Inclusive|Exclusive) > (max)(Inclusive|Exclusive)
-->

<simpleType name="durMinMaxInclusive">
	<restriction  base="yearMonthDuration">
		<minInclusive value="-PT4H"/>
		<maxInclusive value="-P140D"/>		
	</restriction>
</simpleType>

<simpleType name="durMinMaxExclusive">
	<restriction  base="yearMonthDuration">
		<minExclusive value="-PT4H"/>
		<maxExclusive value="-P140D"/>		
	</restriction>
</simpleType>

<element name="root">
	<complexType>
		<sequence>
			<element name="elMinMaxInclusive" type="sv:durMinMaxInclusive" minOccurs="0" maxOccurs="unbounded"/>
			<element name="elMinMaxExclusive" type="sv:durMinMaxExclusive" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</element>    

</schema>  
