ibmData/schema_invalid/D3_4_27/d3_4_27si09.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_4_27_si09"
	xmlns:si="http://xstest-tns/schema11_D3_4_27_si09">
	
<!-- 
	Test Case Type: Schema Invalid test (Datatypes section 3.4.27) 
	Base Type     : dayTimeDuration
	Description   : Enumeration values are incorrect dayTimeDuration values
-->


<simpleType name="durEnumeration">
	<restriction  base="dayTimeDuration">
		<enumeration value="P1dt59H59M59S"/>
		<enumeration value="P31DT59H59m59.9999S"/>	
		<enumeration value="P+30.5DT59H59M"/>
		<enumeration value="P-31DT59H59M"/>
		<enumeration value="++P31DT59H"/>
		<enumeration value="-+P31D"/>
		<enumeration value="+-P0DT3H"/>
		<enumeration value="--P63D"/>
		<enumeration value="pT2H"/>	
		<enumeration value="-P120M"/>
	</restriction>
</simpleType>

<element name="root">
	<complexType>
		<sequence>
			<element name="elEnumeration" type="si:durEnumeration"/>
		</sequence>
	</complexType>
</element>    

</schema>  
