ibmData/schema_invalid/D3_4_27/d3_4_27si11.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_4_27_si11"
	xmlns:si="http://xstest-tns/schema11_D3_4_27_si11">
	
<!-- 
	Test Case Type: Schema Invalid test (Datatypes section 3.4.27) 
	Base Type     : dayTimeDuration
	Description   : Tests if fixed=true then the derived type cannot specify a value 
			for the facet other than the base type
-->


<simpleType name="bdurMinMaxInclusive">
	<restriction  base="dayTimeDuration">
		<minInclusive value="PT1H" fixed="true"/>
		<maxInclusive value="P3D" fixed="1"/>		
	</restriction>
</simpleType>

<simpleType name="durMinMaxInclusive">
	<restriction  base="si:bdurMinMaxInclusive">
		<minInclusive value="PT4H"/>
		<maxInclusive value="P2D"/>		
	</restriction>
</simpleType>

<simpleType name="bdurMinMaxExclusive">
	<restriction  base="yearMonthDuration">
		<minExclusive value="PT1H" fixed="1"/>
		<maxExclusive value="P3D" fixed="true"/>		
	</restriction>
</simpleType>

<simpleType name="durMinMaxExclusive">
	<restriction  base="si:bdurMinMaxExclusive">
		<minExclusive value="PT4H" fixed="0"/>
		<maxExclusive value="P2D" fixed="true"/>		
	</restriction>
</simpleType>


<element name="root">
	<complexType>
		<sequence>
			<element name="elString" type="string"/>
		</sequence>
	</complexType>
</element>     

</schema>  
