ibmData/schema_invalid/D3_4_27/d3_4_27si03.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_4_27_si03"
	xmlns:si="http://xstest-tns/schema11_D3_4_27_si03">
	
<!-- 
	Test Case Type: Schema Invalid test (Datatypes section 3.4.27) 
	Base Type     : dayTimeDuration
	Description   : min(Inclusive|Exclusive) cannot be greater max(Inclusive|Exclusive) 
-->


<simpleType name="durMinMaxInclusive">
	<restriction  base="dayTimeDuration">
		<minInclusive value="P1DT3M"/>
		<maxInclusive value="P1DT2M"/>		
	</restriction>
</simpleType>

<simpleType name="durMinMaxExclusive">
	<restriction  base="dayTimeDuration">
		<minExclusive value="P1DT3"/>
		<maxExclusive value="P1DT2M"/>		
	</restriction>
</simpleType>

<element name="root">
	<complexType>
		<sequence>
			<element name="elMinMaxInclusive" type="si:durMinMaxInclusive"/>
			<element name="elMinMaxExclusive" type="si:durMinMaxExclusive"/>
		</sequence>
	</complexType>
</element>    

</schema>  
