nistData/list/gMonthDay/Schema+Instance/NISTSchema-SV-II-list-gMonthDay-enumeration-3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-gMonthDay-enumeration-3-NS"
        targetNamespace="NISTSchema-SV-II-list-gMonthDay-enumeration-3-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-gMonthDay-enumeration-3.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-gMonthDay-enumeration-3,
      which is derived by restriction of a list with itemType gMonthDay
      by facet enumeration with values of:
          --10-07 --08-20 --10-12 --10-21 --11-08 --01-15
          --10-10 --02-16 --01-17 --06-19 --04-13 --05-14
          --11-16 --09-10 --02-01 --10-17 --05-27 --10-16 --10-14 --01-27
          --05-28 --12-11 --12-08 --01-19 --02-02
          --05-14 --08-23 --08-24 --04-01 --07-09 --11-01 --06-04 --02-29 --06-20
          --03-04 --07-09 --12-29 --01-17 --02-10 --07-13 --08-27 --08-17 --09-03
          --12-16 --07-22 --01-03 --06-22 --06-26 --10-06 --10-20
          --02-19 --08-23 --09-16 --08-07 --07-12 --06-22 --09-22 --01-11
          --04-17 --05-25 --12-16 --07-23 --09-09 --10-29 --11-01 --01-05 --10-04
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-gMonthDay-enumeration-3" type="NISTSchema-SV-II-list-gMonthDay-enumeration-3-Type"/>

  <xs:simpleType name="listOfgMonthDay">
    <xs:list itemType="xs:gMonthDay"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-gMonthDay-enumeration-3-Type">
    <xs:restriction base="listOfgMonthDay">
          <xs:enumeration value="--10-07 --08-20 --10-12 --10-21 --11-08 --01-15"/>
          <xs:enumeration value="--10-10 --02-16 --01-17 --06-19 --04-13 --05-14"/>
          <xs:enumeration value="--11-16 --09-10 --02-01 --10-17 --05-27 --10-16 --10-14 --01-27"/>
          <xs:enumeration value="--05-28 --12-11 --12-08 --01-19 --02-02"/>
          <xs:enumeration value="--05-14 --08-23 --08-24 --04-01 --07-09 --11-01 --06-04 --02-29 --06-20"/>
          <xs:enumeration value="--03-04 --07-09 --12-29 --01-17 --02-10 --07-13 --08-27 --08-17 --09-03"/>
          <xs:enumeration value="--12-16 --07-22 --01-03 --06-22 --06-26 --10-06 --10-20"/>
          <xs:enumeration value="--02-19 --08-23 --09-16 --08-07 --07-12 --06-22 --09-22 --01-11"/>
          <xs:enumeration value="--04-17 --05-25 --12-16 --07-23 --09-09 --10-29 --11-01 --01-05 --10-04"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
