nistData/list/gMonthDay/Schema+Instance/NISTSchema-SV-IV-list-gMonthDay-enumeration-5.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-gMonthDay-enumeration-5-NS"
        targetNamespace="NISTSchema-SV-IV-list-gMonthDay-enumeration-5-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-gMonthDay-enumeration-5.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-gMonthDay-enumeration-5,
      which is derived by restriction of a list with itemType gMonthDay
      by facet enumeration with values of:
          --08-12 --06-25 --07-14 --05-27 --07-26 --12-22 --09-25 --08-28 --09-05 --02-23
          --02-11 --10-02 --09-27 --03-02 --08-31 --03-16 --11-07 --03-29 --09-16
          --10-13 --09-15 --01-10 --02-24 --01-27 --08-10 --11-23
          --01-26 --10-22 --10-19 --04-02 --01-16 --01-26 --05-10 --12-05
          --09-25 --08-01 --01-26 --06-24 --03-21 --02-10 --06-26 --06-06 --03-28
          --10-05 --07-14 --10-13 --07-11 --06-05 --12-19 --07-02 --12-30 --07-05
          --12-06 --06-20 --06-24 --10-01 --07-20
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-gMonthDay-enumeration-5" type="NISTSchema-SV-IV-list-gMonthDay-enumeration-5-Type"/>

  <xs:simpleType name="listOfgMonthDay">
    <xs:list itemType="xs:gMonthDay"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-gMonthDay-enumeration-5-Type">
    <xs:restriction base="listOfgMonthDay">
          <xs:enumeration value="--08-12 --06-25 --07-14 --05-27 --07-26 --12-22 --09-25 --08-28 --09-05 --02-23"/>
          <xs:enumeration value="--02-11 --10-02 --09-27 --03-02 --08-31 --03-16 --11-07 --03-29 --09-16"/>
          <xs:enumeration value="--10-13 --09-15 --01-10 --02-24 --01-27 --08-10 --11-23"/>
          <xs:enumeration value="--01-26 --10-22 --10-19 --04-02 --01-16 --01-26 --05-10 --12-05"/>
          <xs:enumeration value="--09-25 --08-01 --01-26 --06-24 --03-21 --02-10 --06-26 --06-06 --03-28"/>
          <xs:enumeration value="--10-05 --07-14 --10-13 --07-11 --06-05 --12-19 --07-02 --12-30 --07-05"/>
          <xs:enumeration value="--12-06 --06-20 --06-24 --10-01 --07-20"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
