nistData/list/gMonthDay/Schema+Instance/NISTSchema-SV-II-list-gMonthDay-pattern-4.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-II-list-gMonthDay-pattern-4-NS"
        targetNamespace="NISTSchema-SV-II-list-gMonthDay-pattern-4-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-gMonthDay-pattern-4.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-gMonthDay-pattern-4,
      which is derived by restriction of a list with item type gMonthDay
      by facet pattern with a value of: --0\d-\d0 --\d5-\d2 --0\d-0\d --\d7-\d2 --\d7-\d3 --\d1-1\d
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-II-list-gMonthDay-pattern-4" type="nist:NISTSchema-SV-II-list-gMonthDay-pattern-4-Type"/>

  <simpleType name="listOfgMonthDay">
    <list itemType="gMonthDay"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-II-list-gMonthDay-pattern-4-Type">
    <restriction base="nist:listOfgMonthDay">
      <pattern value="--0\d-\d0 --\d5-\d2 --0\d-0\d --\d7-\d2 --\d7-\d3 --\d1-1\d"/>
    </restriction>
  </simpleType>

</schema>
