nistData/list/gMonthDay/Schema+Instance/NISTSchema-SV-II-list-gMonthDay-enumeration-2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-gMonthDay-enumeration-2-NS"
        targetNamespace="NISTSchema-SV-II-list-gMonthDay-enumeration-2-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-gMonthDay-enumeration-2.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-gMonthDay-enumeration-2,
      which is derived by restriction of a list with itemType gMonthDay
      by facet enumeration with values of:
          --03-22 --01-27 --11-27 --11-06 --10-22 --01-28
          --06-23 --09-07 --11-06 --02-21 --08-19 --07-31 --04-01 --04-02 --10-10
          --10-12 --02-27 --06-29 --01-14 --03-14 --02-15 --10-25 --09-10 --07-23
          --10-19 --10-02 --09-16 --10-05 --09-24 --04-21
          --11-18 --08-16 --03-15 --09-22 --02-03 --02-17 --08-06 --06-15 --05-10 --09-11
          --08-10 --09-29 --07-09 --09-01 --02-17 --02-15 --11-02 --04-08
          --09-18 --03-13 --06-21 --06-17 --09-12 --08-03 --04-10 --07-15
          --10-21 --03-24 --05-11 --08-18 --11-08 --10-02 --11-21 --01-02 --02-16 --02-11
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-gMonthDay-enumeration-2" type="NISTSchema-SV-II-list-gMonthDay-enumeration-2-Type"/>

  <xs:simpleType name="listOfgMonthDay">
    <xs:list itemType="xs:gMonthDay"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-gMonthDay-enumeration-2-Type">
    <xs:restriction base="listOfgMonthDay">
          <xs:enumeration value="--03-22 --01-27 --11-27 --11-06 --10-22 --01-28"/>
          <xs:enumeration value="--06-23 --09-07 --11-06 --02-21 --08-19 --07-31 --04-01 --04-02 --10-10"/>
          <xs:enumeration value="--10-12 --02-27 --06-29 --01-14 --03-14 --02-15 --10-25 --09-10 --07-23"/>
          <xs:enumeration value="--10-19 --10-02 --09-16 --10-05 --09-24 --04-21"/>
          <xs:enumeration value="--11-18 --08-16 --03-15 --09-22 --02-03 --02-17 --08-06 --06-15 --05-10 --09-11"/>
          <xs:enumeration value="--08-10 --09-29 --07-09 --09-01 --02-17 --02-15 --11-02 --04-08"/>
          <xs:enumeration value="--09-18 --03-13 --06-21 --06-17 --09-12 --08-03 --04-10 --07-15"/>
          <xs:enumeration value="--10-21 --03-24 --05-11 --08-18 --11-08 --10-02 --11-21 --01-02 --02-16 --02-11"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
