nistData/list/gMonthDay/Schema+Instance/NISTSchema-SV-IV-list-gMonthDay-enumeration-1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-gMonthDay-enumeration-1-NS"
        targetNamespace="NISTSchema-SV-IV-list-gMonthDay-enumeration-1-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-gMonthDay-enumeration-1.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-gMonthDay-enumeration-1,
      which is derived by restriction of a list with itemType gMonthDay
      by facet enumeration with values of:
          --06-15 --07-19 --03-23 --06-10 --12-07 --06-12 --08-06 --09-17 --11-15
          --12-07 --05-06 --01-17 --07-12 --06-06 --01-14 --06-01
          --02-09 --06-03 --07-04 --12-24 --04-02 --03-30 --09-13 --09-09 --07-10
          --10-18 --07-17 --11-11 --11-02 --06-17 --02-05
          --07-14 --04-06 --01-18 --10-07 --06-24 --03-18 --08-20 --10-15 --07-13
          --01-07 --08-03 --01-20 --10-28 --03-21 --02-07 --01-14 --01-11
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-gMonthDay-enumeration-1" type="NISTSchema-SV-IV-list-gMonthDay-enumeration-1-Type"/>

  <xs:simpleType name="listOfgMonthDay">
    <xs:list itemType="xs:gMonthDay"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-gMonthDay-enumeration-1-Type">
    <xs:restriction base="listOfgMonthDay">
          <xs:enumeration value="--06-15 --07-19 --03-23 --06-10 --12-07 --06-12 --08-06 --09-17 --11-15"/>
          <xs:enumeration value="--12-07 --05-06 --01-17 --07-12 --06-06 --01-14 --06-01"/>
          <xs:enumeration value="--02-09 --06-03 --07-04 --12-24 --04-02 --03-30 --09-13 --09-09 --07-10"/>
          <xs:enumeration value="--10-18 --07-17 --11-11 --11-02 --06-17 --02-05"/>
          <xs:enumeration value="--07-14 --04-06 --01-18 --10-07 --06-24 --03-18 --08-20 --10-15 --07-13"/>
          <xs:enumeration value="--01-07 --08-03 --01-20 --10-28 --03-21 --02-07 --01-14 --01-11"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
