nistData/list/gMonthDay/Schema+Instance/NISTSchema-SV-II-list-gMonthDay-enumeration-1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-gMonthDay-enumeration-1-NS"
        targetNamespace="NISTSchema-SV-II-list-gMonthDay-enumeration-1-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-gMonthDay-enumeration-1.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-gMonthDay-enumeration-1,
      which is derived by restriction of a list with itemType gMonthDay
      by facet enumeration with values of:
          --12-06 --10-16 --05-21 --09-19 --02-11 --11-04 --04-10
          --01-16 --09-13 --09-03 --12-11 --12-29 --04-07 --01-22
          --12-18 --04-20 --10-19 --10-18 --06-26 --02-21 --01-13 --07-09
          --05-29 --10-26 --05-05 --05-14 --04-12 --06-30 --01-02 --04-07
          --03-31 --02-08 --11-12 --09-15 --01-26 --06-21 --12-23
          --05-16 --10-15 --05-13 --10-14 --05-10 --08-05 --08-06
          --03-14 --04-15 --02-06 --01-10 --10-20 --08-26 --12-13 --05-06
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-gMonthDay-enumeration-1" type="NISTSchema-SV-II-list-gMonthDay-enumeration-1-Type"/>

  <xs:simpleType name="listOfgMonthDay">
    <xs:list itemType="xs:gMonthDay"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-gMonthDay-enumeration-1-Type">
    <xs:restriction base="listOfgMonthDay">
          <xs:enumeration value="--12-06 --10-16 --05-21 --09-19 --02-11 --11-04 --04-10"/>
          <xs:enumeration value="--01-16 --09-13 --09-03 --12-11 --12-29 --04-07 --01-22"/>
          <xs:enumeration value="--12-18 --04-20 --10-19 --10-18 --06-26 --02-21 --01-13 --07-09"/>
          <xs:enumeration value="--05-29 --10-26 --05-05 --05-14 --04-12 --06-30 --01-02 --04-07"/>
          <xs:enumeration value="--03-31 --02-08 --11-12 --09-15 --01-26 --06-21 --12-23"/>
          <xs:enumeration value="--05-16 --10-15 --05-13 --10-14 --05-10 --08-05 --08-06"/>
          <xs:enumeration value="--03-14 --04-15 --02-06 --01-10 --10-20 --08-26 --12-13 --05-06"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
