nistData/list/gMonthDay/Schema+Instance/NISTSchema-SV-II-list-gMonthDay-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-gMonthDay-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-II-list-gMonthDay-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-gMonthDay-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-gMonthDay-enumeration-4,
      which is derived by restriction of a list with itemType gMonthDay
      by facet enumeration with values of:
          --04-21 --08-31 --05-16 --02-25 --06-15 --04-17 --02-17 --04-23
          --01-23 --04-15 --03-24 --08-23 --04-06
          --12-18 --06-12 --03-22 --06-04 --11-17 --10-25 --02-19 --04-28 --09-21
          --10-07 --11-14 --10-11 --11-08 --12-29 --05-09 --08-09 --12-10 --10-22 --03-30
          --12-12 --08-04 --12-11 --10-31 --09-21 --05-09
          --03-16 --12-01 --02-07 --10-13 --09-29
          --10-15 --04-06 --03-05 --05-10 --01-21 --11-22 --12-27 --07-28
          --06-22 --06-08 --01-15 --03-01 --03-17 --01-22 --07-12
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-gMonthDay-enumeration-4" type="NISTSchema-SV-II-list-gMonthDay-enumeration-4-Type"/>

  <xs:simpleType name="listOfgMonthDay">
    <xs:list itemType="xs:gMonthDay"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-gMonthDay-enumeration-4-Type">
    <xs:restriction base="listOfgMonthDay">
          <xs:enumeration value="--04-21 --08-31 --05-16 --02-25 --06-15 --04-17 --02-17 --04-23"/>
          <xs:enumeration value="--01-23 --04-15 --03-24 --08-23 --04-06"/>
          <xs:enumeration value="--12-18 --06-12 --03-22 --06-04 --11-17 --10-25 --02-19 --04-28 --09-21"/>
          <xs:enumeration value="--10-07 --11-14 --10-11 --11-08 --12-29 --05-09 --08-09 --12-10 --10-22 --03-30"/>
          <xs:enumeration value="--12-12 --08-04 --12-11 --10-31 --09-21 --05-09"/>
          <xs:enumeration value="--03-16 --12-01 --02-07 --10-13 --09-29"/>
          <xs:enumeration value="--10-15 --04-06 --03-05 --05-10 --01-21 --11-22 --12-27 --07-28"/>
          <xs:enumeration value="--06-22 --06-08 --01-15 --03-01 --03-17 --01-22 --07-12"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
