nistData/list/gMonthDay/Schema+Instance/NISTSchema-SV-IV-list-gMonthDay-enumeration-2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-gMonthDay-enumeration-2-NS"
        targetNamespace="NISTSchema-SV-IV-list-gMonthDay-enumeration-2-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-gMonthDay-enumeration-2.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-gMonthDay-enumeration-2,
      which is derived by restriction of a list with itemType gMonthDay
      by facet enumeration with values of:
          --11-10 --03-26 --08-04 --12-23 --02-11 --06-02 --08-06 --07-10 --05-18 --08-10
          --07-24 --08-04 --10-05 --11-19 --08-05 --03-06 --10-17 --08-11
          --03-21 --11-21 --03-15 --03-20 --12-13 --10-26 --11-15
          --01-24 --09-05 --09-29 --04-28 --10-01
          --08-01 --05-03 --12-09 --08-13 --09-10 --01-09 --11-06 --03-07 --01-28
          --11-16 --10-05 --04-18 --09-19 --11-13 --05-03 --06-13 --02-25
          --06-08 --03-26 --03-22 --01-27 --03-20 --06-08 --01-10 --07-17 --03-02
          --03-18 --12-15 --06-19 --12-09 --01-28
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-gMonthDay-enumeration-2" type="NISTSchema-SV-IV-list-gMonthDay-enumeration-2-Type"/>

  <xs:simpleType name="listOfgMonthDay">
    <xs:list itemType="xs:gMonthDay"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-gMonthDay-enumeration-2-Type">
    <xs:restriction base="listOfgMonthDay">
          <xs:enumeration value="--11-10 --03-26 --08-04 --12-23 --02-11 --06-02 --08-06 --07-10 --05-18 --08-10"/>
          <xs:enumeration value="--07-24 --08-04 --10-05 --11-19 --08-05 --03-06 --10-17 --08-11"/>
          <xs:enumeration value="--03-21 --11-21 --03-15 --03-20 --12-13 --10-26 --11-15"/>
          <xs:enumeration value="--01-24 --09-05 --09-29 --04-28 --10-01"/>
          <xs:enumeration value="--08-01 --05-03 --12-09 --08-13 --09-10 --01-09 --11-06 --03-07 --01-28"/>
          <xs:enumeration value="--11-16 --10-05 --04-18 --09-19 --11-13 --05-03 --06-13 --02-25"/>
          <xs:enumeration value="--06-08 --03-26 --03-22 --01-27 --03-20 --06-08 --01-10 --07-17 --03-02"/>
          <xs:enumeration value="--03-18 --12-15 --06-19 --12-09 --01-28"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
