nistData/list/gMonthDay/Schema+Instance/NISTSchema-SV-IV-list-gMonthDay-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-gMonthDay-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-gMonthDay-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-gMonthDay-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-gMonthDay-enumeration-4,
      which is derived by restriction of a list with itemType gMonthDay
      by facet enumeration with values of:
          --10-08 --05-11 --06-17 --06-19 --06-21 --04-09 --12-29
          --09-16 --02-01 --09-05 --01-17 --02-04 --10-11 --05-27 --03-01 --04-26 --09-02
          --09-02 --04-08 --01-01 --07-02 --07-05
          --05-11 --06-11 --07-22 --05-17 --02-01 --09-18 --05-01
          --10-30 --09-02 --01-03 --08-15 --09-07 --12-28
          --11-23 --09-21 --06-05 --04-28 --08-06 --04-16
          --11-05 --05-25 --02-01 --03-10 --02-12
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-gMonthDay-enumeration-4" type="NISTSchema-SV-IV-list-gMonthDay-enumeration-4-Type"/>

  <xs:simpleType name="listOfgMonthDay">
    <xs:list itemType="xs:gMonthDay"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-gMonthDay-enumeration-4-Type">
    <xs:restriction base="listOfgMonthDay">
          <xs:enumeration value="--10-08 --05-11 --06-17 --06-19 --06-21 --04-09 --12-29"/>
          <xs:enumeration value="--09-16 --02-01 --09-05 --01-17 --02-04 --10-11 --05-27 --03-01 --04-26 --09-02"/>
          <xs:enumeration value="--09-02 --04-08 --01-01 --07-02 --07-05"/>
          <xs:enumeration value="--05-11 --06-11 --07-22 --05-17 --02-01 --09-18 --05-01"/>
          <xs:enumeration value="--10-30 --09-02 --01-03 --08-15 --09-07 --12-28"/>
          <xs:enumeration value="--11-23 --09-21 --06-05 --04-28 --08-06 --04-16"/>
          <xs:enumeration value="--11-05 --05-25 --02-01 --03-10 --02-12"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
