sunData/ElemDecl/name/name008/name00803/name00803.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)name00803.xsd	1.2 02/12/25

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="ElemDecl/name"
    targetNamespace="ElemDecl/name">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="aa111a2Aa"/>
                <xsd:element ref="aa22B3c"/>
                <xsd:element ref="aa3-4_"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="aa111a2Aa" type="xsd:int"/>
    <xsd:element name="aa22B3c" type="xsd:int"/>
    <xsd:element name="aa3-4_" type="xsd:int"/>

</xsd:schema>
