nistData/list/gYear/Schema+Instance/NISTSchema-SV-IV-list-gYear-pattern-4.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-gYear-pattern-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-gYear-pattern-4-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-gYear-pattern-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-gYear-pattern-4,
      which is derived by restriction of a list with item type gYear
      by facet pattern with a value of: 19\d\d \d\d48 \d\d53 18\d\d \d\d43 19\d\d \d\d10 \d\d46
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-gYear-pattern-4" type="nist:NISTSchema-SV-IV-list-gYear-pattern-4-Type"/>

  <simpleType name="listOfgYear">
    <list itemType="gYear"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-gYear-pattern-4-Type">
    <restriction base="nist:listOfgYear">
      <pattern value="19\d\d \d\d48 \d\d53 18\d\d \d\d43 19\d\d \d\d10 \d\d46"/>
    </restriction>
  </simpleType>

</schema>
