nistData/list/gYear/Schema+Instance/NISTSchema-SV-II-list-gYear-pattern-5.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-II-list-gYear-pattern-5-NS"
        targetNamespace="NISTSchema-SV-II-list-gYear-pattern-5-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-gYear-pattern-5.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-gYear-pattern-5,
      which is derived by restriction of a list with item type gYear
      by facet pattern with a value of: 18\d\d 19\d\d 18\d\d \d\d18 \d\d12
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-II-list-gYear-pattern-5" type="nist:NISTSchema-SV-II-list-gYear-pattern-5-Type"/>

  <simpleType name="listOfgYear">
    <list itemType="gYear"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-II-list-gYear-pattern-5-Type">
    <restriction base="nist:listOfgYear">
      <pattern value="18\d\d 19\d\d 18\d\d \d\d18 \d\d12"/>
    </restriction>
  </simpleType>

</schema>
