nistData/list/gYear/Schema+Instance/NISTSchema-SV-II-list-gYear-enumeration-3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-gYear-enumeration-3-NS"
        targetNamespace="NISTSchema-SV-II-list-gYear-enumeration-3-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-gYear-enumeration-3.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-gYear-enumeration-3,
      which is derived by restriction of a list with itemType gYear
      by facet enumeration with values of:
          2020 2020 1982 2008 2022 2021
          1998 2008 1976 1996 1978
          1982 1997 2008 1998 2005 2027
          1971 2021 1990 2011 2025 2020
          2009 1976 1978 1998 2014 2025 2004
          1973 2024 2020 1972 2003
          2013 1990 2000 2010 2017 1987 1974 1997 2002 2023
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-gYear-enumeration-3" type="NISTSchema-SV-II-list-gYear-enumeration-3-Type"/>

  <xs:simpleType name="listOfgYear">
    <xs:list itemType="xs:gYear"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-gYear-enumeration-3-Type">
    <xs:restriction base="listOfgYear">
          <xs:enumeration value="2020 2020 1982 2008 2022 2021"/>
          <xs:enumeration value="1998 2008 1976 1996 1978"/>
          <xs:enumeration value="1982 1997 2008 1998 2005 2027"/>
          <xs:enumeration value="1971 2021 1990 2011 2025 2020"/>
          <xs:enumeration value="2009 1976 1978 1998 2014 2025 2004"/>
          <xs:enumeration value="1973 2024 2020 1972 2003"/>
          <xs:enumeration value="2013 1990 2000 2010 2017 1987 1974 1997 2002 2023"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
