nistData/list/gYear/Schema+Instance/NISTSchema-SV-IV-list-gYear-enumeration-2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-gYear-enumeration-2-NS"
        targetNamespace="NISTSchema-SV-IV-list-gYear-enumeration-2-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-gYear-enumeration-2.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-gYear-enumeration-2,
      which is derived by restriction of a list with itemType gYear
      by facet enumeration with values of:
          2020 2006 1971 1986 1975 1984
          2029 1983 1986 2015 2017 2004 2010 2021 1978 2008
          1999 1993 1995 1996 1983 1983 1975 2019 1989
          1972 1988 2021 2014 2007 2012 2005
          1970 2023 1975 2019 2024 2019 2021 2001
          1994 2005 1998 2005 2029 1970 2017
          1989 2009 1989 2014 1989 1991 1985 1984
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-gYear-enumeration-2" type="NISTSchema-SV-IV-list-gYear-enumeration-2-Type"/>

  <xs:simpleType name="listOfgYear">
    <xs:list itemType="xs:gYear"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-gYear-enumeration-2-Type">
    <xs:restriction base="listOfgYear">
          <xs:enumeration value="2020 2006 1971 1986 1975 1984"/>
          <xs:enumeration value="2029 1983 1986 2015 2017 2004 2010 2021 1978 2008"/>
          <xs:enumeration value="1999 1993 1995 1996 1983 1983 1975 2019 1989"/>
          <xs:enumeration value="1972 1988 2021 2014 2007 2012 2005"/>
          <xs:enumeration value="1970 2023 1975 2019 2024 2019 2021 2001"/>
          <xs:enumeration value="1994 2005 1998 2005 2029 1970 2017"/>
          <xs:enumeration value="1989 2009 1989 2014 1989 1991 1985 1984"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
