nistData/list/gYear/Schema+Instance/NISTSchema-SV-IV-list-gYear-enumeration-1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-gYear-enumeration-1-NS"
        targetNamespace="NISTSchema-SV-IV-list-gYear-enumeration-1-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-gYear-enumeration-1.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-gYear-enumeration-1,
      which is derived by restriction of a list with itemType gYear
      by facet enumeration with values of:
          2029 1976 2001 1970 2028 1974 2025 2027 1986
          1987 1994 1987 2017 2029 1985
          2003 2004 2009 1986 1979
          2024 2010 2016 2024 2020 2026
          2004 2016 2009 1973 2027 1981 1982 2023
          2028 2013 1980 2019 2024 2013 2009
          2001 1979 1996 2004 2011 2029 2011
          2000 2026 1988 2009 1971 2008 2001
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-gYear-enumeration-1" type="NISTSchema-SV-IV-list-gYear-enumeration-1-Type"/>

  <xs:simpleType name="listOfgYear">
    <xs:list itemType="xs:gYear"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-gYear-enumeration-1-Type">
    <xs:restriction base="listOfgYear">
          <xs:enumeration value="2029 1976 2001 1970 2028 1974 2025 2027 1986"/>
          <xs:enumeration value="1987 1994 1987 2017 2029 1985"/>
          <xs:enumeration value="2003 2004 2009 1986 1979"/>
          <xs:enumeration value="2024 2010 2016 2024 2020 2026"/>
          <xs:enumeration value="2004 2016 2009 1973 2027 1981 1982 2023"/>
          <xs:enumeration value="2028 2013 1980 2019 2024 2013 2009"/>
          <xs:enumeration value="2001 1979 1996 2004 2011 2029 2011"/>
          <xs:enumeration value="2000 2026 1988 2009 1971 2008 2001"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
