nistData/list/gYear/Schema+Instance/NISTSchema-SV-IV-list-gYear-enumeration-3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-gYear-enumeration-3-NS"
        targetNamespace="NISTSchema-SV-IV-list-gYear-enumeration-3-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-gYear-enumeration-3.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-gYear-enumeration-3,
      which is derived by restriction of a list with itemType gYear
      by facet enumeration with values of:
          1997 2013 1993 1970 2004 1994 1993 1989
          1980 2001 2027 1975 2014 1975 1987 2016 1982
          2012 1986 1988 1995 1975 2001 2005
          1989 2020 2004 2027 1977 2025 2021 1991
          1975 2015 2006 2012 1982 2002
          1992 1982 2024 2019 1975 2023 2020 1997 2017
          1973 1973 2020 1992 2008 2018 2023 2015
          2026 1970 2024 1990 2018 1986 1979
          1992 1979 1974 1995 2013 1997 2015 1979 1981
          1976 1986 1992 1972 1996 2012
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-gYear-enumeration-3" type="NISTSchema-SV-IV-list-gYear-enumeration-3-Type"/>

  <xs:simpleType name="listOfgYear">
    <xs:list itemType="xs:gYear"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-gYear-enumeration-3-Type">
    <xs:restriction base="listOfgYear">
          <xs:enumeration value="1997 2013 1993 1970 2004 1994 1993 1989"/>
          <xs:enumeration value="1980 2001 2027 1975 2014 1975 1987 2016 1982"/>
          <xs:enumeration value="2012 1986 1988 1995 1975 2001 2005"/>
          <xs:enumeration value="1989 2020 2004 2027 1977 2025 2021 1991"/>
          <xs:enumeration value="1975 2015 2006 2012 1982 2002"/>
          <xs:enumeration value="1992 1982 2024 2019 1975 2023 2020 1997 2017"/>
          <xs:enumeration value="1973 1973 2020 1992 2008 2018 2023 2015"/>
          <xs:enumeration value="2026 1970 2024 1990 2018 1986 1979"/>
          <xs:enumeration value="1992 1979 1974 1995 2013 1997 2015 1979 1981"/>
          <xs:enumeration value="1976 1986 1992 1972 1996 2012"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
