nistData/list/gYear/Schema+Instance/NISTSchema-SV-II-list-gYear-pattern-3.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-II-list-gYear-pattern-3-NS"
        targetNamespace="NISTSchema-SV-II-list-gYear-pattern-3-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-gYear-pattern-3.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-gYear-pattern-3,
      which is derived by restriction of a list with item type gYear
      by facet pattern with a value of: \d\d26 \d\d57 17\d\d 20\d\d 18\d\d \d\d36 19\d\d 19\d\d \d\d31 17\d\d
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-II-list-gYear-pattern-3" type="nist:NISTSchema-SV-II-list-gYear-pattern-3-Type"/>

  <simpleType name="listOfgYear">
    <list itemType="gYear"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-II-list-gYear-pattern-3-Type">
    <restriction base="nist:listOfgYear">
      <pattern value="\d\d26 \d\d57 17\d\d 20\d\d 18\d\d \d\d36 19\d\d 19\d\d \d\d31 17\d\d"/>
    </restriction>
  </simpleType>

</schema>
