nistData/list/gYear/Schema+Instance/NISTSchema-SV-IV-list-gYear-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-gYear-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-gYear-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-gYear-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-gYear-enumeration-4,
      which is derived by restriction of a list with itemType gYear
      by facet enumeration with values of:
          2029 2017 2010 1977 1990 2018 1972
          2015 2029 1998 1997 2022 2001 2001 1985
          1994 1998 2004 2003 2013 2029 2021 1986 1977
          2029 1987 2012 2006 2007 2024 2010 1970
          2020 1984 1986 2001 1977 1983 2028 2005 1999 1970
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-gYear-enumeration-4" type="NISTSchema-SV-IV-list-gYear-enumeration-4-Type"/>

  <xs:simpleType name="listOfgYear">
    <xs:list itemType="xs:gYear"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-gYear-enumeration-4-Type">
    <xs:restriction base="listOfgYear">
          <xs:enumeration value="2029 2017 2010 1977 1990 2018 1972"/>
          <xs:enumeration value="2015 2029 1998 1997 2022 2001 2001 1985"/>
          <xs:enumeration value="1994 1998 2004 2003 2013 2029 2021 1986 1977"/>
          <xs:enumeration value="2029 1987 2012 2006 2007 2024 2010 1970"/>
          <xs:enumeration value="2020 1984 1986 2001 1977 1983 2028 2005 1999 1970"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
