nistData/list/gYear/Schema+Instance/NISTSchema-SV-II-list-gYear-enumeration-5.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-gYear-enumeration-5-NS"
        targetNamespace="NISTSchema-SV-II-list-gYear-enumeration-5-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-gYear-enumeration-5.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-gYear-enumeration-5,
      which is derived by restriction of a list with itemType gYear
      by facet enumeration with values of:
          1994 1998 1988 2013 1993 1994 1981 1978
          2018 1983 2006 1999 2021 2027 2020
          1993 1981 1995 1981 2018 2029
          2019 2007 1987 1982 2020 2002 1996
          2012 1998 2017 1988 1981 1987 1976 2002
          2009 1981 1986 2008 2025 1988 1980
          2018 2005 2017 1998 1974
          1995 2001 2021 1990 1989 1995 1989 1973
          2020 1988 2015 1997 2012 2005 2010 1992 1989 2027
          2013 1982 1989 2026 2001 2014 1991
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-gYear-enumeration-5" type="NISTSchema-SV-II-list-gYear-enumeration-5-Type"/>

  <xs:simpleType name="listOfgYear">
    <xs:list itemType="xs:gYear"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-gYear-enumeration-5-Type">
    <xs:restriction base="listOfgYear">
          <xs:enumeration value="1994 1998 1988 2013 1993 1994 1981 1978"/>
          <xs:enumeration value="2018 1983 2006 1999 2021 2027 2020"/>
          <xs:enumeration value="1993 1981 1995 1981 2018 2029"/>
          <xs:enumeration value="2019 2007 1987 1982 2020 2002 1996"/>
          <xs:enumeration value="2012 1998 2017 1988 1981 1987 1976 2002"/>
          <xs:enumeration value="2009 1981 1986 2008 2025 1988 1980"/>
          <xs:enumeration value="2018 2005 2017 1998 1974"/>
          <xs:enumeration value="1995 2001 2021 1990 1989 1995 1989 1973"/>
          <xs:enumeration value="2020 1988 2015 1997 2012 2005 2010 1992 1989 2027"/>
          <xs:enumeration value="2013 1982 1989 2026 2001 2014 1991"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
