saxonData/VC/vc009.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Misspelt vc: attribute is simply ignored -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"
xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning">
  <xs:element name="temp" vc:what-on-earth-is-this="surprise!">
    <xs:complexType >
       <xs:sequence />     
       <xs:attribute name="x" use="required"/>
       <xs:attribute name="y" use="optional"/>      
       <xs:assert test="@x > 300" vc:minVersion="1.1"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
