saxonData/VC/vc001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- xs:assert under control of vc:minVersion -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="temp">
    <xs:complexType>
       <xs:sequence/>     
       <xs:attribute name="x" use="required"/>
       <xs:attribute name="y" use="optional"/>      
       <xs:assert test="@x > 300" vc:minVersion="1.1" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
