saxonData/VC/vc013.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- vc:typeUnavailable with a mix of known and unknown types. The element is not ignored (it would be ignored only if all the types are unknown) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"
xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning">
  <xs:element name="temp">
    <xs:complexType >
       <xs:sequence />     
       <xs:attribute name="x" use="required" vc:typeUnavailable=" vc:list-of-QNames xs:integer "/>
       <xs:attribute name="y" use="optional"/>      
    </xs:complexType>
  </xs:element>
</xs:schema>
