saxonData/VC/vc023.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- vc:facetUnavailable with a mix of known and unknown facets. The element is not ignored, it would be ignored only if all the facets were unavailable. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"
xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning">
  <xs:element name="temp">
    <xs:complexType >
       <xs:sequence />     
       <xs:attribute name="x" use="required" vc:facetUnavailable=" vc:list-of-QNames xs:minInclusive "/>
       <xs:attribute name="y" use="optional"/>      
    </xs:complexType>
  </xs:element>
</xs:schema>
