saxonData/VC/vc904.bad.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- vc:typeAvailable with a bad QName (prefix undeclared) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"
xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning">
  <xs:element name="temp">
    <xs:complexType >
       <xs:sequence />     
       <xs:attribute name="x" use="required" vc:typeUnavailable=" vx:list-of-QNames xs:integer "/>
       <xs:attribute name="y" use="optional"/>      
    </xs:complexType>
  </xs:element>
</xs:schema>
