ibmData/valid/S3_4_6/s3_4_6v04.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://xstest-tns/schema11_S3_4_6"
        xmlns:tns="http://xstest-tns/schema11_S3_4_6">
        
<complexType name="c">
 <all>
  <element name="a" type="integer"/>
  <any processContents="lax"/>
 </all>
</complexType>

<complexType name="d">
 <complexContent>
 <restriction base="tns:c">
  <all>
   <element name="a" type="integer"/>
   <any processContents="lax"/>   
  </all>
 </restriction>
 </complexContent>
</complexType>

<element name="root" type="integer"/>
</schema>


<!-- 
	Test Case Type: valid test (Structures 3.4.6) 
	Base Type     : Restriction of complex types
	Description   : Tests restriction of all group
-->