nistData/atomic/QName/Schema+Instance/NISTSchema-SV-IV-atomic-QName-enumeration-5.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-atomic-QName-enumeration-5-NS"
        xmlns:d="http://www.nist.gov/xsdNS"
        xmlns:_build.retrieves.cor="http://www.nist.gov/xsdNS"
        targetNamespace="NISTSchema-SV-IV-atomic-QName-enumeration-5-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-atomic-QName-enumeration-5.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-atomic-QName-enumeration-5,
      which is derived by restriction of built-in type QName
      by facet enumeration with values of:
          uthe.base_the_ability-into-target_the_testability-discove
          _for-files.supply.for.to-must_measur
          d:i
          ps.pervasive.in-house_on.performance-als
          _build.retrieves.cor:_among.to.must_and.industry-from-that_
          hmanipulate-us
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>

<xs:element name="uthe.base_the_ability-into-target_the_testability-discove" type="xs:string"/>
<xs:element name="_for-files.supply.for.to-must_measur" type="xs:string"/>
<xs:element name="ps.pervasive.in-house_on.performance-als" type="xs:string"/>
<xs:element name="hmanipulate-us" type="xs:string"/>


  <xs:element name="NISTSchema-SV-IV-atomic-QName-enumeration-5" type="NISTSchema-SV-IV-atomic-QName-enumeration-5-Type"/>

  <xs:simpleType name="NISTSchema-SV-IV-atomic-QName-enumeration-5-Type">
    <xs:restriction base="xs:QName">
          <xs:enumeration value="uthe.base_the_ability-into-target_the_testability-discove"/>
          <xs:enumeration value="_for-files.supply.for.to-must_measur"/>
          <xs:enumeration value="d:i"/>
          <xs:enumeration value="ps.pervasive.in-house_on.performance-als"/>
          <xs:enumeration value="_build.retrieves.cor:_among.to.must_and.industry-from-that_"/>
          <xs:enumeration value="hmanipulate-us"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
