nistData/atomic/QName/Schema+Instance/NISTSchema-SV-IV-atomic-QName-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-atomic-QName-enumeration-4-NS"
        xmlns:q="http://www.nist.gov/xsdNS"
        xmlns:fand_is_include.voca="http://www.nist.gov/xsdNS"
        xmlns:ito_d="http://www.nist.gov/xsdNS"
        xmlns:_the="http://www.nist.gov/xsdNS"
        targetNamespace="NISTSchema-SV-IV-atomic-QName-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-atomic-QName-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-atomic-QName-enumeration-4,
      which is derived by restriction of built-in type QName
      by facet enumeration with values of:
          q:tthe.with-
          etransforming-specific.emerging_is-developed.act_rela
          yof_automatic-partnerships.and.set-series_is.key.e
          fand_is_include.voca:jwork.tools-and.widely.electronic_manipul
          tmany-retrieval-with_language.both-be.results-is-of-b
          ito_d:lcomputing-object_for_a_must-be-from-design-ro
          _interoperability.s.led_also-specifications_provide_with.is.thu
          _the:lwhich_
          uthe.base_the_ability-into-target_the_testability-discove
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>

<xs:element name="etransforming-specific.emerging_is-developed.act_rela" type="xs:string"/>
<xs:element name="yof_automatic-partnerships.and.set-series_is.key.e" type="xs:string"/>
<xs:element name="tmany-retrieval-with_language.both-be.results-is-of-b" type="xs:string"/>
<xs:element name="_interoperability.s.led_also-specifications_provide_with.is.thu" type="xs:string"/>
<xs:element name="uthe.base_the_ability-into-target_the_testability-discove" type="xs:string"/>


  <xs:element name="NISTSchema-SV-IV-atomic-QName-enumeration-4" type="NISTSchema-SV-IV-atomic-QName-enumeration-4-Type"/>

  <xs:simpleType name="NISTSchema-SV-IV-atomic-QName-enumeration-4-Type">
    <xs:restriction base="xs:QName">
          <xs:enumeration value="q:tthe.with-"/>
          <xs:enumeration value="etransforming-specific.emerging_is-developed.act_rela"/>
          <xs:enumeration value="yof_automatic-partnerships.and.set-series_is.key.e"/>
          <xs:enumeration value="fand_is_include.voca:jwork.tools-and.widely.electronic_manipul"/>
          <xs:enumeration value="tmany-retrieval-with_language.both-be.results-is-of-b"/>
          <xs:enumeration value="ito_d:lcomputing-object_for_a_must-be-from-design-ro"/>
          <xs:enumeration value="_interoperability.s.led_also-specifications_provide_with.is.thu"/>
          <xs:enumeration value="_the:lwhich_"/>
          <xs:enumeration value="uthe.base_the_ability-into-target_the_testability-discove"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
