saxonData/Wild/wild084.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="product" type="ProductType"/>

  <xs:complexType name="ProductType">
    <xs:sequence>
      <xs:element name="number" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:any minOccurs="0" maxOccurs="unbounded" 
              notNamespace="http://www.w3.org/1999/xhtml" 
              notQName="##definedSibling" 
              processContents="lax"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>  