saxonData/Wild/wild070.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- basic test of element wildcard with ##definedSibling in a normal content model -->

<xs:element name="root" type="zing"/>

<xs:complexType name="zing">
  <xs:sequence>
    <xs:element name="a" type="xs:string"/>
    <xs:element name="b" type="xs:string"/>
    <xs:element name="c" type="xs:string"/>
    <xs:any notQName="##definedSibling" processContents="skip" maxOccurs="unbounded"/>
  </xs:sequence>  
</xs:complexType>

   
</xs:schema>
