saxonData/Wild/wild065.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- dynamic EDT check, element wildcard, single type, processContents=lax,
     substitutability involves a substitution group -->
<!-- schema is valid -->

<xs:complexType name="zing">
  <xs:sequence>
    <xs:element ref="e"/>
    <xs:element name="f" type="xs:integer"/>
    <xs:any namespace="##local" processContents="lax"/>
  </xs:sequence>
</xs:complexType>

<xs:element name="doc" type="zing"/>

<xs:element name="e" type="xs:decimal"/>

<xs:element name="g" substitutionGroup="e" type="xs:integer"/>

    
</xs:schema>
