saxonData/Wild/wild068.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- dynamic EDT check, element wildcard, type hierarchy, processContents=lax -->
<!-- schema is valid -->

<xs:complexType name="zing">
  <xs:sequence>
    <xs:element name="e" minOccurs="0">
      <xs:simpleType>
        <xs:union memberTypes="xs:date xs:time"/>
      </xs:simpleType>
    </xs:element>
    <xs:element name="f" type="xs:integer"/>
    <xs:any namespace="##local" processContents="lax"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="zang">
  <xs:complexContent>
    <xs:restriction base="zing">
      <xs:sequence>
        <xs:element name="f" type="xs:integer"/>
        <xs:any namespace="##local" processContents="lax"/>
      </xs:sequence>
    </xs:restriction>
  </xs:complexContent>
</xs:complexType>

<xs:element name="doc" type="zang"/>

<xs:element name="e" type="xs:duration"/>

    
</xs:schema>
