saxonData/Wild/wild019.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- valid wildcard restriction, restricted type disallows more namespaces than base type -->

<xs:element name="eden" type="R"/>

<xs:complexType name="B">
    <xs:sequence/>
    <xs:anyAttribute notNamespace="http://cain.com/ http://abel.com/ http://adam.com/" processContents="lax"/>    
</xs:complexType>

<xs:complexType name="R">
  <xs:complexContent>
    <xs:restriction base="B">
      <xs:sequence/>
      <xs:anyAttribute namespace="http://eve.com/" processContents="lax"/>
    </xs:restriction>
  </xs:complexContent>
</xs:complexType>
    
</xs:schema>
