saxonData/Wild/wild077.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- Element Locally Valid (Complex Type) rule 5 is NOT violated because of a skip wildcard -->


<xs:element name="root" type="zing"/>

<xs:complexType name="zing">
  <xs:sequence>
    <xs:element name="a" type="xs:integer"/>
    <xs:any namespace="##local" processContents="skip"/>
  </xs:sequence>  
</xs:complexType>

<xs:element name="a" type="xs:date"/>


   
</xs:schema>
