saxonData/Wild/wild074.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- ##definedSibling in interleaved open content -->

<xs:defaultOpenContent mode="interleave">
    <xs:any processContents="skip" notQName="##definedSibling"/> 
</xs:defaultOpenContent>

<xs:element name="root" type="zing"/>

<xs:complexType name="zing">
  <xs:sequence>
    <xs:element ref="a" minOccurs="0"/>
    <xs:element name="b" type="xs:string" minOccurs="0"/>
    <xs:element name="c" type="xs:string" minOccurs="0"/>
  </xs:sequence>  
</xs:complexType>

<xs:element name="a" type="xs:string"/>

<xs:element name="A" substitutionGroup="a"/>

   
</xs:schema>
