saxonData/Wild/wild071.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- element wildcard with ##definedSibling in a normal content model, substitution groups -->

<xs:element name="root" type="zing"/>

<xs:complexType name="zing">
  <xs:sequence>
    <xs:element ref="a"/>
    <xs:element name="b" type="xs:string"/>
    <xs:element name="c" type="xs:string"/>
    <xs:any notQName="##definedSibling" processContents="skip" maxOccurs="unbounded"/>
  </xs:sequence>  
</xs:complexType>

<xs:element name="a" type="xs:string"/>

<xs:element name="A" substitutionGroup="a"/>

   
</xs:schema>
