saxonData/Wild/wild047.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:x="http://extra.com/">
<!-- Element wildcard union with notQName. Not used explicitly in the spec, but used here
     to test valid restriction of an xs:any group -->

<xs:complexType name="computer">
  <xs:all>
    <xs:element name="name" type="xs:string"/>
    <xs:any namespace="##local" notQName="a b c" minOccurs="0" maxOccurs="2" processContents="skip"/>
    <xs:any namespace="http://extra.com/" notQName="x:c x:d x:e" minOccurs="0" maxOccurs="2" processContents="skip"/>
  </xs:all>  
</xs:complexType>

<xs:complexType name="restrictedComputer">
  <xs:complexContent>
    <xs:restriction base="computer">
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>      
        <xs:any namespace="##local" notQName="a b c d e" minOccurs="1" maxOccurs="1" processContents="skip"/>
      </xs:sequence>
    </xs:restriction>
  </xs:complexContent>
</xs:complexType>


<xs:element name="computer" type="restrictedComputer"/>
    
</xs:schema>
