saxonData/Wild/wild082.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- Element Declarations Consistent is not violated because a wildcard matches a global element declaration whose type
     table is "the same as" that of a like-named local element particle.
     See bug 11076 on comparing type tables -->


<xs:element name="root" type="zing"/>

<xs:complexType name="zing">
  <xs:sequence>
    <xs:element name="a" type="zz">
        <xs:alternative test="@type='1'" type="zz-integer"/>
        <xs:alternative test="@type='2'" type="zz-double"/>
    </xs:element>
    <xs:any namespace="##local" processContents="strict"/>
  </xs:sequence>  
</xs:complexType>

<xs:complexType name="zz">
    <xs:simpleContent>
        <xs:extension base="xs:string">
            <xs:attribute name="type" type="xs:integer"/>
        </xs:extension>
    </xs:simpleContent>
</xs:complexType>

<xs:complexType name="zz-integer">
    <xs:simpleContent>
        <xs:restriction base="zz">
            <xs:assertion test="$value castable as xs:integer"/>
        </xs:restriction>
    </xs:simpleContent>
</xs:complexType>

<xs:complexType name="zz-double">
    <xs:simpleContent>
        <xs:restriction base="zz">
            <xs:assertion test="$value castable as xs:double"/>
        </xs:restriction>
    </xs:simpleContent>
</xs:complexType>

<xs:element name="a" type="zz">
    <xs:alternative test="@type='1'" type="zz-integer"/>
    <xs:alternative test="@type='2'" type="zz-double"/>
</xs:element>


   
</xs:schema>
