saxonData/Wild/wild059.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- attribute wildcard intersection with ##defined -->

<xs:complexType name="zing">
  <xs:sequence/>
  <xs:attributeGroup ref="g"/>
  <xs:attributeGroup ref="h"/>
</xs:complexType>

<xs:element name="zing" type="zing"/>

<xs:attribute name="zang" type="xs:date"/>
<xs:attribute name="zong" type="xs:time"/>

<xs:attributeGroup name="g">
  <xs:anyAttribute namespace="##any" notQName="jang" processContents="skip"/>
</xs:attributeGroup>

<xs:attributeGroup name="h">
  <xs:anyAttribute namespace="##local" notQName="##defined" processContents="skip"/>
</xs:attributeGroup>
    
</xs:schema>
