saxonData/Wild/wild063.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- dynamic EDT check, element wildcard, single type, processContents=skip -->
<!-- schema is valid -->

<xs:complexType name="zing">
  <xs:sequence>
    <xs:element name="e" type="xs:integer"/>
    <xs:element name="f" type="xs:integer"/>
    <xs:any namespace="##local" processContents="lax"/>
  </xs:sequence>
</xs:complexType>

<xs:element name="doc" type="zing"/>

<xs:element name="e" type="xs:positiveInteger"/>

    
</xs:schema>
