saxonData/Wild/wild016.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- wildcard union, a notNamespace and a namespace wildcards. The union allows adam, eve, and abel but not cain. -->
<!-- inversion of wild015.xsd -->

<xs:element name="eden" type="E"/>

<xs:complexType name="B">
    <xs:sequence/>
    <xs:anyAttribute notNamespace="http://abel.com/ http://cain.com/" processContents="lax"/>    
</xs:complexType>

<xs:complexType name="E">
  <xs:complexContent>
    <xs:extension base="B">
      <xs:sequence/>
      <xs:anyAttribute namespace="http://abel.com/ http://adam.com/" processContents="lax"/>
    </xs:extension>
  </xs:complexContent>
</xs:complexType>
    
</xs:schema>
