sunData/ElemDecl/substGroupExclusions/substGrpExcl00303m/substGrpExcl00303m3.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)substGrpExcl00303m3.xsd
   generated from: @(#)substGrpExcl00303m.jmpp	1.3 02/08/22

-->

<xsd:schema
  xmlns="ElemDecl/substGroupExclusions"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/substGroupExclusions"
  elementFormDefault="qualified">

  <xsd:element name="root">
      <xsd:complexType>
          <xsd:sequence>
              <xsd:element ref="Head" maxOccurs="unbounded"/>
          </xsd:sequence>
      </xsd:complexType>
  </xsd:element>

  <xsd:element name="Head" type="HeadType" final="restriction extension"/>

  <xsd:complexType name="HeadType">
      <xsd:sequence>
          <xsd:element name="Ear"/>
          <xsd:element name="Eye"/>
      </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Member3">
      <xsd:complexType>
          <xsd:complexContent>
              <xsd:extension base="HeadType">
                 <xsd:sequence>
                     <xsd:element name="Nose"/>
                 </xsd:sequence>
              </xsd:extension>
          </xsd:complexContent>
      </xsd:complexType>
  </xsd:element>
 
</xsd:schema>
