saxonData/Id/id009.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- Nilled ID/IDREF elements -->
  <xs:element name="doc">
    <xs:complexType>
       <xs:sequence>
          <xs:element ref="node" maxOccurs="unbounded"/>
       </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="node">
    <xs:complexType>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="node"/>
            <xs:element name="id" type="xs:ID" nillable="true"/>
            <xs:element name="idref" type="xs:IDREF" nillable="true"/>
         </xs:choice>
    </xs:complexType>
  </xs:element>
  

 
</xs:schema>
