saxonData/Id/id017.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- an ENTITY attribute in XSD 1.1 can have a default value, which must be valid -->
  <xs:element name="doc">
    <xs:complexType>
       <xs:sequence>
          <xs:element ref="para" maxOccurs="unbounded"/>
       </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="para">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
            <xs:attribute name="entity" default="entity-ref" type="xs:ENTITY"/>
         </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  


</xs:schema>
