saxonData/Id/id015.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- ID element with fixed value -->
  <xs:element name="doc">
    <xs:complexType>
       <xs:sequence>
          <xs:element ref="node" maxOccurs="unbounded"/>
       </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="node">
    <xs:complexType>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="node"/>
            <xs:element name="id" type="xs:ID" fixed="p1"/>
         </xs:choice>
    </xs:complexType>
  </xs:element>
  

 
</xs:schema>
