saxonData/Id/id021.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!--element of type xs:ENTITIES -->
  <xs:element name="doc">
    <xs:complexType>
       <xs:sequence>
          <xs:element ref="para" maxOccurs="unbounded"/>
       </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="para">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="e" type="xs:ENTITIES" default="entity1 entity2"/>
        </xs:sequence>
    </xs:complexType>
  </xs:element>
  
 
</xs:schema>
