saxonData/Id/id054.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Use xpathDefaultNamespace=##defaultNamespace at local level for a keyref constraint, overriding the default

-->

<xs:schema
  xmlns="IdConstrDefs/fields"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://id054.ly/"
  elementFormDefault="unqualified"
  xmlns:s="http://id054.ly/"
  xpathDefaultNamespace="##local">

  <xs:element name="doc">
      <xs:complexType>
         <xs:sequence>
           <xs:element name="emp" type="s:empType" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
      <xs:key name="unique-clause">
        <xs:selector xpath="emp" xpathDefaultNamespace="##local"/>
        <xs:field xpath="nr"/>
      </xs:key>
      <xs:keyref name="ref-clause" refer="s:unique-clause">
        <xs:selector xpath="emp" xpathDefaultNamespace="##local"/>
        <xs:field xpath="manager"/>
      </xs:keyref>
  </xs:element>
  
  <xs:complexType name="empType">
    <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="nr" type="xs:integer"/>
        <xs:element name="manager" type="xs:integer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
