sunData/CType/abstract/abstract00101m/abstract00101m2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)abstract00101m2.xsd
   generated from: @(#)abstract00101m.jmpp	1.3 02/11/15

-->


<xsd:schema
  xmlns="abstract"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="abstract">

     <xsd:complexType name="A" abstract="true">
          <xsd:sequence>
               <xsd:element name="c" type="xsd:int" />
          </xsd:sequence>
     </xsd:complexType>

     <xsd:element name="b" type="A" />
</xsd:schema>

