saxonData/Assert/assert003.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="temp">
    <xs:complexType>
       <xs:sequence>
         <xs:element name="a">
           <xs:complexType>
               <xs:sequence minOccurs="0">
                 <xs:element name="b"/>
               </xs:sequence>
           </xs:complexType>
         </xs:element>
       </xs:sequence>       
       <xs:attribute name="x" use="required"/>
       <xs:attribute name="y" use="optional"/>      
       <xs:assert test="exists(@y) ne exists(a/b)"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
