nistData/atomic/ID/Schema+Instance/NISTSchema-SV-IV-atomic-ID-enumeration-3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="NISTSchema-SV-IV-atomic-ID-enumeration-3-NS"
           targetNamespace="NISTSchema-SV-IV-atomic-ID-enumeration-3-NS">
   <xs:annotation>
      <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-atomic-ID-enumeration-3.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-atomic-ID-enumeration-3,
      which is derived by restriction of built-in type ID
      by facet enumeration with values of:
          hin.and-software-hardware-a
          wto-to.the_and.appr
          hinteroperability.used.revolution.methods.systems.cost_ena
          _with.measurements.lacking.degree-using_in-co
          qprim
          uservices_all_of_
          mthe_issues_of_creation-bro
          tand-performance-can_
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
   </xs:annotation>

   <xs:element name="NISTSchema-SV-IV-atomic-ID-enumeration-3"
               type="NISTSchema-SV-IV-atomic-ID-enumeration-3-Type"/>

   <xs:simpleType name="NISTSchema-SV-IV-atomic-ID-enumeration-3-Type">
      <xs:restriction base="xs:ID">
         <xs:enumeration value="hin.and-software-hardware-a"/>
         <xs:enumeration value="wto-to.the_and.appr"/>
         <xs:enumeration value="hinteroperability.used.revolution.methods.systems.cost_ena"/>
         <xs:enumeration value="_with.measurements.lacking.degree-using_in-co"/>
         <xs:enumeration value="qprim"/>
         <xs:enumeration value="uservices_all_of_"/>
         <xs:enumeration value="mthe_issues_of_creation-bro"/>
         <xs:enumeration value="tand-performance-can_"/>
      </xs:restriction>
   </xs:simpleType>

   <!--2010-06-21+01:00: added a wrapper element: see bug 9922-->

   <element xmlns="http://www.w3.org/2001/XMLSchema" name="out">
      <complexType>
         <sequence>
            <any processContents="strict"/>
         </sequence>
      </complexType>
   </element>
</xs:schema>