nistData/atomic/ID/Schema+Instance/NISTSchema-SV-IV-atomic-ID-enumeration-4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="NISTSchema-SV-IV-atomic-ID-enumeration-4-NS"
           targetNamespace="NISTSchema-SV-IV-atomic-ID-enumeration-4-NS">
   <xs:annotation>
      <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-atomic-ID-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-atomic-ID-enumeration-4,
      which is derived by restriction of built-in type ID
      by facet enumeration with values of:
          _for.newcomers_for-resources.forum_and-than.maintained-series-
          iimpact-the.devices_templates_sy
          nsoftware.the.from_commerce_using-
          hi
          lprovides.discover.over.clean.rel
          qban
          wregistries_result_made_key.the.of_without_the.can.organizatio
          stesting-addressing_th
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
   </xs:annotation>

   <xs:element name="NISTSchema-SV-IV-atomic-ID-enumeration-4"
               type="NISTSchema-SV-IV-atomic-ID-enumeration-4-Type"/>

   <xs:simpleType name="NISTSchema-SV-IV-atomic-ID-enumeration-4-Type">
      <xs:restriction base="xs:ID">
         <xs:enumeration value="_for.newcomers_for-resources.forum_and-than.maintained-series-"/>
         <xs:enumeration value="iimpact-the.devices_templates_sy"/>
         <xs:enumeration value="nsoftware.the.from_commerce_using-"/>
         <xs:enumeration value="hi"/>
         <xs:enumeration value="lprovides.discover.over.clean.rel"/>
         <xs:enumeration value="qban"/>
         <xs:enumeration value="wregistries_result_made_key.the.of_without_the.can.organizatio"/>
         <xs:enumeration value="stesting-addressing_th"/>
      </xs:restriction>
   </xs:simpleType>

   <!--2010-06-21+01:00: added a wrapper element: see bug 9922-->

   <element xmlns="http://www.w3.org/2001/XMLSchema" name="out">
      <complexType>
         <sequence>
            <any processContents="strict"/>
         </sequence>
      </complexType>
   </element>
</xs:schema>