ibmData/valid/S3_12/s3_12v01.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns" 
	xmlns:tns="http://xstest-tns"
	elementFormDefault="unqualified">
	
<!-- 
Test Case Type: Valid test
Description   : Basic type alternatives. The alternative type extends the base element's type. More that one alternative type is present. One of the alternative types is the default type.
-->

	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="tns:titleType" maxOccurs="5">
					<xs:alternative test="@type='text'" type="tns:stringTitleType" />
					<xs:alternative test="@type='number'" type="tns:integerTitleType" />
					<xs:alternative test="@type='mixed'" type="tns:mixedTitleType" />
					<!-- 
					<xs:alternative test="@type" type="xs:error" />
					 -->
					<xs:alternative type="tns:titleType" />
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="titleType" mixed="true">
		<xs:attribute name="type" type="xs:anySimpleType"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="stringTitleType">
		<xs:simpleContent>
			<xs:restriction base="tns:titleType">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="integerTitleType">
		<xs:simpleContent>
			<xs:restriction base="tns:titleType">
				<xs:simpleType>
					<xs:restriction base="xs:integer" />
				</xs:simpleType>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	
		<xs:complexType name="mixedTitleType">
		<xs:simpleContent>
			<xs:restriction base="tns:titleType">
				<xs:simpleType>
					<xs:union memberTypes="xs:integer xs:string" />
				</xs:simpleType>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	
</xs:schema>
