sunData/ElemDecl/name/name00301m/name00301m1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)name00301m1.xsd
   generated from: @(#)name00301m.jmpp	1.4 02/11/19

-->

<xsd:schema
  xmlns="ElemDecl/name"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/name">

  <xsd:element name="root"/>

  <xsd:complexType name="type1">
      <xsd:sequence>
          <xsd:element name="Local" type="xsd:boolean"/>
      </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="type2">
      <xsd:sequence>
          <xsd:element name="Local"  type="xsd:decimal"/>
      </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
