ibmData/valid/S4_2_3/s4_2_3v01b.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="a"
        elementFormDefault="qualified"
        attributeFormDefault="qualified"
        xmlns:tns="a">

			<element name="element1"/>
			<element name="element2"/>
			<element name="root_1" type="tns:c1"/>

</schema>
<!-- 
Test Case Type: Valid test
Description   : chameleon include on unqualified names in XPath expressions
-->