nistData/list/integer/Schema+Instance/NISTSchema-SV-IV-list-integer-pattern-2.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-integer-pattern-2-NS"
        targetNamespace="NISTSchema-SV-IV-list-integer-pattern-2-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-integer-pattern-2.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-integer-pattern-2,
      which is derived by restriction of a list with item type integer
      by facet pattern with a value of: \-\d{18} \-\d{10} \-\d{4} \d{1} \d{7} \d{18}
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-integer-pattern-2" type="nist:NISTSchema-SV-IV-list-integer-pattern-2-Type"/>

  <simpleType name="listOfinteger">
    <list itemType="integer"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-integer-pattern-2-Type">
    <restriction base="nist:listOfinteger">
      <pattern value="\-\d{18} \-\d{10} \-\d{4} \d{1} \d{7} \d{18}"/>
    </restriction>
  </simpleType>

</schema>
