nistData/list/anyURI/Schema+Instance/NISTSchema-SV-IV-list-anyURI-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-anyURI-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-anyURI-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-anyURI-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-anyURI-enumeration-4,
      which is derived by restriction of a list with itemType anyURI
      by facet enumeration with values of:
          mailto:har@relatedparadigmregistrytestinformation.org gopher://Pervasiveby.yaccessibl.recognition.gov telnet://standardsof.flargebloc.sdevicesne.workscompu.ingr.com ftp://nextindustr.workPCofou.ofeXMLaswe.lSME.net news://voicedtoisr.sultaanetw.rksofhelpt.attheseLa.org
          ftp://ftp.businessfor.lectronicM.rku.org gopher://obtainedaar.astoofwebB.thefilterT.iscons.org http://retrieveThe.seffective.therte.gov ftp://ftp.reposi.edu gopher://toProvideCo.ferenceasc.eation.com telnet://twodomainsd.scovermust.iscovery.org mailto:ofle@eachtwowork.edu http://www.withi.gov
          ftp://gintoversio.smod.org telnet://thispromine.to.com ftp://Virtuallyad.ressinglog.cmeetsof.org http://manipulateG.oupshavewi.heffective.ypreciseto.r.com ftp://UnitedAroma.reatewithi.gov ftp://ftp.thebetadisc.ssionsrevi.wconstitu.edu http://www.Recommendat.onstoandke.ofeffectiv.lythatobv.net mailto:z@z.net telnet://XMLsuchthea.dThepervas.vewillSMEs.org
          telnet://resourcest.org http://itsresultsw.ichthethat.aysi.gov telnet://directionsla.gov mailto:in@athatbetweenitledprofi.gov telnet://and.gov telnet://electronicr.gorousdefi.ecompetenc.devicesmus.a.com news://c.edu
          ftp://filesthatXM.exe.edu ftp://ftp.needXMLnoti.formationm.stmoreover.acilitatio.la.gov mailto:Develops@toprecisedefin.net mailto:ar@specificasOrga.gov mailto:an@andaddr.edu ftp://ftp.aretestspar.nershipsem.rgingUAbed.scoverthep.rta.edu ftp://ftp.usingtoThel.nguag.org
          telnet://LanguageExt.nsibleAthe.rovidedfil.andimpleme.t.com telnet://richallofwi.ltostandar.izationan.edu http://www.willonintel.igentfilei.ternationa.theuna.edu news://Conductanda.dimagestoa.dprototype.hatastruc.gov gopher://toolConfere.ceforAwork.ngrelat.org ftp://Simulationo.jectoneand.ystemskeyi.terop.net
          mailto:revolu@theneutralanalysisforofSchema.org mailto:relate@earlycreationmeasur.org ftp://ftp.thethetoFac.litationst.uctureThef.rm.org ftp://setforenable.edu telnet://languageCom.itteeindus.ryeffortst.eAnECw.org ftp://providefaci.itatest.org http://www.thewithXSLa.nfluencein.ludingcrea.esindustr.gov http://forservices.heofthef.org
          http://www.supplyAaPer.asivecreat.dapplicati.nsu.gov http://andfordatab.separtners.nforma.org ftp://ftp.TheTherefor.languagesI.mustandjoi.tproces.edu http://www.iofspec.com mailto:e@isobjectandAeliminatetoh.com gopher://itsa.com
          telnet://transformin.technologi.sprofileso.j.edu telnet://theconsorti.msaleaders.iplogicfor.sersSuchas.areas.com http://aretransfor.ing.net mailto:Byb@Aorgan.org ftp://understandp.rticula.org ftp://reachqualit.testaddres.ingintechn.logythrou.net gopher://bethete.org ftp://Additionall.OASISmuste.ablingdisc.veryscomp.gov ftp://adoptiondis.ove.org gopher://toolscandef.nelaunchin.registryth.s.edu
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-anyURI-enumeration-4" type="NISTSchema-SV-IV-list-anyURI-enumeration-4-Type"/>

  <xs:simpleType name="listOfanyURI">
    <xs:list itemType="xs:anyURI"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-anyURI-enumeration-4-Type">
    <xs:restriction base="listOfanyURI">
          <xs:enumeration value="mailto:har@relatedparadigmregistrytestinformation.org gopher://Pervasiveby.yaccessibl.recognition.gov telnet://standardsof.flargebloc.sdevicesne.workscompu.ingr.com ftp://nextindustr.workPCofou.ofeXMLaswe.lSME.net news://voicedtoisr.sultaanetw.rksofhelpt.attheseLa.org"/>
          <xs:enumeration value="ftp://ftp.businessfor.lectronicM.rku.org gopher://obtainedaar.astoofwebB.thefilterT.iscons.org http://retrieveThe.seffective.therte.gov ftp://ftp.reposi.edu gopher://toProvideCo.ferenceasc.eation.com telnet://twodomainsd.scovermust.iscovery.org mailto:ofle@eachtwowork.edu http://www.withi.gov"/>
          <xs:enumeration value="ftp://gintoversio.smod.org telnet://thispromine.to.com ftp://Virtuallyad.ressinglog.cmeetsof.org http://manipulateG.oupshavewi.heffective.ypreciseto.r.com ftp://UnitedAroma.reatewithi.gov ftp://ftp.thebetadisc.ssionsrevi.wconstitu.edu http://www.Recommendat.onstoandke.ofeffectiv.lythatobv.net mailto:z@z.net telnet://XMLsuchthea.dThepervas.vewillSMEs.org"/>
          <xs:enumeration value="telnet://resourcest.org http://itsresultsw.ichthethat.aysi.gov telnet://directionsla.gov mailto:in@athatbetweenitledprofi.gov telnet://and.gov telnet://electronicr.gorousdefi.ecompetenc.devicesmus.a.com news://c.edu"/>
          <xs:enumeration value="ftp://filesthatXM.exe.edu ftp://ftp.needXMLnoti.formationm.stmoreover.acilitatio.la.gov mailto:Develops@toprecisedefin.net mailto:ar@specificasOrga.gov mailto:an@andaddr.edu ftp://ftp.aretestspar.nershipsem.rgingUAbed.scoverthep.rta.edu ftp://ftp.usingtoThel.nguag.org"/>
          <xs:enumeration value="telnet://LanguageExt.nsibleAthe.rovidedfil.andimpleme.t.com telnet://richallofwi.ltostandar.izationan.edu http://www.willonintel.igentfilei.ternationa.theuna.edu news://Conductanda.dimagestoa.dprototype.hatastruc.gov gopher://toolConfere.ceforAwork.ngrelat.org ftp://Simulationo.jectoneand.ystemskeyi.terop.net"/>
          <xs:enumeration value="mailto:revolu@theneutralanalysisforofSchema.org mailto:relate@earlycreationmeasur.org ftp://ftp.thethetoFac.litationst.uctureThef.rm.org ftp://setforenable.edu telnet://languageCom.itteeindus.ryeffortst.eAnECw.org ftp://providefaci.itatest.org http://www.thewithXSLa.nfluencein.ludingcrea.esindustr.gov http://forservices.heofthef.org"/>
          <xs:enumeration value="http://www.supplyAaPer.asivecreat.dapplicati.nsu.gov http://andfordatab.separtners.nforma.org ftp://ftp.TheTherefor.languagesI.mustandjoi.tproces.edu http://www.iofspec.com mailto:e@isobjectandAeliminatetoh.com gopher://itsa.com"/>
          <xs:enumeration value="telnet://transformin.technologi.sprofileso.j.edu telnet://theconsorti.msaleaders.iplogicfor.sersSuchas.areas.com http://aretransfor.ing.net mailto:Byb@Aorgan.org ftp://understandp.rticula.org ftp://reachqualit.testaddres.ingintechn.logythrou.net gopher://bethete.org ftp://Additionall.OASISmuste.ablingdisc.veryscomp.gov ftp://adoptiondis.ove.org gopher://toolscandef.nelaunchin.registryth.s.edu"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
