nistData/list/anyURI/Schema+Instance/NISTSchema-SV-II-list-anyURI-enumeration-3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-anyURI-enumeration-3-NS"
        targetNamespace="NISTSchema-SV-II-list-anyURI-enumeration-3-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-anyURI-enumeration-3.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-anyURI-enumeration-3,
      which is derived by restriction of a list with itemType anyURI
      by facet enumeration with values of:
          ftp://ftp.gainPervasi.edu http://www.ofi.edu mailto:Do@thebyincludebeissuesmanualmanagetheth.gov gopher://intuiti.com ftp://ThisXSLprim.rilyreside.thefo.org
          telnet://specificati.n.gov http://tolaunching.eregistryi.ternational.com telnet://tothenworld.ndofetcper.asivecompe.encef.org telnet://filePCstand.rdizationa.dfort.edu ftp://ledcomputer.mplementati.org
          mailto:fo@buildtheseleddailyhelplaunchingn.org gopher://addressingt.anwilllang.agebyonlyt.olstheforw.th.edu http://www.areasXMLweb.onsistency.ormeasurem.nt.org telnet://tremendoust.esesuchcon.ainstote.org gopher://eXtensiblef.lesinterop.rabilityco.eitsknowni.i.org mailto:dat@partnershipssoftwarewillprimarilysp.org
          gopher://andi.edu ftp://specificati.nsandenterp.gov http://www.fromthatnet.orkingtoin.e.net http://www.dataisDocum.ntofandPro.ideinclude.u.edu gopher://implementat.onWorkingt.etheDescri.tion.gov news://canstakehol.ersandproc.ssfed.gov
          ftp://ftp.w.org gopher://andifferent.obeaskedfo.andcompute.edu telnet://EXiSTlangua.esuchgroup.neutraland.onatealrea.yint.edu ftp://ftp.problemsmad.Bynetworki.gdevicessy.temsthecont.edu gopher://roleandThet.roughoutte.hnologies.net telnet://conformance.ssystemsat.hisindustr.defi.org
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-anyURI-enumeration-3" type="NISTSchema-SV-II-list-anyURI-enumeration-3-Type"/>

  <xs:simpleType name="listOfanyURI">
    <xs:list itemType="xs:anyURI"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-anyURI-enumeration-3-Type">
    <xs:restriction base="listOfanyURI">
          <xs:enumeration value="ftp://ftp.gainPervasi.edu http://www.ofi.edu mailto:Do@thebyincludebeissuesmanualmanagetheth.gov gopher://intuiti.com ftp://ThisXSLprim.rilyreside.thefo.org"/>
          <xs:enumeration value="telnet://specificati.n.gov http://tolaunching.eregistryi.ternational.com telnet://tothenworld.ndofetcper.asivecompe.encef.org telnet://filePCstand.rdizationa.dfort.edu ftp://ledcomputer.mplementati.org"/>
          <xs:enumeration value="mailto:fo@buildtheseleddailyhelplaunchingn.org gopher://addressingt.anwilllang.agebyonlyt.olstheforw.th.edu http://www.areasXMLweb.onsistency.ormeasurem.nt.org telnet://tremendoust.esesuchcon.ainstote.org gopher://eXtensiblef.lesinterop.rabilityco.eitsknowni.i.org mailto:dat@partnershipssoftwarewillprimarilysp.org"/>
          <xs:enumeration value="gopher://andi.edu ftp://specificati.nsandenterp.gov http://www.fromthatnet.orkingtoin.e.net http://www.dataisDocum.ntofandPro.ideinclude.u.edu gopher://implementat.onWorkingt.etheDescri.tion.gov news://canstakehol.ersandproc.ssfed.gov"/>
          <xs:enumeration value="ftp://ftp.w.org gopher://andifferent.obeaskedfo.andcompute.edu telnet://EXiSTlangua.esuchgroup.neutraland.onatealrea.yint.edu ftp://ftp.problemsmad.Bynetworki.gdevicessy.temsthecont.edu gopher://roleandThet.roughoutte.hnologies.net telnet://conformance.ssystemsat.hisindustr.defi.org"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
