nistData/list/anyURI/Schema+Instance/NISTSchema-SV-II-list-anyURI-pattern-4.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-II-list-anyURI-pattern-4-NS"
        targetNamespace="NISTSchema-SV-II-list-anyURI-pattern-4-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-anyURI-pattern-4.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-anyURI-pattern-4,
      which is derived by restriction of a list with item type anyURI
      by facet pattern with a value of: \c{3,6}://(\c{1,10}\.){1,5}\c{3} \c{3,6}://(\c{1,7}\.){1,4}\c{3} \c{3,6}://(\c{1,3}\.){1,2}\c{3} \c{3,6}://(\c{1,6}\.){1,4}\c{3} \c{3,6}://(\c{1,7}\.){1,2}\c{3} \c{3,6}://(\c{1,4}\.){1,2}\c{3}
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-II-list-anyURI-pattern-4" type="nist:NISTSchema-SV-II-list-anyURI-pattern-4-Type"/>

  <simpleType name="listOfanyURI">
    <list itemType="anyURI"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-II-list-anyURI-pattern-4-Type">
    <restriction base="nist:listOfanyURI">
      <pattern value="\c{3,6}://(\c{1,10}\.){1,5}\c{3} \c{3,6}://(\c{1,7}\.){1,4}\c{3} \c{3,6}://(\c{1,3}\.){1,2}\c{3} \c{3,6}://(\c{1,6}\.){1,4}\c{3} \c{3,6}://(\c{1,7}\.){1,2}\c{3} \c{3,6}://(\c{1,4}\.){1,2}\c{3}"/>
    </restriction>
  </simpleType>

</schema>
