sunData/combined/xsd011/xsd011.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--
Ident: @(#)xsd011.xsd	1.3 03/10/10

-->

<!--
	HIGHLIGHT OF THIS TEST
	======================
	- nillable
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:foo="foo"
		targetNamespace="foo"
		elementFormDefault="qualified">
	
	<element name="root">
		<complexType>
			<choice maxOccurs="unbounded">
				<element ref="foo:non-nillable" />
				<element ref="foo:nillable1" />
				<element ref="foo:nillable2" />
			</choice>
		</complexType>
	</element>
	
	<element name="non-nillable">
		<complexType>
			<sequence>
				<element name="x" />
			</sequence>
		</complexType>
	</element>
	
	<element name="nillable1" nillable="true">
		<complexType>
			<sequence>
				<element name="x" />
			</sequence>
		</complexType>
	</element>
	
	<element name="nillable2" nillable="true">
		<simpleType>
			<restriction>
				<simpleType>
					<list itemType="int" />
				</simpleType>
				<minLength value="2" />
			</restriction>
		</simpleType>
	</element>
	
</schema>
