sunData/SType/ST_facets/ST_facets00501m/ST_facets00501m19.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)ST_facets00501m19.xsd
   generated from: @(#)ST_facets00501m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="SType/ST_facets"
    targetNamespace="SType/ST_facets">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="value" type="S"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="S">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="a00Ạ"/>
            <xsd:enumeration value="a0-Ọ"/>
            <xsd:enumeration value="a0Aỹ"/>
            <xsd:enumeration value="a10ἀ"/>
            <xsd:enumeration value="a1-Ἂ"/>
            <xsd:enumeration value="a1Aἕ"/>
            <xsd:enumeration value="a20Ἐ"/>
            <xsd:enumeration value="a2-Ἒ"/>
            <xsd:enumeration value="a2AἝ"/>
            <xsd:enumeration value="a30ἠ"/>
            <xsd:enumeration value="a3-ἲ"/>
            <xsd:enumeration value="a3Aὅ"/>
            <xsd:enumeration value="a40Ὀ"/>
            <xsd:enumeration value="a4-Ὂ"/>
            <xsd:enumeration value="a4AὍ"/>
            <xsd:enumeration value="a50ὑ"/>
            <xsd:enumeration value="a60ὓ"/>
            <xsd:enumeration value="a70ὕ"/>
            <xsd:enumeration value="a80ὗ"/>
            <xsd:enumeration value="a90Ὑ"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
