sunData/SType/ST_facets/ST_facets00501m/ST_facets00501m20.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)ST_facets00501m20.xsd
   generated from: @(#)ST_facets00501m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="SType/ST_facets"
    targetNamespace="SType/ST_facets">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="value" type="S"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="S">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="a00Ὓ"/>
            <xsd:enumeration value="a10Ὕ"/>
            <xsd:enumeration value="a20Ὗ"/>
            <xsd:enumeration value="a2-Ὦ"/>
            <xsd:enumeration value="a2Aώ"/>
            <xsd:enumeration value="a30ᾰ"/>
            <xsd:enumeration value="a3-ᾰ"/>
            <xsd:enumeration value="a3Aᾱ"/>
            <xsd:enumeration value="a40Ᾰ"/>
            <xsd:enumeration value="a4-Ᾱ"/>
            <xsd:enumeration value="a4AΆ"/>
            <xsd:enumeration value="a50Ὲ"/>
            <xsd:enumeration value="a5-Έ"/>
            <xsd:enumeration value="a5AΉ"/>
            <xsd:enumeration value="a60ῐ"/>
            <xsd:enumeration value="a6-ῐ"/>
            <xsd:enumeration value="a6Aῑ"/>
            <xsd:enumeration value="a70Ῐ"/>
            <xsd:enumeration value="a7-Ῑ"/>
            <xsd:enumeration value="a7AΊ"/>
            <xsd:enumeration value="a80ῠ"/>
            <xsd:enumeration value="a8-ῠ"/>
            <xsd:enumeration value="a8Aῡ"/>
            <xsd:enumeration value="a90ῥ"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
