sunData/SType/ST_facets/ST_facets00501m/ST_facets00501m18.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)ST_facets00501m18.xsd
   generated from: @(#)ST_facets00501m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="SType/ST_facets"
    targetNamespace="SType/ST_facets">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="value" type="S"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="S">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="a00ᆫ"/>
            <xsd:enumeration value="a10ᆮ"/>
            <xsd:enumeration value="a1-ᆮ"/>
            <xsd:enumeration value="a1Aᆯ"/>
            <xsd:enumeration value="a20ᆷ"/>
            <xsd:enumeration value="a2-ᆷ"/>
            <xsd:enumeration value="a2Aᆸ"/>
            <xsd:enumeration value="a30ᆺ"/>
            <xsd:enumeration value="a40ᆼ"/>
            <xsd:enumeration value="a4-ᆿ"/>
            <xsd:enumeration value="a4Aᇂ"/>
            <xsd:enumeration value="a50ᇫ"/>
            <xsd:enumeration value="a60ᇰ"/>
            <xsd:enumeration value="a70ᇹ"/>
            <xsd:enumeration value="a80Ḁ"/>
            <xsd:enumeration value="a8-Ṋ"/>
            <xsd:enumeration value="a8Aẕ"/>
            <xsd:enumeration value="a90ẛ"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
