sunData/SType/ST_facets/ST_facets00501m/ST_facets00501m5.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)ST_facets00501m5.xsd
   generated from: @(#)ST_facets00501m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="SType/ST_facets"
    targetNamespace="SType/ST_facets">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="value" type="S"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="S">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="a00Ӑ"/>
            <xsd:enumeration value="a0-ӝ"/>
            <xsd:enumeration value="a0Aӫ"/>
            <xsd:enumeration value="a10Ӯ"/>
            <xsd:enumeration value="a1-ӱ"/>
            <xsd:enumeration value="a1Aӵ"/>
            <xsd:enumeration value="a20Ӹ"/>
            <xsd:enumeration value="a2-Ӹ"/>
            <xsd:enumeration value="a2Aӹ"/>
            <xsd:enumeration value="a30Ա"/>
            <xsd:enumeration value="a3-Ճ"/>
            <xsd:enumeration value="a3AՖ"/>
            <xsd:enumeration value="a40ՙ"/>
            <xsd:enumeration value="a50ա"/>
            <xsd:enumeration value="a5-ճ"/>
            <xsd:enumeration value="a5Aֆ"/>
            <xsd:enumeration value="a60א"/>
            <xsd:enumeration value="a6-ם"/>
            <xsd:enumeration value="a6Aת"/>
            <xsd:enumeration value="a70װ"/>
            <xsd:enumeration value="a7-ױ"/>
            <xsd:enumeration value="a7Aײ"/>
            <xsd:enumeration value="a80ء"/>
            <xsd:enumeration value="a8-ح"/>
            <xsd:enumeration value="a8Aغ"/>
            <xsd:enumeration value="a90ف"/>
            <xsd:enumeration value="a9-م"/>
            <xsd:enumeration value="a9Aي"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
