sunData/SType/ST_facets/ST_facets00501m/ST_facets00501m17.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)ST_facets00501m17.xsd
   generated from: @(#)ST_facets00501m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="SType/ST_facets"
    targetNamespace="SType/ST_facets">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="value" type="S"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="S">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="a00ᅟ"/>
            <xsd:enumeration value="a0-ᅠ"/>
            <xsd:enumeration value="a0Aᅡ"/>
            <xsd:enumeration value="a10ᅣ"/>
            <xsd:enumeration value="a20ᅥ"/>
            <xsd:enumeration value="a30ᅧ"/>
            <xsd:enumeration value="a40ᅩ"/>
            <xsd:enumeration value="a50ᅭ"/>
            <xsd:enumeration value="a5-ᅭ"/>
            <xsd:enumeration value="a5Aᅮ"/>
            <xsd:enumeration value="a60ᅲ"/>
            <xsd:enumeration value="a6-ᅲ"/>
            <xsd:enumeration value="a6Aᅳ"/>
            <xsd:enumeration value="a70ᅵ"/>
            <xsd:enumeration value="a80ᆞ"/>
            <xsd:enumeration value="a90ᆨ"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
