sunData/SType/ST_facets/ST_facets00501m/ST_facets00501m21.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)ST_facets00501m21.xsd
   generated from: @(#)ST_facets00501m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="SType/ST_facets"
    targetNamespace="SType/ST_facets">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="value" type="S"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="S">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="a00Ῠ"/>
            <xsd:enumeration value="a0-Ὺ"/>
            <xsd:enumeration value="a0AῬ"/>
            <xsd:enumeration value="a10Ὸ"/>
            <xsd:enumeration value="a1-Ό"/>
            <xsd:enumeration value="a1AΏ"/>
            <xsd:enumeration value="a20ↀ"/>
            <xsd:enumeration value="a2-ↁ"/>
            <xsd:enumeration value="a2Aↂ"/>
            <xsd:enumeration value="a30ぁ"/>
            <xsd:enumeration value="a3-な"/>
            <xsd:enumeration value="a3Aゔ"/>
            <xsd:enumeration value="a40ァ"/>
            <xsd:enumeration value="a4-ネ"/>
            <xsd:enumeration value="a4Aヺ"/>
            <xsd:enumeration value="a50ㄅ"/>
            <xsd:enumeration value="a5-ㄘ"/>
            <xsd:enumeration value="a5Aㄬ"/>
            <xsd:enumeration value="a60가"/>
            <xsd:enumeration value="a6-쇑"/>
            <xsd:enumeration value="a6A힣"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
