sunData/ElemDecl/valueConstraint/valueConstraint00501m/valueConstraint00501m4.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)valueConstraint00501m4.xsd
   generated from: @(#)valueConstraint00501m.jmpp	1.3 03/10/10

-->

<xsd:schema
  xmlns="ElemDecl/valueConstraint"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/valueConstraint">

  <xsd:element name="root">
      <xsd:complexType>
          <xsd:sequence>
              <xsd:element ref="Element"/>	
          </xsd:sequence>
      </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="Element" type="Float" default="1.0E-2" />	

  <xsd:simpleType name="Float">
      <xsd:restriction base="xsd:float">
          <xsd:pattern value="...[Ee].."/>
      </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="derivedType">
      <xsd:restriction base="Float">
          <xsd:pattern value="1\.0[Ee]-2"/>
      </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
