nistData/list/QName/Schema+Instance/NISTSchema-SV-IV-list-QName-pattern-2.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-QName-pattern-2-NS"
        targetNamespace="NISTSchema-SV-IV-list-QName-pattern-2-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-QName-pattern-2.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-QName-pattern-2,
      which is derived by restriction of a list with item type QName
      by facet pattern with a value of: ([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]{47} ([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]{11} ([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]{35} ([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]{11} ([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]{43} ([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]{32} ([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]{22} ([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]{21} ([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]{46} ([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]{33}
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-QName-pattern-2" type="nist:NISTSchema-SV-IV-list-QName-pattern-2-Type"/>

  <simpleType name="listOfQName">
    <list itemType="QName"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-QName-pattern-2-Type">
    <restriction base="nist:listOfQName">
      <pattern value="([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]{47} ([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]{11} ([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]{35} ([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]{11} ([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]{43} ([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]{32} ([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]{22} ([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]{21} ([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]{46} ([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]{33}"/>
    </restriction>
  </simpleType>

</schema>
