ibmData/mixed/assertions/list_union/listunion5.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   
   <xs:element name="Example">
      <xs:complexType>
	     <xs:attribute name="attr">
		    <xs:simpleType>
			   <xs:list itemType="MYDATE" />
			</xs:simpleType>
		 </xs:attribute>
	  </xs:complexType>
   </xs:element>
   
   <xs:simpleType name="MYDATE">
     <xs:restriction base="xs:date">
	    <xs:assertion test="$value gt current-date()" />
	 </xs:restriction>
   </xs:simpleType>

</xs:schema>

