sunData/ElemDecl/typeDef/typeDef00701m/typeDef00701m.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)typeDef00701m.xsd
   generated from: @(#)typeDef00701m.jmpp	1.2 02/08/22

-->

<xsd:schema
  xmlns:target="ElemDecl/typeDef"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/typeDef">

  <xsd:element name="root"/>

  <xsd:complexType name="boolean">
      <xsd:attribute name="value" type="xsd:boolean"/>
  </xsd:complexType>

</xsd:schema>
