sunData/MGroup/annotation/annotation00101m/annotation00101m13.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)annotation00101m13.xsd
   generated from: @(#)annotation00101m.jmpp	1.3 02/11/19

-->

<xsd:schema
  xmlns="MGroup/annotation"
  xmlns:jt="JavaTest"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="MGroup/annotation">
  
     <xsd:element name="root"/>
  

     <xsd:complexType name="theType">
          <xsd:sequence>
              <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                      This is a model group schema component (sequence).
                  </xsd:documentation>
              </xsd:annotation>
              <xsd:element name="c" type="xsd:int" />
              <xsd:element name="date" type="xsd:date" />
          </xsd:sequence>
     </xsd:complexType>

</xsd:schema>
