ibmData/schema_invalid/D3_3_4/d3_3_4si19.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_3_4_si11"
	xmlns:si="http://xstest-tns/schema11_D3_3_4_si11">
	
<!-- 
	Test Case Type: Schema Invalid test (Datatypes section 3.3.4) 
	Base Type     : precisionDecimal
	Description   : c
-->

<simpleType name="decTotalDigits">
	<restriction base="precisionDecimal">
		<totalDigits value="5"/>
	</restriction>	
</simpleType>

<simpleType name="decTotalDigits_Derived">
	<restriction base="si:decTotalDigits">
		<totalDigits value="10"/> 
	</restriction>	
</simpleType>

<element name="root">
	<complexType>
		<sequence>
			<element name="elTotalDigits" type="si:decTotalDigits_Derived"/>
		</sequence>
	</complexType>
</element>    

</schema>  