ibmData/schema_invalid/D3_3_4/d3_3_4si22.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_3_4_si14"
	xmlns:si="http://xstest-tns/schema11_D3_3_4_si14">
	
<!-- 
	Test Case Type: Schema Invalid test (Datatypes section 3.3.4) 
	Base Type     : precisionDecimal
	Description   : The value of whiteSpace for precisionDecimal can only be collapse
-->

<simpleType name="decWhiteSpace">
	<restriction base="precisionDecimal">
		<whiteSpace value="replace"/>
	</restriction>	
</simpleType>


<element name="root">
	<complexType>
		<sequence>
			<element name="elWhiteSpace" type="si:decWhiteSpace"/>
		</sequence>
	</complexType>
</element>    

</schema>  