ibmData/schema_invalid/D3_3_4/d3_3_4si20.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_3_4_si12"
	xmlns:si="http://xstest-tns/schema11_D3_3_4_si12">
	
<!-- 
	Test Case Type: Schema Invalid test (Datatypes section 3.3.4) 
	Base Type     : precisonDecimal
	Description   : fractionDigits is not a valid facet for precisionDecimal
-->

<simpleType name="decDigits">
	<restriction base="precisionDecimal">
		<fractionDigits value="6"/>
	</restriction>	
</simpleType>


<element name="root">
	<complexType>
		<sequence>
			<element name="elDigits" type="si:decDigits"/>
		</sequence>
	</complexType>
</element>    

</schema>  