ibmData/schema_invalid/D3_3_4/d3_3_4si23.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_3_4_si15"
	xmlns:si="http://xstest-tns/schema11_D3_3_4_si15">
	
<!-- 
	Test Case Type: Schema Invalid test (Datatypes section 3.3.4) 
	Base Type     : precisionDecimal
	Description   : The pattern contains an invalid regular expression
-->

<simpleType name="decPattern">
	<restriction base="precisionDecimal">
		<pattern value="{^5%\[]"/>
	</restriction>	
</simpleType>


<element name="root">
	<complexType>
		<sequence>
			<element name="elPattern" type="si:decPattern"/>
		</sequence>
	</complexType>
</element>    

</schema>  