ibmData/schema_invalid/D3_3_4/d3_3_4si26.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_3_4_si18"
	xmlns:si="http://xstest-tns/schema11_D3_3_4_si18">
	
<!-- 
	Test Case Type: Schema Invalid test (Datatypes section 3.3.4) 
	Base Type     : precisionDecimal
	Description   : It is an error for minScale > maxScale 
-->

<simpleType name="preScale">
	<restriction base="precisionDecimal">
		<minScale value="20"/>
		<maxScale value="10"/> 
	</restriction>	
</simpleType>



<element name="root">
	<complexType>
		<sequence>
			<element name="elInclusive" type="si:preScale"/>
		</sequence>
	</complexType>
</element>    

</schema>  