ibmData/schema_invalid/D3_3_4/d3_3_4si12.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_3_4_si04"
	xmlns:si="http://xstest-tns/schema11_D3_3_4_si04">
	
<!-- 
	Test Case Type: Schema Invalid test (Datatypes section 3.3.4) 
	Base Type     : precisionDecimal
	Description   : It is an error for minInclusive > maxExclusive and
			minExclusive > maxInclusive
-->

<simpleType name="decInclusive">
	<restriction base="precisionDecimal">
		<minInclusive value="20"/>
		<maxExclusive value="10"/> 
	</restriction>	
</simpleType>

<simpleType name="decExclusive">
	<restriction base="precisionDecimal">
		<minExclusive value="-20"/>
		<maxInclusive value="-30"/> 
	</restriction>	
</simpleType>

<element name="root">
	<complexType>
		<sequence>
			<element name="elInclusive" type="si:decInclusive"/>
			<element name="elExclusive" type="si:decExclusive"/>
		</sequence>
	</complexType>
</element>    

</schema>  