sunData/AttrDecl/AD_name/AD_name00110m/AD_name00110m10.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)AD_name00110m10.xsd
   generated from: @(#)AD_name00110m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="AttrDecl/name">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:attribute name="str00A⃐" type="xsd:string"/>
            <xsd:attribute name="str10-⃖" type="xsd:string"/>
            <xsd:attribute name="str20⃜" type="xsd:string"/>
            <xsd:attribute name="str01A⃡" type="xsd:string"/>
            <xsd:attribute name="str02A〪" type="xsd:string"/>
            <xsd:attribute name="str12-〬" type="xsd:string"/>
            <xsd:attribute name="str22〯" type="xsd:string"/>
            <xsd:attribute name="str03A゙" type="xsd:string"/>
            <xsd:attribute name="str04A゚" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
