sunData/ElemDecl/identityConstraintDefs/idConstrDefs00501m/idConstrDefs00501m.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)idConstrDefs00501m.xsd
   generated from: @(#)idConstrDefs00501m.jmpp	1.1 02/04/10

-->

<xsd:schema
  xmlns="ElemDecl/identityConstraintDefs"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/identityConstraintDefs">

  <xsd:element name="root">
      <xsd:complexType>
          <xsd:sequence maxOccurs="unbounded">
              <xsd:element name="person">
                  <xsd:complexType>
                      <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                              <xsd:attribute name="ssn" type="derivedID" use="required"/>
                          </xsd:extension>
                      </xsd:simpleContent>
                  </xsd:complexType>
              </xsd:element>
          </xsd:sequence>
      </xsd:complexType>
  </xsd:element>

  <xsd:simpleType name="derivedID">
      <xsd:restriction base="xsd:ID"/>
  </xsd:simpleType>

</xsd:schema>
