nistData/list/date/Schema+Instance/NISTSchema-SV-II-list-date-pattern-2.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-II-list-date-pattern-2-NS"
        targetNamespace="NISTSchema-SV-II-list-date-pattern-2-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-date-pattern-2.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-date-pattern-2,
      which is derived by restriction of a list with item type date
      by facet pattern with a value of: 20\d\d-\d2-1\d \d\d48-0\d-\d2 \d\d87-\d0-\d8 19\d\d-\d7-\d4 \d\d92-0\d-2\d \d\d28-\d5-2\d 17\d\d-\d1-1\d \d\d87-\d2-1\d
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-II-list-date-pattern-2" type="nist:NISTSchema-SV-II-list-date-pattern-2-Type"/>

  <simpleType name="listOfdate">
    <list itemType="date"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-II-list-date-pattern-2-Type">
    <restriction base="nist:listOfdate">
      <pattern value="20\d\d-\d2-1\d \d\d48-0\d-\d2 \d\d87-\d0-\d8 19\d\d-\d7-\d4 \d\d92-0\d-2\d \d\d28-\d5-2\d 17\d\d-\d1-1\d \d\d87-\d2-1\d"/>
    </restriction>
  </simpleType>

</schema>
