nistData/list/date/Schema+Instance/NISTSchema-SV-II-list-date-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-date-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-II-list-date-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-date-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-date-enumeration-4,
      which is derived by restriction of a list with itemType date
      by facet enumeration with values of:
          2025-12-24 1990-03-24 1982-04-30 2000-02-02 2000-04-07 2009-07-16
          2024-08-03 2010-06-18 2006-07-15 2017-07-15 1978-11-15 1981-01-17
          2003-11-26 2007-05-05 2003-10-03 2016-05-27 2023-06-20 1996-06-08
          2027-01-08 1991-10-04 2012-11-13 2021-07-20 2022-08-07 2005-08-27 2024-12-11 2008-01-05 2003-07-31 1990-05-09
          2019-03-16 1993-04-18 1990-06-22 1974-03-31 1975-07-13 1985-11-06 1994-06-29
          1975-01-24 1996-10-26 1998-11-28 2020-09-11 1990-05-22 2002-10-01 1978-08-09 2011-01-14 1988-08-24 2003-08-04
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-date-enumeration-4" type="NISTSchema-SV-II-list-date-enumeration-4-Type"/>

  <xs:simpleType name="listOfdate">
    <xs:list itemType="xs:date"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-date-enumeration-4-Type">
    <xs:restriction base="listOfdate">
          <xs:enumeration value="2025-12-24 1990-03-24 1982-04-30 2000-02-02 2000-04-07 2009-07-16"/>
          <xs:enumeration value="2024-08-03 2010-06-18 2006-07-15 2017-07-15 1978-11-15 1981-01-17"/>
          <xs:enumeration value="2003-11-26 2007-05-05 2003-10-03 2016-05-27 2023-06-20 1996-06-08"/>
          <xs:enumeration value="2027-01-08 1991-10-04 2012-11-13 2021-07-20 2022-08-07 2005-08-27 2024-12-11 2008-01-05 2003-07-31 1990-05-09"/>
          <xs:enumeration value="2019-03-16 1993-04-18 1990-06-22 1974-03-31 1975-07-13 1985-11-06 1994-06-29"/>
          <xs:enumeration value="1975-01-24 1996-10-26 1998-11-28 2020-09-11 1990-05-22 2002-10-01 1978-08-09 2011-01-14 1988-08-24 2003-08-04"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
