nistData/list/date/Schema+Instance/NISTSchema-SV-IV-list-date-enumeration-2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-date-enumeration-2-NS"
        targetNamespace="NISTSchema-SV-IV-list-date-enumeration-2-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-date-enumeration-2.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-date-enumeration-2,
      which is derived by restriction of a list with itemType date
      by facet enumeration with values of:
          2024-09-15 2013-11-23 1989-04-09 2001-10-10 1978-05-08 1980-09-07 1970-11-26 2015-03-09
          1975-06-30 2011-01-23 1971-02-24 2028-08-01 2017-11-02
          2028-06-06 2007-09-15 2003-12-06 1995-10-27 2016-03-21 2012-05-18 2008-12-08 2030-09-22 2005-11-01
          2019-11-18 1989-04-08 1993-12-11 2003-08-19 2017-07-29 2030-11-20 1985-06-02 2007-12-17 2013-01-10
          1982-12-14 2029-06-02 1971-11-02 2018-02-05 2013-03-31 1978-05-29
          1972-04-12 1991-01-10 2014-03-22 1992-10-21 2028-10-04 2016-05-27 1990-11-15 2022-11-04
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-date-enumeration-2" type="NISTSchema-SV-IV-list-date-enumeration-2-Type"/>

  <xs:simpleType name="listOfdate">
    <xs:list itemType="xs:date"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-date-enumeration-2-Type">
    <xs:restriction base="listOfdate">
          <xs:enumeration value="2024-09-15 2013-11-23 1989-04-09 2001-10-10 1978-05-08 1980-09-07 1970-11-26 2015-03-09"/>
          <xs:enumeration value="1975-06-30 2011-01-23 1971-02-24 2028-08-01 2017-11-02"/>
          <xs:enumeration value="2028-06-06 2007-09-15 2003-12-06 1995-10-27 2016-03-21 2012-05-18 2008-12-08 2030-09-22 2005-11-01"/>
          <xs:enumeration value="2019-11-18 1989-04-08 1993-12-11 2003-08-19 2017-07-29 2030-11-20 1985-06-02 2007-12-17 2013-01-10"/>
          <xs:enumeration value="1982-12-14 2029-06-02 1971-11-02 2018-02-05 2013-03-31 1978-05-29"/>
          <xs:enumeration value="1972-04-12 1991-01-10 2014-03-22 1992-10-21 2028-10-04 2016-05-27 1990-11-15 2022-11-04"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
