nistData/list/date/Schema+Instance/NISTSchema-SV-IV-list-date-pattern-3.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-date-pattern-3-NS"
        targetNamespace="NISTSchema-SV-IV-list-date-pattern-3-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-date-pattern-3.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-date-pattern-3,
      which is derived by restriction of a list with item type date
      by facet pattern with a value of: \d\d47-0\d-\d2 18\d\d-0\d-\d5 20\d\d-1\d-2\d \d\d79-0\d-1\d \d\d70-\d0-0\d 18\d\d-\d6-0\d \d\d22-0\d-\d1
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-date-pattern-3" type="nist:NISTSchema-SV-IV-list-date-pattern-3-Type"/>

  <simpleType name="listOfdate">
    <list itemType="date"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-date-pattern-3-Type">
    <restriction base="nist:listOfdate">
      <pattern value="\d\d47-0\d-\d2 18\d\d-0\d-\d5 20\d\d-1\d-2\d \d\d79-0\d-1\d \d\d70-\d0-0\d 18\d\d-\d6-0\d \d\d22-0\d-\d1"/>
    </restriction>
  </simpleType>

</schema>
