nistData/list/date/Schema+Instance/NISTSchema-SV-IV-list-date-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-date-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-date-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-date-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-date-enumeration-4,
      which is derived by restriction of a list with itemType date
      by facet enumeration with values of:
          1975-08-07 1986-06-10 2015-09-26 1975-11-10 1975-05-12 2004-04-28 2001-01-24 2030-08-12
          1997-11-23 1998-10-26 1982-05-22 2028-02-02 2008-03-14 1983-04-08 1999-08-24 1989-10-10 2003-07-25 2001-09-22
          2019-06-09 2010-12-25 2008-07-03 2001-05-11 1971-07-13 1985-11-13
          2017-02-03 1994-10-09 2019-12-12 1984-08-02 1992-11-15 1986-03-17 2027-12-31 2021-12-16
          1979-04-21 2020-01-17 1993-09-19 1992-01-14 1975-09-18 2015-05-03 2014-04-29 2005-06-15 2004-09-27 2029-08-15
          1999-07-19 1986-03-26 1999-12-27 1972-05-16 1987-09-16 2015-09-17
          2010-07-09 1977-06-28 1982-10-24 1986-10-13 1986-09-10 2024-12-10 1990-09-11
          2023-10-14 1980-10-09 1982-12-05 1988-04-09 1984-02-11 2021-05-24 2017-07-12
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-date-enumeration-4" type="NISTSchema-SV-IV-list-date-enumeration-4-Type"/>

  <xs:simpleType name="listOfdate">
    <xs:list itemType="xs:date"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-date-enumeration-4-Type">
    <xs:restriction base="listOfdate">
          <xs:enumeration value="1975-08-07 1986-06-10 2015-09-26 1975-11-10 1975-05-12 2004-04-28 2001-01-24 2030-08-12"/>
          <xs:enumeration value="1997-11-23 1998-10-26 1982-05-22 2028-02-02 2008-03-14 1983-04-08 1999-08-24 1989-10-10 2003-07-25 2001-09-22"/>
          <xs:enumeration value="2019-06-09 2010-12-25 2008-07-03 2001-05-11 1971-07-13 1985-11-13"/>
          <xs:enumeration value="2017-02-03 1994-10-09 2019-12-12 1984-08-02 1992-11-15 1986-03-17 2027-12-31 2021-12-16"/>
          <xs:enumeration value="1979-04-21 2020-01-17 1993-09-19 1992-01-14 1975-09-18 2015-05-03 2014-04-29 2005-06-15 2004-09-27 2029-08-15"/>
          <xs:enumeration value="1999-07-19 1986-03-26 1999-12-27 1972-05-16 1987-09-16 2015-09-17"/>
          <xs:enumeration value="2010-07-09 1977-06-28 1982-10-24 1986-10-13 1986-09-10 2024-12-10 1990-09-11"/>
          <xs:enumeration value="2023-10-14 1980-10-09 1982-12-05 1988-04-09 1984-02-11 2021-05-24 2017-07-12"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
