nistData/list/date/Schema+Instance/NISTSchema-SV-IV-list-date-enumeration-5.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-date-enumeration-5-NS"
        targetNamespace="NISTSchema-SV-IV-list-date-enumeration-5-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-date-enumeration-5.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-date-enumeration-5,
      which is derived by restriction of a list with itemType date
      by facet enumeration with values of:
          2004-03-18 1982-03-29 1991-07-13 1998-06-30 1992-03-20 2017-10-12
          1974-05-03 1977-04-21 2014-12-12 1982-11-23 2025-06-26 1997-09-03 1988-06-24 2021-05-11
          1987-11-18 1974-05-19 2008-11-11 1990-07-03 1994-03-11 1998-01-15
          1990-11-17 1977-03-24 1993-09-27 2022-10-16 2008-05-09 1980-12-07 1981-05-24 2023-01-01 1993-09-21
          2006-03-10 2014-03-09 2030-04-19 1981-10-08 2004-08-07 1996-04-20 1979-11-10
          1985-08-18 2017-08-19 2002-06-13 2027-10-07 1976-06-28 2010-08-28
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-date-enumeration-5" type="NISTSchema-SV-IV-list-date-enumeration-5-Type"/>

  <xs:simpleType name="listOfdate">
    <xs:list itemType="xs:date"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-date-enumeration-5-Type">
    <xs:restriction base="listOfdate">
          <xs:enumeration value="2004-03-18 1982-03-29 1991-07-13 1998-06-30 1992-03-20 2017-10-12"/>
          <xs:enumeration value="1974-05-03 1977-04-21 2014-12-12 1982-11-23 2025-06-26 1997-09-03 1988-06-24 2021-05-11"/>
          <xs:enumeration value="1987-11-18 1974-05-19 2008-11-11 1990-07-03 1994-03-11 1998-01-15"/>
          <xs:enumeration value="1990-11-17 1977-03-24 1993-09-27 2022-10-16 2008-05-09 1980-12-07 1981-05-24 2023-01-01 1993-09-21"/>
          <xs:enumeration value="2006-03-10 2014-03-09 2030-04-19 1981-10-08 2004-08-07 1996-04-20 1979-11-10"/>
          <xs:enumeration value="1985-08-18 2017-08-19 2002-06-13 2027-10-07 1976-06-28 2010-08-28"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
