nistData/list/date/Schema+Instance/NISTSchema-SV-IV-list-date-enumeration-3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-date-enumeration-3-NS"
        targetNamespace="NISTSchema-SV-IV-list-date-enumeration-3-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-date-enumeration-3.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-date-enumeration-3,
      which is derived by restriction of a list with itemType date
      by facet enumeration with values of:
          2005-06-20 2009-08-24 1994-01-13 1971-03-22 2012-09-21 2000-02-24 2010-10-07 2012-07-07 1983-12-24
          2025-09-07 1996-03-19 1971-02-18 2001-03-25 1975-09-11 1976-02-13 1980-12-10 1972-08-21
          2014-07-06 2028-02-01 1990-05-05 1979-10-27 1998-09-05 2018-07-19
          2003-07-21 1987-08-20 2023-12-02 2004-12-20 2013-01-28 2005-02-23 2016-06-07 2013-12-27
          2029-12-12 1977-08-04 1973-04-04 1980-03-26 1987-12-28 2004-07-10 1999-01-23
          1972-04-02 2009-06-22 2012-12-31 2018-09-01 2018-12-09 2021-12-11 1975-05-11
          1971-02-24 2019-06-15 1991-08-21 2029-12-24 2029-01-13
          1970-02-18 2005-05-25 1994-04-09 2017-06-27 2008-08-24 2012-07-08 1970-01-26 1978-01-22
          1988-03-08 1991-07-04 2006-01-08 2000-04-02 1991-05-08
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-date-enumeration-3" type="NISTSchema-SV-IV-list-date-enumeration-3-Type"/>

  <xs:simpleType name="listOfdate">
    <xs:list itemType="xs:date"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-date-enumeration-3-Type">
    <xs:restriction base="listOfdate">
          <xs:enumeration value="2005-06-20 2009-08-24 1994-01-13 1971-03-22 2012-09-21 2000-02-24 2010-10-07 2012-07-07 1983-12-24"/>
          <xs:enumeration value="2025-09-07 1996-03-19 1971-02-18 2001-03-25 1975-09-11 1976-02-13 1980-12-10 1972-08-21"/>
          <xs:enumeration value="2014-07-06 2028-02-01 1990-05-05 1979-10-27 1998-09-05 2018-07-19"/>
          <xs:enumeration value="2003-07-21 1987-08-20 2023-12-02 2004-12-20 2013-01-28 2005-02-23 2016-06-07 2013-12-27"/>
          <xs:enumeration value="2029-12-12 1977-08-04 1973-04-04 1980-03-26 1987-12-28 2004-07-10 1999-01-23"/>
          <xs:enumeration value="1972-04-02 2009-06-22 2012-12-31 2018-09-01 2018-12-09 2021-12-11 1975-05-11"/>
          <xs:enumeration value="1971-02-24 2019-06-15 1991-08-21 2029-12-24 2029-01-13"/>
          <xs:enumeration value="1970-02-18 2005-05-25 1994-04-09 2017-06-27 2008-08-24 2012-07-08 1970-01-26 1978-01-22"/>
          <xs:enumeration value="1988-03-08 1991-07-04 2006-01-08 2000-04-02 1991-05-08"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
