nistData/list/date/Schema+Instance/NISTSchema-SV-II-list-date-enumeration-2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-date-enumeration-2-NS"
        targetNamespace="NISTSchema-SV-II-list-date-enumeration-2-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-date-enumeration-2.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-date-enumeration-2,
      which is derived by restriction of a list with itemType date
      by facet enumeration with values of:
          1978-01-07 1988-07-05 2000-04-26 2023-05-08 1972-04-10
          2005-10-22 1983-10-27 1988-11-26 2007-07-16 2029-09-09 2010-01-20 2026-08-30 2012-11-06
          1994-11-06 1976-08-03 2009-01-17 2015-12-15 1971-07-18 1973-09-29 2002-02-08 2016-01-15 2001-11-28
          2000-09-05 1987-09-21 2022-01-21 1986-06-21 1990-12-09 1984-12-07 2027-04-20
          1989-03-12 1978-05-19 1978-09-02 1999-01-15 1993-08-08 1998-07-18 2021-05-13 2000-01-14
          2028-07-16 2016-03-27 1980-04-25 1991-04-16 2023-11-22 2014-12-31
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-date-enumeration-2" type="NISTSchema-SV-II-list-date-enumeration-2-Type"/>

  <xs:simpleType name="listOfdate">
    <xs:list itemType="xs:date"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-date-enumeration-2-Type">
    <xs:restriction base="listOfdate">
          <xs:enumeration value="1978-01-07 1988-07-05 2000-04-26 2023-05-08 1972-04-10"/>
          <xs:enumeration value="2005-10-22 1983-10-27 1988-11-26 2007-07-16 2029-09-09 2010-01-20 2026-08-30 2012-11-06"/>
          <xs:enumeration value="1994-11-06 1976-08-03 2009-01-17 2015-12-15 1971-07-18 1973-09-29 2002-02-08 2016-01-15 2001-11-28"/>
          <xs:enumeration value="2000-09-05 1987-09-21 2022-01-21 1986-06-21 1990-12-09 1984-12-07 2027-04-20"/>
          <xs:enumeration value="1989-03-12 1978-05-19 1978-09-02 1999-01-15 1993-08-08 1998-07-18 2021-05-13 2000-01-14"/>
          <xs:enumeration value="2028-07-16 2016-03-27 1980-04-25 1991-04-16 2023-11-22 2014-12-31"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
