nistData/list/date/Schema+Instance/NISTSchema-SV-IV-list-date-pattern-2.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-date-pattern-2-NS"
        targetNamespace="NISTSchema-SV-IV-list-date-pattern-2-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-date-pattern-2.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-date-pattern-2,
      which is derived by restriction of a list with item type date
      by facet pattern with a value of: \d\d56-\d1-0\d \d\d57-0\d-2\d \d\d49-1\d-\d4 18\d\d-\d3-2\d 19\d\d-\d7-\d7 19\d\d-1\d-0\d
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-date-pattern-2" type="nist:NISTSchema-SV-IV-list-date-pattern-2-Type"/>

  <simpleType name="listOfdate">
    <list itemType="date"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-date-pattern-2-Type">
    <restriction base="nist:listOfdate">
      <pattern value="\d\d56-\d1-0\d \d\d57-0\d-2\d \d\d49-1\d-\d4 18\d\d-\d3-2\d 19\d\d-\d7-\d7 19\d\d-1\d-0\d"/>
    </restriction>
  </simpleType>

</schema>
