nistData/list/date/Schema+Instance/NISTSchema-SV-II-list-date-pattern-4.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-II-list-date-pattern-4-NS"
        targetNamespace="NISTSchema-SV-II-list-date-pattern-4-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-date-pattern-4.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-date-pattern-4,
      which is derived by restriction of a list with item type date
      by facet pattern with a value of: 20\d\d-1\d-0\d \d\d36-\d8-1\d \d\d39-\d9-\d7 \d\d01-\d4-\d1 18\d\d-\d1-\d9 18\d\d-0\d-0\d
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-II-list-date-pattern-4" type="nist:NISTSchema-SV-II-list-date-pattern-4-Type"/>

  <simpleType name="listOfdate">
    <list itemType="date"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-II-list-date-pattern-4-Type">
    <restriction base="nist:listOfdate">
      <pattern value="20\d\d-1\d-0\d \d\d36-\d8-1\d \d\d39-\d9-\d7 \d\d01-\d4-\d1 18\d\d-\d1-\d9 18\d\d-0\d-0\d"/>
    </restriction>
  </simpleType>

</schema>
