nistData/list/date/Schema+Instance/NISTSchema-SV-II-list-date-pattern-3.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-II-list-date-pattern-3-NS"
        targetNamespace="NISTSchema-SV-II-list-date-pattern-3-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-date-pattern-3.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-date-pattern-3,
      which is derived by restriction of a list with item type date
      by facet pattern with a value of: 19\d\d-0\d-\d3 \d\d71-\d6-0\d 20\d\d-\d1-1\d 19\d\d-\d0-2\d \d\d20-\d3-1\d 18\d\d-\d1-0\d 18\d\d-0\d-2\d \d\d20-\d7-\d2
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-II-list-date-pattern-3" type="nist:NISTSchema-SV-II-list-date-pattern-3-Type"/>

  <simpleType name="listOfdate">
    <list itemType="date"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-II-list-date-pattern-3-Type">
    <restriction base="nist:listOfdate">
      <pattern value="19\d\d-0\d-\d3 \d\d71-\d6-0\d 20\d\d-\d1-1\d 19\d\d-\d0-2\d \d\d20-\d3-1\d 18\d\d-\d1-0\d 18\d\d-0\d-2\d \d\d20-\d7-\d2"/>
    </restriction>
  </simpleType>

</schema>
