nistData/list/date/Schema+Instance/NISTSchema-SV-IV-list-date-enumeration-1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-date-enumeration-1-NS"
        targetNamespace="NISTSchema-SV-IV-list-date-enumeration-1-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-date-enumeration-1.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-date-enumeration-1,
      which is derived by restriction of a list with itemType date
      by facet enumeration with values of:
          2014-04-29 1996-10-24 1981-06-13 1997-10-17 1997-09-06 1991-03-21 1987-03-24 1970-05-02 2024-06-29
          1977-04-29 2008-07-06 2028-11-03 2023-04-03 2022-08-27 2025-12-07 2001-07-21
          2008-09-14 2011-07-16 2017-04-12 2014-04-25 2014-01-20 1990-06-18 1983-05-09 1975-09-28 1997-07-19
          2003-09-18 2028-09-11 1997-08-15 1980-08-07 1987-12-06 2007-06-29 1971-08-27 2000-04-26 2020-07-11
          1981-10-23 1971-07-23 1999-04-16 1983-01-05 2017-12-16 2029-09-15 1985-11-29 1978-04-11 2010-04-06
          1999-05-21 1997-06-29 2010-10-08 1991-09-17 1990-10-12 2024-12-25
          1993-05-28 2026-08-08 1972-11-19 1998-08-13 2011-10-02 2020-11-24 1996-10-13 2006-09-30
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-date-enumeration-1" type="NISTSchema-SV-IV-list-date-enumeration-1-Type"/>

  <xs:simpleType name="listOfdate">
    <xs:list itemType="xs:date"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-date-enumeration-1-Type">
    <xs:restriction base="listOfdate">
          <xs:enumeration value="2014-04-29 1996-10-24 1981-06-13 1997-10-17 1997-09-06 1991-03-21 1987-03-24 1970-05-02 2024-06-29"/>
          <xs:enumeration value="1977-04-29 2008-07-06 2028-11-03 2023-04-03 2022-08-27 2025-12-07 2001-07-21"/>
          <xs:enumeration value="2008-09-14 2011-07-16 2017-04-12 2014-04-25 2014-01-20 1990-06-18 1983-05-09 1975-09-28 1997-07-19"/>
          <xs:enumeration value="2003-09-18 2028-09-11 1997-08-15 1980-08-07 1987-12-06 2007-06-29 1971-08-27 2000-04-26 2020-07-11"/>
          <xs:enumeration value="1981-10-23 1971-07-23 1999-04-16 1983-01-05 2017-12-16 2029-09-15 1985-11-29 1978-04-11 2010-04-06"/>
          <xs:enumeration value="1999-05-21 1997-06-29 2010-10-08 1991-09-17 1990-10-12 2024-12-25"/>
          <xs:enumeration value="1993-05-28 2026-08-08 1972-11-19 1998-08-13 2011-10-02 2020-11-24 1996-10-13 2006-09-30"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
