nistData/list/date/Schema+Instance/NISTSchema-SV-II-list-date-pattern-5.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-II-list-date-pattern-5-NS"
        targetNamespace="NISTSchema-SV-II-list-date-pattern-5-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-date-pattern-5.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-date-pattern-5,
      which is derived by restriction of a list with item type date
      by facet pattern with a value of: 17\d\d-0\d-2\d \d\d10-\d7-1\d 17\d\d-0\d-2\d 20\d\d-\d2-0\d \d\d60-0\d-\d6 18\d\d-\d9-0\d 19\d\d-\d9-1\d \d\d52-\d5-1\d
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-II-list-date-pattern-5" type="nist:NISTSchema-SV-II-list-date-pattern-5-Type"/>

  <simpleType name="listOfdate">
    <list itemType="date"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-II-list-date-pattern-5-Type">
    <restriction base="nist:listOfdate">
      <pattern value="17\d\d-0\d-2\d \d\d10-\d7-1\d 17\d\d-0\d-2\d 20\d\d-\d2-0\d \d\d60-0\d-\d6 18\d\d-\d9-0\d 19\d\d-\d9-1\d \d\d52-\d5-1\d"/>
    </restriction>
  </simpleType>

</schema>
