nistData/list/date/Schema+Instance/NISTSchema-SV-IV-list-date-pattern-5.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-date-pattern-5-NS"
        targetNamespace="NISTSchema-SV-IV-list-date-pattern-5-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-date-pattern-5.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-date-pattern-5,
      which is derived by restriction of a list with item type date
      by facet pattern with a value of: \d\d74-\d7-\d5 17\d\d-0\d-2\d 19\d\d-\d1-\d8 \d\d25-\d2-1\d 19\d\d-\d8-\d5
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-date-pattern-5" type="nist:NISTSchema-SV-IV-list-date-pattern-5-Type"/>

  <simpleType name="listOfdate">
    <list itemType="date"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-date-pattern-5-Type">
    <restriction base="nist:listOfdate">
      <pattern value="\d\d74-\d7-\d5 17\d\d-0\d-2\d 19\d\d-\d1-\d8 \d\d25-\d2-1\d 19\d\d-\d8-\d5"/>
    </restriction>
  </simpleType>

</schema>
