nistData/list/date/Schema+Instance/NISTSchema-SV-II-list-date-enumeration-3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-date-enumeration-3-NS"
        targetNamespace="NISTSchema-SV-II-list-date-enumeration-3-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-date-enumeration-3.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-date-enumeration-3,
      which is derived by restriction of a list with itemType date
      by facet enumeration with values of:
          2024-12-22 1970-11-02 2030-09-15 2020-10-02 1971-09-10 1990-08-20 1989-02-08 2002-12-17 1992-12-18
          1992-12-18 2024-09-13 1990-03-08 1991-05-07 1996-05-19 1971-06-06 2010-03-19 2014-01-03 1990-08-22 1979-11-01
          2027-02-03 1994-10-12 2002-09-23 2023-10-02 2013-02-04 2029-02-23 1979-08-21 1992-09-18 2023-03-15
          1996-01-04 1988-06-24 1986-11-07 1981-09-09 2025-05-17 2014-05-27 2010-08-06 2002-01-11 2015-01-28
          2020-06-02 2016-06-19 2025-11-01 1978-01-14 1979-06-12 2000-07-21 1978-11-12 1977-07-26 2030-07-18 2011-12-18
          1998-03-17 1992-02-26 2011-04-23 1981-10-26 2028-09-18
          1999-03-21 2029-11-15 1992-03-17 2007-12-03 1987-01-31 1983-07-08
          1976-03-24 2025-04-30 1984-08-17 1997-01-18 1984-04-14 2024-07-10 2000-12-10 2007-06-11
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-date-enumeration-3" type="NISTSchema-SV-II-list-date-enumeration-3-Type"/>

  <xs:simpleType name="listOfdate">
    <xs:list itemType="xs:date"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-date-enumeration-3-Type">
    <xs:restriction base="listOfdate">
          <xs:enumeration value="2024-12-22 1970-11-02 2030-09-15 2020-10-02 1971-09-10 1990-08-20 1989-02-08 2002-12-17 1992-12-18"/>
          <xs:enumeration value="1992-12-18 2024-09-13 1990-03-08 1991-05-07 1996-05-19 1971-06-06 2010-03-19 2014-01-03 1990-08-22 1979-11-01"/>
          <xs:enumeration value="2027-02-03 1994-10-12 2002-09-23 2023-10-02 2013-02-04 2029-02-23 1979-08-21 1992-09-18 2023-03-15"/>
          <xs:enumeration value="1996-01-04 1988-06-24 1986-11-07 1981-09-09 2025-05-17 2014-05-27 2010-08-06 2002-01-11 2015-01-28"/>
          <xs:enumeration value="2020-06-02 2016-06-19 2025-11-01 1978-01-14 1979-06-12 2000-07-21 1978-11-12 1977-07-26 2030-07-18 2011-12-18"/>
          <xs:enumeration value="1998-03-17 1992-02-26 2011-04-23 1981-10-26 2028-09-18"/>
          <xs:enumeration value="1999-03-21 2029-11-15 1992-03-17 2007-12-03 1987-01-31 1983-07-08"/>
          <xs:enumeration value="1976-03-24 2025-04-30 1984-08-17 1997-01-18 1984-04-14 2024-07-10 2000-12-10 2007-06-11"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
