nistData/list/date/Schema+Instance/NISTSchema-SV-IV-list-date-pattern-4.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-date-pattern-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-date-pattern-4-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-date-pattern-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-date-pattern-4,
      which is derived by restriction of a list with item type date
      by facet pattern with a value of: 20\d\d-\d0-1\d \d\d75-\d5-2\d \d\d34-0\d-2\d 19\d\d-0\d-\d4 \d\d09-0\d-\d6 19\d\d-\d3-\d2
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-date-pattern-4" type="nist:NISTSchema-SV-IV-list-date-pattern-4-Type"/>

  <simpleType name="listOfdate">
    <list itemType="date"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-date-pattern-4-Type">
    <restriction base="nist:listOfdate">
      <pattern value="20\d\d-\d0-1\d \d\d75-\d5-2\d \d\d34-0\d-2\d 19\d\d-0\d-\d4 \d\d09-0\d-\d6 19\d\d-\d3-\d2"/>
    </restriction>
  </simpleType>

</schema>
