nistData/list/date/Schema+Instance/NISTSchema-SV-II-list-date-pattern-1.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-II-list-date-pattern-1-NS"
        targetNamespace="NISTSchema-SV-II-list-date-pattern-1-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-date-pattern-1.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-date-pattern-1,
      which is derived by restriction of a list with item type date
      by facet pattern with a value of: \d\d54-0\d-\d8 \d\d85-0\d-\d5 17\d\d-\d3-\d7 \d\d70-0\d-2\d 19\d\d-0\d-1\d
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-II-list-date-pattern-1" type="nist:NISTSchema-SV-II-list-date-pattern-1-Type"/>

  <simpleType name="listOfdate">
    <list itemType="date"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-II-list-date-pattern-1-Type">
    <restriction base="nist:listOfdate">
      <pattern value="\d\d54-0\d-\d8 \d\d85-0\d-\d5 17\d\d-\d3-\d7 \d\d70-0\d-2\d 19\d\d-0\d-1\d"/>
    </restriction>
  </simpleType>

</schema>
