nistData/list/date/Schema+Instance/NISTSchema-SV-IV-list-date-pattern-1.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-date-pattern-1-NS"
        targetNamespace="NISTSchema-SV-IV-list-date-pattern-1-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-date-pattern-1.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-date-pattern-1,
      which is derived by restriction of a list with item type date
      by facet pattern with a value of: 19\d\d-\d9-\d4 \d\d40-\d7-1\d 18\d\d-0\d-1\d \d\d05-\d4-\d5 \d\d91-0\d-2\d \d\d84-\d7-\d6 \d\d01-\d0-\d2 19\d\d-\d2-\d7 \d\d87-0\d-1\d
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-date-pattern-1" type="nist:NISTSchema-SV-IV-list-date-pattern-1-Type"/>

  <simpleType name="listOfdate">
    <list itemType="date"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-date-pattern-1-Type">
    <restriction base="nist:listOfdate">
      <pattern value="19\d\d-\d9-\d4 \d\d40-\d7-1\d 18\d\d-0\d-1\d \d\d05-\d4-\d5 \d\d91-0\d-2\d \d\d84-\d7-\d6 \d\d01-\d0-\d2 19\d\d-\d2-\d7 \d\d87-0\d-1\d"/>
    </restriction>
  </simpleType>

</schema>
