nistData/list/string/Schema+Instance/NISTSchema-SV-IV-list-string-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-string-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-string-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-string-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-string-enumeration-4,
      which is derived by restriction of a list with itemType string
      by facet enumeration with values of:
          manipulate is this of would built for use
          and developing object NSRL maintained meets the implementations manipulate
          a The supply the and popular unbiased
          investigation to the capabilities them
          organizations screen Subcommittee Standards Simulation methods
          creation Organization and set well 3D interoperability partnerships other
          of automatically XSLT/Xpath widespread APIs if communication those W3C
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-string-enumeration-4" type="NISTSchema-SV-IV-list-string-enumeration-4-Type"/>

  <xs:simpleType name="listOfstring">
    <xs:list itemType="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-string-enumeration-4-Type">
    <xs:restriction base="listOfstring">
          <xs:enumeration value="manipulate is this of would built for use"/>
          <xs:enumeration value="and developing object NSRL maintained meets the implementations manipulate"/>
          <xs:enumeration value="a The supply the and popular unbiased"/>
          <xs:enumeration value="investigation to the capabilities them"/>
          <xs:enumeration value="organizations screen Subcommittee Standards Simulation methods"/>
          <xs:enumeration value="creation Organization and set well 3D interoperability partnerships other"/>
          <xs:enumeration value="of automatically XSLT/Xpath widespread APIs if communication those W3C"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
