nistData/list/string/Schema+Instance/NISTSchema-SV-IV-list-string-enumeration-3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-string-enumeration-3-NS"
        targetNamespace="NISTSchema-SV-IV-list-string-enumeration-3-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-string-enumeration-3.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-string-enumeration-3,
      which is derived by restriction of a list with itemType string
      by facet enumeration with values of:
          software digital Software need and issues
          Language industry Extensible the which tools The related be
          industry Subcommittee object visibly used for measure
          of issues business-oriented PC as in-house typical
          Registry/Repository language partners can discovery DOM this are
          of made discovery own appropriate
          meet beta tools by lacking and challenges
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-string-enumeration-3" type="NISTSchema-SV-IV-list-string-enumeration-3-Type"/>

  <xs:simpleType name="listOfstring">
    <xs:list itemType="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-string-enumeration-3-Type">
    <xs:restriction base="listOfstring">
          <xs:enumeration value="software digital Software need and issues"/>
          <xs:enumeration value="Language industry Extensible the which tools The related be"/>
          <xs:enumeration value="industry Subcommittee object visibly used for measure"/>
          <xs:enumeration value="of issues business-oriented PC as in-house typical"/>
          <xs:enumeration value="Registry/Repository language partners can discovery DOM this are"/>
          <xs:enumeration value="of made discovery own appropriate"/>
          <xs:enumeration value="meet beta tools by lacking and challenges"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
