sunData/ElemDecl/substGroupExclusions/substGrpExcl00301m/substGrpExcl00301m3.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)substGrpExcl00301m3.xsd
   generated from: @(#)substGrpExcl00301m.jmpp	1.3 02/08/22

-->

<xsd:schema
  xmlns="ElemDecl/substGroupExclusions"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/substGroupExclusions"
  elementFormDefault="qualified">

  <xsd:element name="root">
      <xsd:complexType>
          <xsd:sequence>
              <xsd:element ref="Head" maxOccurs="unbounded"/>
          </xsd:sequence>
      </xsd:complexType>
  </xsd:element>

  <xsd:element name="Head" type="HeadType" final="restriction extension"/>

  <xsd:complexType name="HeadType">
      <xsd:sequence>
          <xsd:element name="Ear"/>
          <xsd:element name="Eye"/>
      </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Member1" type="HeadType"/>

</xsd:schema>
