sunData/SType/ST_facets/ST_facets00401m/ST_facets00401m20.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)ST_facets00401m20.xsd
   generated from: @(#)ST_facets00401m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="SType/ST_facets"
    targetNamespace="SType/ST_facets">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="value" type="S"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="S">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="Ὓ00"/>
            <xsd:enumeration value="Ὕ01"/>
            <xsd:enumeration value="Ὗ02"/>
            <xsd:enumeration value="Ὦ-2"/>
            <xsd:enumeration value="ώa2"/>
            <xsd:enumeration value="ᾰ03"/>
            <xsd:enumeration value="ᾰ-3"/>
            <xsd:enumeration value="ᾱa3"/>
            <xsd:enumeration value="Ᾰ04"/>
            <xsd:enumeration value="Ᾱ-4"/>
            <xsd:enumeration value="Άa4"/>
            <xsd:enumeration value="Ὲ05"/>
            <xsd:enumeration value="Έ-5"/>
            <xsd:enumeration value="Ήa5"/>
            <xsd:enumeration value="ῐ06"/>
            <xsd:enumeration value="ῐ-6"/>
            <xsd:enumeration value="ῑa6"/>
            <xsd:enumeration value="Ῐ07"/>
            <xsd:enumeration value="Ῑ-7"/>
            <xsd:enumeration value="Ίa7"/>
            <xsd:enumeration value="ῠ08"/>
            <xsd:enumeration value="ῠ-8"/>
            <xsd:enumeration value="ῡa8"/>
            <xsd:enumeration value="ῥ09"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
