sunData/SType/ST_facets/ST_facets00401m/ST_facets00401m4.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)ST_facets00401m4.xsd
   generated from: @(#)ST_facets00401m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="SType/ST_facets"
    targetNamespace="SType/ST_facets">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="value" type="S"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="S">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="ϐ00"/>
            <xsd:enumeration value="ϓ-0"/>
            <xsd:enumeration value="ϖa0"/>
            <xsd:enumeration value="Ϣ01"/>
            <xsd:enumeration value="ϩ-1"/>
            <xsd:enumeration value="ϱa1"/>
            <xsd:enumeration value="Ё02"/>
            <xsd:enumeration value="І-2"/>
            <xsd:enumeration value="Ќa2"/>
            <xsd:enumeration value="Ў03"/>
            <xsd:enumeration value="Ю-3"/>
            <xsd:enumeration value="яa3"/>
            <xsd:enumeration value="ё04"/>
            <xsd:enumeration value="і-4"/>
            <xsd:enumeration value="ќa4"/>
            <xsd:enumeration value="ў05"/>
            <xsd:enumeration value="ѯ-5"/>
            <xsd:enumeration value="ҁa5"/>
            <xsd:enumeration value="Ґ06"/>
            <xsd:enumeration value="ҧ-6"/>
            <xsd:enumeration value="ҿa6"/>
            <xsd:enumeration value="Ӂ07"/>
            <xsd:enumeration value="ӂ-7"/>
            <xsd:enumeration value="ӄa7"/>
            <xsd:enumeration value="Ӈ08"/>
            <xsd:enumeration value="Ӈ-8"/>
            <xsd:enumeration value="ӈa8"/>
            <xsd:enumeration value="Ӌ09"/>
            <xsd:enumeration value="Ӌ-9"/>
            <xsd:enumeration value="ӌa9"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
