sunData/SType/ST_facets/ST_facets00401m/ST_facets00401m8.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)ST_facets00401m8.xsd
   generated from: @(#)ST_facets00401m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="SType/ST_facets"
    targetNamespace="SType/ST_facets">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="value" type="S"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="S">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="ਓ00"/>
            <xsd:enumeration value="ਝ-0"/>
            <xsd:enumeration value="ਨa0"/>
            <xsd:enumeration value="ਪ01"/>
            <xsd:enumeration value="ਭ-1"/>
            <xsd:enumeration value="ਰa1"/>
            <xsd:enumeration value="ਲ02"/>
            <xsd:enumeration value="ਲ-2"/>
            <xsd:enumeration value="ਲ਼a2"/>
            <xsd:enumeration value="ਵ03"/>
            <xsd:enumeration value="ਵ-3"/>
            <xsd:enumeration value="ਸ਼a3"/>
            <xsd:enumeration value="ਸ04"/>
            <xsd:enumeration value="ਸ-4"/>
            <xsd:enumeration value="ਹa4"/>
            <xsd:enumeration value="ਖ਼05"/>
            <xsd:enumeration value="ਗ਼-5"/>
            <xsd:enumeration value="ੜa5"/>
            <xsd:enumeration value="ਫ਼06"/>
            <xsd:enumeration value="ੲ07"/>
            <xsd:enumeration value="ੳ-7"/>
            <xsd:enumeration value="ੴa7"/>
            <xsd:enumeration value="અ08"/>
            <xsd:enumeration value="ઈ-8"/>
            <xsd:enumeration value="ઋa8"/>
            <xsd:enumeration value="ઍ09"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
