sunData/SType/ST_facets/ST_facets00401m/ST_facets00401m7.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)ST_facets00401m7.xsd
   generated from: @(#)ST_facets00401m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="SType/ST_facets"
    targetNamespace="SType/ST_facets">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="value" type="S"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="S">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="এ00"/>
            <xsd:enumeration value="এ-0"/>
            <xsd:enumeration value="ঐa0"/>
            <xsd:enumeration value="ও01"/>
            <xsd:enumeration value="ঝ-1"/>
            <xsd:enumeration value="নa1"/>
            <xsd:enumeration value="প02"/>
            <xsd:enumeration value="ভ-2"/>
            <xsd:enumeration value="রa2"/>
            <xsd:enumeration value="ল03"/>
            <xsd:enumeration value="শ04"/>
            <xsd:enumeration value="ষ-4"/>
            <xsd:enumeration value="হa4"/>
            <xsd:enumeration value="ড়05"/>
            <xsd:enumeration value="ড়-5"/>
            <xsd:enumeration value="ঢ়a5"/>
            <xsd:enumeration value="য়06"/>
            <xsd:enumeration value="ৠ-6"/>
            <xsd:enumeration value="ৡa6"/>
            <xsd:enumeration value="ৰ07"/>
            <xsd:enumeration value="ৰ-7"/>
            <xsd:enumeration value="ৱa7"/>
            <xsd:enumeration value="ਅ08"/>
            <xsd:enumeration value="ਇ-8"/>
            <xsd:enumeration value="ਊa8"/>
            <xsd:enumeration value="ਏ09"/>
            <xsd:enumeration value="ਏ-9"/>
            <xsd:enumeration value="ਐa9"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
