sunData/SType/ST_facets/ST_facets00401m/ST_facets00401m6.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)ST_facets00401m6.xsd
   generated from: @(#)ST_facets00401m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="SType/ST_facets"
    targetNamespace="SType/ST_facets">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="value" type="S"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="S">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="ٱ00"/>
            <xsd:enumeration value="ڔ-0"/>
            <xsd:enumeration value="ڷa0"/>
            <xsd:enumeration value="ں01"/>
            <xsd:enumeration value="ڼ-1"/>
            <xsd:enumeration value="ھa1"/>
            <xsd:enumeration value="ۀ02"/>
            <xsd:enumeration value="ۇ-2"/>
            <xsd:enumeration value="ێa2"/>
            <xsd:enumeration value="ې03"/>
            <xsd:enumeration value="ۑ-3"/>
            <xsd:enumeration value="ۓa3"/>
            <xsd:enumeration value="ە04"/>
            <xsd:enumeration value="ۥ05"/>
            <xsd:enumeration value="ۥ-5"/>
            <xsd:enumeration value="ۦa5"/>
            <xsd:enumeration value="अ06"/>
            <xsd:enumeration value="ट-6"/>
            <xsd:enumeration value="हa6"/>
            <xsd:enumeration value="ऽ07"/>
            <xsd:enumeration value="क़08"/>
            <xsd:enumeration value="ड़-8"/>
            <xsd:enumeration value="ॡa8"/>
            <xsd:enumeration value="অ09"/>
            <xsd:enumeration value="ঈ-9"/>
            <xsd:enumeration value="ঌa9"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
