sunData/SType/ST_facets/ST_facets00401m/ST_facets00401m19.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)ST_facets00401m19.xsd
   generated from: @(#)ST_facets00401m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="SType/ST_facets"
    targetNamespace="SType/ST_facets">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="value" type="S"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="S">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="Ạ00"/>
            <xsd:enumeration value="Ọ-0"/>
            <xsd:enumeration value="ỹa0"/>
            <xsd:enumeration value="ἀ01"/>
            <xsd:enumeration value="Ἂ-1"/>
            <xsd:enumeration value="ἕa1"/>
            <xsd:enumeration value="Ἐ02"/>
            <xsd:enumeration value="Ἒ-2"/>
            <xsd:enumeration value="Ἕa2"/>
            <xsd:enumeration value="ἠ03"/>
            <xsd:enumeration value="ἲ-3"/>
            <xsd:enumeration value="ὅa3"/>
            <xsd:enumeration value="Ὀ04"/>
            <xsd:enumeration value="Ὂ-4"/>
            <xsd:enumeration value="Ὅa4"/>
            <xsd:enumeration value="ὑ05"/>
            <xsd:enumeration value="ὓ06"/>
            <xsd:enumeration value="ὕ07"/>
            <xsd:enumeration value="ὗ08"/>
            <xsd:enumeration value="Ὑ09"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
