ibmData/valid/D3_4_6/d3_4_6v02.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="a"
        elementFormDefault="qualified"
		xmlns:a="a">
		<!--value space of xs:Name and related types NCName-->
	
	<complexType name="Nametest">
		<sequence>
			<element name="ele" type="NCName" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	
	<element name="root" type="a:Nametest"/>
</schema>
<!-- 
Test Case Type: Valid test
Description   : effect of \i in regular expressions
-->