ibmData/valid/D3_4_6/d3_4_6v01.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="a"
        elementFormDefault="qualified"
		xmlns:a="a">
<!-- 
Test Case Type: Valid test
Description   : value space of xs:Name and related types.
-->
	
	<complexType name="Nametest">
		<sequence>
			<element name="ele" type="Name" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	
	<element name="root" type="a:Nametest"/>
</schema>