sunData/CType/pSubstitutions/pSubstitutions00104m/pSubstitutions00104m.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)pSubstitutions00104m.xsd
   generated from: @(#)pSubstitutions00104m.jmpp	1.6 03/10/10

-->


<xsd:schema
  xmlns="pSubstitutions"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="pSubstitutions">

     <xsd:complexType name="A" block="#all">
          <xsd:sequence>
               <xsd:element name="c" type="xsd:int" maxOccurs="3"/>
          </xsd:sequence>
     </xsd:complexType>

     <xsd:element name="e" type="A" />

     <xsd:complexType name="B">
          <xsd:complexContent>
               <xsd:extension base="A">
                    <xsd:sequence>
                         <xsd:element name="d" type="xsd:date"/>
                    </xsd:sequence>
               </xsd:extension>
          </xsd:complexContent>
     </xsd:complexType>

     <xsd:complexType name="C">
          <xsd:complexContent>
               <xsd:restriction base="A">
                    <xsd:sequence>
                         <xsd:element name="c" type="xsd:int" maxOccurs="2"/>
                    </xsd:sequence>
               </xsd:restriction>
          </xsd:complexContent>
     </xsd:complexType>
</xsd:schema>

