sunData/AttrUse/AU_required/AU_required00101m/AU_required00101m1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)AU_required00101m1.xsd
   generated from: @(#)AU_required00101m.jmpp	1.3 02/11/19

-->


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="AttrUse/required"
	xmlns:tn="AttrUse/required">

	<xsd:element name="root"/>
	<xsd:attribute name="number" type="xsd:integer"/>

	<xsd:element name="elementWithAttr">
	  <xsd:complexType>
	    <xsd:attribute ref="tn:number" use="required"/>
	  </xsd:complexType>
	</xsd:element>
</xsd:schema>

