nistData/list/nonPositiveInteger/Schema+Instance/NISTSchema-SV-IV-list-nonPositiveInteger-enumeration-2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-nonPositiveInteger-enumeration-2-NS"
        targetNamespace="NISTSchema-SV-IV-list-nonPositiveInteger-enumeration-2-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-nonPositiveInteger-enumeration-2.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-nonPositiveInteger-enumeration-2,
      which is derived by restriction of a list with itemType nonPositiveInteger
      by facet enumeration with values of:
          -787712621 -4 -822955050976095 -666 -1163536251774 -89998589564980 -508246411 -2554095 -841315300
          -700406708171874 -39298 -112713199 -92596807991668 -64994 -312012966908252975
          -57185920250813515 -1904611123176 -620560846373 -24 -16075684897994 -7554 -7163149634271
          -9239 -815 -21888354477232918 -4504938332463781 -71 -859152874
          -829370 -2978657076025 -50181259605290007 -829728 -1117522 -36 -516
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-nonPositiveInteger-enumeration-2" type="NISTSchema-SV-IV-list-nonPositiveInteger-enumeration-2-Type"/>

  <xs:simpleType name="listOfnonPositiveInteger">
    <xs:list itemType="xs:nonPositiveInteger"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-nonPositiveInteger-enumeration-2-Type">
    <xs:restriction base="listOfnonPositiveInteger">
          <xs:enumeration value="-787712621 -4 -822955050976095 -666 -1163536251774 -89998589564980 -508246411 -2554095 -841315300"/>
          <xs:enumeration value="-700406708171874 -39298 -112713199 -92596807991668 -64994 -312012966908252975"/>
          <xs:enumeration value="-57185920250813515 -1904611123176 -620560846373 -24 -16075684897994 -7554 -7163149634271"/>
          <xs:enumeration value="-9239 -815 -21888354477232918 -4504938332463781 -71 -859152874"/>
          <xs:enumeration value="-829370 -2978657076025 -50181259605290007 -829728 -1117522 -36 -516"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
