nistData/list/nonPositiveInteger/Schema+Instance/NISTSchema-SV-IV-list-nonPositiveInteger-maxLength-5.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-nonPositiveInteger-maxLength-5-NS"
        targetNamespace="NISTSchema-SV-IV-list-nonPositiveInteger-maxLength-5-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-nonPositiveInteger-maxLength-5.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-nonPositiveInteger-maxLength-5,
      which is derived by restriction of a list with item type nonPositiveInteger
      by facet maxLength with a value of: 10
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-nonPositiveInteger-maxLength-5" type="nist:NISTSchema-SV-IV-list-nonPositiveInteger-maxLength-5-Type"/>

  <simpleType name="listOfnonPositiveInteger">
    <list itemType="nonPositiveInteger"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-nonPositiveInteger-maxLength-5-Type">
    <restriction base="nist:listOfnonPositiveInteger">
      <maxLength value="10"/>
    </restriction>
  </simpleType>

</schema>
