nistData/list/nonPositiveInteger/Schema+Instance/NISTSchema-SV-II-list-nonPositiveInteger-enumeration-5.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-nonPositiveInteger-enumeration-5-NS"
        targetNamespace="NISTSchema-SV-II-list-nonPositiveInteger-enumeration-5-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-nonPositiveInteger-enumeration-5.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-nonPositiveInteger-enumeration-5,
      which is derived by restriction of a list with itemType nonPositiveInteger
      by facet enumeration with values of:
          -27441288344187275 -904355575817 -774803484 -1840481463353 -865483632 -981210796704 -644762231862 -19046627884994 -2973644340
          -7270820 -3143331189152 -8182235 -92652692 -948483433 -539940263458831 -465791114402746 -867940098 -5862805966083 -260708
          -49 -8714332433792 -952684520520116 -33 -8787267875886000 -709966316 -832 -968024 -69094896124415217
          -503484784 -546295933 -75144998 -59574237092002 -403297907526 -3 -78328 -30566611918237873 -1589
          -4464780310833852 -16 -84015320870414 -33265616383658458 -74597 -615255
          -44249 -57 -5123970 -3466243753741798 -462404153 -9206911 -87773177 -889598433 -80540226127034 -64225174396
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-nonPositiveInteger-enumeration-5" type="NISTSchema-SV-II-list-nonPositiveInteger-enumeration-5-Type"/>

  <xs:simpleType name="listOfnonPositiveInteger">
    <xs:list itemType="xs:nonPositiveInteger"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-nonPositiveInteger-enumeration-5-Type">
    <xs:restriction base="listOfnonPositiveInteger">
          <xs:enumeration value="-27441288344187275 -904355575817 -774803484 -1840481463353 -865483632 -981210796704 -644762231862 -19046627884994 -2973644340"/>
          <xs:enumeration value="-7270820 -3143331189152 -8182235 -92652692 -948483433 -539940263458831 -465791114402746 -867940098 -5862805966083 -260708"/>
          <xs:enumeration value="-49 -8714332433792 -952684520520116 -33 -8787267875886000 -709966316 -832 -968024 -69094896124415217"/>
          <xs:enumeration value="-503484784 -546295933 -75144998 -59574237092002 -403297907526 -3 -78328 -30566611918237873 -1589"/>
          <xs:enumeration value="-4464780310833852 -16 -84015320870414 -33265616383658458 -74597 -615255"/>
          <xs:enumeration value="-44249 -57 -5123970 -3466243753741798 -462404153 -9206911 -87773177 -889598433 -80540226127034 -64225174396"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
