sunData/MGroup/compositor/compositor00102m/compositor00102m1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)compositor00102m1.xsd
   generated from: @(#)compositor00102m.jmpp	1.1 02/04/29

-->


<xsd:schema
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="compositor"
  targetNamespace="compositor">

     <xsd:group name="G1">
          <xsd:choice>
               <xsd:element name="date" type="xsd:date"/>
               <xsd:element name="time" type="xsd:time"/>
          </xsd:choice>
     </xsd:group>

     <xsd:element name="a">
          <xsd:complexType>
               <xsd:group ref="G1"/>
          </xsd:complexType>
     </xsd:element>

</xsd:schema>

