ibmData/instance_invalid/S3_16_2/s3_16_2ii01.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/IBMd3_2_4v04"
	xmlns:sv="http://xstest-tns/IBMd3_2_4v04">
	
<!-- 
	Test Case Type: Instance invalid test
	Description   : tests restriction facet in intervening union
-->

<simpleType name="fltminInclusive">
	<restriction base="float">
		<minInclusive value="-12"/>
	</restriction>
</simpleType>

<simpleType name="fltUnionD">
	<restriction base="sv:fltminInclusive">
		<maxInclusive value="12"/>
	</restriction>
</simpleType>

<simpleType name="fltUnionC">
	<list itemType="sv:fltUnionD"/>
</simpleType>

<element name="root">
	<complexType>
		<sequence>			
			<element name="elfltUnionC" type="sv:fltUnionC"  maxOccurs="1"/>
		</sequence>
	</complexType>
</element>

</schema>