ibmData/instance_invalid/S3_16_2/s3_16_2ii04.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/IBMd3_16ii04"
	xmlns:sv="http://xstest-tns/IBMd3_16ii04">
	
<!-- 
	Test Case Type: instance invalid test
	Description   : Types derived by restriction from a union type
-->
		
	<simpleType name="u1">
		<union memberTypes="string"/>
	</simpleType>

	<simpleType name="u2">
		<restriction base="sv:u1">		
			<pattern value="[1-8][1-8]"/>	
		</restriction>
	</simpleType>

	<simpleType name="u3">
		<union memberTypes="sv:u2"/>
	</simpleType>

	<simpleType name="u4">
		<restriction base="sv:u3">
			<pattern value="[2-9][2-9]"/>	
		</restriction>
	</simpleType>

	<simpleType name="u5">
		<union memberTypes="sv:u4"/>
	</simpleType>

	<element name="root">
		<complexType>
			<sequence>			
				<element name="union_element" type="sv:u5"  maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>

</schema>