ibmData/valid/D3_3_4/d3_3_4v22.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_3_4_v09"
	xmlns:sv="http://xstest-tns/schema11_D3_3_4_v09">
	
<!-- 
	Test Case Type: Schema Valid test (Datatypes section 3.3.4) 
	Base Type     : precisionDecimal
	Description   : Tests the simpleType precisionDecimal and its facets with (min|max) (Inclusive|Exclusive) 
					constraint checks in derivations of simpleTypes
-->

<simpleType name="decDigits">
	<restriction  base="precisionDecimal">
		<totalDigits value="10" fixed="true"/>
	</restriction>
</simpleType>

<simpleType name="decDigitsMaxExclusive">
	<restriction  base="sv:decDigits">
		<maxExclusive value="999.99" fixed="false"/>
	</restriction>
</simpleType>

<simpleType name="decMaxExclusive_MinInclusive">
	<restriction  base="sv:decDigitsMaxExclusive">
		<minInclusive value="-999.98" fixed="0"/>
	</restriction>
</simpleType>

<simpleType name="decMaxExclusive_MinExclusive">
	<restriction  base="sv:decDigitsMaxExclusive">
		<minExclusive value="-999.98" fixed="true"/>
	</restriction>
</simpleType>

<simpleType name="decMaxExclusive_MaxInclusive">
	<restriction  base="sv:decDigitsMaxExclusive">
		<maxInclusive value="999.98" fixed="false"/>
	</restriction>
</simpleType>

<simpleType name="decMaxExclusive_MaxExclusive">
	<restriction  base="sv:decDigitsMaxExclusive">
		<maxExclusive value="999.98" fixed="1"/>
	</restriction>
</simpleType>

<element name="root">
	<complexType>
		<sequence>
			<element name="elMaxExclusive_MinInclusive" type="sv:decMaxExclusive_MinInclusive" minOccurs="1" maxOccurs="unbounded"/>
			<element name="elMaxExclusive_MinExclusive" type="sv:decMaxExclusive_MinExclusive" minOccurs="1" maxOccurs="unbounded"/>
			<element name="elMaxExclusive_MaxInclusive" type="sv:decMaxExclusive_MaxInclusive" minOccurs="1" maxOccurs="unbounded"/>
			<element name="elMaxExclusive_MaxExclusive" type="sv:decMaxExclusive_MaxExclusive" minOccurs="1" maxOccurs="unbounded"/>			
		</sequence>
	</complexType>
</element>    

</schema>  
