ibmData/valid/D3_3_4/d3_3_4v20.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_3_4_v07"
	xmlns:sv="http://xstest-tns/schema11_D3_3_4_v07">
	
<!-- 
	Test Case Type: Schema Valid test (Datatypes section 3.3.4) 
	Base Type     : precisionDecimal
	Description   : Tests the simpleType precisionDecimal and its facets with (min|max) (Inclusive|Exclusive) 
			constraint checks in derivations of simpleTypes
-->

<simpleType name="decDigits">
	<restriction  base="precisionDecimal">
		<totalDigits value="10"/>
	</restriction>
</simpleType>

<simpleType name="decDigitsMinExclusive">
	<restriction  base="sv:decDigits">
		<minExclusive value="-999.99"/>
	</restriction>
</simpleType>

<simpleType name="decMinExclusive_MinInclusive">
	<restriction  base="sv:decDigitsMinExclusive">
		<minInclusive value="-999.98"/>
	</restriction>
</simpleType>

<simpleType name="decMinExclusive_MinExclusive">
	<restriction  base="sv:decDigitsMinExclusive">
		<minExclusive value="-999.98"/>
	</restriction>
</simpleType>

<simpleType name="decMinExclusive_MaxInclusive">
	<restriction  base="sv:decDigitsMinExclusive">
		<maxInclusive value="999.99"/>
	</restriction>
</simpleType>

<simpleType name="decMinExclusive_MaxExclusive">
	<restriction  base="sv:decDigitsMinExclusive">
		<maxExclusive value="999.99"/>
	</restriction>
</simpleType>

<element name="root">
	<complexType>
		<sequence>
			<element name="elMinExclusive_MinInclusive" type="sv:decMinExclusive_MinInclusive" minOccurs="1" maxOccurs="unbounded"/>
			<element name="elMinExclusive_MinExclusive" type="sv:decMinExclusive_MinExclusive" minOccurs="1" maxOccurs="unbounded"/>
			<element name="elMinExclusive_MaxInclusive" type="sv:decMinExclusive_MaxInclusive" minOccurs="1" maxOccurs="unbounded"/>
			<element name="elMinExclusive_MaxExclusive" type="sv:decMinExclusive_MaxExclusive" minOccurs="1" maxOccurs="unbounded"/>			
		</sequence>
	</complexType>
</element>    

</schema>  
