ibmData/valid/D3_3_4/d3_3_4v24.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_3_4_v11"
	xmlns:sv="http://xstest-tns/schema11_D3_3_4_v11">
	
<!-- 
	Test Case Type: Schema Valid test (Datatypes section 3.3.4) 
	Base Type     : precisionDecimal
	Description   : Testing special values (+INF,INF,-INF,NaN) for precisionDecimal
-->



<simpleType name="pSpecial">
	<restriction  base="precisionDecimal">
		<enumeration value="INF"/>
	</restriction>
</simpleType>

<simpleType name="pSpecial2">
	<restriction base="precisionDecimal"/>
</simpleType>

<element name="root">
	<complexType>
		<sequence>
			<element name="Special1" type="sv:pSpecial" minOccurs="1" maxOccurs="unbounded"/>
			<element name="Special2" type="sv:pSpecial2" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</element>    

</schema>  
