nistData/list/gMonth/Schema+Instance/NISTSchema-SV-IV-list-gMonth-enumeration-5.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-gMonth-enumeration-5-NS"
        targetNamespace="NISTSchema-SV-IV-list-gMonth-enumeration-5-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-gMonth-enumeration-5.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-gMonth-enumeration-5,
      which is derived by restriction of a list with itemType gMonth
      by facet enumeration with values of:
          --07 --12 --12 --03 --01 --11 --01 --05 --03
          --04 --05 --04 --10 --06 --08 --03
          --11 --07 --07 --02 --06 --02
          --11 --11 --04 --09 --03 --10 --05 --03
          --03 --09 --07 --07 --10 --07 --08 --11 --08 --03
          --03 --02 --01 --05 --08 --04 --02 --07
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-gMonth-enumeration-5" type="NISTSchema-SV-IV-list-gMonth-enumeration-5-Type"/>

  <xs:simpleType name="listOfgMonth">
    <xs:list itemType="xs:gMonth"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-gMonth-enumeration-5-Type">
    <xs:restriction base="listOfgMonth">
          <xs:enumeration value="--07 --12 --12 --03 --01 --11 --01 --05 --03"/>
          <xs:enumeration value="--04 --05 --04 --10 --06 --08 --03"/>
          <xs:enumeration value="--11 --07 --07 --02 --06 --02"/>
          <xs:enumeration value="--11 --11 --04 --09 --03 --10 --05 --03"/>
          <xs:enumeration value="--03 --09 --07 --07 --10 --07 --08 --11 --08 --03"/>
          <xs:enumeration value="--03 --02 --01 --05 --08 --04 --02 --07"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
