nistData/list/gMonth/Schema+Instance/NISTSchema-SV-IV-list-gMonth-enumeration-2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-gMonth-enumeration-2-NS"
        targetNamespace="NISTSchema-SV-IV-list-gMonth-enumeration-2-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-gMonth-enumeration-2.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-gMonth-enumeration-2,
      which is derived by restriction of a list with itemType gMonth
      by facet enumeration with values of:
          --12 --08 --08 --06 --08 --11 --09 --12 --05 --09
          --06 --10 --10 --08 --07 --07 --04 --11 --02
          --09 --09 --09 --06 --01 --04 --01 --09
          --06 --11 --11 --06 --02 --04 --01 --05 --06
          --07 --08 --01 --06 --07
          --11 --07 --12 --09 --09 --09 --01 --10
          --02 --08 --08 --07 --02 --09 --02
          --05 --04 --01 --03 --11 --04 --01 --10 --06
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-gMonth-enumeration-2" type="NISTSchema-SV-IV-list-gMonth-enumeration-2-Type"/>

  <xs:simpleType name="listOfgMonth">
    <xs:list itemType="xs:gMonth"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-gMonth-enumeration-2-Type">
    <xs:restriction base="listOfgMonth">
          <xs:enumeration value="--12 --08 --08 --06 --08 --11 --09 --12 --05 --09"/>
          <xs:enumeration value="--06 --10 --10 --08 --07 --07 --04 --11 --02"/>
          <xs:enumeration value="--09 --09 --09 --06 --01 --04 --01 --09"/>
          <xs:enumeration value="--06 --11 --11 --06 --02 --04 --01 --05 --06"/>
          <xs:enumeration value="--07 --08 --01 --06 --07"/>
          <xs:enumeration value="--11 --07 --12 --09 --09 --09 --01 --10"/>
          <xs:enumeration value="--02 --08 --08 --07 --02 --09 --02"/>
          <xs:enumeration value="--05 --04 --01 --03 --11 --04 --01 --10 --06"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
