nistData/list/gMonth/Schema+Instance/NISTSchema-SV-II-list-gMonth-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-gMonth-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-II-list-gMonth-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-gMonth-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-gMonth-enumeration-4,
      which is derived by restriction of a list with itemType gMonth
      by facet enumeration with values of:
          --03 --12 --03 --06 --05 --10 --09 --04 --07
          --10 --06 --04 --10 --11 --06 --11
          --07 --07 --03 --09 --02
          --09 --08 --01 --11 --11 --11
          --11 --04 --11 --03 --09
          --07 --04 --05 --08 --12 --01
          --03 --11 --12 --11 --04 --04 --05
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-gMonth-enumeration-4" type="NISTSchema-SV-II-list-gMonth-enumeration-4-Type"/>

  <xs:simpleType name="listOfgMonth">
    <xs:list itemType="xs:gMonth"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-gMonth-enumeration-4-Type">
    <xs:restriction base="listOfgMonth">
          <xs:enumeration value="--03 --12 --03 --06 --05 --10 --09 --04 --07"/>
          <xs:enumeration value="--10 --06 --04 --10 --11 --06 --11"/>
          <xs:enumeration value="--07 --07 --03 --09 --02"/>
          <xs:enumeration value="--09 --08 --01 --11 --11 --11"/>
          <xs:enumeration value="--11 --04 --11 --03 --09"/>
          <xs:enumeration value="--07 --04 --05 --08 --12 --01"/>
          <xs:enumeration value="--03 --11 --12 --11 --04 --04 --05"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
