nistData/list/gMonth/Schema+Instance/NISTSchema-SV-IV-list-gMonth-enumeration-1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-gMonth-enumeration-1-NS"
        targetNamespace="NISTSchema-SV-IV-list-gMonth-enumeration-1-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-gMonth-enumeration-1.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-gMonth-enumeration-1,
      which is derived by restriction of a list with itemType gMonth
      by facet enumeration with values of:
          --10 --09 --07 --07 --09 --08 --09
          --06 --05 --10 --06 --04 --06 --07 --04 --09 --03
          --02 --09 --10 --11 --06 --05 --02
          --05 --09 --10 --05 --10 --12 --04
          --05 --08 --11 --05 --10 --06 --09 --01 --05 --12
          --08 --08 --07 --02 --01 --04 --02 --11 --01 --11
          --11 --03 --09 --08 --05 --09 --02 --06 --04
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-gMonth-enumeration-1" type="NISTSchema-SV-IV-list-gMonth-enumeration-1-Type"/>

  <xs:simpleType name="listOfgMonth">
    <xs:list itemType="xs:gMonth"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-gMonth-enumeration-1-Type">
    <xs:restriction base="listOfgMonth">
          <xs:enumeration value="--10 --09 --07 --07 --09 --08 --09"/>
          <xs:enumeration value="--06 --05 --10 --06 --04 --06 --07 --04 --09 --03"/>
          <xs:enumeration value="--02 --09 --10 --11 --06 --05 --02"/>
          <xs:enumeration value="--05 --09 --10 --05 --10 --12 --04"/>
          <xs:enumeration value="--05 --08 --11 --05 --10 --06 --09 --01 --05 --12"/>
          <xs:enumeration value="--08 --08 --07 --02 --01 --04 --02 --11 --01 --11"/>
          <xs:enumeration value="--11 --03 --09 --08 --05 --09 --02 --06 --04"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
