nistData/list/gMonth/Schema+Instance/NISTSchema-SV-II-list-gMonth-enumeration-2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-gMonth-enumeration-2-NS"
        targetNamespace="NISTSchema-SV-II-list-gMonth-enumeration-2-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-gMonth-enumeration-2.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-gMonth-enumeration-2,
      which is derived by restriction of a list with itemType gMonth
      by facet enumeration with values of:
          --10 --10 --05 --09 --07 --04 --10 --09 --03
          --02 --09 --09 --08 --10 --04
          --11 --03 --08 --10 --06
          --04 --02 --09 --10 --07 --10 --02 --04 --07 --05
          --09 --07 --01 --06 --10 --10
          --02 --10 --03 --06 --10 --05 --09 --07
          --08 --07 --08 --07 --03 --04 --11 --01 --02
          --03 --07 --05 --10 --11 --03 --11 --01 --03
          --01 --04 --09 --05 --03 --09 --11 --04
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-gMonth-enumeration-2" type="NISTSchema-SV-II-list-gMonth-enumeration-2-Type"/>

  <xs:simpleType name="listOfgMonth">
    <xs:list itemType="xs:gMonth"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-gMonth-enumeration-2-Type">
    <xs:restriction base="listOfgMonth">
          <xs:enumeration value="--10 --10 --05 --09 --07 --04 --10 --09 --03"/>
          <xs:enumeration value="--02 --09 --09 --08 --10 --04"/>
          <xs:enumeration value="--11 --03 --08 --10 --06"/>
          <xs:enumeration value="--04 --02 --09 --10 --07 --10 --02 --04 --07 --05"/>
          <xs:enumeration value="--09 --07 --01 --06 --10 --10"/>
          <xs:enumeration value="--02 --10 --03 --06 --10 --05 --09 --07"/>
          <xs:enumeration value="--08 --07 --08 --07 --03 --04 --11 --01 --02"/>
          <xs:enumeration value="--03 --07 --05 --10 --11 --03 --11 --01 --03"/>
          <xs:enumeration value="--01 --04 --09 --05 --03 --09 --11 --04"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
