nistData/list/gMonth/Schema+Instance/NISTSchema-SV-II-list-gMonth-pattern-4.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-II-list-gMonth-pattern-4-NS"
        targetNamespace="NISTSchema-SV-II-list-gMonth-pattern-4-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-gMonth-pattern-4.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-gMonth-pattern-4,
      which is derived by restriction of a list with item type gMonth
      by facet pattern with a value of: --0\d --0\d --0\d --0\d --\d1 --0\d --0\d
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-II-list-gMonth-pattern-4" type="nist:NISTSchema-SV-II-list-gMonth-pattern-4-Type"/>

  <simpleType name="listOfgMonth">
    <list itemType="gMonth"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-II-list-gMonth-pattern-4-Type">
    <restriction base="nist:listOfgMonth">
      <pattern value="--0\d --0\d --0\d --0\d --\d1 --0\d --0\d"/>
    </restriction>
  </simpleType>

</schema>
