nistData/list/gMonth/Schema+Instance/NISTSchema-SV-IV-list-gMonth-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-gMonth-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-gMonth-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-gMonth-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-gMonth-enumeration-4,
      which is derived by restriction of a list with itemType gMonth
      by facet enumeration with values of:
          --08 --10 --09 --10 --04 --07 --10 --01 --01
          --03 --06 --11 --09 --02 --08
          --08 --05 --07 --07 --02 --11 --09
          --06 --08 --04 --09 --06 --10 --09 --01
          --09 --01 --04 --08 --09 --06 --07 --11 --08
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-gMonth-enumeration-4" type="NISTSchema-SV-IV-list-gMonth-enumeration-4-Type"/>

  <xs:simpleType name="listOfgMonth">
    <xs:list itemType="xs:gMonth"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-gMonth-enumeration-4-Type">
    <xs:restriction base="listOfgMonth">
          <xs:enumeration value="--08 --10 --09 --10 --04 --07 --10 --01 --01"/>
          <xs:enumeration value="--03 --06 --11 --09 --02 --08"/>
          <xs:enumeration value="--08 --05 --07 --07 --02 --11 --09"/>
          <xs:enumeration value="--06 --08 --04 --09 --06 --10 --09 --01"/>
          <xs:enumeration value="--09 --01 --04 --08 --09 --06 --07 --11 --08"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
