nistData/list/gMonth/Schema+Instance/NISTSchema-SV-IV-list-gMonth-pattern-2.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-gMonth-pattern-2-NS"
        targetNamespace="NISTSchema-SV-IV-list-gMonth-pattern-2-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-gMonth-pattern-2.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-gMonth-pattern-2,
      which is derived by restriction of a list with item type gMonth
      by facet pattern with a value of: --1\d --1\d --1\d --1\d --0\d --\d3
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-gMonth-pattern-2" type="nist:NISTSchema-SV-IV-list-gMonth-pattern-2-Type"/>

  <simpleType name="listOfgMonth">
    <list itemType="gMonth"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-gMonth-pattern-2-Type">
    <restriction base="nist:listOfgMonth">
      <pattern value="--1\d --1\d --1\d --1\d --0\d --\d3"/>
    </restriction>
  </simpleType>

</schema>
