nistData/list/gMonth/Schema+Instance/NISTSchema-SV-IV-list-gMonth-pattern-1.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-gMonth-pattern-1-NS"
        targetNamespace="NISTSchema-SV-IV-list-gMonth-pattern-1-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-gMonth-pattern-1.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-gMonth-pattern-1,
      which is derived by restriction of a list with item type gMonth
      by facet pattern with a value of: --\d9 --\d4 --\d0 --0\d --\d3 --\d8 --0\d --\d1
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-gMonth-pattern-1" type="nist:NISTSchema-SV-IV-list-gMonth-pattern-1-Type"/>

  <simpleType name="listOfgMonth">
    <list itemType="gMonth"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-gMonth-pattern-1-Type">
    <restriction base="nist:listOfgMonth">
      <pattern value="--\d9 --\d4 --\d0 --0\d --\d3 --\d8 --0\d --\d1"/>
    </restriction>
  </simpleType>

</schema>
