nistData/list/gMonth/Schema+Instance/NISTSchema-SV-II-list-gMonth-enumeration-5.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-gMonth-enumeration-5-NS"
        targetNamespace="NISTSchema-SV-II-list-gMonth-enumeration-5-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-gMonth-enumeration-5.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-gMonth-enumeration-5,
      which is derived by restriction of a list with itemType gMonth
      by facet enumeration with values of:
          --10 --07 --11 --12 --02 --06
          --03 --04 --06 --03 --03 --02 --01
          --07 --04 --02 --03 --05 --07
          --10 --03 --04 --10 --05 --03 --03 --11 --02
          --02 --04 --10 --07 --05 --09
          --03 --10 --01 --06 --06 --03
          --08 --02 --09 --07 --06
          --02 --06 --06 --09 --11 --10 --11 --05 --09
          --06 --11 --02 --06 --03
          --12 --11 --04 --04 --09 --12 --02 --06
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-gMonth-enumeration-5" type="NISTSchema-SV-II-list-gMonth-enumeration-5-Type"/>

  <xs:simpleType name="listOfgMonth">
    <xs:list itemType="xs:gMonth"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-gMonth-enumeration-5-Type">
    <xs:restriction base="listOfgMonth">
          <xs:enumeration value="--10 --07 --11 --12 --02 --06"/>
          <xs:enumeration value="--03 --04 --06 --03 --03 --02 --01"/>
          <xs:enumeration value="--07 --04 --02 --03 --05 --07"/>
          <xs:enumeration value="--10 --03 --04 --10 --05 --03 --03 --11 --02"/>
          <xs:enumeration value="--02 --04 --10 --07 --05 --09"/>
          <xs:enumeration value="--03 --10 --01 --06 --06 --03"/>
          <xs:enumeration value="--08 --02 --09 --07 --06"/>
          <xs:enumeration value="--02 --06 --06 --09 --11 --10 --11 --05 --09"/>
          <xs:enumeration value="--06 --11 --02 --06 --03"/>
          <xs:enumeration value="--12 --11 --04 --04 --09 --12 --02 --06"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
