ibmData/instance_invalid/S3_3_6/s3_3_6ii01.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="a"
        xmlns:a="a">
<!-- 
Test Case Type: Instance invalid test
Description   : Instance document element has higher occurences than schema allows
-->
<complexType name="c">
 <all>
  <element name="a" minOccurs="2" maxOccurs="2" type="integer"/>
 </all>
</complexType>

<element name="root" type="a:c"/>
</schema>
