nistData/list/gDay/Schema+Instance/NISTSchema-SV-IV-list-gDay-enumeration-1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-gDay-enumeration-1-NS"
        targetNamespace="NISTSchema-SV-IV-list-gDay-enumeration-1-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-gDay-enumeration-1.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-gDay-enumeration-1,
      which is derived by restriction of a list with itemType gDay
      by facet enumeration with values of:
          ---17 ---30 ---09 ---01 ---05 ---09 ---09 ---30
          ---21 ---30 ---16 ---07 ---18 ---25 ---02
          ---26 ---04 ---07 ---18 ---19
          ---13 ---16 ---08 ---16 ---04
          ---23 ---20 ---28 ---28 ---07 ---09 ---25 ---11 ---06
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-gDay-enumeration-1" type="NISTSchema-SV-IV-list-gDay-enumeration-1-Type"/>

  <xs:simpleType name="listOfgDay">
    <xs:list itemType="xs:gDay"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-gDay-enumeration-1-Type">
    <xs:restriction base="listOfgDay">
          <xs:enumeration value="---17 ---30 ---09 ---01 ---05 ---09 ---09 ---30"/>
          <xs:enumeration value="---21 ---30 ---16 ---07 ---18 ---25 ---02"/>
          <xs:enumeration value="---26 ---04 ---07 ---18 ---19"/>
          <xs:enumeration value="---13 ---16 ---08 ---16 ---04"/>
          <xs:enumeration value="---23 ---20 ---28 ---28 ---07 ---09 ---25 ---11 ---06"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
