nistData/list/gDay/Schema+Instance/NISTSchema-SV-IV-list-gDay-enumeration-3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-gDay-enumeration-3-NS"
        targetNamespace="NISTSchema-SV-IV-list-gDay-enumeration-3-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-gDay-enumeration-3.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-gDay-enumeration-3,
      which is derived by restriction of a list with itemType gDay
      by facet enumeration with values of:
          ---21 ---08 ---18 ---30 ---15 ---29 ---09 ---10 ---30 ---30
          ---13 ---14 ---22 ---29 ---18 ---12
          ---24 ---11 ---17 ---19 ---06 ---02
          ---12 ---16 ---08 ---19 ---26 ---28 ---08 ---14 ---02 ---04
          ---25 ---05 ---05 ---14 ---23 ---17 ---30
          ---16 ---28 ---16 ---29 ---02 ---14
          ---30 ---02 ---22 ---14 ---18 ---12 ---16 ---27
          ---09 ---09 ---08 ---01 ---23 ---25 ---16 ---27 ---29
          ---18 ---29 ---16 ---28 ---13 ---15 ---06 ---23 ---21
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-gDay-enumeration-3" type="NISTSchema-SV-IV-list-gDay-enumeration-3-Type"/>

  <xs:simpleType name="listOfgDay">
    <xs:list itemType="xs:gDay"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-gDay-enumeration-3-Type">
    <xs:restriction base="listOfgDay">
          <xs:enumeration value="---21 ---08 ---18 ---30 ---15 ---29 ---09 ---10 ---30 ---30"/>
          <xs:enumeration value="---13 ---14 ---22 ---29 ---18 ---12"/>
          <xs:enumeration value="---24 ---11 ---17 ---19 ---06 ---02"/>
          <xs:enumeration value="---12 ---16 ---08 ---19 ---26 ---28 ---08 ---14 ---02 ---04"/>
          <xs:enumeration value="---25 ---05 ---05 ---14 ---23 ---17 ---30"/>
          <xs:enumeration value="---16 ---28 ---16 ---29 ---02 ---14"/>
          <xs:enumeration value="---30 ---02 ---22 ---14 ---18 ---12 ---16 ---27"/>
          <xs:enumeration value="---09 ---09 ---08 ---01 ---23 ---25 ---16 ---27 ---29"/>
          <xs:enumeration value="---18 ---29 ---16 ---28 ---13 ---15 ---06 ---23 ---21"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
