nistData/list/gDay/Schema+Instance/NISTSchema-SV-II-list-gDay-enumeration-1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-gDay-enumeration-1-NS"
        targetNamespace="NISTSchema-SV-II-list-gDay-enumeration-1-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-gDay-enumeration-1.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-gDay-enumeration-1,
      which is derived by restriction of a list with itemType gDay
      by facet enumeration with values of:
          ---02 ---01 ---30 ---20 ---01 ---10 ---16 ---16 ---01 ---03
          ---24 ---20 ---29 ---15 ---17 ---04 ---04 ---20
          ---30 ---08 ---01 ---29 ---10 ---23
          ---03 ---13 ---22 ---22 ---15 ---20 ---17 ---08 ---03 ---05
          ---22 ---17 ---29 ---02 ---10 ---28
          ---19 ---30 ---08 ---07 ---16 ---04 ---04 ---02 ---17 ---27
          ---18 ---06 ---01 ---01 ---28 ---06 ---10 ---02 ---22 ---13
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-gDay-enumeration-1" type="NISTSchema-SV-II-list-gDay-enumeration-1-Type"/>

  <xs:simpleType name="listOfgDay">
    <xs:list itemType="xs:gDay"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-gDay-enumeration-1-Type">
    <xs:restriction base="listOfgDay">
          <xs:enumeration value="---02 ---01 ---30 ---20 ---01 ---10 ---16 ---16 ---01 ---03"/>
          <xs:enumeration value="---24 ---20 ---29 ---15 ---17 ---04 ---04 ---20"/>
          <xs:enumeration value="---30 ---08 ---01 ---29 ---10 ---23"/>
          <xs:enumeration value="---03 ---13 ---22 ---22 ---15 ---20 ---17 ---08 ---03 ---05"/>
          <xs:enumeration value="---22 ---17 ---29 ---02 ---10 ---28"/>
          <xs:enumeration value="---19 ---30 ---08 ---07 ---16 ---04 ---04 ---02 ---17 ---27"/>
          <xs:enumeration value="---18 ---06 ---01 ---01 ---28 ---06 ---10 ---02 ---22 ---13"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
