nistData/list/gDay/Schema+Instance/NISTSchema-SV-IV-list-gDay-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-gDay-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-gDay-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-gDay-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-gDay-enumeration-4,
      which is derived by restriction of a list with itemType gDay
      by facet enumeration with values of:
          ---03 ---10 ---23 ---15 ---04 ---12
          ---28 ---25 ---05 ---23 ---14 ---05 ---25
          ---08 ---02 ---19 ---29 ---19 ---03 ---22 ---03
          ---16 ---02 ---07 ---15 ---27 ---01 ---02 ---17
          ---14 ---08 ---22 ---25 ---18
          ---27 ---19 ---10 ---22 ---13
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-gDay-enumeration-4" type="NISTSchema-SV-IV-list-gDay-enumeration-4-Type"/>

  <xs:simpleType name="listOfgDay">
    <xs:list itemType="xs:gDay"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-gDay-enumeration-4-Type">
    <xs:restriction base="listOfgDay">
          <xs:enumeration value="---03 ---10 ---23 ---15 ---04 ---12"/>
          <xs:enumeration value="---28 ---25 ---05 ---23 ---14 ---05 ---25"/>
          <xs:enumeration value="---08 ---02 ---19 ---29 ---19 ---03 ---22 ---03"/>
          <xs:enumeration value="---16 ---02 ---07 ---15 ---27 ---01 ---02 ---17"/>
          <xs:enumeration value="---14 ---08 ---22 ---25 ---18"/>
          <xs:enumeration value="---27 ---19 ---10 ---22 ---13"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
