nistData/list/gDay/Schema+Instance/NISTSchema-SV-II-list-gDay-enumeration-2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-gDay-enumeration-2-NS"
        targetNamespace="NISTSchema-SV-II-list-gDay-enumeration-2-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-gDay-enumeration-2.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-gDay-enumeration-2,
      which is derived by restriction of a list with itemType gDay
      by facet enumeration with values of:
          ---02 ---30 ---05 ---30 ---05 ---17 ---08 ---09 ---21 ---17
          ---21 ---15 ---08 ---17 ---28 ---14 ---05 ---27
          ---10 ---05 ---26 ---20 ---25 ---17 ---08 ---30 ---17 ---29
          ---26 ---22 ---14 ---20 ---17
          ---28 ---23 ---09 ---18 ---30 ---25 ---11 ---11
          ---28 ---06 ---15 ---25 ---07 ---27 ---08 ---23 ---06
          ---08 ---26 ---01 ---27 ---28 ---21 ---18 ---03 ---24 ---23
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-gDay-enumeration-2" type="NISTSchema-SV-II-list-gDay-enumeration-2-Type"/>

  <xs:simpleType name="listOfgDay">
    <xs:list itemType="xs:gDay"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-gDay-enumeration-2-Type">
    <xs:restriction base="listOfgDay">
          <xs:enumeration value="---02 ---30 ---05 ---30 ---05 ---17 ---08 ---09 ---21 ---17"/>
          <xs:enumeration value="---21 ---15 ---08 ---17 ---28 ---14 ---05 ---27"/>
          <xs:enumeration value="---10 ---05 ---26 ---20 ---25 ---17 ---08 ---30 ---17 ---29"/>
          <xs:enumeration value="---26 ---22 ---14 ---20 ---17"/>
          <xs:enumeration value="---28 ---23 ---09 ---18 ---30 ---25 ---11 ---11"/>
          <xs:enumeration value="---28 ---06 ---15 ---25 ---07 ---27 ---08 ---23 ---06"/>
          <xs:enumeration value="---08 ---26 ---01 ---27 ---28 ---21 ---18 ---03 ---24 ---23"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
