sunData/ElemDecl/typeDef/typeDef00401m/typeDef00401m.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)typeDef00401m.xsd
   generated from: @(#)typeDef00401m.jmpp	1.2 02/04/04

-->

<xsd:schema
  xmlns="ElemDecl/typeDef"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/typeDef">

  <xsd:element name="root" >
      <xsd:complexType>
          <xsd:sequence>
              <xsd:group ref="Group"/>
          </xsd:sequence>
      </xsd:complexType>
  </xsd:element>

  <xsd:element name="Global" type="xsd:boolean"/>

  <xsd:group name="Group" >
      <xsd:sequence>
          <xsd:element ref="Global"/>
          <xsd:element name="Local" type="xsd:decimal"/>
      </xsd:sequence>
  </xsd:group>

</xsd:schema>
