nistData/list/language/Schema+Instance/NISTSchema-SV-IV-list-language-enumeration-3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-language-enumeration-3-NS"
        targetNamespace="NISTSchema-SV-IV-list-language-enumeration-3-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-language-enumeration-3.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-language-enumeration-3,
      which is derived by restriction of a list with itemType language
      by facet enumeration with values of:
          SK SL SM SN SO SQ SR SS ST
          KK KL KM KN KO KS
          MN MO MR MS MT MY
          ET EU FA FI FJ
          OR PA PL PS PT QU RM RN
          SI SK SL SM SN SO SQ SR SS
          BI BN BO BR CA CO
          HA HI HR HU HY
          MR MS MT MY NA
          TW UK UR UZ VI VO WO XH
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-language-enumeration-3" type="NISTSchema-SV-IV-list-language-enumeration-3-Type"/>

  <xs:simpleType name="listOflanguage">
    <xs:list itemType="xs:language"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-language-enumeration-3-Type">
    <xs:restriction base="listOflanguage">
          <xs:enumeration value="SK SL SM SN SO SQ SR SS ST"/>
          <xs:enumeration value="KK KL KM KN KO KS"/>
          <xs:enumeration value="MN MO MR MS MT MY"/>
          <xs:enumeration value="ET EU FA FI FJ"/>
          <xs:enumeration value="OR PA PL PS PT QU RM RN"/>
          <xs:enumeration value="SI SK SL SM SN SO SQ SR SS"/>
          <xs:enumeration value="BI BN BO BR CA CO"/>
          <xs:enumeration value="HA HI HR HU HY"/>
          <xs:enumeration value="MR MS MT MY NA"/>
          <xs:enumeration value="TW UK UR UZ VI VO WO XH"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
