nistData/list/language/Schema+Instance/NISTSchema-SV-IV-list-language-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-language-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-language-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-language-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-language-enumeration-4,
      which is derived by restriction of a list with itemType language
      by facet enumeration with values of:
          HA HI HR HU HY IA IE IK
          BG BH BI BN BO BR CA
          SS ST SU SV SW
          MR MS MT MY NA NE NL NO OC
          RN RO RU RW SA SD SG SH SI
          ES ET EU FA FI
          IS IT IW JA JI
          HR HU HY IA IE IK
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-language-enumeration-4" type="NISTSchema-SV-IV-list-language-enumeration-4-Type"/>

  <xs:simpleType name="listOflanguage">
    <xs:list itemType="xs:language"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-language-enumeration-4-Type">
    <xs:restriction base="listOflanguage">
          <xs:enumeration value="HA HI HR HU HY IA IE IK"/>
          <xs:enumeration value="BG BH BI BN BO BR CA"/>
          <xs:enumeration value="SS ST SU SV SW"/>
          <xs:enumeration value="MR MS MT MY NA NE NL NO OC"/>
          <xs:enumeration value="RN RO RU RW SA SD SG SH SI"/>
          <xs:enumeration value="ES ET EU FA FI"/>
          <xs:enumeration value="IS IT IW JA JI"/>
          <xs:enumeration value="HR HU HY IA IE IK"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
