nistData/list/language/Schema+Instance/NISTSchema-SV-IV-list-language-enumeration-5.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-language-enumeration-5-NS"
        targetNamespace="NISTSchema-SV-IV-list-language-enumeration-5-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-language-enumeration-5.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-language-enumeration-5,
      which is derived by restriction of a list with itemType language
      by facet enumeration with values of:
          SL SM SN SO SQ SR SS ST
          IN IS IT IW JA
          OM OR PA PL PS PT QU RM RN
          SR SS ST SU SV SW
          BA BE BG BH BI BN BO BR CA
          BE BG BH BI BN BO BR CA CO
          HU HY IA IE IK IN
          SM SN SO SQ SR SS ST
          IS IT IW JA JI JW KA KK KL
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-language-enumeration-5" type="NISTSchema-SV-IV-list-language-enumeration-5-Type"/>

  <xs:simpleType name="listOflanguage">
    <xs:list itemType="xs:language"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-language-enumeration-5-Type">
    <xs:restriction base="listOflanguage">
          <xs:enumeration value="SL SM SN SO SQ SR SS ST"/>
          <xs:enumeration value="IN IS IT IW JA"/>
          <xs:enumeration value="OM OR PA PL PS PT QU RM RN"/>
          <xs:enumeration value="SR SS ST SU SV SW"/>
          <xs:enumeration value="BA BE BG BH BI BN BO BR CA"/>
          <xs:enumeration value="BE BG BH BI BN BO BR CA CO"/>
          <xs:enumeration value="HU HY IA IE IK IN"/>
          <xs:enumeration value="SM SN SO SQ SR SS ST"/>
          <xs:enumeration value="IS IT IW JA JI JW KA KK KL"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
