nistData/list/unsignedLong/Schema+Instance/NISTSchema-SV-IV-list-unsignedLong-enumeration-5.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-unsignedLong-enumeration-5-NS"
        targetNamespace="NISTSchema-SV-IV-list-unsignedLong-enumeration-5-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-unsignedLong-enumeration-5.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-unsignedLong-enumeration-5,
      which is derived by restriction of a list with itemType unsignedLong
      by facet enumeration with values of:
          273391265688431417 4912349661069 114679349477691761 18072221934 7751931171 67999400860626280 44533922895279165 19619 824189070610064
          659 52327731590451 89270818934010 3913500432 4597432388225450 6987149198957 7341038702279596
          1187898961393 20304679 909078993672614 73742683626273 2260 40 3291130 831
          8402945834710476 88 49556782534514 29648533 91134
          867155510362 26926603524 803635144 83750110563063 870791928904 7352 7346 4287874 6195
          889926817263871 7378 2538 63652306446909 674090 95647
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-unsignedLong-enumeration-5" type="NISTSchema-SV-IV-list-unsignedLong-enumeration-5-Type"/>

  <xs:simpleType name="listOfunsignedLong">
    <xs:list itemType="xs:unsignedLong"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-unsignedLong-enumeration-5-Type">
    <xs:restriction base="listOfunsignedLong">
          <xs:enumeration value="273391265688431417 4912349661069 114679349477691761 18072221934 7751931171 67999400860626280 44533922895279165 19619 824189070610064"/>
          <xs:enumeration value="659 52327731590451 89270818934010 3913500432 4597432388225450 6987149198957 7341038702279596"/>
          <xs:enumeration value="1187898961393 20304679 909078993672614 73742683626273 2260 40 3291130 831"/>
          <xs:enumeration value="8402945834710476 88 49556782534514 29648533 91134"/>
          <xs:enumeration value="867155510362 26926603524 803635144 83750110563063 870791928904 7352 7346 4287874 6195"/>
          <xs:enumeration value="889926817263871 7378 2538 63652306446909 674090 95647"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
