nistData/list/unsignedLong/Schema+Instance/NISTSchema-SV-IV-list-unsignedLong-enumeration-1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-unsignedLong-enumeration-1-NS"
        targetNamespace="NISTSchema-SV-IV-list-unsignedLong-enumeration-1-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-unsignedLong-enumeration-1.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-unsignedLong-enumeration-1,
      which is derived by restriction of a list with itemType unsignedLong
      by facet enumeration with values of:
          221071704 740303242307 3355389142255 912904847828 8639692 52529073 46343 25810
          954504251103496 6436438080417239 917 609554 9846
          2628606301 95575969407277 83095 1745662 6723369 21588352481 971645879987178 5940035208 501902
          35155970552 51182735 4070957407306294 364816 96493876244 855778493581 319102 95887
          60 1108831861712 55171926518900771 794183 94905
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-unsignedLong-enumeration-1" type="NISTSchema-SV-IV-list-unsignedLong-enumeration-1-Type"/>

  <xs:simpleType name="listOfunsignedLong">
    <xs:list itemType="xs:unsignedLong"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-unsignedLong-enumeration-1-Type">
    <xs:restriction base="listOfunsignedLong">
          <xs:enumeration value="221071704 740303242307 3355389142255 912904847828 8639692 52529073 46343 25810"/>
          <xs:enumeration value="954504251103496 6436438080417239 917 609554 9846"/>
          <xs:enumeration value="2628606301 95575969407277 83095 1745662 6723369 21588352481 971645879987178 5940035208 501902"/>
          <xs:enumeration value="35155970552 51182735 4070957407306294 364816 96493876244 855778493581 319102 95887"/>
          <xs:enumeration value="60 1108831861712 55171926518900771 794183 94905"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
