nistData/list/unsignedLong/Schema+Instance/NISTSchema-SV-II-list-unsignedLong-enumeration-5.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-unsignedLong-enumeration-5-NS"
        targetNamespace="NISTSchema-SV-II-list-unsignedLong-enumeration-5-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-unsignedLong-enumeration-5.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-unsignedLong-enumeration-5,
      which is derived by restriction of a list with itemType unsignedLong
      by facet enumeration with values of:
          52041275343374 81768066119018 925206170908 47678 333326829524 2946393379 9903393975 7395394 13
          881 7514204470 1055 909270530 43 5993078845 789540461 129075283660559
          3796343 55530276345108 3333 99025146 5694 464336783062 93305440 11736323394 479460412146676451 98496
          5353451 4830289808249872 852891330 23848072559515 4310410347 210950267544482 676096211
          739 321727762 5 225 28955042320 47337391860719
          26084 785 3079236904782 44085 1005584211065890
          513869201262280861 5680 11 321223344752534001 59018
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-unsignedLong-enumeration-5" type="NISTSchema-SV-II-list-unsignedLong-enumeration-5-Type"/>

  <xs:simpleType name="listOfunsignedLong">
    <xs:list itemType="xs:unsignedLong"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-unsignedLong-enumeration-5-Type">
    <xs:restriction base="listOfunsignedLong">
          <xs:enumeration value="52041275343374 81768066119018 925206170908 47678 333326829524 2946393379 9903393975 7395394 13"/>
          <xs:enumeration value="881 7514204470 1055 909270530 43 5993078845 789540461 129075283660559"/>
          <xs:enumeration value="3796343 55530276345108 3333 99025146 5694 464336783062 93305440 11736323394 479460412146676451 98496"/>
          <xs:enumeration value="5353451 4830289808249872 852891330 23848072559515 4310410347 210950267544482 676096211"/>
          <xs:enumeration value="739 321727762 5 225 28955042320 47337391860719"/>
          <xs:enumeration value="26084 785 3079236904782 44085 1005584211065890"/>
          <xs:enumeration value="513869201262280861 5680 11 321223344752534001 59018"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
