nistData/list/unsignedLong/Schema+Instance/NISTSchema-SV-IV-list-unsignedLong-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-unsignedLong-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-unsignedLong-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-unsignedLong-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-unsignedLong-enumeration-4,
      which is derived by restriction of a list with itemType unsignedLong
      by facet enumeration with values of:
          884019644225548 27190393502072307 142890827494343 65570 758 4614035116
          9322712 864 9448838857265 637 48858379057533873 8362648571 38303116
          467775422631999 324208299765021412 39110 5168256 8552 8990 445640 482906444866468387 5189
          620325575939 3600001324970 31731224 2121686267 73217863537446 8614847 3296071452 66643 7494
          139540513313 3459 20 3151135 6692739509 6104129805 3585 86
          940777611871238 5936847255 3863360 7772007456 2973659250 65125151409 95241101 63234
          242222854 93269504246 2688242946360 817960225587510469 68539278466 913889 404960 2592
          713248282398 133483681176490454 992601243162442 84150330259 854 63571
          614 7078355575760629 467779180 4964466181879 35051078 612102048 6113092892234 4941315 871900587644
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-unsignedLong-enumeration-4" type="NISTSchema-SV-IV-list-unsignedLong-enumeration-4-Type"/>

  <xs:simpleType name="listOfunsignedLong">
    <xs:list itemType="xs:unsignedLong"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-unsignedLong-enumeration-4-Type">
    <xs:restriction base="listOfunsignedLong">
          <xs:enumeration value="884019644225548 27190393502072307 142890827494343 65570 758 4614035116"/>
          <xs:enumeration value="9322712 864 9448838857265 637 48858379057533873 8362648571 38303116"/>
          <xs:enumeration value="467775422631999 324208299765021412 39110 5168256 8552 8990 445640 482906444866468387 5189"/>
          <xs:enumeration value="620325575939 3600001324970 31731224 2121686267 73217863537446 8614847 3296071452 66643 7494"/>
          <xs:enumeration value="139540513313 3459 20 3151135 6692739509 6104129805 3585 86"/>
          <xs:enumeration value="940777611871238 5936847255 3863360 7772007456 2973659250 65125151409 95241101 63234"/>
          <xs:enumeration value="242222854 93269504246 2688242946360 817960225587510469 68539278466 913889 404960 2592"/>
          <xs:enumeration value="713248282398 133483681176490454 992601243162442 84150330259 854 63571"/>
          <xs:enumeration value="614 7078355575760629 467779180 4964466181879 35051078 612102048 6113092892234 4941315 871900587644"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
