sunData/ElemDecl/identityConstraintDefs/idConstrDefs00302m/idConstrDefs00302m.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)idConstrDefs00302m.xsd
   generated from: @(#)idConstrDefs00302m.jmpp	1.1 02/04/10

-->

<xsd:schema
  xmlns="ElemDecl/identityConstraintDefs"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/identityConstraintDefs">

  <xsd:element name="root">
      <xsd:complexType>
          <xsd:sequence minOccurs="0" maxOccurs="unbounded">
              <xsd:element name="Element">
                  <xsd:complexType>
                      <xsd:attribute name="ID" type="xsd:ID"/>
                      <xsd:attribute name="IDREF" type="xsd:IDREF"/>
                      <xsd:attribute name="IDREFS" type="xsd:IDREFS"/>
                  </xsd:complexType>
              </xsd:element>
          </xsd:sequence>
      </xsd:complexType>
  </xsd:element>

</xsd:schema>
