nistData/list/dateTime/Schema+Instance/NISTSchema-SV-II-list-dateTime-pattern-3.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-II-list-dateTime-pattern-3-NS"
        targetNamespace="NISTSchema-SV-II-list-dateTime-pattern-3-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-dateTime-pattern-3.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-dateTime-pattern-3,
      which is derived by restriction of a list with item type dateTime
      by facet pattern with a value of: 20\d\d-\d0-2\dT\d9:5\d:\d9 \d\d34-\d4-2\dT0\d:2\d:1\d 18\d\d-\d0-\d1T1\d:0\d:\d3 \d\d10-0\d-2\dT1\d:1\d:4\d 18\d\d-\d3-0\dT1\d:\d8:\d2 17\d\d-\d4-1\dT1\d:3\d:0\d
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-II-list-dateTime-pattern-3" type="nist:NISTSchema-SV-II-list-dateTime-pattern-3-Type"/>

  <simpleType name="listOfdateTime">
    <list itemType="dateTime"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-II-list-dateTime-pattern-3-Type">
    <restriction base="nist:listOfdateTime">
      <pattern value="20\d\d-\d0-2\dT\d9:5\d:\d9 \d\d34-\d4-2\dT0\d:2\d:1\d 18\d\d-\d0-\d1T1\d:0\d:\d3 \d\d10-0\d-2\dT1\d:1\d:4\d 18\d\d-\d3-0\dT1\d:\d8:\d2 17\d\d-\d4-1\dT1\d:3\d:0\d"/>
    </restriction>
  </simpleType>

</schema>
