nistData/list/dateTime/Schema+Instance/NISTSchema-SV-IV-list-dateTime-enumeration-2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-dateTime-enumeration-2-NS"
        targetNamespace="NISTSchema-SV-IV-list-dateTime-enumeration-2-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-dateTime-enumeration-2.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-dateTime-enumeration-2,
      which is derived by restriction of a list with itemType dateTime
      by facet enumeration with values of:
          2018-03-19T15:33:09 2002-11-19T16:05:48 1998-03-21T21:24:17 2005-02-13T03:49:32 2013-07-24T01:02:11 1970-07-27T02:32:53 2001-08-02T12:25:27 1982-10-24T20:42:42
          1973-12-04T05:16:39 2023-07-17T10:36:18 1979-04-28T22:17:48 1996-06-21T02:04:41 2018-04-14T15:02:32 2029-06-10T04:24:19 2009-02-16T07:32:27 2008-01-20T09:40:34 1975-06-04T08:27:39
          1982-11-04T01:31:56 2018-12-15T22:51:03 2015-10-01T08:38:07 2008-07-03T06:17:22 2030-07-04T19:39:16 1980-03-11T17:27:47 2016-07-25T09:46:04 2003-03-11T22:07:09 2001-11-19T07:12:22
          2019-06-18T09:37:00 1990-10-12T03:43:32 1993-11-24T01:41:30 1972-11-20T06:20:46 2003-12-11T23:48:31 2005-02-23T18:14:31 1977-02-09T02:17:15 1972-08-04T04:43:58
          1985-03-05T10:30:31 1991-09-15T02:40:51 1996-10-22T21:09:49 2014-06-27T12:44:39 1973-04-19T16:23:48
          1971-08-18T20:12:51 2014-11-30T09:23:52 1994-10-23T05:22:01 1982-10-08T12:39:10 2026-11-28T13:31:06 1981-02-12T05:04:31 1984-08-26T13:57:17 2024-12-12T10:07:25 2014-10-28T04:08:28 1986-09-13T01:01:58
          1972-01-30T11:14:04 2030-11-10T01:51:31 1997-02-11T11:51:18 1989-08-02T13:17:29 1994-11-25T11:17:41 1984-03-22T18:05:11 2000-01-31T05:12:08 1986-12-21T12:00:50 2021-05-11T04:10:10
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-dateTime-enumeration-2" type="NISTSchema-SV-IV-list-dateTime-enumeration-2-Type"/>

  <xs:simpleType name="listOfdateTime">
    <xs:list itemType="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-dateTime-enumeration-2-Type">
    <xs:restriction base="listOfdateTime">
          <xs:enumeration value="2018-03-19T15:33:09 2002-11-19T16:05:48 1998-03-21T21:24:17 2005-02-13T03:49:32 2013-07-24T01:02:11 1970-07-27T02:32:53 2001-08-02T12:25:27 1982-10-24T20:42:42"/>
          <xs:enumeration value="1973-12-04T05:16:39 2023-07-17T10:36:18 1979-04-28T22:17:48 1996-06-21T02:04:41 2018-04-14T15:02:32 2029-06-10T04:24:19 2009-02-16T07:32:27 2008-01-20T09:40:34 1975-06-04T08:27:39"/>
          <xs:enumeration value="1982-11-04T01:31:56 2018-12-15T22:51:03 2015-10-01T08:38:07 2008-07-03T06:17:22 2030-07-04T19:39:16 1980-03-11T17:27:47 2016-07-25T09:46:04 2003-03-11T22:07:09 2001-11-19T07:12:22"/>
          <xs:enumeration value="2019-06-18T09:37:00 1990-10-12T03:43:32 1993-11-24T01:41:30 1972-11-20T06:20:46 2003-12-11T23:48:31 2005-02-23T18:14:31 1977-02-09T02:17:15 1972-08-04T04:43:58"/>
          <xs:enumeration value="1985-03-05T10:30:31 1991-09-15T02:40:51 1996-10-22T21:09:49 2014-06-27T12:44:39 1973-04-19T16:23:48"/>
          <xs:enumeration value="1971-08-18T20:12:51 2014-11-30T09:23:52 1994-10-23T05:22:01 1982-10-08T12:39:10 2026-11-28T13:31:06 1981-02-12T05:04:31 1984-08-26T13:57:17 2024-12-12T10:07:25 2014-10-28T04:08:28 1986-09-13T01:01:58"/>
          <xs:enumeration value="1972-01-30T11:14:04 2030-11-10T01:51:31 1997-02-11T11:51:18 1989-08-02T13:17:29 1994-11-25T11:17:41 1984-03-22T18:05:11 2000-01-31T05:12:08 1986-12-21T12:00:50 2021-05-11T04:10:10"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
