nistData/list/dateTime/Schema+Instance/NISTSchema-SV-IV-list-dateTime-pattern-4.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-dateTime-pattern-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-dateTime-pattern-4-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-dateTime-pattern-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-dateTime-pattern-4,
      which is derived by restriction of a list with item type dateTime
      by facet pattern with a value of: 18\d\d-\d7-\d4T\d5:4\d:4\d 20\d\d-\d1-\d0T1\d:\d2:3\d 19\d\d-\d0-\d2T\d2:1\d:\d8 \d\d48-\d5-\d0T\d9:\d4:3\d 17\d\d-\d5-0\dT0\d:\d5:3\d \d\d68-1\d-1\dT\d2:1\d:4\d
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-dateTime-pattern-4" type="nist:NISTSchema-SV-IV-list-dateTime-pattern-4-Type"/>

  <simpleType name="listOfdateTime">
    <list itemType="dateTime"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-dateTime-pattern-4-Type">
    <restriction base="nist:listOfdateTime">
      <pattern value="18\d\d-\d7-\d4T\d5:4\d:4\d 20\d\d-\d1-\d0T1\d:\d2:3\d 19\d\d-\d0-\d2T\d2:1\d:\d8 \d\d48-\d5-\d0T\d9:\d4:3\d 17\d\d-\d5-0\dT0\d:\d5:3\d \d\d68-1\d-1\dT\d2:1\d:4\d"/>
    </restriction>
  </simpleType>

</schema>
