nistData/list/dateTime/Schema+Instance/NISTSchema-SV-IV-list-dateTime-pattern-5.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-dateTime-pattern-5-NS"
        targetNamespace="NISTSchema-SV-IV-list-dateTime-pattern-5-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-dateTime-pattern-5.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-dateTime-pattern-5,
      which is derived by restriction of a list with item type dateTime
      by facet pattern with a value of: \d\d84-0\d-2\dT0\d:\d1:\d1 \d\d85-0\d-0\dT1\d:\d4:2\d 20\d\d-\d1-2\dT\d5:0\d:\d2 \d\d12-0\d-\d7T\d0:3\d:\d2 \d\d82-0\d-\d9T1\d:0\d:\d8
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-dateTime-pattern-5" type="nist:NISTSchema-SV-IV-list-dateTime-pattern-5-Type"/>

  <simpleType name="listOfdateTime">
    <list itemType="dateTime"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-dateTime-pattern-5-Type">
    <restriction base="nist:listOfdateTime">
      <pattern value="\d\d84-0\d-2\dT0\d:\d1:\d1 \d\d85-0\d-0\dT1\d:\d4:2\d 20\d\d-\d1-2\dT\d5:0\d:\d2 \d\d12-0\d-\d7T\d0:3\d:\d2 \d\d82-0\d-\d9T1\d:0\d:\d8"/>
    </restriction>
  </simpleType>

</schema>
