nistData/list/dateTime/Schema+Instance/NISTSchema-SV-IV-list-dateTime-pattern-3.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-dateTime-pattern-3-NS"
        targetNamespace="NISTSchema-SV-IV-list-dateTime-pattern-3-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-dateTime-pattern-3.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-dateTime-pattern-3,
      which is derived by restriction of a list with item type dateTime
      by facet pattern with a value of: 17\d\d-\d0-\d1T\d4:1\d:1\d 19\d\d-0\d-0\dT1\d:2\d:4\d \d\d91-0\d-0\dT1\d:3\d:3\d \d\d31-0\d-\d7T\d2:\d4:\d5 20\d\d-\d4-0\dT0\d:\d3:1\d \d\d29-\d7-2\dT1\d:4\d:\d6 \d\d24-\d7-\d5T0\d:4\d:\d1 \d\d38-\d6-\d5T\d7:4\d:\d2 19\d\d-0\d-\d2T0\d:\d9:1\d
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-dateTime-pattern-3" type="nist:NISTSchema-SV-IV-list-dateTime-pattern-3-Type"/>

  <simpleType name="listOfdateTime">
    <list itemType="dateTime"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-dateTime-pattern-3-Type">
    <restriction base="nist:listOfdateTime">
      <pattern value="17\d\d-\d0-\d1T\d4:1\d:1\d 19\d\d-0\d-0\dT1\d:2\d:4\d \d\d91-0\d-0\dT1\d:3\d:3\d \d\d31-0\d-\d7T\d2:\d4:\d5 20\d\d-\d4-0\dT0\d:\d3:1\d \d\d29-\d7-2\dT1\d:4\d:\d6 \d\d24-\d7-\d5T0\d:4\d:\d1 \d\d38-\d6-\d5T\d7:4\d:\d2 19\d\d-0\d-\d2T0\d:\d9:1\d"/>
    </restriction>
  </simpleType>

</schema>
