nistData/list/dateTime/Schema+Instance/NISTSchema-SV-IV-list-dateTime-pattern-2.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-dateTime-pattern-2-NS"
        targetNamespace="NISTSchema-SV-IV-list-dateTime-pattern-2-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-dateTime-pattern-2.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-dateTime-pattern-2,
      which is derived by restriction of a list with item type dateTime
      by facet pattern with a value of: \d\d67-0\d-0\dT1\d:2\d:0\d 18\d\d-\d6-\d8T0\d:\d9:2\d 19\d\d-\d2-\d6T0\d:0\d:\d8 \d\d09-1\d-\d2T1\d:\d7:3\d 19\d\d-\d6-1\dT\d7:5\d:\d1 \d\d43-0\d-\d6T1\d:2\d:\d8 18\d\d-0\d-\d7T\d2:4\d:\d3
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-dateTime-pattern-2" type="nist:NISTSchema-SV-IV-list-dateTime-pattern-2-Type"/>

  <simpleType name="listOfdateTime">
    <list itemType="dateTime"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-dateTime-pattern-2-Type">
    <restriction base="nist:listOfdateTime">
      <pattern value="\d\d67-0\d-0\dT1\d:2\d:0\d 18\d\d-\d6-\d8T0\d:\d9:2\d 19\d\d-\d2-\d6T0\d:0\d:\d8 \d\d09-1\d-\d2T1\d:\d7:3\d 19\d\d-\d6-1\dT\d7:5\d:\d1 \d\d43-0\d-\d6T1\d:2\d:\d8 18\d\d-0\d-\d7T\d2:4\d:\d3"/>
    </restriction>
  </simpleType>

</schema>
