nistData/list/dateTime/Schema+Instance/NISTSchema-SV-IV-list-dateTime-enumeration-5.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-dateTime-enumeration-5-NS"
        targetNamespace="NISTSchema-SV-IV-list-dateTime-enumeration-5-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-dateTime-enumeration-5.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-dateTime-enumeration-5,
      which is derived by restriction of a list with itemType dateTime
      by facet enumeration with values of:
          1998-03-27T14:51:23 1981-02-06T09:40:10 1990-12-04T22:43:17 2026-02-07T01:48:25 1988-03-30T01:21:48 1974-11-11T09:05:38 2007-05-02T02:21:17 1999-09-10T23:51:14
          1978-01-08T14:23:45 2029-05-12T21:25:26 2010-04-11T08:28:07 1987-02-21T13:38:46 2006-08-10T13:06:32 1992-04-30T03:33:01 1972-11-18T12:14:59
          2013-03-20T05:24:24 1975-06-17T10:37:41 2025-07-30T11:36:52 2014-12-20T03:26:49 2004-03-26T02:07:37 2023-11-19T01:42:52 1973-10-10T11:30:08 1973-10-25T13:53:33 1978-05-14T23:09:40
          1971-03-24T14:31:38 1991-07-28T10:42:11 2028-02-13T14:14:55 2006-07-24T09:45:44 2015-06-02T05:50:50 1974-12-13T18:21:25 2018-03-20T10:02:39 2030-12-14T21:49:13
          2029-11-18T16:22:13 2021-01-14T16:32:15 2025-10-09T18:39:34 1971-12-14T06:17:39 2021-03-14T12:18:52 2011-07-15T11:38:17 2020-09-05T06:02:37
          1973-08-13T07:02:04 2024-02-19T03:42:27 1974-09-13T18:21:28 2006-12-18T12:37:31 2006-08-14T23:15:50 1986-10-05T17:55:14 2029-06-09T09:43:36 2006-12-14T16:53:46 2025-01-18T15:45:53
          2002-11-01T08:02:08 2027-10-19T21:36:09 1995-06-16T21:38:32 1978-12-14T00:13:59 2029-08-19T14:28:19 2010-05-29T10:36:52 1984-01-31T17:02:33 1992-06-12T05:24:52
          2023-09-14T01:21:16 1973-03-22T02:52:01 1985-01-11T03:36:56 2008-07-10T00:04:24 1971-03-05T15:32:35 2002-12-09T09:18:25 2009-09-24T16:59:31 1983-10-17T15:44:05 1988-11-29T15:24:32 2001-09-14T09:58:13
          1992-11-15T15:21:29 2016-04-26T02:37:11 1981-03-15T19:05:55 1980-05-15T05:47:49 1992-10-15T21:38:03 1977-02-15T08:17:42 2014-10-05T22:37:04 1975-02-02T11:07:00 2015-11-10T02:18:11
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-dateTime-enumeration-5" type="NISTSchema-SV-IV-list-dateTime-enumeration-5-Type"/>

  <xs:simpleType name="listOfdateTime">
    <xs:list itemType="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-dateTime-enumeration-5-Type">
    <xs:restriction base="listOfdateTime">
          <xs:enumeration value="1998-03-27T14:51:23 1981-02-06T09:40:10 1990-12-04T22:43:17 2026-02-07T01:48:25 1988-03-30T01:21:48 1974-11-11T09:05:38 2007-05-02T02:21:17 1999-09-10T23:51:14"/>
          <xs:enumeration value="1978-01-08T14:23:45 2029-05-12T21:25:26 2010-04-11T08:28:07 1987-02-21T13:38:46 2006-08-10T13:06:32 1992-04-30T03:33:01 1972-11-18T12:14:59"/>
          <xs:enumeration value="2013-03-20T05:24:24 1975-06-17T10:37:41 2025-07-30T11:36:52 2014-12-20T03:26:49 2004-03-26T02:07:37 2023-11-19T01:42:52 1973-10-10T11:30:08 1973-10-25T13:53:33 1978-05-14T23:09:40"/>
          <xs:enumeration value="1971-03-24T14:31:38 1991-07-28T10:42:11 2028-02-13T14:14:55 2006-07-24T09:45:44 2015-06-02T05:50:50 1974-12-13T18:21:25 2018-03-20T10:02:39 2030-12-14T21:49:13"/>
          <xs:enumeration value="2029-11-18T16:22:13 2021-01-14T16:32:15 2025-10-09T18:39:34 1971-12-14T06:17:39 2021-03-14T12:18:52 2011-07-15T11:38:17 2020-09-05T06:02:37"/>
          <xs:enumeration value="1973-08-13T07:02:04 2024-02-19T03:42:27 1974-09-13T18:21:28 2006-12-18T12:37:31 2006-08-14T23:15:50 1986-10-05T17:55:14 2029-06-09T09:43:36 2006-12-14T16:53:46 2025-01-18T15:45:53"/>
          <xs:enumeration value="2002-11-01T08:02:08 2027-10-19T21:36:09 1995-06-16T21:38:32 1978-12-14T00:13:59 2029-08-19T14:28:19 2010-05-29T10:36:52 1984-01-31T17:02:33 1992-06-12T05:24:52"/>
          <xs:enumeration value="2023-09-14T01:21:16 1973-03-22T02:52:01 1985-01-11T03:36:56 2008-07-10T00:04:24 1971-03-05T15:32:35 2002-12-09T09:18:25 2009-09-24T16:59:31 1983-10-17T15:44:05 1988-11-29T15:24:32 2001-09-14T09:58:13"/>
          <xs:enumeration value="1992-11-15T15:21:29 2016-04-26T02:37:11 1981-03-15T19:05:55 1980-05-15T05:47:49 1992-10-15T21:38:03 1977-02-15T08:17:42 2014-10-05T22:37:04 1975-02-02T11:07:00 2015-11-10T02:18:11"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
