nistData/list/dateTime/Schema+Instance/NISTSchema-SV-II-list-dateTime-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-dateTime-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-II-list-dateTime-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-dateTime-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-dateTime-enumeration-4,
      which is derived by restriction of a list with itemType dateTime
      by facet enumeration with values of:
          2029-03-30T21:01:36 1974-10-03T22:48:19 1978-03-05T03:19:11 1990-12-02T21:42:34 1993-04-29T12:21:09 2023-06-04T23:42:43 1995-01-09T02:13:06
          2022-09-21T18:23:57 2008-12-24T20:19:55 1975-03-27T16:32:11 2001-06-16T21:54:22 1986-01-08T20:31:16 2001-05-18T01:48:40
          1977-08-28T06:18:09 2024-12-17T12:11:03 2030-11-06T11:30:36 2004-07-30T02:55:57 1987-11-30T15:57:21 2011-07-19T22:38:51 2021-09-10T02:25:06 2006-04-30T10:18:09
          2000-01-30T14:51:00 2008-01-29T11:04:57 1999-06-17T19:00:39 1974-12-11T05:40:53 1994-07-04T17:32:52 1992-06-06T22:08:24 2005-08-08T12:07:02 2010-02-24T12:39:29 1973-05-05T02:02:24
          1976-07-27T07:46:56 1971-11-16T08:56:21 2024-10-31T18:14:57 2023-01-04T04:20:08 1996-05-02T18:59:17 2012-10-08T23:22:20 1974-12-21T03:29:48
          1981-05-16T22:16:08 1983-11-16T08:27:36 1992-05-09T05:33:58 2014-11-06T17:58:10 1988-01-07T08:43:06 1994-07-08T18:11:15 1970-01-11T16:13:59 1997-03-05T00:53:55
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-dateTime-enumeration-4" type="NISTSchema-SV-II-list-dateTime-enumeration-4-Type"/>

  <xs:simpleType name="listOfdateTime">
    <xs:list itemType="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-dateTime-enumeration-4-Type">
    <xs:restriction base="listOfdateTime">
          <xs:enumeration value="2029-03-30T21:01:36 1974-10-03T22:48:19 1978-03-05T03:19:11 1990-12-02T21:42:34 1993-04-29T12:21:09 2023-06-04T23:42:43 1995-01-09T02:13:06"/>
          <xs:enumeration value="2022-09-21T18:23:57 2008-12-24T20:19:55 1975-03-27T16:32:11 2001-06-16T21:54:22 1986-01-08T20:31:16 2001-05-18T01:48:40"/>
          <xs:enumeration value="1977-08-28T06:18:09 2024-12-17T12:11:03 2030-11-06T11:30:36 2004-07-30T02:55:57 1987-11-30T15:57:21 2011-07-19T22:38:51 2021-09-10T02:25:06 2006-04-30T10:18:09"/>
          <xs:enumeration value="2000-01-30T14:51:00 2008-01-29T11:04:57 1999-06-17T19:00:39 1974-12-11T05:40:53 1994-07-04T17:32:52 1992-06-06T22:08:24 2005-08-08T12:07:02 2010-02-24T12:39:29 1973-05-05T02:02:24"/>
          <xs:enumeration value="1976-07-27T07:46:56 1971-11-16T08:56:21 2024-10-31T18:14:57 2023-01-04T04:20:08 1996-05-02T18:59:17 2012-10-08T23:22:20 1974-12-21T03:29:48"/>
          <xs:enumeration value="1981-05-16T22:16:08 1983-11-16T08:27:36 1992-05-09T05:33:58 2014-11-06T17:58:10 1988-01-07T08:43:06 1994-07-08T18:11:15 1970-01-11T16:13:59 1997-03-05T00:53:55"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
