nistData/list/dateTime/Schema+Instance/NISTSchema-SV-II-list-dateTime-enumeration-1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-dateTime-enumeration-1-NS"
        targetNamespace="NISTSchema-SV-II-list-dateTime-enumeration-1-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-dateTime-enumeration-1.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-dateTime-enumeration-1,
      which is derived by restriction of a list with itemType dateTime
      by facet enumeration with values of:
          2026-10-20T05:34:00 2027-08-05T17:53:24 2013-11-08T02:34:24 1975-06-20T02:19:05 2001-07-18T22:53:33 2003-08-25T05:21:42 1989-11-02T11:50:48
          2008-08-22T16:03:31 2010-06-02T08:04:54 1972-05-17T14:46:38 2027-10-21T15:37:10 1993-12-24T20:36:41 2002-12-04T06:14:07 2019-10-05T15:29:21 1998-09-13T00:27:57
          2025-08-23T04:48:58 1989-02-09T20:43:08 1996-01-14T22:42:48 2015-08-28T04:53:58 2030-08-11T10:04:10 1988-01-30T07:17:09 1972-02-07T09:10:32
          2028-09-25T18:13:03 2021-07-17T16:01:32 2016-08-04T06:45:29 1981-07-05T11:20:34 2003-03-26T11:52:43 2005-04-26T21:13:58 2014-05-29T17:57:45
          2016-01-29T11:41:26 1995-11-11T21:20:54 2007-04-09T23:39:39 2000-02-22T05:12:37 2013-04-07T00:18:52 1994-10-14T16:40:51 1995-03-10T20:36:19 1993-08-14T04:20:36 2008-02-24T08:22:36
          1976-08-18T04:15:00 2007-06-21T00:55:26 2019-08-18T01:20:20 2003-04-22T21:45:08 1972-05-29T08:16:26 1996-05-10T20:01:23 1999-01-04T02:36:38 2011-01-24T07:25:30
          2009-11-18T10:10:19 2007-05-15T09:55:45 1988-01-12T11:47:32 1995-05-12T18:14:46 2013-02-14T06:04:24 1981-12-07T22:10:15 2012-01-03T01:11:58
          1985-01-01T14:18:17 1971-07-09T11:23:25 1976-06-06T18:35:31 1994-03-06T12:22:17 1994-01-23T20:56:21 1993-04-19T15:10:43 1996-01-18T01:21:10 2015-02-11T22:24:59 2028-04-27T12:53:07
          1986-11-18T06:06:26 2029-09-09T14:48:26 1991-05-31T02:48:39 2010-01-17T03:11:03 1989-02-06T14:52:12 1993-08-29T03:21:33 2007-04-19T08:01:20 1974-06-03T23:37:30
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-dateTime-enumeration-1" type="NISTSchema-SV-II-list-dateTime-enumeration-1-Type"/>

  <xs:simpleType name="listOfdateTime">
    <xs:list itemType="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-dateTime-enumeration-1-Type">
    <xs:restriction base="listOfdateTime">
          <xs:enumeration value="2026-10-20T05:34:00 2027-08-05T17:53:24 2013-11-08T02:34:24 1975-06-20T02:19:05 2001-07-18T22:53:33 2003-08-25T05:21:42 1989-11-02T11:50:48"/>
          <xs:enumeration value="2008-08-22T16:03:31 2010-06-02T08:04:54 1972-05-17T14:46:38 2027-10-21T15:37:10 1993-12-24T20:36:41 2002-12-04T06:14:07 2019-10-05T15:29:21 1998-09-13T00:27:57"/>
          <xs:enumeration value="2025-08-23T04:48:58 1989-02-09T20:43:08 1996-01-14T22:42:48 2015-08-28T04:53:58 2030-08-11T10:04:10 1988-01-30T07:17:09 1972-02-07T09:10:32"/>
          <xs:enumeration value="2028-09-25T18:13:03 2021-07-17T16:01:32 2016-08-04T06:45:29 1981-07-05T11:20:34 2003-03-26T11:52:43 2005-04-26T21:13:58 2014-05-29T17:57:45"/>
          <xs:enumeration value="2016-01-29T11:41:26 1995-11-11T21:20:54 2007-04-09T23:39:39 2000-02-22T05:12:37 2013-04-07T00:18:52 1994-10-14T16:40:51 1995-03-10T20:36:19 1993-08-14T04:20:36 2008-02-24T08:22:36"/>
          <xs:enumeration value="1976-08-18T04:15:00 2007-06-21T00:55:26 2019-08-18T01:20:20 2003-04-22T21:45:08 1972-05-29T08:16:26 1996-05-10T20:01:23 1999-01-04T02:36:38 2011-01-24T07:25:30"/>
          <xs:enumeration value="2009-11-18T10:10:19 2007-05-15T09:55:45 1988-01-12T11:47:32 1995-05-12T18:14:46 2013-02-14T06:04:24 1981-12-07T22:10:15 2012-01-03T01:11:58"/>
          <xs:enumeration value="1985-01-01T14:18:17 1971-07-09T11:23:25 1976-06-06T18:35:31 1994-03-06T12:22:17 1994-01-23T20:56:21 1993-04-19T15:10:43 1996-01-18T01:21:10 2015-02-11T22:24:59 2028-04-27T12:53:07"/>
          <xs:enumeration value="1986-11-18T06:06:26 2029-09-09T14:48:26 1991-05-31T02:48:39 2010-01-17T03:11:03 1989-02-06T14:52:12 1993-08-29T03:21:33 2007-04-19T08:01:20 1974-06-03T23:37:30"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
