nistData/list/duration/Schema+Instance/NISTSchema-SV-IV-list-duration-enumeration-5.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-duration-enumeration-5-NS"
        targetNamespace="NISTSchema-SV-IV-list-duration-enumeration-5-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-duration-enumeration-5.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-duration-enumeration-5,
      which is derived by restriction of a list with itemType duration
      by facet enumeration with values of:
          P2016Y02M28DT13H37M22S P2000Y05M14DT13H44M58S P1978Y07M28DT06H04M04S P2024Y01M03DT04H12M32S P2012Y08M08DT00H29M35S P1995Y12M11DT16H43M31S P2002Y02M09DT15H18M49S
          P1970Y01M22DT17H44M37S P2024Y12M11DT17H24M56S P2011Y02M05DT16H43M22S P1996Y12M10DT14H39M30S P1995Y08M22DT18H40M17S P1991Y12M23DT08H28M21S
          P2022Y04M05DT12H11M11S P1972Y10M28DT16H42M51S P2024Y02M26DT19H19M52S P1998Y08M03DT06H03M30S P1972Y03M23DT14H58M48S P2014Y03M11DT12H48M16S P2011Y09M16DT23H02M10S P2010Y08M14DT07H53M13S
          P2025Y09M14DT10H31M59S P2013Y01M15DT00H59M42S P1991Y11M13DT05H02M58S P1987Y08M11DT10H52M35S P1982Y01M23DT15H08M19S
          P1990Y01M03DT08H37M11S P1982Y10M05DT17H18M49S P1998Y01M18DT07H43M07S P2028Y05M25DT06H17M27S P2026Y10M04DT09H39M23S
          P1978Y04M30DT11H29M50S P1978Y09M29DT15H00M41S P2008Y07M19DT11H40M00S P2028Y11M23DT12H55M11S P1975Y09M19DT18H25M07S P2019Y05M14DT13H11M04S P2005Y12M14DT20H47M48S P1982Y10M09DT09H50M44S
          P2022Y08M05DT13H34M53S P1976Y06M07DT15H17M16S P2008Y04M30DT03H45M04S P2004Y10M07DT08H15M21S P1990Y06M08DT12H59M46S P1993Y12M05DT02H27M23S P2002Y01M14DT19H36M54S
          P1997Y03M16DT13H20M10S P2021Y05M20DT03H34M14S P1982Y01M06DT17H09M05S P2020Y10M26DT20H45M57S P1999Y08M28DT07H10M08S P2026Y05M05DT01H51M53S P2006Y05M21DT15H08M26S
          P1986Y12M27DT06H32M09S P2024Y04M16DT16H53M16S P1999Y11M06DT15H00M17S P1976Y09M21DT04H02M59S P1996Y02M03DT14H59M46S P2014Y08M22DT03H16M41S P2013Y06M28DT19H20M36S P2006Y11M30DT02H19M23S
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-duration-enumeration-5" type="NISTSchema-SV-IV-list-duration-enumeration-5-Type"/>

  <xs:simpleType name="listOfduration">
    <xs:list itemType="xs:duration"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-duration-enumeration-5-Type">
    <xs:restriction base="listOfduration">
          <xs:enumeration value="P2016Y02M28DT13H37M22S P2000Y05M14DT13H44M58S P1978Y07M28DT06H04M04S P2024Y01M03DT04H12M32S P2012Y08M08DT00H29M35S P1995Y12M11DT16H43M31S P2002Y02M09DT15H18M49S"/>
          <xs:enumeration value="P1970Y01M22DT17H44M37S P2024Y12M11DT17H24M56S P2011Y02M05DT16H43M22S P1996Y12M10DT14H39M30S P1995Y08M22DT18H40M17S P1991Y12M23DT08H28M21S"/>
          <xs:enumeration value="P2022Y04M05DT12H11M11S P1972Y10M28DT16H42M51S P2024Y02M26DT19H19M52S P1998Y08M03DT06H03M30S P1972Y03M23DT14H58M48S P2014Y03M11DT12H48M16S P2011Y09M16DT23H02M10S P2010Y08M14DT07H53M13S"/>
          <xs:enumeration value="P2025Y09M14DT10H31M59S P2013Y01M15DT00H59M42S P1991Y11M13DT05H02M58S P1987Y08M11DT10H52M35S P1982Y01M23DT15H08M19S"/>
          <xs:enumeration value="P1990Y01M03DT08H37M11S P1982Y10M05DT17H18M49S P1998Y01M18DT07H43M07S P2028Y05M25DT06H17M27S P2026Y10M04DT09H39M23S"/>
          <xs:enumeration value="P1978Y04M30DT11H29M50S P1978Y09M29DT15H00M41S P2008Y07M19DT11H40M00S P2028Y11M23DT12H55M11S P1975Y09M19DT18H25M07S P2019Y05M14DT13H11M04S P2005Y12M14DT20H47M48S P1982Y10M09DT09H50M44S"/>
          <xs:enumeration value="P2022Y08M05DT13H34M53S P1976Y06M07DT15H17M16S P2008Y04M30DT03H45M04S P2004Y10M07DT08H15M21S P1990Y06M08DT12H59M46S P1993Y12M05DT02H27M23S P2002Y01M14DT19H36M54S"/>
          <xs:enumeration value="P1997Y03M16DT13H20M10S P2021Y05M20DT03H34M14S P1982Y01M06DT17H09M05S P2020Y10M26DT20H45M57S P1999Y08M28DT07H10M08S P2026Y05M05DT01H51M53S P2006Y05M21DT15H08M26S"/>
          <xs:enumeration value="P1986Y12M27DT06H32M09S P2024Y04M16DT16H53M16S P1999Y11M06DT15H00M17S P1976Y09M21DT04H02M59S P1996Y02M03DT14H59M46S P2014Y08M22DT03H16M41S P2013Y06M28DT19H20M36S P2006Y11M30DT02H19M23S"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
