nistData/list/duration/Schema+Instance/NISTSchema-SV-II-list-duration-enumeration-3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-duration-enumeration-3-NS"
        targetNamespace="NISTSchema-SV-II-list-duration-enumeration-3-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-duration-enumeration-3.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-duration-enumeration-3,
      which is derived by restriction of a list with itemType duration
      by facet enumeration with values of:
          P1984Y04M14DT09H55M50S P2003Y09M08DT18H38M44S P1980Y02M24DT03H58M49S P2006Y07M14DT23H50M51S P2024Y02M19DT13H50M21S P2010Y12M09DT00H22M35S P2022Y03M21DT22H47M51S P2020Y05M06DT02H10M42S P1975Y11M11DT02H52M22S
          P1993Y07M26DT23H00M10S P2028Y07M18DT02H59M38S P1999Y05M19DT12H58M05S P1990Y12M28DT22H53M10S P1981Y05M27DT21H00M31S P2002Y02M20DT23H57M18S P1990Y09M28DT15H28M41S P1989Y10M10DT13H30M38S
          P2013Y01M10DT10H39M49S P2015Y11M27DT12H01M12S P2001Y06M04DT19H58M07S P2028Y05M13DT07H45M07S P1992Y03M20DT15H13M49S P1983Y07M15DT10H17M33S P2025Y08M06DT09H15M28S P2025Y01M26DT00H02M54S P1992Y04M15DT12H07M11S
          P1978Y07M02DT09H49M10S P2028Y10M11DT16H27M34S P2026Y08M21DT06H38M13S P2020Y09M14DT08H25M56S P1975Y07M15DT08H38M52S P1979Y04M06DT14H48M28S
          P1990Y05M25DT21H27M21S P2018Y11M01DT08H47M34S P2016Y03M08DT17H25M09S P1983Y11M25DT06H04M34S P1974Y01M24DT18H00M32S P2020Y06M09DT07H36M54S P1982Y09M07DT17H46M13S P1987Y01M29DT00H52M21S P2003Y02M13DT22H03M39S
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-duration-enumeration-3" type="NISTSchema-SV-II-list-duration-enumeration-3-Type"/>

  <xs:simpleType name="listOfduration">
    <xs:list itemType="xs:duration"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-duration-enumeration-3-Type">
    <xs:restriction base="listOfduration">
          <xs:enumeration value="P1984Y04M14DT09H55M50S P2003Y09M08DT18H38M44S P1980Y02M24DT03H58M49S P2006Y07M14DT23H50M51S P2024Y02M19DT13H50M21S P2010Y12M09DT00H22M35S P2022Y03M21DT22H47M51S P2020Y05M06DT02H10M42S P1975Y11M11DT02H52M22S"/>
          <xs:enumeration value="P1993Y07M26DT23H00M10S P2028Y07M18DT02H59M38S P1999Y05M19DT12H58M05S P1990Y12M28DT22H53M10S P1981Y05M27DT21H00M31S P2002Y02M20DT23H57M18S P1990Y09M28DT15H28M41S P1989Y10M10DT13H30M38S"/>
          <xs:enumeration value="P2013Y01M10DT10H39M49S P2015Y11M27DT12H01M12S P2001Y06M04DT19H58M07S P2028Y05M13DT07H45M07S P1992Y03M20DT15H13M49S P1983Y07M15DT10H17M33S P2025Y08M06DT09H15M28S P2025Y01M26DT00H02M54S P1992Y04M15DT12H07M11S"/>
          <xs:enumeration value="P1978Y07M02DT09H49M10S P2028Y10M11DT16H27M34S P2026Y08M21DT06H38M13S P2020Y09M14DT08H25M56S P1975Y07M15DT08H38M52S P1979Y04M06DT14H48M28S"/>
          <xs:enumeration value="P1990Y05M25DT21H27M21S P2018Y11M01DT08H47M34S P2016Y03M08DT17H25M09S P1983Y11M25DT06H04M34S P1974Y01M24DT18H00M32S P2020Y06M09DT07H36M54S P1982Y09M07DT17H46M13S P1987Y01M29DT00H52M21S P2003Y02M13DT22H03M39S"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
