nistData/list/duration/Schema+Instance/NISTSchema-SV-II-list-duration-pattern-4.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-II-list-duration-pattern-4-NS"
        targetNamespace="NISTSchema-SV-II-list-duration-pattern-4-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-duration-pattern-4.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-duration-pattern-4,
      which is derived by restriction of a list with item type duration
      by facet pattern with a value of: P\d\d84Y\d5M2\dDT\d4H\d5M3\dS P19\d\dY\d4M1\dDT\d9H\d3M4\dS P19\d\dY0\dM\d1DT\d2H1\dM3\dS P\d\d09Y0\dM\d2DT\d2H\d5M\d6S P\d\d89Y\d1M\d1DT\d8H\d7M4\dS P19\d\dY0\dM2\dDT1\dH4\dM\d4S P\d\d22Y1\dM\d7DT\d2H\d3M\d7S P\d\d47Y\d9M\d6DT\d1H\d1M5\dS P17\d\dY0\dM\d0DT0\dH1\dM\d3S
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-II-list-duration-pattern-4" type="nist:NISTSchema-SV-II-list-duration-pattern-4-Type"/>

  <simpleType name="listOfduration">
    <list itemType="duration"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-II-list-duration-pattern-4-Type">
    <restriction base="nist:listOfduration">
      <pattern value="P\d\d84Y\d5M2\dDT\d4H\d5M3\dS P19\d\dY\d4M1\dDT\d9H\d3M4\dS P19\d\dY0\dM\d1DT\d2H1\dM3\dS P\d\d09Y0\dM\d2DT\d2H\d5M\d6S P\d\d89Y\d1M\d1DT\d8H\d7M4\dS P19\d\dY0\dM2\dDT1\dH4\dM\d4S P\d\d22Y1\dM\d7DT\d2H\d3M\d7S P\d\d47Y\d9M\d6DT\d1H\d1M5\dS P17\d\dY0\dM\d0DT0\dH1\dM\d3S"/>
    </restriction>
  </simpleType>

</schema>
