nistData/list/duration/Schema+Instance/NISTSchema-SV-IV-list-duration-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-duration-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-duration-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-duration-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-duration-enumeration-4,
      which is derived by restriction of a list with itemType duration
      by facet enumeration with values of:
          P1972Y04M05DT08H50M53S P1986Y09M17DT00H08M26S P1991Y07M26DT07H28M16S P1983Y08M20DT11H27M49S P2003Y10M22DT09H28M14S P1989Y10M07DT00H42M14S P2002Y08M09DT06H18M06S P1980Y02M01DT22H02M46S P2024Y12M05DT20H07M47S
          P1980Y05M14DT03H37M44S P1978Y10M13DT10H04M34S P2009Y08M25DT09H25M20S P1979Y04M18DT23H14M42S P2005Y03M30DT15H36M35S P2029Y02M12DT20H34M47S P1984Y09M02DT14H20M39S P1978Y05M01DT09H45M29S P1988Y01M18DT10H46M07S
          P1980Y05M22DT15H17M16S P2011Y08M30DT16H52M57S P1982Y06M05DT13H35M43S P2003Y10M17DT17H36M07S P2004Y06M29DT15H46M45S P2012Y01M04DT18H56M37S P1972Y01M22DT13H48M05S P2020Y11M13DT22H48M23S
          P1982Y10M19DT05H03M24S P2013Y12M18DT20H02M11S P2016Y11M18DT09H46M15S P1979Y05M16DT15H07M23S P1973Y07M19DT01H07M38S P2015Y01M28DT05H12M38S P2027Y03M19DT10H59M15S P1974Y06M13DT09H55M09S
          P1996Y05M08DT09H06M27S P2005Y04M01DT18H38M46S P1973Y06M15DT08H21M53S P2015Y05M17DT08H30M33S P1991Y08M09DT12H12M16S P2018Y05M14DT02H12M09S
          P1979Y12M20DT20H41M59S P2019Y05M28DT13H25M35S P1994Y07M03DT20H59M45S P1991Y12M09DT16H59M26S P1989Y09M07DT06H04M52S P1976Y05M08DT08H34M49S P2022Y02M22DT05H32M17S P2003Y07M01DT05H23M26S P2028Y10M28DT22H09M12S P2000Y04M23DT12H50M22S
          P2002Y05M06DT09H25M01S P1973Y06M17DT11H38M11S P2000Y02M29DT03H17M23S P2008Y11M24DT07H00M38S P1999Y01M02DT17H44M29S P2023Y07M10DT05H44M38S P2024Y12M24DT19H33M25S P2012Y08M17DT16H37M30S P2027Y03M17DT03H17M12S
          P1970Y08M09DT21H18M23S P1975Y09M29DT12H47M55S P2013Y04M25DT09H19M43S P1989Y01M11DT12H14M29S P1994Y12M11DT03H41M58S P1971Y09M26DT18H02M01S P2023Y06M08DT04H21M29S
          P1979Y07M08DT04H30M54S P2006Y09M28DT11H58M40S P2018Y09M27DT12H47M16S P1999Y06M02DT19H23M01S P1999Y03M02DT22H37M41S P1972Y06M08DT17H05M19S P2010Y11M03DT13H59M24S P2017Y01M04DT23H11M44S
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-duration-enumeration-4" type="NISTSchema-SV-IV-list-duration-enumeration-4-Type"/>

  <xs:simpleType name="listOfduration">
    <xs:list itemType="xs:duration"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-duration-enumeration-4-Type">
    <xs:restriction base="listOfduration">
          <xs:enumeration value="P1972Y04M05DT08H50M53S P1986Y09M17DT00H08M26S P1991Y07M26DT07H28M16S P1983Y08M20DT11H27M49S P2003Y10M22DT09H28M14S P1989Y10M07DT00H42M14S P2002Y08M09DT06H18M06S P1980Y02M01DT22H02M46S P2024Y12M05DT20H07M47S"/>
          <xs:enumeration value="P1980Y05M14DT03H37M44S P1978Y10M13DT10H04M34S P2009Y08M25DT09H25M20S P1979Y04M18DT23H14M42S P2005Y03M30DT15H36M35S P2029Y02M12DT20H34M47S P1984Y09M02DT14H20M39S P1978Y05M01DT09H45M29S P1988Y01M18DT10H46M07S"/>
          <xs:enumeration value="P1980Y05M22DT15H17M16S P2011Y08M30DT16H52M57S P1982Y06M05DT13H35M43S P2003Y10M17DT17H36M07S P2004Y06M29DT15H46M45S P2012Y01M04DT18H56M37S P1972Y01M22DT13H48M05S P2020Y11M13DT22H48M23S"/>
          <xs:enumeration value="P1982Y10M19DT05H03M24S P2013Y12M18DT20H02M11S P2016Y11M18DT09H46M15S P1979Y05M16DT15H07M23S P1973Y07M19DT01H07M38S P2015Y01M28DT05H12M38S P2027Y03M19DT10H59M15S P1974Y06M13DT09H55M09S"/>
          <xs:enumeration value="P1996Y05M08DT09H06M27S P2005Y04M01DT18H38M46S P1973Y06M15DT08H21M53S P2015Y05M17DT08H30M33S P1991Y08M09DT12H12M16S P2018Y05M14DT02H12M09S"/>
          <xs:enumeration value="P1979Y12M20DT20H41M59S P2019Y05M28DT13H25M35S P1994Y07M03DT20H59M45S P1991Y12M09DT16H59M26S P1989Y09M07DT06H04M52S P1976Y05M08DT08H34M49S P2022Y02M22DT05H32M17S P2003Y07M01DT05H23M26S P2028Y10M28DT22H09M12S P2000Y04M23DT12H50M22S"/>
          <xs:enumeration value="P2002Y05M06DT09H25M01S P1973Y06M17DT11H38M11S P2000Y02M29DT03H17M23S P2008Y11M24DT07H00M38S P1999Y01M02DT17H44M29S P2023Y07M10DT05H44M38S P2024Y12M24DT19H33M25S P2012Y08M17DT16H37M30S P2027Y03M17DT03H17M12S"/>
          <xs:enumeration value="P1970Y08M09DT21H18M23S P1975Y09M29DT12H47M55S P2013Y04M25DT09H19M43S P1989Y01M11DT12H14M29S P1994Y12M11DT03H41M58S P1971Y09M26DT18H02M01S P2023Y06M08DT04H21M29S"/>
          <xs:enumeration value="P1979Y07M08DT04H30M54S P2006Y09M28DT11H58M40S P2018Y09M27DT12H47M16S P1999Y06M02DT19H23M01S P1999Y03M02DT22H37M41S P1972Y06M08DT17H05M19S P2010Y11M03DT13H59M24S P2017Y01M04DT23H11M44S"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
