nistData/list/duration/Schema+Instance/NISTSchema-SV-IV-list-duration-pattern-2.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-duration-pattern-2-NS"
        targetNamespace="NISTSchema-SV-IV-list-duration-pattern-2-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-duration-pattern-2.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-duration-pattern-2,
      which is derived by restriction of a list with item type duration
      by facet pattern with a value of: P19\d\dY\d7M\d5DT1\dH\d1M\d8S P20\d\dY0\dM0\dDT\d9H\d9M\d7S P19\d\dY0\dM0\dDT\d0H5\dM0\dS P18\d\dY\d1M\d8DT\d9H1\dM\d5S P19\d\dY0\dM2\dDT\d6H2\dM\d5S P\d\d75Y1\dM0\dDT1\dH\d8M\d5S P17\d\dY\d5M0\dDT\d4H2\dM\d5S P19\d\dY1\dM1\dDT\d8H\d4M3\dS P\d\d93Y0\dM1\dDT1\dH\d9M\d1S P18\d\dY0\dM0\dDT\d4H\d3M\d1S
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-duration-pattern-2" type="nist:NISTSchema-SV-IV-list-duration-pattern-2-Type"/>

  <simpleType name="listOfduration">
    <list itemType="duration"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-duration-pattern-2-Type">
    <restriction base="nist:listOfduration">
      <pattern value="P19\d\dY\d7M\d5DT1\dH\d1M\d8S P20\d\dY0\dM0\dDT\d9H\d9M\d7S P19\d\dY0\dM0\dDT\d0H5\dM0\dS P18\d\dY\d1M\d8DT\d9H1\dM\d5S P19\d\dY0\dM2\dDT\d6H2\dM\d5S P\d\d75Y1\dM0\dDT1\dH\d8M\d5S P17\d\dY\d5M0\dDT\d4H2\dM\d5S P19\d\dY1\dM1\dDT\d8H\d4M3\dS P\d\d93Y0\dM1\dDT1\dH\d9M\d1S P18\d\dY0\dM0\dDT\d4H\d3M\d1S"/>
    </restriction>
  </simpleType>

</schema>
