nistData/list/duration/Schema+Instance/NISTSchema-SV-II-list-duration-enumeration-5.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-duration-enumeration-5-NS"
        targetNamespace="NISTSchema-SV-II-list-duration-enumeration-5-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-duration-enumeration-5.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-duration-enumeration-5,
      which is derived by restriction of a list with itemType duration
      by facet enumeration with values of:
          P2011Y01M27DT14H58M29S P2024Y01M28DT12H38M05S P2003Y05M25DT07H54M15S P2004Y11M14DT17H13M46S P1982Y08M14DT22H19M35S P1996Y04M03DT00H33M01S P2029Y06M18DT07H13M16S P2015Y04M27DT13H54M02S P2030Y01M03DT20H37M36S P2020Y09M09DT17H26M51S
          P1979Y08M06DT14H44M40S P1999Y07M10DT10H36M08S P1991Y05M28DT06H17M07S P1970Y03M16DT22H43M12S P2021Y05M12DT18H22M27S P2026Y11M29DT04H24M54S P2002Y11M23DT10H13M03S P2006Y09M13DT11H28M16S
          P1996Y09M02DT10H09M30S P2020Y05M28DT23H06M54S P1991Y08M25DT21H28M21S P2007Y09M03DT13H18M14S P2006Y09M16DT14H58M56S P2009Y05M25DT22H46M40S P1988Y06M12DT03H58M54S P1988Y07M14DT11H20M38S P2026Y02M04DT15H40M52S
          P2022Y03M31DT12H12M07S P1999Y04M26DT09H39M32S P2002Y01M05DT05H26M33S P2026Y12M31DT16H19M15S P1971Y09M19DT11H04M18S P2016Y03M17DT02H42M16S P2007Y02M25DT03H15M03S P2027Y04M30DT16H31M43S P2014Y03M27DT09H46M21S
          P2025Y11M03DT12H38M57S P1993Y01M12DT16H08M15S P2027Y01M04DT08H35M49S P2018Y08M16DT16H08M10S P1984Y11M21DT10H11M29S P1997Y06M28DT07H28M01S P1982Y01M30DT08H53M41S
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-duration-enumeration-5" type="NISTSchema-SV-II-list-duration-enumeration-5-Type"/>

  <xs:simpleType name="listOfduration">
    <xs:list itemType="xs:duration"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-duration-enumeration-5-Type">
    <xs:restriction base="listOfduration">
          <xs:enumeration value="P2011Y01M27DT14H58M29S P2024Y01M28DT12H38M05S P2003Y05M25DT07H54M15S P2004Y11M14DT17H13M46S P1982Y08M14DT22H19M35S P1996Y04M03DT00H33M01S P2029Y06M18DT07H13M16S P2015Y04M27DT13H54M02S P2030Y01M03DT20H37M36S P2020Y09M09DT17H26M51S"/>
          <xs:enumeration value="P1979Y08M06DT14H44M40S P1999Y07M10DT10H36M08S P1991Y05M28DT06H17M07S P1970Y03M16DT22H43M12S P2021Y05M12DT18H22M27S P2026Y11M29DT04H24M54S P2002Y11M23DT10H13M03S P2006Y09M13DT11H28M16S"/>
          <xs:enumeration value="P1996Y09M02DT10H09M30S P2020Y05M28DT23H06M54S P1991Y08M25DT21H28M21S P2007Y09M03DT13H18M14S P2006Y09M16DT14H58M56S P2009Y05M25DT22H46M40S P1988Y06M12DT03H58M54S P1988Y07M14DT11H20M38S P2026Y02M04DT15H40M52S"/>
          <xs:enumeration value="P2022Y03M31DT12H12M07S P1999Y04M26DT09H39M32S P2002Y01M05DT05H26M33S P2026Y12M31DT16H19M15S P1971Y09M19DT11H04M18S P2016Y03M17DT02H42M16S P2007Y02M25DT03H15M03S P2027Y04M30DT16H31M43S P2014Y03M27DT09H46M21S"/>
          <xs:enumeration value="P2025Y11M03DT12H38M57S P1993Y01M12DT16H08M15S P2027Y01M04DT08H35M49S P2018Y08M16DT16H08M10S P1984Y11M21DT10H11M29S P1997Y06M28DT07H28M01S P1982Y01M30DT08H53M41S"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
