nistData/list/duration/Schema+Instance/NISTSchema-SV-IV-list-duration-pattern-5.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-duration-pattern-5-NS"
        targetNamespace="NISTSchema-SV-IV-list-duration-pattern-5-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-duration-pattern-5.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-duration-pattern-5,
      which is derived by restriction of a list with item type duration
      by facet pattern with a value of: P17\d\dY\d4M\d9DT\d4H\d0M\d8S P\d\d77Y\d0M\d1DT\d8H2\dM\d4S P17\d\dY0\dM1\dDT\d1H5\dM\d6S P\d\d90Y0\dM\d6DT\d1H5\dM5\dS P19\d\dY\d8M2\dDT\d4H\d6M1\dS P20\d\dY0\dM0\dDT1\dH\d5M\d3S
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-duration-pattern-5" type="nist:NISTSchema-SV-IV-list-duration-pattern-5-Type"/>

  <simpleType name="listOfduration">
    <list itemType="duration"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-duration-pattern-5-Type">
    <restriction base="nist:listOfduration">
      <pattern value="P17\d\dY\d4M\d9DT\d4H\d0M\d8S P\d\d77Y\d0M\d1DT\d8H2\dM\d4S P17\d\dY0\dM1\dDT\d1H5\dM\d6S P\d\d90Y0\dM\d6DT\d1H5\dM5\dS P19\d\dY\d8M2\dDT\d4H\d6M1\dS P20\d\dY0\dM0\dDT1\dH\d5M\d3S"/>
    </restriction>
  </simpleType>

</schema>
