nistData/list/duration/Schema+Instance/NISTSchema-SV-IV-list-duration-enumeration-1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-duration-enumeration-1-NS"
        targetNamespace="NISTSchema-SV-IV-list-duration-enumeration-1-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-duration-enumeration-1.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-duration-enumeration-1,
      which is derived by restriction of a list with itemType duration
      by facet enumeration with values of:
          P1988Y08M24DT21H58M49S P2016Y12M20DT22H28M47S P1997Y05M07DT17H46M11S P1978Y01M25DT20H04M02S P2010Y05M17DT17H33M59S P1998Y04M02DT03H41M32S P2009Y07M01DT03H05M51S P1995Y03M07DT17H46M02S P1985Y08M24DT17H23M15S P1983Y04M01DT14H11M29S
          P1996Y01M30DT04H15M59S P1980Y10M06DT16H27M36S P2020Y03M21DT15H54M43S P1976Y07M13DT04H11M54S P2014Y02M20DT14H08M08S P2028Y07M28DT18H10M27S P1979Y05M04DT20H37M35S
          P1974Y11M06DT16H32M47S P2024Y09M13DT15H33M09S P2007Y04M09DT11H13M13S P2016Y10M26DT11H04M21S P2028Y09M15DT16H24M53S
          P2013Y06M26DT07H20M40S P1978Y08M23DT10H33M18S P1993Y05M06DT22H41M24S P2025Y12M22DT07H59M56S P1991Y08M26DT06H00M22S P2016Y05M26DT20H41M10S P1988Y07M24DT02H06M14S P1996Y06M01DT20H09M27S P1996Y12M10DT22H18M15S
          P1990Y02M23DT13H44M25S P1992Y09M20DT12H00M22S P2019Y03M02DT19H45M03S P2010Y05M05DT05H14M36S P2006Y07M13DT11H46M27S P1971Y01M03DT18H25M35S P2017Y01M26DT02H24M36S P1979Y05M25DT10H02M32S
          P1975Y01M31DT18H26M15S P1987Y06M02DT20H56M45S P1981Y03M05DT18H08M48S P2025Y11M17DT17H41M42S P1992Y09M18DT19H02M26S P1986Y11M29DT03H47M13S P1978Y10M15DT10H58M37S P1994Y09M02DT20H02M08S
          P2018Y03M29DT16H33M43S P2028Y05M22DT23H02M30S P2001Y08M05DT10H25M39S P1978Y11M04DT20H31M10S P1999Y04M08DT19H26M37S P2017Y08M24DT18H51M57S P1987Y05M29DT14H30M09S P1983Y03M09DT03H26M56S P1985Y06M11DT00H54M42S
          P2028Y10M28DT07H13M06S P1991Y04M28DT21H44M21S P1983Y06M08DT12H11M20S P2012Y08M28DT18H16M49S P2001Y09M14DT09H01M39S P2025Y01M06DT10H51M40S P2006Y02M17DT07H38M33S P1986Y08M28DT06H32M48S P1988Y11M10DT21H54M50S
          P2023Y01M03DT22H34M08S P1991Y01M16DT07H46M33S P1993Y06M14DT01H27M29S P1978Y07M05DT23H29M24S P1998Y03M18DT04H23M53S P1975Y03M05DT00H02M30S P2006Y04M06DT12H10M48S
          P2024Y07M08DT19H26M03S P1991Y04M12DT12H57M10S P1976Y11M12DT23H04M05S P1979Y03M28DT06H04M17S P2020Y11M07DT18H17M47S P1978Y03M03DT01H42M46S P1976Y01M08DT11H40M02S P1978Y10M09DT02H30M23S
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-duration-enumeration-1" type="NISTSchema-SV-IV-list-duration-enumeration-1-Type"/>

  <xs:simpleType name="listOfduration">
    <xs:list itemType="xs:duration"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-duration-enumeration-1-Type">
    <xs:restriction base="listOfduration">
          <xs:enumeration value="P1988Y08M24DT21H58M49S P2016Y12M20DT22H28M47S P1997Y05M07DT17H46M11S P1978Y01M25DT20H04M02S P2010Y05M17DT17H33M59S P1998Y04M02DT03H41M32S P2009Y07M01DT03H05M51S P1995Y03M07DT17H46M02S P1985Y08M24DT17H23M15S P1983Y04M01DT14H11M29S"/>
          <xs:enumeration value="P1996Y01M30DT04H15M59S P1980Y10M06DT16H27M36S P2020Y03M21DT15H54M43S P1976Y07M13DT04H11M54S P2014Y02M20DT14H08M08S P2028Y07M28DT18H10M27S P1979Y05M04DT20H37M35S"/>
          <xs:enumeration value="P1974Y11M06DT16H32M47S P2024Y09M13DT15H33M09S P2007Y04M09DT11H13M13S P2016Y10M26DT11H04M21S P2028Y09M15DT16H24M53S"/>
          <xs:enumeration value="P2013Y06M26DT07H20M40S P1978Y08M23DT10H33M18S P1993Y05M06DT22H41M24S P2025Y12M22DT07H59M56S P1991Y08M26DT06H00M22S P2016Y05M26DT20H41M10S P1988Y07M24DT02H06M14S P1996Y06M01DT20H09M27S P1996Y12M10DT22H18M15S"/>
          <xs:enumeration value="P1990Y02M23DT13H44M25S P1992Y09M20DT12H00M22S P2019Y03M02DT19H45M03S P2010Y05M05DT05H14M36S P2006Y07M13DT11H46M27S P1971Y01M03DT18H25M35S P2017Y01M26DT02H24M36S P1979Y05M25DT10H02M32S"/>
          <xs:enumeration value="P1975Y01M31DT18H26M15S P1987Y06M02DT20H56M45S P1981Y03M05DT18H08M48S P2025Y11M17DT17H41M42S P1992Y09M18DT19H02M26S P1986Y11M29DT03H47M13S P1978Y10M15DT10H58M37S P1994Y09M02DT20H02M08S"/>
          <xs:enumeration value="P2018Y03M29DT16H33M43S P2028Y05M22DT23H02M30S P2001Y08M05DT10H25M39S P1978Y11M04DT20H31M10S P1999Y04M08DT19H26M37S P2017Y08M24DT18H51M57S P1987Y05M29DT14H30M09S P1983Y03M09DT03H26M56S P1985Y06M11DT00H54M42S"/>
          <xs:enumeration value="P2028Y10M28DT07H13M06S P1991Y04M28DT21H44M21S P1983Y06M08DT12H11M20S P2012Y08M28DT18H16M49S P2001Y09M14DT09H01M39S P2025Y01M06DT10H51M40S P2006Y02M17DT07H38M33S P1986Y08M28DT06H32M48S P1988Y11M10DT21H54M50S"/>
          <xs:enumeration value="P2023Y01M03DT22H34M08S P1991Y01M16DT07H46M33S P1993Y06M14DT01H27M29S P1978Y07M05DT23H29M24S P1998Y03M18DT04H23M53S P1975Y03M05DT00H02M30S P2006Y04M06DT12H10M48S"/>
          <xs:enumeration value="P2024Y07M08DT19H26M03S P1991Y04M12DT12H57M10S P1976Y11M12DT23H04M05S P1979Y03M28DT06H04M17S P2020Y11M07DT18H17M47S P1978Y03M03DT01H42M46S P1976Y01M08DT11H40M02S P1978Y10M09DT02H30M23S"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
