nistData/list/duration/Schema+Instance/NISTSchema-SV-II-list-duration-enumeration-2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-duration-enumeration-2-NS"
        targetNamespace="NISTSchema-SV-II-list-duration-enumeration-2-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-duration-enumeration-2.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-duration-enumeration-2,
      which is derived by restriction of a list with itemType duration
      by facet enumeration with values of:
          P1980Y12M10DT05H27M04S P1991Y03M11DT13H31M22S P1990Y06M02DT23H56M20S P1984Y11M15DT02H26M12S P2006Y09M16DT11H30M10S P2029Y04M23DT08H17M38S
          P1996Y10M04DT02H47M33S P1996Y11M30DT13H48M49S P2023Y10M21DT17H32M29S P1993Y02M15DT11H03M36S P2004Y07M16DT14H05M42S P1998Y08M14DT00H46M47S P1973Y02M15DT09H49M23S
          P2012Y11M01DT06H24M39S P1976Y12M29DT08H55M26S P1987Y03M06DT08H43M01S P1980Y06M23DT02H27M47S P1998Y02M11DT04H40M56S P2022Y09M03DT23H38M22S
          P1988Y10M08DT23H10M55S P2004Y04M18DT05H54M04S P1975Y02M18DT18H35M58S P1994Y05M08DT16H00M57S P1990Y11M29DT12H00M20S P2013Y12M19DT05H54M24S P2028Y04M25DT17H53M50S P2009Y01M08DT22H33M36S
          P2012Y07M07DT23H18M53S P1990Y12M08DT19H30M27S P2013Y07M23DT17H47M38S P2022Y02M11DT06H53M38S P1980Y05M27DT15H08M06S P2017Y09M21DT10H51M15S P1995Y05M18DT06H10M03S
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-duration-enumeration-2" type="NISTSchema-SV-II-list-duration-enumeration-2-Type"/>

  <xs:simpleType name="listOfduration">
    <xs:list itemType="xs:duration"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-duration-enumeration-2-Type">
    <xs:restriction base="listOfduration">
          <xs:enumeration value="P1980Y12M10DT05H27M04S P1991Y03M11DT13H31M22S P1990Y06M02DT23H56M20S P1984Y11M15DT02H26M12S P2006Y09M16DT11H30M10S P2029Y04M23DT08H17M38S"/>
          <xs:enumeration value="P1996Y10M04DT02H47M33S P1996Y11M30DT13H48M49S P2023Y10M21DT17H32M29S P1993Y02M15DT11H03M36S P2004Y07M16DT14H05M42S P1998Y08M14DT00H46M47S P1973Y02M15DT09H49M23S"/>
          <xs:enumeration value="P2012Y11M01DT06H24M39S P1976Y12M29DT08H55M26S P1987Y03M06DT08H43M01S P1980Y06M23DT02H27M47S P1998Y02M11DT04H40M56S P2022Y09M03DT23H38M22S"/>
          <xs:enumeration value="P1988Y10M08DT23H10M55S P2004Y04M18DT05H54M04S P1975Y02M18DT18H35M58S P1994Y05M08DT16H00M57S P1990Y11M29DT12H00M20S P2013Y12M19DT05H54M24S P2028Y04M25DT17H53M50S P2009Y01M08DT22H33M36S"/>
          <xs:enumeration value="P2012Y07M07DT23H18M53S P1990Y12M08DT19H30M27S P2013Y07M23DT17H47M38S P2022Y02M11DT06H53M38S P1980Y05M27DT15H08M06S P2017Y09M21DT10H51M15S P1995Y05M18DT06H10M03S"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
