sunData/AttrDecl/AD_name/AD_name00113/AD_name00113.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)AD_name00113.xsd	1.2 02/12/25

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="AttrDecl/name">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:attribute name="aa111a2Aa" type="xsd:int"/>
            <xsd:attribute name="aa22B3c" type="xsd:int"/>
            <xsd:attribute name="aa3-4_" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
