ibmData/valid/D3_3_5/d3_3_5v01.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_3_5_v01"
	xmlns:sv="http://xstest-tns/schema11_D3_3_5_v01">
	
<!-- 
	Test Case Type: Valid (Datatypes section 3.3.5) 
	Base Type     : float
	Description   : Valid test for +0 and -0 bound checking
-->

<element name="root" type="sv:FloatTest2"/>


<simpleType name="FloatTest1">	
	<restriction base="float">
		<minInclusive value="-0"/>
		<maxInclusive value="5"/>
	</restriction>
</simpleType>

<simpleType name="FloatTest2">	
	<restriction base="sv:FloatTest1">
		<minInclusive value="+0"/>
		<maxInclusive value="5"/>
	</restriction>
</simpleType>


</schema>  