sunData/SType/ST_facets/ST_facets00402m/ST_facets00402m1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)ST_facets00402m1.xsd
   generated from: @(#)ST_facets00402m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="SType/ST_facets"
    targetNamespace="SType/ST_facets">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="value" type="S"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="S">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="一00"/>
            <xsd:enumeration value="盒-0"/>
            <xsd:enumeration value="龥a0"/>
            <xsd:enumeration value="〇01"/>
            <xsd:enumeration value="〡02"/>
            <xsd:enumeration value="〥-2"/>
            <xsd:enumeration value="〩a2"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
