sunData/SType/ST_facets/ST_facets00608/ST_facets00608.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)ST_facets00608.xsd	1.2 02/12/25

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="SType/ST_facets"
    targetNamespace="SType/ST_facets">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="val" type="S" maxOccurs="2"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="S">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="A&#x01bb;a"/>
            <xsd:enumeration value="b&#x01bb;B"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
