ibmData/valid/S3_4_2_4/s3_4_2_4v01.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://xstest-tns/schema11_S3_4_2_4"
        elementFormDefault="qualified"
        attributeFormDefault="qualified"
        xmlns:tns="http://xstest-tns/schema11_S3_4_2_4"
        defaultAttributes="tns:defaultAttrGroup">
        
<!-- 
Test Case Type: Valid test
Description   :  Check that default attributes are applied
-->

<attributeGroup name="defaultAttrGroup">
 <attribute name="defaultAttr" type="boolean" use="required"/>
</attributeGroup>

<element name="root">
 <complexType>
  <sequence>

   <element name="e1">
    <complexType>    
    </complexType>
   </element>

   <element name="e2">
    <complexType>
    </complexType>
   </element>

  </sequence>
 </complexType>
 </element>
</schema>


	
<!-- 
	Test Case Type: valid test (Structures 3.4.2.4) 
	Base Type     : attributeGroup
	Description   : test defaultAttributesApply is absent 
-->
