ibmData/schema_invalid/D4_3_16/d4_3_16si01.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_F4_3_16_si01"
	xmlns:si="http://xstest-tns/schema11_F4_3_16_si01">
	
<!-- 
	Test Case Type: Schema Invalid test (Datatypes section 4.3.16) 
	Base Type     : dateTime
	Description   : Invalid values for explicitTimezone facet
					line 35 is invalid
-->

<simpleType name="dTimeETzoneO">
	<restriction base="dateTime">
		<explicitTimezone value="optional"/>		
	</restriction>	
</simpleType>

<simpleType name="dTimeETzoneP">
	<restriction base="dateTime">
		<explicitTimezone value="prohibited"/>		
	</restriction>	
</simpleType>


<simpleType name="dTimeETzoneR">
	<restriction base="dateTime">
		<explicitTimezone value="required"/>		
	</restriction>	
</simpleType>


<simpleType name="dTimeETzone">
	<restriction base="dateTime">
		<explicitTimezone value="something"/>		
	</restriction>	
</simpleType>


<element name="root">
	<complexType>
		<sequence>
			<element name="dTimeETzone" type="si:dTimeETzone"/>			
		</sequence>
	</complexType>
</element>    

</schema>  