nistData/list/ID/Schema+Instance/NISTSchema-SV-II-list-ID-minLength-3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-II-list-ID-minLength-3-NS"
        targetNamespace="NISTSchema-SV-II-list-ID-minLength-3-NS">
   <annotation>
      <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-ID-minLength-3.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-ID-minLength-3,
      which is derived by restriction of a list with item type ID
      by facet minLength with a value of: 7
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
   </annotation>

   <element name="NISTSchema-SV-II-list-ID-minLength-3"
            type="nist:NISTSchema-SV-II-list-ID-minLength-3-Type"/>

   <simpleType name="listOfID">
      <list itemType="ID"/>
   </simpleType>

   <simpleType name="NISTSchema-SV-II-list-ID-minLength-3-Type">
      <restriction base="nist:listOfID">
         <minLength value="7"/>
      </restriction>
   </simpleType>

   <!--2010-06-21+01:00: added a wrapper element: see bug 9922-->

   <element name="out">
      <complexType>
         <sequence>
            <any processContents="strict"/>
         </sequence>
      </complexType>
   </element>
</schema>