nistData/list/ID/Schema+Instance/NISTSchema-SV-IV-list-ID-enumeration-4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="NISTSchema-SV-IV-list-ID-enumeration-4-NS"
           targetNamespace="NISTSchema-SV-IV-list-ID-enumeration-4-NS">
   <xs:annotation>
      <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-ID-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-ID-enumeration-4,
      which is derived by restriction of a list with itemType ID
      by facet enumeration with values of:
          cintuitive.retrieve.partners_by_the-unbiased.world-support mlibraries_addressing-technical_building.with-of.areas-repo ds ileadership.a.variety.most-at-is-a_ _donate_be.ma knetworking.many_the.data.many_has-prominent_for.law.prov
          rinternational_software_where_great_and-interactin _wi wand.and-the_and_s-for_repo _looki ctest.recommending_issues-computed.as-including
          hwith.information_to_ap _technologies.languages-and-these-and-software.and_als tt olow-cost-that.tools-exchange.pervasive_of-tools_of-d ca-industry.discovery.unbiased_do mthe-compatibility.lan jrespect-life-engineering-with_a_and_ hdynamic_also.draft.technical_related.
          sspe ksignatures_defines.further_conferences_portable-is.elect xreference-chain-and.management_portable_key.and- _e_and-capabilities-standards.work.lies.registry.to_the- pindustry-and_impact.primar nchallenges.and_these.a-to_the_and-of.ensure_transmit.addres xobject-more-and-processes.be.in
          _the_medium-sized_ jand. _g.tool_libraries-match.needed.participate_manual-and-all_r gspecifications.of.use-for-computin ecriteria cof.object-automatic.issues.a_additionally-computer-si _the_or.formed-for_multidisciplinary-new. _base_the-b cand_tune-systems-on-a-chip_the.as.manipulation.deployed_of
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
   </xs:annotation>

   <xs:element name="NISTSchema-SV-IV-list-ID-enumeration-4"
               type="NISTSchema-SV-IV-list-ID-enumeration-4-Type"/>

   <xs:simpleType name="listOfID">
      <xs:list itemType="xs:ID"/>
   </xs:simpleType>

   <xs:simpleType name="NISTSchema-SV-IV-list-ID-enumeration-4-Type">
      <xs:restriction base="listOfID">
         <xs:enumeration value="cintuitive.retrieve.partners_by_the-unbiased.world-support mlibraries_addressing-technical_building.with-of.areas-repo ds ileadership.a.variety.most-at-is-a_ _donate_be.ma knetworking.many_the.data.many_has-prominent_for.law.prov"/>
         <xs:enumeration value="rinternational_software_where_great_and-interactin _wi wand.and-the_and_s-for_repo _looki ctest.recommending_issues-computed.as-including"/>
         <xs:enumeration value="hwith.information_to_ap _technologies.languages-and-these-and-software.and_als tt olow-cost-that.tools-exchange.pervasive_of-tools_of-d ca-industry.discovery.unbiased_do mthe-compatibility.lan jrespect-life-engineering-with_a_and_ hdynamic_also.draft.technical_related."/>
         <xs:enumeration value="sspe ksignatures_defines.further_conferences_portable-is.elect xreference-chain-and.management_portable_key.and- _e_and-capabilities-standards.work.lies.registry.to_the- pindustry-and_impact.primar nchallenges.and_these.a-to_the_and-of.ensure_transmit.addres xobject-more-and-processes.be.in"/>
         <xs:enumeration value="_the_medium-sized_ jand. _g.tool_libraries-match.needed.participate_manual-and-all_r gspecifications.of.use-for-computin ecriteria cof.object-automatic.issues.a_additionally-computer-si _the_or.formed-for_multidisciplinary-new. _base_the-b cand_tune-systems-on-a-chip_the.as.manipulation.deployed_of"/>
      </xs:restriction>
   </xs:simpleType>

   <!--2010-06-21+01:00: added a wrapper element: see bug 9922-->

   <element xmlns="http://www.w3.org/2001/XMLSchema" name="out">
      <complexType>
         <sequence>
            <any processContents="strict"/>
         </sequence>
      </complexType>
   </element>
</xs:schema>