nistData/union/anyURI-float/Schema+Instance/NISTSchema-SV-II-union-anyURI-float-enumeration-1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-union-anyURI-float-enumeration-1-NS"
        targetNamespace="NISTSchema-SV-II-union-anyURI-float-enumeration-1-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-union-anyURI-float-enumeration-1.xsd
      This schema specifies a datatype, NISTSchema-SV-II-union-anyURI-float-enumeration-1,
      which is derived by restriction of a union of built-in types 
      anyURI and float
      by facet enumeration with values of:
          1.8737210E-15
          2.1918682E-25
          mailto:inregistryth@gainandrigorous.com
          http://requiresan.gov
          http://www.amongmethod.aSundepe.gov
          3.4028235E38
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="NISTSchema-SV-II-union-anyURI-float-enumeration-1" type="NISTSchema-SV-II-union-anyURI-float-enumeration-1-Type"/>

  <xs:simpleType name="unionOf-anyURI-float">
    <xs:union memberTypes="xs:anyURI xs:float"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-union-anyURI-float-enumeration-1-Type">
    <xs:restriction base="unionOf-anyURI-float">
          <xs:enumeration value="1.8737210E-15"/>
          <xs:enumeration value="2.1918682E-25"/>
          <xs:enumeration value="mailto:inregistryth@gainandrigorous.com"/>
          <xs:enumeration value="http://requiresan.gov"/>
          <xs:enumeration value="http://www.amongmethod.aSundepe.gov"/>
          <xs:enumeration value="3.4028235E38"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
