nistData/union/anyURI-float/Schema+Instance/NISTSchema-SV-IV-union-anyURI-float-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-union-anyURI-float-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-IV-union-anyURI-float-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-union-anyURI-float-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-union-anyURI-float-enumeration-4,
      which is derived by restriction of a union of built-in types 
      anyURI and float
      by facet enumeration with values of:
          3.0698753E-18
          telnet://toinvolve.gov
          gopher://suchknownen.ureorganiz.tionssucce.sthe.edu
          3.4028235E38
          ftp://ftp.tech.gov
          news://ar.org
          mailto:manua@widelyA.org
          ftp://ftp.g.org
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="NISTSchema-SV-IV-union-anyURI-float-enumeration-4" type="NISTSchema-SV-IV-union-anyURI-float-enumeration-4-Type"/>

  <xs:simpleType name="unionOf-anyURI-float">
    <xs:union memberTypes="xs:anyURI xs:float"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-union-anyURI-float-enumeration-4-Type">
    <xs:restriction base="unionOf-anyURI-float">
          <xs:enumeration value="3.0698753E-18"/>
          <xs:enumeration value="telnet://toinvolve.gov"/>
          <xs:enumeration value="gopher://suchknownen.ureorganiz.tionssucce.sthe.edu"/>
          <xs:enumeration value="3.4028235E38"/>
          <xs:enumeration value="ftp://ftp.tech.gov"/>
          <xs:enumeration value="news://ar.org"/>
          <xs:enumeration value="mailto:manua@widelyA.org"/>
          <xs:enumeration value="ftp://ftp.g.org"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
