nistData/union/anyURI-float/Schema+Instance/NISTSchema-SV-IV-union-anyURI-float-enumeration-1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-union-anyURI-float-enumeration-1-NS"
        targetNamespace="NISTSchema-SV-IV-union-anyURI-float-enumeration-1-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-union-anyURI-float-enumeration-1.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-union-anyURI-float-enumeration-1,
      which is derived by restriction of a union of built-in types 
      anyURI and float
      by facet enumeration with values of:
          telnet://toinvolve.gov
          3.3221344E9
          ftp://willPervasi.epartnersh.psOrganiza.net
          ftp://thatguidel.org
          http://th.org
          http://divisionspa.t.edu
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="NISTSchema-SV-IV-union-anyURI-float-enumeration-1" type="NISTSchema-SV-IV-union-anyURI-float-enumeration-1-Type"/>

  <xs:simpleType name="unionOf-anyURI-float">
    <xs:union memberTypes="xs:anyURI xs:float"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-union-anyURI-float-enumeration-1-Type">
    <xs:restriction base="unionOf-anyURI-float">
          <xs:enumeration value="telnet://toinvolve.gov"/>
          <xs:enumeration value="3.3221344E9"/>
          <xs:enumeration value="ftp://willPervasi.epartnersh.psOrganiza.net"/>
          <xs:enumeration value="ftp://thatguidel.org"/>
          <xs:enumeration value="http://th.org"/>
          <xs:enumeration value="http://divisionspa.t.edu"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
