nistData/union/anyURI-float/Schema+Instance/NISTSchema-SV-II-union-anyURI-float-enumeration-3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-union-anyURI-float-enumeration-3-NS"
        targetNamespace="NISTSchema-SV-II-union-anyURI-float-enumeration-3-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-union-anyURI-float-enumeration-3.xsd
      This schema specifies a datatype, NISTSchema-SV-II-union-anyURI-float-enumeration-3,
      which is derived by restriction of a union of built-in types 
      anyURI and float
      by facet enumeration with values of:
          http://www.amongmethod.aSundepe.gov
          http://www.softwareXML.utomatedIn.ormatio.gov
          mailto:@informatio.com
          mailto:thetoSuni@andXSLdevicesReferencefort.net
          2.1400968E-25
          2.1503827E-35
          3.1803281E5
          gopher://Languageusi.gthisthems.pportthrou.hre.com
          2.0633929E-6
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="NISTSchema-SV-II-union-anyURI-float-enumeration-3" type="NISTSchema-SV-II-union-anyURI-float-enumeration-3-Type"/>

  <xs:simpleType name="unionOf-anyURI-float">
    <xs:union memberTypes="xs:anyURI xs:float"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-union-anyURI-float-enumeration-3-Type">
    <xs:restriction base="unionOf-anyURI-float">
          <xs:enumeration value="http://www.amongmethod.aSundepe.gov"/>
          <xs:enumeration value="http://www.softwareXML.utomatedIn.ormatio.gov"/>
          <xs:enumeration value="mailto:@informatio.com"/>
          <xs:enumeration value="mailto:thetoSuni@andXSLdevicesReferencefort.net"/>
          <xs:enumeration value="2.1400968E-25"/>
          <xs:enumeration value="2.1503827E-35"/>
          <xs:enumeration value="3.1803281E5"/>
          <xs:enumeration value="gopher://Languageusi.gthisthems.pportthrou.hre.com"/>
          <xs:enumeration value="2.0633929E-6"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
