nistData/union/anyURI-float/Schema+Instance/NISTSchema-SV-II-union-anyURI-float-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-union-anyURI-float-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-II-union-anyURI-float-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-union-anyURI-float-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-II-union-anyURI-float-enumeration-4,
      which is derived by restriction of a union of built-in types 
      anyURI and float
      by facet enumeration with values of:
          http://lawacco.com
          1.4E-45
          http://ob.edu
          ftp://ftp.PCBusin.edu
          http://www.andtheDOMpa.ticipateof.uchd.gov
          2.1400968E-25
          mailto:o@standards.gov
          http://requiresan.gov
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="NISTSchema-SV-II-union-anyURI-float-enumeration-4" type="NISTSchema-SV-II-union-anyURI-float-enumeration-4-Type"/>

  <xs:simpleType name="unionOf-anyURI-float">
    <xs:union memberTypes="xs:anyURI xs:float"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-union-anyURI-float-enumeration-4-Type">
    <xs:restriction base="unionOf-anyURI-float">
          <xs:enumeration value="http://lawacco.com"/>
          <xs:enumeration value="1.4E-45"/>
          <xs:enumeration value="http://ob.edu"/>
          <xs:enumeration value="ftp://ftp.PCBusin.edu"/>
          <xs:enumeration value="http://www.andtheDOMpa.ticipateof.uchd.gov"/>
          <xs:enumeration value="2.1400968E-25"/>
          <xs:enumeration value="mailto:o@standards.gov"/>
          <xs:enumeration value="http://requiresan.gov"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
