nistData/union/anyURI-float/Schema+Instance/NISTSchema-SV-IV-union-anyURI-float-enumeration-5.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-union-anyURI-float-enumeration-5-NS"
        targetNamespace="NISTSchema-SV-IV-union-anyURI-float-enumeration-5-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-union-anyURI-float-enumeration-5.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-union-anyURI-float-enumeration-5,
      which is derived by restriction of a union of built-in types 
      anyURI and float
      by facet enumeration with values of:
          1.5172229E21
          3.0376633E15
          3.0698753E-18
          ftp://industryand.ewelltointo.org
          1.9458620E10
          ftp://ftp.intherigoro.ssystemdev.lopmentth.net
          telnet://andsuchrobu.tindicatio.andtheinfo.mationandof.net
          1.7427166E27
          ftp://willPervasi.epartnersh.psOrganiza.net
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="NISTSchema-SV-IV-union-anyURI-float-enumeration-5" type="NISTSchema-SV-IV-union-anyURI-float-enumeration-5-Type"/>

  <xs:simpleType name="unionOf-anyURI-float">
    <xs:union memberTypes="xs:anyURI xs:float"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-union-anyURI-float-enumeration-5-Type">
    <xs:restriction base="unionOf-anyURI-float">
          <xs:enumeration value="1.5172229E21"/>
          <xs:enumeration value="3.0376633E15"/>
          <xs:enumeration value="3.0698753E-18"/>
          <xs:enumeration value="ftp://industryand.ewelltointo.org"/>
          <xs:enumeration value="1.9458620E10"/>
          <xs:enumeration value="ftp://ftp.intherigoro.ssystemdev.lopmentth.net"/>
          <xs:enumeration value="telnet://andsuchrobu.tindicatio.andtheinfo.mationandof.net"/>
          <xs:enumeration value="1.7427166E27"/>
          <xs:enumeration value="ftp://willPervasi.epartnersh.psOrganiza.net"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
