ibmData/schema_invalid/S3_3_6/s3_3_6si03.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="a"
        xmlns:a="a">
        
<!-- 
	Tests restriction of all modelgroup
-->

<complexType name="c">
 <all>
  <any notQName="hi" processContents="lax"/>
  <element name="hello" type="integer"/>
 </all>
</complexType>

<complexType name="d">
 <complexContent>
 <restriction base="a:c">
  <all>
   <any notQName="hi" processContents="lax"/>   <!-- valid restriction -->
  </all>
 </restriction>
 </complexContent>
</complexType>

<complexType name="e">
 <complexContent>
 <restriction base="a:c">
  <all>
   <element name="hello" type="integer"/>   <!-- valid restriction -->
  </all>
 </restriction>
 </complexContent>
</complexType>

<element name="root" type="integer"/>
</schema>
