ibmData/schema_invalid/S3_3_6/s3_3_6si01.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="a"
        xmlns:a="a">
        
<!-- 
	Tests occurence validity
-->

<complexType name="c">
 <all>
  <element name="a" minOccurs="1" maxOccurs="0" type="integer"/>  <!-- maxOccurs < minOccurs -->
  <element name="b" maxOccurs="-1" type="integer"/>               <!-- maxOccurs must be >=0 -->
  <element name="c" minOccurs="-1" type="integer"/>               <!-- minOccurs only has values 0,1 -->
  <element name="d" minOccurs="2" type="integer"/>                <!-- minOccurs only has values 0,1 -->
  <element name="e" minOccurs="1.1" maxOccurs="1.2" type="integer"/>  <!-- occurence constraints must be type integer -->
 </all>
</complexType>

<element name="root" type="integer"/>
</schema>
