ibmData/schema_invalid/S4_2_4/s4_2_4si01b.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="a"
        elementFormDefault="qualified"
        attributeFormDefault="qualified"
        xmlns:tns="a">
     	<redefine schemaLocation="s4_2_4si01.xsd">
		<complexType name="c1">
			<complexContent>
				<extension base="tns:c1">
					<sequence>
						<element name="element_added_2" minOccurs="1"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	   </redefine>

	<complexType name="c1">
		<sequence>
			<element name="element1" minOccurs="1"/>
			<element name="element2" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	
	
	

	<element name="root_1" type="tns:c1"/>

</schema>

<!--
Test Case Type: Schema invalid test
Description   : invalid schema for Cyclic dependencies redefine
-->