nistData/list/double/Schema+Instance/NISTSchema-SV-II-list-double-length-1.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-II-list-double-length-1-NS"
        targetNamespace="NISTSchema-SV-II-list-double-length-1-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-double-length-1.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-double-length-1,
      which is derived by restriction of a list with item type double
      by facet length with a value of: 5
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-II-list-double-length-1" type="nist:NISTSchema-SV-II-list-double-length-1-Type"/>

  <simpleType name="listOfdouble">
    <list itemType="double"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-II-list-double-length-1-Type">
    <restriction base="nist:listOfdouble">
      <length value="5"/>
    </restriction>
  </simpleType>

</schema>
