nistData/list/double/Schema+Instance/NISTSchema-SV-IV-list-double-enumeration-3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-double-enumeration-3-NS"
        targetNamespace="NISTSchema-SV-IV-list-double-enumeration-3-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-double-enumeration-3.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-double-enumeration-3,
      which is derived by restriction of a list with itemType double
      by facet enumeration with values of:
          4.9E-324 1.8962238455392880E-219 4.1076819626021642E-114 4.1773063081356970E-9 2.5530830957595157E96 2.4036611017823618E201 1.7976931348623157E308
          4.9E-324 3.3289333903196227E-254 3.3257084834443917E-184 2.5793165860557133E-114 3.4353192064461560E-44 4.7603791403880431E26 3.5443723029155594E96 4.7899255283610670E166 4.0669988618439313E236 1.7976931348623157E308
          4.9E-324 4.2506536621769054E-234 3.9286179139480018E-144 3.4479809067023385E-54 3.0333378443831085E36 2.3448767062595187E126 4.5535937694824354E216 1.7976931348623157E308
          4.9E-324 3.3761129815516070E-198 1.9209408090483688E-72 2.6273676845788681E54 4.1202501964134079E180 1.7976931348623157E308
          4.9E-324 2.4724611965242349E-245 3.1614514412945221E-166 4.6553894134106889E-87 2.8052514766687817E-8 4.4436434343208058E71 3.0771827630500595E150 3.6015558356011619E229 1.7976931348623157E308
          4.9E-324 2.4661821990037006E-219 4.5465522328603137E-114 1.9257277171879485E-9 2.5019365181816074E96 2.5081113145111069E201 1.7976931348623157E308
          4.9E-324 2.7659489055289367E-198 4.8062889602602308E-72 3.2404770392781985E54 4.3397152901602717E180 1.7976931348623157E308
          4.9E-324 4.0580694633190266E-198 2.6843935606632316E-72 2.2522378988077416E54 2.0036503627623435E180 1.7976931348623157E308
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-double-enumeration-3" type="NISTSchema-SV-IV-list-double-enumeration-3-Type"/>

  <xs:simpleType name="listOfdouble">
    <xs:list itemType="xs:double"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-double-enumeration-3-Type">
    <xs:restriction base="listOfdouble">
          <xs:enumeration value="4.9E-324 1.8962238455392880E-219 4.1076819626021642E-114 4.1773063081356970E-9 2.5530830957595157E96 2.4036611017823618E201 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 3.3289333903196227E-254 3.3257084834443917E-184 2.5793165860557133E-114 3.4353192064461560E-44 4.7603791403880431E26 3.5443723029155594E96 4.7899255283610670E166 4.0669988618439313E236 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 4.2506536621769054E-234 3.9286179139480018E-144 3.4479809067023385E-54 3.0333378443831085E36 2.3448767062595187E126 4.5535937694824354E216 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 3.3761129815516070E-198 1.9209408090483688E-72 2.6273676845788681E54 4.1202501964134079E180 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 2.4724611965242349E-245 3.1614514412945221E-166 4.6553894134106889E-87 2.8052514766687817E-8 4.4436434343208058E71 3.0771827630500595E150 3.6015558356011619E229 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 2.4661821990037006E-219 4.5465522328603137E-114 1.9257277171879485E-9 2.5019365181816074E96 2.5081113145111069E201 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 2.7659489055289367E-198 4.8062889602602308E-72 3.2404770392781985E54 4.3397152901602717E180 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 4.0580694633190266E-198 2.6843935606632316E-72 2.2522378988077416E54 2.0036503627623435E180 1.7976931348623157E308"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
