nistData/list/double/Schema+Instance/NISTSchema-SV-IV-list-double-enumeration-2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-double-enumeration-2-NS"
        targetNamespace="NISTSchema-SV-IV-list-double-enumeration-2-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-double-enumeration-2.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-double-enumeration-2,
      which is derived by restriction of a list with itemType double
      by facet enumeration with values of:
          4.9E-324 2.7509865677574411E-166 2.8551997226734984E-8 2.5784202009155034E150 1.7976931348623157E308
          4.9E-324 4.8307200966629349E-234 2.8920087695295563E-144 3.5208335492996785E-54 3.7242077802693599E36 4.3261300327489884E126 2.2880084493048654E216 1.7976931348623157E308
          4.9E-324 4.2514382183285612E-198 4.1065903063807033E-72 2.8093845501767998E54 2.5002867302206320E180 1.7976931348623157E308
          4.9E-324 1.9781340662480597E-219 4.2604211152470515E-114 3.6816014152399128E-9 2.9130531040998121E96 3.6423517353547603E201 1.7976931348623157E308
          4.9E-324 2.2304433247213110E-219 2.5723306998923320E-114 1.9195337243818305E-9 3.0903534030553265E96 4.8066737866863894E201 1.7976931348623157E308
          4.9E-324 4.4005143595980070E-254 4.7017434072877284E-184 4.4390207619942022E-114 3.2271042811139428E-44 2.8235959053148070E26 2.4405006262419187E96 3.4029547647913189E166 4.4088286678817334E236 1.7976931348623157E308
          4.9E-324 4.3340435789643766E-166 2.7451534426890750E-8 4.0266142476415592E150 1.7976931348623157E308
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-double-enumeration-2" type="NISTSchema-SV-IV-list-double-enumeration-2-Type"/>

  <xs:simpleType name="listOfdouble">
    <xs:list itemType="xs:double"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-double-enumeration-2-Type">
    <xs:restriction base="listOfdouble">
          <xs:enumeration value="4.9E-324 2.7509865677574411E-166 2.8551997226734984E-8 2.5784202009155034E150 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 4.8307200966629349E-234 2.8920087695295563E-144 3.5208335492996785E-54 3.7242077802693599E36 4.3261300327489884E126 2.2880084493048654E216 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 4.2514382183285612E-198 4.1065903063807033E-72 2.8093845501767998E54 2.5002867302206320E180 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 1.9781340662480597E-219 4.2604211152470515E-114 3.6816014152399128E-9 2.9130531040998121E96 3.6423517353547603E201 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 2.2304433247213110E-219 2.5723306998923320E-114 1.9195337243818305E-9 3.0903534030553265E96 4.8066737866863894E201 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 4.4005143595980070E-254 4.7017434072877284E-184 4.4390207619942022E-114 3.2271042811139428E-44 2.8235959053148070E26 2.4405006262419187E96 3.4029547647913189E166 4.4088286678817334E236 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 4.3340435789643766E-166 2.7451534426890750E-8 4.0266142476415592E150 1.7976931348623157E308"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
