nistData/list/double/Schema+Instance/NISTSchema-SV-II-list-double-enumeration-2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-double-enumeration-2-NS"
        targetNamespace="NISTSchema-SV-II-list-double-enumeration-2-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-double-enumeration-2.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-double-enumeration-2,
      which is derived by restriction of a list with itemType double
      by facet enumeration with values of:
          4.9E-324 4.8734098577483104E-254 2.1555978607349736E-184 4.2366961387718694E-114 2.0954720487454801E-44 3.0187607313211629E26 4.8267166678045456E96 4.0287662015822167E166 4.5179840277793803E236 1.7976931348623157E308
          4.9E-324 2.7834340174732220E-234 2.0451810355666281E-144 2.3979205825903784E-54 3.7100794804722791E36 4.5600863642840474E126 1.9029455162083113E216 1.7976931348623157E308
          4.9E-324 2.0764055131668938E-198 1.9765892599495544E-72 3.5985304552715203E54 2.0773600472411681E180 1.7976931348623157E308
          4.9E-324 4.1224315351457737E-198 3.8493381132233625E-72 4.8338104008046264E54 4.5919253142319019E180 1.7976931348623157E308
          4.9E-324 2.8359560209247342E-245 2.8221885281156355E-166 4.4413836221770029E-87 4.0425399159422203E-8 4.5946702945713404E71 4.7420472890484933E150 3.4223680272462159E229 1.7976931348623157E308
          4.9E-324 2.6329403144335854E-245 4.3939204626180395E-166 3.0028269435627251E-87 2.7311163204786203E-8 2.0205624282920687E71 3.0632913387553537E150 4.2144842831052139E229 1.7976931348623157E308
          4.9E-324 2.2661239194925848E-234 4.1926379688194744E-144 3.4516745414599366E-54 3.6090056615869858E36 4.6588772886579855E126 4.1150823876452897E216 1.7976931348623157E308
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-double-enumeration-2" type="NISTSchema-SV-II-list-double-enumeration-2-Type"/>

  <xs:simpleType name="listOfdouble">
    <xs:list itemType="xs:double"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-double-enumeration-2-Type">
    <xs:restriction base="listOfdouble">
          <xs:enumeration value="4.9E-324 4.8734098577483104E-254 2.1555978607349736E-184 4.2366961387718694E-114 2.0954720487454801E-44 3.0187607313211629E26 4.8267166678045456E96 4.0287662015822167E166 4.5179840277793803E236 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 2.7834340174732220E-234 2.0451810355666281E-144 2.3979205825903784E-54 3.7100794804722791E36 4.5600863642840474E126 1.9029455162083113E216 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 2.0764055131668938E-198 1.9765892599495544E-72 3.5985304552715203E54 2.0773600472411681E180 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 4.1224315351457737E-198 3.8493381132233625E-72 4.8338104008046264E54 4.5919253142319019E180 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 2.8359560209247342E-245 2.8221885281156355E-166 4.4413836221770029E-87 4.0425399159422203E-8 4.5946702945713404E71 4.7420472890484933E150 3.4223680272462159E229 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 2.6329403144335854E-245 4.3939204626180395E-166 3.0028269435627251E-87 2.7311163204786203E-8 2.0205624282920687E71 3.0632913387553537E150 4.2144842831052139E229 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 2.2661239194925848E-234 4.1926379688194744E-144 3.4516745414599366E-54 3.6090056615869858E36 4.6588772886579855E126 4.1150823876452897E216 1.7976931348623157E308"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
