nistData/list/double/Schema+Instance/NISTSchema-SV-II-list-double-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-double-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-II-list-double-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-double-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-double-enumeration-4,
      which is derived by restriction of a list with itemType double
      by facet enumeration with values of:
          4.9E-324 3.7906353431210073E-198 3.3682437601956936E-72 4.6172801161012184E54 2.6965540602058596E180 1.7976931348623157E308
          4.9E-324 2.9101390721388321E-245 3.4938857214941981E-166 3.2396386553627176E-87 4.2502558983450075E-8 4.0176395259274481E71 1.9273402450153519E150 1.9903436200575128E229 1.7976931348623157E308
          4.9E-324 4.4277808981394271E-198 4.8246337320280925E-72 3.2772648978035250E54 4.5479126361747494E180 1.7976931348623157E308
          4.9E-324 4.7648948238447031E-198 2.7283049497391097E-72 3.4731850908059986E54 4.2259178254478043E180 1.7976931348623157E308
          4.9E-324 3.6838187645399068E-198 3.7873555788523439E-72 2.0610767828296614E54 4.2531186982912527E180 1.7976931348623157E308
          4.9E-324 4.2533061098107424E-245 3.6335768514286491E-166 2.1624915813036258E-87 3.8131705485976123E-8 4.6625029987036764E71 3.6758425484749498E150 3.7139437823728579E229 1.7976931348623157E308
          4.9E-324 4.0509618256005359E-245 2.7187711140986143E-166 3.0969939497156531E-87 2.6358213279249248E-8 2.7396608967648721E71 3.5415814428755852E150 4.1638035105559367E229 1.7976931348623157E308
          4.9E-324 2.8880475420210005E-219 3.5563551474743205E-114 3.6544720704502108E-9 4.7623178202046379E96 3.0339453816320120E201 1.7976931348623157E308
          4.9E-324 4.6064951421848160E-234 4.2389976972444025E-144 2.5580981299519382E-54 2.5974738474108993E36 2.1750217642836451E126 1.9805212668315482E216 1.7976931348623157E308
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-double-enumeration-4" type="NISTSchema-SV-II-list-double-enumeration-4-Type"/>

  <xs:simpleType name="listOfdouble">
    <xs:list itemType="xs:double"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-double-enumeration-4-Type">
    <xs:restriction base="listOfdouble">
          <xs:enumeration value="4.9E-324 3.7906353431210073E-198 3.3682437601956936E-72 4.6172801161012184E54 2.6965540602058596E180 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 2.9101390721388321E-245 3.4938857214941981E-166 3.2396386553627176E-87 4.2502558983450075E-8 4.0176395259274481E71 1.9273402450153519E150 1.9903436200575128E229 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 4.4277808981394271E-198 4.8246337320280925E-72 3.2772648978035250E54 4.5479126361747494E180 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 4.7648948238447031E-198 2.7283049497391097E-72 3.4731850908059986E54 4.2259178254478043E180 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 3.6838187645399068E-198 3.7873555788523439E-72 2.0610767828296614E54 4.2531186982912527E180 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 4.2533061098107424E-245 3.6335768514286491E-166 2.1624915813036258E-87 3.8131705485976123E-8 4.6625029987036764E71 3.6758425484749498E150 3.7139437823728579E229 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 4.0509618256005359E-245 2.7187711140986143E-166 3.0969939497156531E-87 2.6358213279249248E-8 2.7396608967648721E71 3.5415814428755852E150 4.1638035105559367E229 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 2.8880475420210005E-219 3.5563551474743205E-114 3.6544720704502108E-9 4.7623178202046379E96 3.0339453816320120E201 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 4.6064951421848160E-234 4.2389976972444025E-144 2.5580981299519382E-54 2.5974738474108993E36 2.1750217642836451E126 1.9805212668315482E216 1.7976931348623157E308"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
