nistData/list/double/Schema+Instance/NISTSchema-SV-IV-list-double-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-double-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-double-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-double-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-double-enumeration-4,
      which is derived by restriction of a list with itemType double
      by facet enumeration with values of:
          4.9E-324 1.9977664920489141E-219 3.9878989655907218E-114 3.2748104932234330E-9 2.4327917271194788E96 2.2119448704283175E201 1.7976931348623157E308
          4.9E-324 2.6147313687290217E-198 3.3729750918501393E-72 2.3211857380298915E54 3.7192563708433418E180 1.7976931348623157E308
          4.9E-324 4.8744066566452411E-245 2.4073704386950852E-166 4.1309114393904805E-87 4.7644188967580748E-8 4.4084249503108007E71 3.1013146610732306E150 2.9436013924198808E229 1.7976931348623157E308
          4.9E-324 3.0723928624026176E-234 2.9149797307527125E-144 4.7313083086546375E-54 3.8601674048644387E36 3.0417056263591268E126 2.0893843702294762E216 1.7976931348623157E308
          4.9E-324 4.8315891131611950E-234 2.4018697328088663E-144 4.5210750945774030E-54 2.7300025189626860E36 4.7712377319948041E126 2.7944587365400756E216 1.7976931348623157E308
          4.9E-324 3.4228279798270738E-234 4.4234513214880347E-144 3.0024359426769954E-54 2.6424462693779610E36 2.1997346892873277E126 3.6184508901337128E216 1.7976931348623157E308
          4.9E-324 2.3070849537297789E-254 4.0868486667777760E-184 2.1267669273894730E-114 3.1354684310686785E-44 2.9864585360122678E26 4.1988564106449682E96 2.1248755960011917E166 1.8345422958793301E236 1.7976931348623157E308
          4.9E-324 4.5744420922229258E-219 3.0608403047478578E-114 2.8328305131173172E-9 4.1148812058985674E96 2.6246493882455560E201 1.7976931348623157E308
          4.9E-324 2.4048546332899251E-198 3.9297400559475417E-72 3.4663555243785767E54 3.7218604842267541E180 1.7976931348623157E308
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-double-enumeration-4" type="NISTSchema-SV-IV-list-double-enumeration-4-Type"/>

  <xs:simpleType name="listOfdouble">
    <xs:list itemType="xs:double"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-double-enumeration-4-Type">
    <xs:restriction base="listOfdouble">
          <xs:enumeration value="4.9E-324 1.9977664920489141E-219 3.9878989655907218E-114 3.2748104932234330E-9 2.4327917271194788E96 2.2119448704283175E201 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 2.6147313687290217E-198 3.3729750918501393E-72 2.3211857380298915E54 3.7192563708433418E180 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 4.8744066566452411E-245 2.4073704386950852E-166 4.1309114393904805E-87 4.7644188967580748E-8 4.4084249503108007E71 3.1013146610732306E150 2.9436013924198808E229 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 3.0723928624026176E-234 2.9149797307527125E-144 4.7313083086546375E-54 3.8601674048644387E36 3.0417056263591268E126 2.0893843702294762E216 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 4.8315891131611950E-234 2.4018697328088663E-144 4.5210750945774030E-54 2.7300025189626860E36 4.7712377319948041E126 2.7944587365400756E216 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 3.4228279798270738E-234 4.4234513214880347E-144 3.0024359426769954E-54 2.6424462693779610E36 2.1997346892873277E126 3.6184508901337128E216 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 2.3070849537297789E-254 4.0868486667777760E-184 2.1267669273894730E-114 3.1354684310686785E-44 2.9864585360122678E26 4.1988564106449682E96 2.1248755960011917E166 1.8345422958793301E236 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 4.5744420922229258E-219 3.0608403047478578E-114 2.8328305131173172E-9 4.1148812058985674E96 2.6246493882455560E201 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 2.4048546332899251E-198 3.9297400559475417E-72 3.4663555243785767E54 3.7218604842267541E180 1.7976931348623157E308"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
