nistData/list/double/Schema+Instance/NISTSchema-SV-IV-list-double-enumeration-5.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-double-enumeration-5-NS"
        targetNamespace="NISTSchema-SV-IV-list-double-enumeration-5-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-double-enumeration-5.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-double-enumeration-5,
      which is derived by restriction of a list with itemType double
      by facet enumeration with values of:
          4.9E-324 4.3979034419892771E-234 3.6675301194131948E-144 2.6739083436556569E-54 3.3047822077297528E36 4.6797796266107781E126 2.1261416306537672E216 1.7976931348623157E308
          4.9E-324 4.2964540243818624E-166 4.3101492609637873E-8 4.0269867910546477E150 1.7976931348623157E308
          4.9E-324 2.8589937997804853E-234 3.5799059954909266E-144 1.8356607671734092E-54 4.0849922276536319E36 4.4393015580886428E126 2.3070190849260427E216 1.7976931348623157E308
          4.9E-324 1.8345681503417084E-198 4.4211549486791127E-72 4.4453469565818809E54 4.0854234064297574E180 1.7976931348623157E308
          4.9E-324 3.7264081925865801E-198 4.3972049821504487E-72 3.5820956061117444E54 4.0085428744362623E180 1.7976931348623157E308
          4.9E-324 2.3333348578459584E-245 3.1727579214616523E-166 3.4126430354383726E-87 3.7700597903809298E-8 3.4424355830915824E71 4.4042516719133489E150 3.6649652589842015E229 1.7976931348623157E308
          4.9E-324 4.3211549038872205E-219 2.5953696725174317E-114 4.4193105037801130E-9 1.8295299440808407E96 3.5590623202076332E201 1.7976931348623157E308
          4.9E-324 2.5783234710677566E-245 3.0310620998149151E-166 3.0047350027417539E-87 3.5009658885949314E-8 4.3658579302102290E71 2.5372374729577806E150 2.1755432982546159E229 1.7976931348623157E308
          4.9E-324 2.9662810224404603E-254 3.3051586453718345E-184 3.6004548140727887E-114 3.1002765503709028E-44 4.7820900913945326E26 4.5752521679403050E96 4.3344908210528792E166 2.7452586496319802E236 1.7976931348623157E308
          4.9E-324 3.8908426093980970E-198 3.5707153523234432E-72 2.6920385211617856E54 1.8779149363391244E180 1.7976931348623157E308
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-double-enumeration-5" type="NISTSchema-SV-IV-list-double-enumeration-5-Type"/>

  <xs:simpleType name="listOfdouble">
    <xs:list itemType="xs:double"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-double-enumeration-5-Type">
    <xs:restriction base="listOfdouble">
          <xs:enumeration value="4.9E-324 4.3979034419892771E-234 3.6675301194131948E-144 2.6739083436556569E-54 3.3047822077297528E36 4.6797796266107781E126 2.1261416306537672E216 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 4.2964540243818624E-166 4.3101492609637873E-8 4.0269867910546477E150 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 2.8589937997804853E-234 3.5799059954909266E-144 1.8356607671734092E-54 4.0849922276536319E36 4.4393015580886428E126 2.3070190849260427E216 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 1.8345681503417084E-198 4.4211549486791127E-72 4.4453469565818809E54 4.0854234064297574E180 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 3.7264081925865801E-198 4.3972049821504487E-72 3.5820956061117444E54 4.0085428744362623E180 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 2.3333348578459584E-245 3.1727579214616523E-166 3.4126430354383726E-87 3.7700597903809298E-8 3.4424355830915824E71 4.4042516719133489E150 3.6649652589842015E229 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 4.3211549038872205E-219 2.5953696725174317E-114 4.4193105037801130E-9 1.8295299440808407E96 3.5590623202076332E201 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 2.5783234710677566E-245 3.0310620998149151E-166 3.0047350027417539E-87 3.5009658885949314E-8 4.3658579302102290E71 2.5372374729577806E150 2.1755432982546159E229 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 2.9662810224404603E-254 3.3051586453718345E-184 3.6004548140727887E-114 3.1002765503709028E-44 4.7820900913945326E26 4.5752521679403050E96 4.3344908210528792E166 2.7452586496319802E236 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 3.8908426093980970E-198 3.5707153523234432E-72 2.6920385211617856E54 1.8779149363391244E180 1.7976931348623157E308"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
