nistData/list/double/Schema+Instance/NISTSchema-SV-II-list-double-enumeration-3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-double-enumeration-3-NS"
        targetNamespace="NISTSchema-SV-II-list-double-enumeration-3-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-double-enumeration-3.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-double-enumeration-3,
      which is derived by restriction of a list with itemType double
      by facet enumeration with values of:
          4.9E-324 4.6620268454077552E-234 3.2381806110192066E-144 4.7200530825311942E-54 4.3507615468596001E36 3.1960309455587780E126 2.4772547775871002E216 1.7976931348623157E308
          4.9E-324 3.4845314674191202E-245 3.8145982117528398E-166 3.6735772827013347E-87 2.3083688663543287E-8 3.5686552351140290E71 4.0361260620664115E150 4.7483310001182778E229 1.7976931348623157E308
          4.9E-324 2.0847424154864864E-245 1.9479134397528145E-166 3.8377950768395856E-87 4.7373273283121888E-8 3.6451205485133725E71 1.9334083453452902E150 2.3548066836924288E229 1.7976931348623157E308
          4.9E-324 2.0467479650291871E-234 2.8486328386462722E-144 2.3839166461131975E-54 4.6080761804807261E36 3.1575879793404696E126 3.7042885440527568E216 1.7976931348623157E308
          4.9E-324 2.4405126620263979E-198 2.8148329547796285E-72 4.5749311155265232E54 3.5294399605251636E180 1.7976931348623157E308
          4.9E-324 2.5871525992244918E-198 3.2967301225544595E-72 4.6850824974572326E54 4.8885588946105196E180 1.7976931348623157E308
          4.9E-324 4.6661108460103423E-254 2.3405897192421912E-184 4.4424513713610189E-114 2.7946490181445618E-44 3.1645591190754917E26 3.1583886741996656E96 4.0368337680907427E166 4.0204412416297088E236 1.7976931348623157E308
          4.9E-324 2.6323190957779991E-245 2.4896428464756525E-166 2.8928890177102444E-87 2.3894898089214071E-8 2.1945657726679567E71 2.5494631588821584E150 2.2697544498095320E229 1.7976931348623157E308
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-double-enumeration-3" type="NISTSchema-SV-II-list-double-enumeration-3-Type"/>

  <xs:simpleType name="listOfdouble">
    <xs:list itemType="xs:double"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-double-enumeration-3-Type">
    <xs:restriction base="listOfdouble">
          <xs:enumeration value="4.9E-324 4.6620268454077552E-234 3.2381806110192066E-144 4.7200530825311942E-54 4.3507615468596001E36 3.1960309455587780E126 2.4772547775871002E216 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 3.4845314674191202E-245 3.8145982117528398E-166 3.6735772827013347E-87 2.3083688663543287E-8 3.5686552351140290E71 4.0361260620664115E150 4.7483310001182778E229 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 2.0847424154864864E-245 1.9479134397528145E-166 3.8377950768395856E-87 4.7373273283121888E-8 3.6451205485133725E71 1.9334083453452902E150 2.3548066836924288E229 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 2.0467479650291871E-234 2.8486328386462722E-144 2.3839166461131975E-54 4.6080761804807261E36 3.1575879793404696E126 3.7042885440527568E216 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 2.4405126620263979E-198 2.8148329547796285E-72 4.5749311155265232E54 3.5294399605251636E180 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 2.5871525992244918E-198 3.2967301225544595E-72 4.6850824974572326E54 4.8885588946105196E180 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 4.6661108460103423E-254 2.3405897192421912E-184 4.4424513713610189E-114 2.7946490181445618E-44 3.1645591190754917E26 3.1583886741996656E96 4.0368337680907427E166 4.0204412416297088E236 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 2.6323190957779991E-245 2.4896428464756525E-166 2.8928890177102444E-87 2.3894898089214071E-8 2.1945657726679567E71 2.5494631588821584E150 2.2697544498095320E229 1.7976931348623157E308"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
