nistData/list/double/Schema+Instance/NISTSchema-SV-II-list-double-enumeration-1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-double-enumeration-1-NS"
        targetNamespace="NISTSchema-SV-II-list-double-enumeration-1-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-double-enumeration-1.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-double-enumeration-1,
      which is derived by restriction of a list with itemType double
      by facet enumeration with values of:
          4.9E-324 1.8513122363629851E-198 3.4507073995638536E-72 3.7429027446628468E54 2.8915298792165042E180 1.7976931348623157E308
          4.9E-324 4.8528627702002525E-219 4.2250572574957905E-114 2.6082445396431391E-9 2.5202128404857238E96 4.6066498108645167E201 1.7976931348623157E308
          4.9E-324 2.5516783776954992E-198 2.7247351578692134E-72 4.1410433325173588E54 4.2195151455002524E180 1.7976931348623157E308
          4.9E-324 2.5295263322361822E-166 4.7322221406661865E-8 3.4055469102639244E150 1.7976931348623157E308
          4.9E-324 2.7330931371539612E-234 2.5630920692139304E-144 2.2533983250418246E-54 3.1180663898662730E36 4.4805907429815496E126 3.7204041083812633E216 1.7976931348623157E308
          4.9E-324 1.9800013007009754E-234 4.5255842251506312E-144 3.2071850966528079E-54 4.6106988265751742E36 3.2817765360425444E126 2.3375652614855653E216 1.7976931348623157E308
          4.9E-324 2.6187614371073422E-198 2.7510311185050712E-72 2.1549035544692664E54 2.6669938632165778E180 1.7976931348623157E308
          4.9E-324 3.2883313091715799E-198 2.4716321414049471E-72 4.3640357067980903E54 3.3149758238523165E180 1.7976931348623157E308
          4.9E-324 3.0467892333005411E-198 2.1443373975565854E-72 2.0512997112356483E54 4.6645456951950142E180 1.7976931348623157E308
          4.9E-324 3.2593024559386655E-198 3.0114060109910749E-72 3.4014376980797644E54 3.2080375429665418E180 1.7976931348623157E308
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-double-enumeration-1" type="NISTSchema-SV-II-list-double-enumeration-1-Type"/>

  <xs:simpleType name="listOfdouble">
    <xs:list itemType="xs:double"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-double-enumeration-1-Type">
    <xs:restriction base="listOfdouble">
          <xs:enumeration value="4.9E-324 1.8513122363629851E-198 3.4507073995638536E-72 3.7429027446628468E54 2.8915298792165042E180 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 4.8528627702002525E-219 4.2250572574957905E-114 2.6082445396431391E-9 2.5202128404857238E96 4.6066498108645167E201 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 2.5516783776954992E-198 2.7247351578692134E-72 4.1410433325173588E54 4.2195151455002524E180 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 2.5295263322361822E-166 4.7322221406661865E-8 3.4055469102639244E150 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 2.7330931371539612E-234 2.5630920692139304E-144 2.2533983250418246E-54 3.1180663898662730E36 4.4805907429815496E126 3.7204041083812633E216 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 1.9800013007009754E-234 4.5255842251506312E-144 3.2071850966528079E-54 4.6106988265751742E36 3.2817765360425444E126 2.3375652614855653E216 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 2.6187614371073422E-198 2.7510311185050712E-72 2.1549035544692664E54 2.6669938632165778E180 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 3.2883313091715799E-198 2.4716321414049471E-72 4.3640357067980903E54 3.3149758238523165E180 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 3.0467892333005411E-198 2.1443373975565854E-72 2.0512997112356483E54 4.6645456951950142E180 1.7976931348623157E308"/>
          <xs:enumeration value="4.9E-324 3.2593024559386655E-198 3.0114060109910749E-72 3.4014376980797644E54 3.2080375429665418E180 1.7976931348623157E308"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
