sunData/combined/009/test.xsd

<?xml version="1.0" encoding="utf-8"?>

<!--
Ident: @(#)test.xsd	1.3 03/10/10

-->

			<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:foo" xmlns:foo="urn:foo" elementFormDefault="qualified" targetNamespace="urn:foo">
				
				<xs:complexType name="base">
					<xs:attribute name="a" type="xs:string"/>
					<xs:attribute name="b" type="xs:string"/>
					<xs:attribute name="c" type="xs:string"/>
				</xs:complexType>
				
				<xs:element name="base" type="base"/>
				
				<xs:element name="default">
					<xs:complexType>
						<xs:complexContent>
							<xs:restriction base="base"/>
							<!-- no explicit override. -->
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="override">
					<xs:complexType>
						<xs:complexContent>
							<xs:restriction base="base">
								<!-- @a is restricted -->
								<xs:attribute name="a">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="fixed"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:restriction>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="add">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="base">
								<!-- adding new attribute -->
								<xs:attribute name="d" type="xs:string"/>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="prohibit">
					<xs:complexType>
						<xs:complexContent>
							<xs:restriction base="base">
								<!-- prohibiting existing attribute -->
								<xs:attribute name="c" use="prohibited"/>
							</xs:restriction>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:schema>
