ibmData/valid/D3_3_16/d3_3_16v01.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11"
	xmlns:si="http://xstest-tns/schema11">
	


<simpleType name='myRestrictedhex'>
	<restriction base='hexBinary'>
		<maxLength value="4"/>
	</restriction>
</simpleType>

<element name="root">
	<complexType>
		<sequence>
			<element name="ele" type="si:myRestrictedhex" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</element>    

</schema>  
<!-- 
Test Case Type: Valid test
Description   : test Units of length for hexBinary datatype.
-->