nistData/list/Name/Schema+Instance/NISTSchema-SV-IV-list-Name-pattern-3.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-Name-pattern-3-NS"
        targetNamespace="NISTSchema-SV-IV-list-Name-pattern-3-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-Name-pattern-3.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-Name-pattern-3,
      which is derived by restriction of a list with item type Name
      by facet pattern with a value of: \i\c{24} \i\c{23} \i\c{57} \i\c{50} \i\c{52} \i\c{35} \i\c{28}
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-Name-pattern-3" type="nist:NISTSchema-SV-IV-list-Name-pattern-3-Type"/>

  <simpleType name="listOfName">
    <list itemType="Name"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-Name-pattern-3-Type">
    <restriction base="nist:listOfName">
      <pattern value="\i\c{24} \i\c{23} \i\c{57} \i\c{50} \i\c{52} \i\c{35} \i\c{28}"/>
    </restriction>
  </simpleType>

</schema>
