nistData/list/Name/Schema+Instance/NISTSchema-SV-IV-list-Name-pattern-4.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-Name-pattern-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-Name-pattern-4-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-Name-pattern-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-Name-pattern-4,
      which is derived by restriction of a list with item type Name
      by facet pattern with a value of: \i\c{19} \i\c{63} \i\c{18} \i\c{40} \i\c{12} \i\c{58} \i\c{47} \i\c{54} \i\c{15}
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-Name-pattern-4" type="nist:NISTSchema-SV-IV-list-Name-pattern-4-Type"/>

  <simpleType name="listOfName">
    <list itemType="Name"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-Name-pattern-4-Type">
    <restriction base="nist:listOfName">
      <pattern value="\i\c{19} \i\c{63} \i\c{18} \i\c{40} \i\c{12} \i\c{58} \i\c{47} \i\c{54} \i\c{15}"/>
    </restriction>
  </simpleType>

</schema>
