ibmData/instance_invalid/D3_4_27/d3_4_27ii02.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_4_27_ii02"
	xmlns:sv="http://xstest-tns/schema11_D3_4_27_ii02">
	
<!-- 
	Test Case Type: Instance Invalid test (Datatypes section 3.4.27) 
	Base Type     : dayTimeDuration
	Description   : Tests the simpleType dayTimeDuration and its facets and its use in elements
-->




<simpleType name="yMDEnumeration">
	<restriction base="dayTimeDuration">
		<enumeration value="P1D"/>
		<enumeration value="P1DT3M"/>
		<enumeration value="-P34DT233H"/>
		<enumeration value="PT45S"/>
	</restriction>
</simpleType>

<element name="root">
	<complexType>
		<sequence>
			<element name="elyMDEnumeration" type="sv:yMDEnumeration" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</element>    

</schema>  