ibmData/instance_invalid/D3_4_27/d3_4_27ii03.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_4_27_ii03"
	xmlns:sv="http://xstest-tns/schema11_D3_4_27_ii03">
	
<!-- 
	Test Case Type: Instance Invalid test (Datatypes section 3.4.27) 
	Base Type     : dayTimeDuration
	Description   : Tests the simpleType dayTimeDuration and its facets and its use in elements
-->


<simpleType name="yMDMinMaxInclusive">
	<restriction base="dayTimeDuration">
		<minInclusive value="-P2D"/>
		<maxInclusive value="P30DT23H"/>
	</restriction>
</simpleType>




<element name="root">
	<complexType>
		<sequence>
			<element name="elyMDMinMaxInclusive" type="sv:yMDMinMaxInclusive" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</element>    

</schema>  