ibmData/instance_invalid/S3_4_1/s3_4_1ii04.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="a"
        xmlns:a="a"
	elementFormDefault="qualified">
        
<!-- 
Test Case Type: Instance invalid test
Description   : Tests wildcard in opencontent with restrictions (notQName)
-->

<complexType name="c">
  <openContent>
   <any processContents="lax" notQName="a:a"/>
  </openContent>
</complexType>

<element name="root">
 <complexType>
  <sequence>
   <element name="p" type="a:c"/>	<!-- tests openContent -->
  </sequence>
 </complexType>
</element>

</schema>
