ibmData/instance_invalid/S3_4_1/s3_4_1ii03.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="a"
        xmlns:a="a"
        xmlns:b="b">
        
<!-- 
Test Case Type: Instance invalid test	
Description   : Tests defaultOpenContent: when openContent is present in CT, defaultOpenContent should not be used
-->

<defaultOpenContent mode="interleave" appliesToEmpty="false">
 <any processContents="lax" namespace="b"/>
</defaultOpenContent>

<complexType name="c">
 <openContent mode="suffix">
  <any/>
 </openContent>
 <sequence>
  <element name="a" type="integer"/>
  <element name="b" type="integer"/>
 </sequence>
</complexType>

<element name="root">
 <complexType>
  <sequence>
   <element name="p" type="a:c"/>
  </sequence>
 </complexType>
</element>

</schema>
