sunData/SType/ST_facets/ST_facets00502m/ST_facets00502m1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)ST_facets00502m1.xsd
   generated from: @(#)ST_facets00502m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="SType/ST_facets"
    targetNamespace="SType/ST_facets">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="value" type="S"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="S">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="a00一"/>
            <xsd:enumeration value="a0-盒"/>
            <xsd:enumeration value="a0A龥"/>
            <xsd:enumeration value="a10〇"/>
            <xsd:enumeration value="a20〡"/>
            <xsd:enumeration value="a2-〥"/>
            <xsd:enumeration value="a2A〩"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
