ibmData/instance_invalid/S3_3_4/s3_3_4ii11.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>			
			<xs:attribute name="list_of_ids_attr" type="listOfIDs"/>
			<xs:attribute name="idref_attr" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="listOfIDs">
		<xs:list itemType="xs:ID"/>
	</xs:simpleType>
</xs:schema>


<!-- 
	Test Case Type: intance invalid test (Structures 3.3.4)
	facet Type 	  : ID/IDREF
	Description   : lists of ID on attributes, invalid idref value on attribute
-->
