ibmData/instance_invalid/S3_3_4/s3_3_4ii16.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:attribute name="union_of_ids" type="unionOfIDs"/>
			<xs:attribute name="idref" type="xs:IDREF"/>			
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="unionOfIDs">
		<xs:union memberTypes="xs:integer xs:boolean xs:ID"/>
	</xs:simpleType>

</xs:schema>

<!-- 
	Test Case Type: instance valid test (Structures 3.3.4)
	facet Type 	  : ID/IDREF
	Description   : Unions involving ID in attributes, invalid idref value on attribute
-->