ibmData/instance_invalid/S3_3_4/s3_3_4ii23.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="ids">	
		<xs:sequence>
			<xs:element name="idref_element" type="xs:IDREF"/>
		</xs:sequence>		
		<xs:attribute name="id_attr" type="xs:ID" default="zxc"/>		
	</xs:complexType>

	<xs:element name="root" type="ids"/>
</xs:schema>


<!-- 
	Test Case Type: instance invalid test (Structures 3.3.4) 
	Base Type     : ID/IDREF
	Description   : xs:ID with default value on attribute, and xs:IDREF on element with invalid value
-->