ibmData/instance_invalid/S3_3_4/s3_3_4ii25.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

 <xs:complexType name="ids">
	<xs:sequence>
		<xs:element name="idref_element1" type="xs:IDREF"/>
		<xs:element name="idref_element2" type="xs:IDREF"/>		
	</xs:sequence>
  <xs:attribute name="id1" type="xs:ID" default="abc"/>
  <xs:attribute name="id2" type="xs:ID" default="xyz"/>  
 </xs:complexType>

 <xs:element name="root">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="multiple_ids" type="ids"/>		
		</xs:sequence>   
	</xs:complexType>
 </xs:element>

</xs:schema>

<!-- 
	Test Case Type: instance invalid test (Datatype/facet section 4.3.15) 	
	facet Type 	  : ID/IDREF
	Description   : Multiple attributes of type ID with default value
-->