ibmData/instance_invalid/S3_3_4/s3_3_4ii20.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="ids">
		<xs:sequence>
			<xs:element name="idref" type="xs:IDREF" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id1" type="xs:ID"/>
		<xs:attribute name="id2" type="xs:ID"/>
	</xs:complexType>

	<xs:element name="root" type="ids"/>
</xs:schema>


<!-- 
	Test Case Type: intance invalid test (Structures 3.3.4)
	facet Type 	  : ID/IDREF
	Description   : Multiple attributes of type ID, invalid idref value on element
-->

