ibmData/instance_invalid/S3_3_4/s3_3_4ii22.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="ids">
		<xs:attribute name="id1" type="xs:ID"/>
		<xs:attribute name="id2" type="xs:ID"/>
	</xs:complexType>

	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="multiple_ids">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="ids">
								<xs:attribute name="idref1" type="xs:IDREF"/>
								<xs:attribute name="idref2" type="xs:IDREF"/>								
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>					
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>


<!-- 
	Test Case Type: instance invalid test (Datatype/facet section 4.3.15) 	
	facet Type 	  : ID/IDREF
	Description   : Multiple attributes of type ID
-->

