ibmData/instance_invalid/S3_3_4/s3_3_4ii05.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="ids">
		<xs:attribute name="id1" type="xs:ID" default="zxc"/>
	</xs:complexType>

	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="a" type="ids"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>


<!-- 
	Test Case Type: instance invalid test (Structures 3.3.4) 
	Base Type     : ID/IDREF
	Description   : xs:ID/IDREF with default value on attribute, invalid id value override the default value
-->