ibmData/valid/D3_3_17/d3_3_17v01.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11"
	xmlns:si="http://xstest-tns/schema11">
	


<simpleType name='myRestrictedhex'>
	<restriction base='base64Binary'>
		<minLength value="6"/>
	</restriction>
</simpleType>

<element name="root">
	<complexType>
		<sequence>
			<element name="ele" type="si:myRestrictedhex" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</element>    

</schema>  

<!-- 
Test Case Type: Valid test
Description   : test Units of length for base64Binary datatype.
-->
