saxonData/Complex/complex015.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    
    <xs:import namespace="http://www.w3.org/2001/XMLSchema-instance"/>
    
    <!-- xsi:type must resolve -->
    
<xs:element name="root">
    <xs:complexType mixed="false">
            <xs:all>
                <xs:element name="e" minOccurs="1" maxOccurs="1"/>
                <xs:element name="f" minOccurs="0" maxOccurs="1"/>
            </xs:all>      
    </xs:complexType>
</xs:element>

</xs:schema>