sunData/ElemDecl/typeDef/typeDef00502m/typeDef00502m2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)typeDef00502m2.xsd
   generated from: @(#)typeDef00502m.jmpp	1.3 02/08/22

-->

<xsd:schema
  xmlns="ElemDecl/typeDef"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/typeDef">

  <xsd:element name="root" type="Type">
      <xsd:simpleType>
          <xsd:restriction base="xsd:boolean">
              <xsd:pattern value="false"/>
          </xsd:restriction>
      </xsd:simpleType>
  </xsd:element>

  <xsd:element name="Global" type="Type"/>

  <xsd:simpleType name="Type">
      <xsd:restriction base="xsd:boolean">
          <xsd:pattern value="false"/>
      </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
