nistData/list/gYearMonth/Schema+Instance/NISTSchema-SV-IV-list-gYearMonth-enumeration-1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-gYearMonth-enumeration-1-NS"
        targetNamespace="NISTSchema-SV-IV-list-gYearMonth-enumeration-1-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-gYearMonth-enumeration-1.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-gYearMonth-enumeration-1,
      which is derived by restriction of a list with itemType gYearMonth
      by facet enumeration with values of:
          2019-09 1988-06 2018-06 2000-12 2007-02 1984-07 1990-07 1990-11 1980-01 1980-12
          1972-04 2008-02 2010-02 2015-01 2021-01 2005-10 1972-02 1993-07
          2024-11 1987-12 1971-10 2017-01 1996-07
          2019-02 1988-10 1976-06 1985-03 2007-05 2026-10 1978-11 2005-10 2024-09
          1989-07 1974-11 1971-12 1981-07 1990-03 2009-05 2000-12 1979-09
          1990-07 1977-06 2010-02 1974-09 2026-12 1995-09
          2024-11 1997-06 1991-09 2002-10 1972-12 1974-03 1976-01
          1975-06 2027-07 1993-11 2025-09 1986-12 1987-02
          1972-01 1972-04 1987-07 1979-05 1978-10 2016-01 2026-08 2019-09
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-gYearMonth-enumeration-1" type="NISTSchema-SV-IV-list-gYearMonth-enumeration-1-Type"/>

  <xs:simpleType name="listOfgYearMonth">
    <xs:list itemType="xs:gYearMonth"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-gYearMonth-enumeration-1-Type">
    <xs:restriction base="listOfgYearMonth">
          <xs:enumeration value="2019-09 1988-06 2018-06 2000-12 2007-02 1984-07 1990-07 1990-11 1980-01 1980-12"/>
          <xs:enumeration value="1972-04 2008-02 2010-02 2015-01 2021-01 2005-10 1972-02 1993-07"/>
          <xs:enumeration value="2024-11 1987-12 1971-10 2017-01 1996-07"/>
          <xs:enumeration value="2019-02 1988-10 1976-06 1985-03 2007-05 2026-10 1978-11 2005-10 2024-09"/>
          <xs:enumeration value="1989-07 1974-11 1971-12 1981-07 1990-03 2009-05 2000-12 1979-09"/>
          <xs:enumeration value="1990-07 1977-06 2010-02 1974-09 2026-12 1995-09"/>
          <xs:enumeration value="2024-11 1997-06 1991-09 2002-10 1972-12 1974-03 1976-01"/>
          <xs:enumeration value="1975-06 2027-07 1993-11 2025-09 1986-12 1987-02"/>
          <xs:enumeration value="1972-01 1972-04 1987-07 1979-05 1978-10 2016-01 2026-08 2019-09"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
