nistData/list/gYearMonth/Schema+Instance/NISTSchema-SV-IV-list-gYearMonth-pattern-4.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-gYearMonth-pattern-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-gYearMonth-pattern-4-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-gYearMonth-pattern-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-gYearMonth-pattern-4,
      which is derived by restriction of a list with item type gYearMonth
      by facet pattern with a value of: \d\d93-\d3 19\d\d-0\d \d\d33-\d3 18\d\d-\d1 \d\d34-0\d
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-gYearMonth-pattern-4" type="nist:NISTSchema-SV-IV-list-gYearMonth-pattern-4-Type"/>

  <simpleType name="listOfgYearMonth">
    <list itemType="gYearMonth"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-gYearMonth-pattern-4-Type">
    <restriction base="nist:listOfgYearMonth">
      <pattern value="\d\d93-\d3 19\d\d-0\d \d\d33-\d3 18\d\d-\d1 \d\d34-0\d"/>
    </restriction>
  </simpleType>

</schema>
