nistData/list/gYearMonth/Schema+Instance/NISTSchema-SV-II-list-gYearMonth-enumeration-2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-gYearMonth-enumeration-2-NS"
        targetNamespace="NISTSchema-SV-II-list-gYearMonth-enumeration-2-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-gYearMonth-enumeration-2.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-gYearMonth-enumeration-2,
      which is derived by restriction of a list with itemType gYearMonth
      by facet enumeration with values of:
          2017-12 2005-10 2015-01 1985-08 1980-05 1991-05 2005-02 1974-06
          1987-09 2017-07 2025-07 1997-11 1990-04 2009-08
          2006-01 2028-03 1999-01 2011-03 2023-02 1972-09 1994-01
          2015-04 1980-10 1986-11 2025-02 2020-05 2016-04
          2029-08 1990-01 2010-04 2009-07 2007-04 2004-06 2002-06
          2002-07 1985-07 2030-07 2020-01 2026-04 1989-08 1988-01 1985-04
          1978-08 2021-03 2010-05 2019-04 2005-02 1977-10 2017-12
          2012-12 1993-11 2016-11 2011-03 2018-11 1976-12 1986-06
          1972-09 1975-02 1976-07 2014-02 1992-03 2000-12 1986-10
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-gYearMonth-enumeration-2" type="NISTSchema-SV-II-list-gYearMonth-enumeration-2-Type"/>

  <xs:simpleType name="listOfgYearMonth">
    <xs:list itemType="xs:gYearMonth"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-gYearMonth-enumeration-2-Type">
    <xs:restriction base="listOfgYearMonth">
          <xs:enumeration value="2017-12 2005-10 2015-01 1985-08 1980-05 1991-05 2005-02 1974-06"/>
          <xs:enumeration value="1987-09 2017-07 2025-07 1997-11 1990-04 2009-08"/>
          <xs:enumeration value="2006-01 2028-03 1999-01 2011-03 2023-02 1972-09 1994-01"/>
          <xs:enumeration value="2015-04 1980-10 1986-11 2025-02 2020-05 2016-04"/>
          <xs:enumeration value="2029-08 1990-01 2010-04 2009-07 2007-04 2004-06 2002-06"/>
          <xs:enumeration value="2002-07 1985-07 2030-07 2020-01 2026-04 1989-08 1988-01 1985-04"/>
          <xs:enumeration value="1978-08 2021-03 2010-05 2019-04 2005-02 1977-10 2017-12"/>
          <xs:enumeration value="2012-12 1993-11 2016-11 2011-03 2018-11 1976-12 1986-06"/>
          <xs:enumeration value="1972-09 1975-02 1976-07 2014-02 1992-03 2000-12 1986-10"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
