nistData/list/gYearMonth/Schema+Instance/NISTSchema-SV-II-list-gYearMonth-pattern-3.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-II-list-gYearMonth-pattern-3-NS"
        targetNamespace="NISTSchema-SV-II-list-gYearMonth-pattern-3-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-gYearMonth-pattern-3.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-gYearMonth-pattern-3,
      which is derived by restriction of a list with item type gYearMonth
      by facet pattern with a value of: \d\d78-0\d 20\d\d-\d3 \d\d56-0\d 19\d\d-0\d 19\d\d-0\d \d\d36-1\d \d\d17-\d0 20\d\d-0\d
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-II-list-gYearMonth-pattern-3" type="nist:NISTSchema-SV-II-list-gYearMonth-pattern-3-Type"/>

  <simpleType name="listOfgYearMonth">
    <list itemType="gYearMonth"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-II-list-gYearMonth-pattern-3-Type">
    <restriction base="nist:listOfgYearMonth">
      <pattern value="\d\d78-0\d 20\d\d-\d3 \d\d56-0\d 19\d\d-0\d 19\d\d-0\d \d\d36-1\d \d\d17-\d0 20\d\d-0\d"/>
    </restriction>
  </simpleType>

</schema>
