nistData/list/gYearMonth/Schema+Instance/NISTSchema-SV-II-list-gYearMonth-enumeration-5.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-gYearMonth-enumeration-5-NS"
        targetNamespace="NISTSchema-SV-II-list-gYearMonth-enumeration-5-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-gYearMonth-enumeration-5.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-gYearMonth-enumeration-5,
      which is derived by restriction of a list with itemType gYearMonth
      by facet enumeration with values of:
          2020-01 2005-06 1971-02 2022-08 2008-05
          2021-03 2002-02 1993-03 1982-11 2015-12 2022-11 2026-01 1992-06
          2013-12 2020-06 2011-05 2028-06 2025-02 2029-07 2026-03
          1980-04 1999-09 2017-01 2023-07 2000-05 1972-06
          1983-06 2012-08 2021-03 1994-08 1982-07
          1973-06 2026-05 2020-09 2003-04 1982-07 1981-06 2008-05 2024-02 2019-04
          2019-07 1970-02 2006-04 1990-12 1988-11 1982-11
          2026-05 1970-09 2011-08 2000-12 2017-06 1992-02 2028-07 2001-08
          2019-06 2007-02 2011-04 1991-08 2012-09 1975-01
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-gYearMonth-enumeration-5" type="NISTSchema-SV-II-list-gYearMonth-enumeration-5-Type"/>

  <xs:simpleType name="listOfgYearMonth">
    <xs:list itemType="xs:gYearMonth"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-gYearMonth-enumeration-5-Type">
    <xs:restriction base="listOfgYearMonth">
          <xs:enumeration value="2020-01 2005-06 1971-02 2022-08 2008-05"/>
          <xs:enumeration value="2021-03 2002-02 1993-03 1982-11 2015-12 2022-11 2026-01 1992-06"/>
          <xs:enumeration value="2013-12 2020-06 2011-05 2028-06 2025-02 2029-07 2026-03"/>
          <xs:enumeration value="1980-04 1999-09 2017-01 2023-07 2000-05 1972-06"/>
          <xs:enumeration value="1983-06 2012-08 2021-03 1994-08 1982-07"/>
          <xs:enumeration value="1973-06 2026-05 2020-09 2003-04 1982-07 1981-06 2008-05 2024-02 2019-04"/>
          <xs:enumeration value="2019-07 1970-02 2006-04 1990-12 1988-11 1982-11"/>
          <xs:enumeration value="2026-05 1970-09 2011-08 2000-12 2017-06 1992-02 2028-07 2001-08"/>
          <xs:enumeration value="2019-06 2007-02 2011-04 1991-08 2012-09 1975-01"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
