ibmData/instance_invalid/D4_3_6/d4_3_6ii01.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11"
	xmlns:si="http://xstest-tns/schema11">
<!-- 
Test Case Type: Instance invalid test
Description   : when the value is collapse, literals consisting solely of whitespace
                characters are reduced to the empty string
-->	
<simpleType name="durWhiteSpace">
	<restriction  base="string">
		<enumeration value=""/>
	</restriction>
</simpleType>

<element name="root">
	<complexType>
		<sequence>
			<element name="elWhiteSpace" type="si:durWhiteSpace"/>
		</sequence>
	</complexType>
</element>    

</schema>  