sunData/ElemDecl/disallowedSubst/disallowedSubst00105m/disallowedSubst00105m.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)disallowedSubst00105m.xsd
   generated from: @(#)disallowedSubst00105m.jmpp	1.4 02/08/22

-->

<xsd:schema
  xmlns="ElemDecl/disallowedSubst"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/disallowedSubst"
  elementFormDefault="qualified">

  <xsd:element name="root">
      <xsd:complexType>
          <xsd:sequence>
              <xsd:element ref="Head" maxOccurs="unbounded"/>
          </xsd:sequence>
      </xsd:complexType>
  </xsd:element>

  <xsd:element name="Head" type="HeadType" block="extension"/>

  <xsd:complexType name="HeadType">
      <xsd:sequence>
          <xsd:element name="Ear"/>
          <xsd:element name="Eye"/>
      </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Member3" substitutionGroup="Head">
      <xsd:complexType>
          <xsd:complexContent>
              <xsd:extension base="HeadType">
                 <xsd:sequence>
                     <xsd:element name="Nose"/>
                 </xsd:sequence>
              </xsd:extension>
          </xsd:complexContent>
      </xsd:complexType>
  </xsd:element>
  
</xsd:schema>
