sunData/CType/final/final00101m/final00101m2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)final00101m2.xsd
   generated from: @(#)final00101m.jmpp	1.3 02/11/15

-->

<xsd:schema
  xmlns="final"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="final">

     <xsd:element name="b" type="xsd:string" />

     <xsd:complexType name="A" final="extension">
          <xsd:sequence>
               <xsd:element name="c" type="xsd:string" />
          </xsd:sequence>
     </xsd:complexType>

     <xsd:complexType name="B">
          <xsd:complexContent>
               <xsd:extension base="A">
                    <xsd:sequence>
                         <xsd:element name="d" type="xsd:string"/>
                    </xsd:sequence>
               </xsd:extension>
          </xsd:complexContent>
     </xsd:complexType>
</xsd:schema>

