ibmData/valid/S3_3_6/s3_3_6v01.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="a"
        xmlns:a="a">
<!--
Test Case Type: Valid test
Description   : Wildcards are now allowed in xs:all
-->
<complexType name="c">
 <all>
  <element name="a" type="integer"/>
  <any maxOccurs="3" processContents="lax"/>
 </all>
</complexType>

<element name="root" type="a:c"/>
</schema>
