ibmData/valid/S3_3_6/s3_3_6v05.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="a"
        xmlns:a="a">
        
<!--
Test Case Type: Valid test
Description   : Tests maxOccurs > 1 for elements within all group
-->

<complexType name="c">
 <all>
  <element name="a" type="integer" maxOccurs="2"/>
  <element name="b" type="integer" maxOccurs="2"/>
 </all>
</complexType>

<element name="root" type="a:c"/>
</schema>
