ibmData/valid/S3_3_6/s3_3_6v04.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="a"
        xmlns:a="a">
        
<!--
Test Case Type: Valid test
Description   : Tests restriction of all group
-->

<complexType name="c">
 <all>
  <element name="a" type="integer"/>
  <any processContents="lax" maxOccurs="2"/>
 </all>
</complexType>

<complexType name="d">
 <complexContent>
 <restriction base="a:c">
  <all>
   <element name="a" type="integer"/>
   <any processContents="lax"/>   
  </all>
 </restriction>
 </complexContent>
</complexType>

<element name="root" type="integer"/>
</schema>
