nistData/list/hexBinary/Schema+Instance/NISTSchema-SV-IV-list-hexBinary-enumeration-2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-hexBinary-enumeration-2-NS"
        targetNamespace="NISTSchema-SV-IV-list-hexBinary-enumeration-2-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-hexBinary-enumeration-2.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-hexBinary-enumeration-2,
      which is derived by restriction of a list with itemType hexBinary
      by facet enumeration with values of:
          77796c6578706d6973756c6a666f6c666279637779726a6770746f6a726b636670766d686b637467786d73616e70796265766e6e71 7071766a766769616c6d6b6c717368766c6e766f67656e6d6367676d736964726d76727173736e68636661756c776c6561627274776672706b707379777077667163756d636d6e6b 6e646a676b6d69666878786568696264776d6f736f68796b757777636a6e7465766265696464716661636270666c6d73616a6d73766467776e657867646371 706a686e706a77717979707570666b7672677963717967676b646d79636877746c6275796a6e61657361656a6762707267627462 686769706d6c63666f646776756e6165627676667565677564776a6f6b737365676b686d6e69636a6f64736d716e727173716e75656269726e 726e627174726b6873 6c756173656a746d6f6a786164646d6d786c68646b68666b636b74797679636967 63746374706974656f6a6b69686f7377707472656975766b69716e6a796573616d636c63796d75686a74676c6479696d61 6f7874727166
          7775646170756274707863796a746363626363746f63776978636e6f6268787570736c78656d72786d6e68667778646d6a6d76786d72657767756e676b67 617672656b7674726a72716a6d7075666172 716674726d696a6b656b6a6764676a766d636a646e736e6d6f61636d70686a626b6d6764 6a64787076766e75626c686c6e79627572716771786e65637376756568776963 6d676d726a6a646f6975756975716b6d656d6679727372776365756a7570616c74676277676777 70656c6c757878736a676b75616d68786a667577726d62666668 666c6264706d667679716f6b6a6279716c7565746e666a716d 75777970776c617076777369697974777269786d757777756566786e747976627071 72777276777678616e6c6575726a7367746a757965656b6866706e6d706d6b63766a63747468796b7078726a67727477796e6f726972706a7374757277
          70686b62676d6163796d7761746674676f786c6e6f6967716366736d7173706e6868716d6863636966677471626c6d736165616c686d 79786e746f65636879666f69766d716d6e7474626b6a787671767968757165646a62766a6a68646c6571686c76 6f6d716f78686d636964766374706c75747472796c7663666c63686c7968767269777671796f79716162646b796c6a70657775696a67677078787674736669616d736e626175 646564696470777968636f7763797161646b6d6978786a6e707361746678717971716e6e797366646c6364777366697665796d786c75696e686e6377626c6e636f69 6b74717264656f776b786b716c746667747071666d6e6d736d666d7976656a68626b7073696d6165706966757876756f6362616c79747062696b737867 6969736574666862716c6e73766566746e76766f64627771676664666d7774
          6568676a62656165646e666c6e72626a6c706c796b6a6a746e70627372727571766f6e78666967757965797974656a73627072 637776796363676f7573636267796e656d66747567636161776475657279716d6c626c656179727161707472736f747367676d71636b656264786669726c63686f786c6b70706a6661 6c757466676b707079667564717967716579626367 6e6c6e756e6f6d61716576747478666e726b727074776a 6a787369626c64717568716977796e7062726e636b7666726b746f6e6b64796b7466777576756862666d617164617368666473746376676b 786c796b
          6665617875777573626e696b6a7661786d756e6b716d616c716f6e657367746b6578756677786877646379746b756d69666565766971787677776772757762 737975636274696770786279736f6d786471787778616c67796e726f6d796771746b62696d796d74757477756a746b73696368666f62716e78676a6e7776 637661636b69616f6173756b6d6c6a7071 7163627376786a66 696d796574666d6a6968756f696375636178706c756a627565776362717277706a726c736d706570676e
          6f 767574747678676f6b72 766a6171617165696461687565626d696a79696b786b6664696c776e6a706e75747469676c696574686562666769687169 666177696d697878706c64666f63616a6f6f6a6a6272797477737770 6d79766767636b78706b7471796877616d65766176656177786e676c73 74766571776f75726e6f6b617768766f7668636b6f636367626861677475786d736c68 6170717176727269 6464706973726d726f666873746c64797873757570687173686a6f6d7979716778636c70646376756f6275766d757372666e72646575
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-hexBinary-enumeration-2" type="NISTSchema-SV-IV-list-hexBinary-enumeration-2-Type"/>

  <xs:simpleType name="listOfhexBinary">
    <xs:list itemType="xs:hexBinary"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-hexBinary-enumeration-2-Type">
    <xs:restriction base="listOfhexBinary">
          <xs:enumeration value="77796c6578706d6973756c6a666f6c666279637779726a6770746f6a726b636670766d686b637467786d73616e70796265766e6e71 7071766a766769616c6d6b6c717368766c6e766f67656e6d6367676d736964726d76727173736e68636661756c776c6561627274776672706b707379777077667163756d636d6e6b 6e646a676b6d69666878786568696264776d6f736f68796b757777636a6e7465766265696464716661636270666c6d73616a6d73766467776e657867646371 706a686e706a77717979707570666b7672677963717967676b646d79636877746c6275796a6e61657361656a6762707267627462 686769706d6c63666f646776756e6165627676667565677564776a6f6b737365676b686d6e69636a6f64736d716e727173716e75656269726e 726e627174726b6873 6c756173656a746d6f6a786164646d6d786c68646b68666b636b74797679636967 63746374706974656f6a6b69686f7377707472656975766b69716e6a796573616d636c63796d75686a74676c6479696d61 6f7874727166"/>
          <xs:enumeration value="7775646170756274707863796a746363626363746f63776978636e6f6268787570736c78656d72786d6e68667778646d6a6d76786d72657767756e676b67 617672656b7674726a72716a6d7075666172 716674726d696a6b656b6a6764676a766d636a646e736e6d6f61636d70686a626b6d6764 6a64787076766e75626c686c6e79627572716771786e65637376756568776963 6d676d726a6a646f6975756975716b6d656d6679727372776365756a7570616c74676277676777 70656c6c757878736a676b75616d68786a667577726d62666668 666c6264706d667679716f6b6a6279716c7565746e666a716d 75777970776c617076777369697974777269786d757777756566786e747976627071 72777276777678616e6c6575726a7367746a757965656b6866706e6d706d6b63766a63747468796b7078726a67727477796e6f726972706a7374757277"/>
          <xs:enumeration value="70686b62676d6163796d7761746674676f786c6e6f6967716366736d7173706e6868716d6863636966677471626c6d736165616c686d 79786e746f65636879666f69766d716d6e7474626b6a787671767968757165646a62766a6a68646c6571686c76 6f6d716f78686d636964766374706c75747472796c7663666c63686c7968767269777671796f79716162646b796c6a70657775696a67677078787674736669616d736e626175 646564696470777968636f7763797161646b6d6978786a6e707361746678717971716e6e797366646c6364777366697665796d786c75696e686e6377626c6e636f69 6b74717264656f776b786b716c746667747071666d6e6d736d666d7976656a68626b7073696d6165706966757876756f6362616c79747062696b737867 6969736574666862716c6e73766566746e76766f64627771676664666d7774"/>
          <xs:enumeration value="6568676a62656165646e666c6e72626a6c706c796b6a6a746e70627372727571766f6e78666967757965797974656a73627072 637776796363676f7573636267796e656d66747567636161776475657279716d6c626c656179727161707472736f747367676d71636b656264786669726c63686f786c6b70706a6661 6c757466676b707079667564717967716579626367 6e6c6e756e6f6d61716576747478666e726b727074776a 6a787369626c64717568716977796e7062726e636b7666726b746f6e6b64796b7466777576756862666d617164617368666473746376676b 786c796b"/>
          <xs:enumeration value="6665617875777573626e696b6a7661786d756e6b716d616c716f6e657367746b6578756677786877646379746b756d69666565766971787677776772757762 737975636274696770786279736f6d786471787778616c67796e726f6d796771746b62696d796d74757477756a746b73696368666f62716e78676a6e7776 637661636b69616f6173756b6d6c6a7071 7163627376786a66 696d796574666d6a6968756f696375636178706c756a627565776362717277706a726c736d706570676e"/>
          <xs:enumeration value="6f 767574747678676f6b72 766a6171617165696461687565626d696a79696b786b6664696c776e6a706e75747469676c696574686562666769687169 666177696d697878706c64666f63616a6f6f6a6a6272797477737770 6d79766767636b78706b7471796877616d65766176656177786e676c73 74766571776f75726e6f6b617768766f7668636b6f636367626861677475786d736c68 6170717176727269 6464706973726d726f666873746c64797873757570687173686a6f6d7979716778636c70646376756f6275766d757372666e72646575"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
