nistData/list/hexBinary/Schema+Instance/NISTSchema-SV-IV-list-hexBinary-enumeration-5.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-hexBinary-enumeration-5-NS"
        targetNamespace="NISTSchema-SV-IV-list-hexBinary-enumeration-5-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-hexBinary-enumeration-5.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-hexBinary-enumeration-5,
      which is derived by restriction of a list with itemType hexBinary
      by facet enumeration with values of:
          65 716d767966697370666b666c726e776d6771686678717370756e796d6f746a616467696464766271647561706c6177676a6163796674 71796c77716e656c636f62636b656673657869736a67657474686a61666164707677776176686461636471766b7378 74677774706163626f77626461 72
          78706b7778686f6b736d70676573667275657865797870 7879616779717865797471776877706c617879667172787875786c72696b69746b686b6b7666676b6a72 7164796778676765677776677178726378786d6d76656d6b666f7067757168 6e6a756f62726e61646f73 756b706e72696d7166796a6d636f6d6167616d6664776a666463666f73706e6264696d6673766973626e6d6166646c7567707567706669746c6b65696b756165656866626769626c 77796468
          78756e7170647766626b63636e7663656c7467697368746c72766866726b716668686766666f71736274796376786a786e736e77657469686d66736769657674617670646e6863 7167656564646479727168706363706c63636f626761797569766c68626f7270 6b72717478636370 62656264636c6967 6873797165737266707275736d62766e667370676b79646f766e63626562746f636566786c6878 6a 68766d776777706a66796b6d7379696a7769616466756c697262636c68717367676e78796874686773696f67
          776e7275616c73706a77776d65756e6e6c757563776d6773706a74627363726e73797675696770627465656c65697975746e71746d6b6879616963696e7174786e73747567 766c6778766363706f777572706561716f6f6e7975786363756c6a6e68707778686d6b79797170726966766e6c72746e6361756c6d75786d 6474686969717073666266686b7777726568746971776d696177637370656b68616567706573766b6e6274666267796967 7563686e626c6e71797675646f6a6868777362746d737565746661676a6674 76776565637064686a787374787565696f6b6f7879677467716d71646479696f75687666646e69657161647761726b7562676a666a75757270 62656e65776e70676f62666a70746f717564666b746170686e777964677869766c756c6a797176727462767567656a726f6e7763786f61686c696c6b7871636173 6f7967726b667962616976696d636b686367716a62767277636a6c7375706a77 70636c7078787778776f636f6b786e78 787167646b6a706c7772736e6979796f7070707162696f7365646963637167757667726d73697266706b62696e6866717872756b75666e6d79
          6b6574636e676b68746e626964726278 696963647168726362786d6e616571667668626d756c656a6d68786f776772726b746d646e6d76696f766f6c76 666d736267726f61686168766578766c6a6b746276646b726b74636a7763616a726e616963726a666c6a65766b666a6f6e 6267646e70716d6d6864736c6a7268796d6d7679736e6d68716e6b6e 62626563626d63666b796f6763716464696a70716c7570626d7278 6b77696a786c627866717576656f67626c78787166697164776e697473696d636b766d62666e
          62637175726676736e6970796b72696c656969656d7478766b75746b7276676f67766a616f6e6b66736164796f 6e616478616365706178786a6e7073776f6a61676b74666f6979617475 6a6d76656a756d636361716a686373726c686469676a65656c63666b6f6b61756863777271646c72746c6d68756f637666687270 77736b677164777270796c7266706e716c6a646473726868737276686a7171 6b6a737164637577747865656a6672736c796565787869756d6c72706e6c717673756363746f6168666b687967616e7077746376637575726c6a6d676666696c6b6973757971686772 6d776777616461796364706b6e74656f6f6e786f6569786d677075626d6963686d68786d6e6f7974616b6d786f636a726177627570656f7075756a70 696975646a656979646f6f7961686271696d78687273656d717864716f74626e71706f71 796b6e706a7571656e796e63716f626b647165777172716479726264786d66646375706978746d616f617963706e6c6679726b7861 6e786a786972736174716878646868706b636a716a6e64746c69656b71706e637766626c7471756c797673697474746371747268
          72766d6678767274776b73 7561676170796f686d757676627772676f726a7763626c7161746b697962687663 7363706d766e6d6f646c68737870796f776c736f7564616b 616c7575786a67646f66686d7870716571756b7765726b77727476786d6a70786665726173706a6c6a69676f6461746e7573686c636f6a6369776f7861666762766a736a74646a 686166786c74697471647670667976666261 6c696e7578626b7075737068626c716c6e757570627866 6468677379726c7874647667636a747978656c6e6f69736d6b727769727474757762796e777764626c6d76656b757765796b68696d76766a716c
          6563666d7667756575706972716669626f7777 6a74766d617076777277656a6b68686e6661656c786b6a676c6e6d6579766361 6677656d7769667562796279676c776f6b756f666f73756f786e64736c7577787670686864686f7863796d62 6f76746d747974706e6c65706465786c72677664637479686670 78776f6666696e6d626c676f627764676a736e6a6478786a7866696d68656e786d68756f647169706b66726f6e766d71796d6268656367786273
          6c67756f6e 6e6c667061686f767077766e65696863616a6f757766796a64766f6a7863766e6d766d6874 6f756a6a726b696e6665686567646e6a7870686777656d6a6b73706c69687464616268666a7566706e6d737167737573786a6b647167717561 747767746e6b62 78647279646179637476617272656d61616f706f6f6178696b62757764796a6c756f68747764717868677869636a657673 61666b6c646171787266636272786464676d6165786a7375686a6b766f6a7675706a67736d71696c6c6d6271646d746972626e6962
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-hexBinary-enumeration-5" type="NISTSchema-SV-IV-list-hexBinary-enumeration-5-Type"/>

  <xs:simpleType name="listOfhexBinary">
    <xs:list itemType="xs:hexBinary"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-hexBinary-enumeration-5-Type">
    <xs:restriction base="listOfhexBinary">
          <xs:enumeration value="65 716d767966697370666b666c726e776d6771686678717370756e796d6f746a616467696464766271647561706c6177676a6163796674 71796c77716e656c636f62636b656673657869736a67657474686a61666164707677776176686461636471766b7378 74677774706163626f77626461 72"/>
          <xs:enumeration value="78706b7778686f6b736d70676573667275657865797870 7879616779717865797471776877706c617879667172787875786c72696b69746b686b6b7666676b6a72 7164796778676765677776677178726378786d6d76656d6b666f7067757168 6e6a756f62726e61646f73 756b706e72696d7166796a6d636f6d6167616d6664776a666463666f73706e6264696d6673766973626e6d6166646c7567707567706669746c6b65696b756165656866626769626c 77796468"/>
          <xs:enumeration value="78756e7170647766626b63636e7663656c7467697368746c72766866726b716668686766666f71736274796376786a786e736e77657469686d66736769657674617670646e6863 7167656564646479727168706363706c63636f626761797569766c68626f7270 6b72717478636370 62656264636c6967 6873797165737266707275736d62766e667370676b79646f766e63626562746f636566786c6878 6a 68766d776777706a66796b6d7379696a7769616466756c697262636c68717367676e78796874686773696f67"/>
          <xs:enumeration value="776e7275616c73706a77776d65756e6e6c757563776d6773706a74627363726e73797675696770627465656c65697975746e71746d6b6879616963696e7174786e73747567 766c6778766363706f777572706561716f6f6e7975786363756c6a6e68707778686d6b79797170726966766e6c72746e6361756c6d75786d 6474686969717073666266686b7777726568746971776d696177637370656b68616567706573766b6e6274666267796967 7563686e626c6e71797675646f6a6868777362746d737565746661676a6674 76776565637064686a787374787565696f6b6f7879677467716d71646479696f75687666646e69657161647761726b7562676a666a75757270 62656e65776e70676f62666a70746f717564666b746170686e777964677869766c756c6a797176727462767567656a726f6e7763786f61686c696c6b7871636173 6f7967726b667962616976696d636b686367716a62767277636a6c7375706a77 70636c7078787778776f636f6b786e78 787167646b6a706c7772736e6979796f7070707162696f7365646963637167757667726d73697266706b62696e6866717872756b75666e6d79"/>
          <xs:enumeration value="6b6574636e676b68746e626964726278 696963647168726362786d6e616571667668626d756c656a6d68786f776772726b746d646e6d76696f766f6c76 666d736267726f61686168766578766c6a6b746276646b726b74636a7763616a726e616963726a666c6a65766b666a6f6e 6267646e70716d6d6864736c6a7268796d6d7679736e6d68716e6b6e 62626563626d63666b796f6763716464696a70716c7570626d7278 6b77696a786c627866717576656f67626c78787166697164776e697473696d636b766d62666e"/>
          <xs:enumeration value="62637175726676736e6970796b72696c656969656d7478766b75746b7276676f67766a616f6e6b66736164796f 6e616478616365706178786a6e7073776f6a61676b74666f6979617475 6a6d76656a756d636361716a686373726c686469676a65656c63666b6f6b61756863777271646c72746c6d68756f637666687270 77736b677164777270796c7266706e716c6a646473726868737276686a7171 6b6a737164637577747865656a6672736c796565787869756d6c72706e6c717673756363746f6168666b687967616e7077746376637575726c6a6d676666696c6b6973757971686772 6d776777616461796364706b6e74656f6f6e786f6569786d677075626d6963686d68786d6e6f7974616b6d786f636a726177627570656f7075756a70 696975646a656979646f6f7961686271696d78687273656d717864716f74626e71706f71 796b6e706a7571656e796e63716f626b647165777172716479726264786d66646375706978746d616f617963706e6c6679726b7861 6e786a786972736174716878646868706b636a716a6e64746c69656b71706e637766626c7471756c797673697474746371747268"/>
          <xs:enumeration value="72766d6678767274776b73 7561676170796f686d757676627772676f726a7763626c7161746b697962687663 7363706d766e6d6f646c68737870796f776c736f7564616b 616c7575786a67646f66686d7870716571756b7765726b77727476786d6a70786665726173706a6c6a69676f6461746e7573686c636f6a6369776f7861666762766a736a74646a 686166786c74697471647670667976666261 6c696e7578626b7075737068626c716c6e757570627866 6468677379726c7874647667636a747978656c6e6f69736d6b727769727474757762796e777764626c6d76656b757765796b68696d76766a716c"/>
          <xs:enumeration value="6563666d7667756575706972716669626f7777 6a74766d617076777277656a6b68686e6661656c786b6a676c6e6d6579766361 6677656d7769667562796279676c776f6b756f666f73756f786e64736c7577787670686864686f7863796d62 6f76746d747974706e6c65706465786c72677664637479686670 78776f6666696e6d626c676f627764676a736e6a6478786a7866696d68656e786d68756f647169706b66726f6e766d71796d6268656367786273"/>
          <xs:enumeration value="6c67756f6e 6e6c667061686f767077766e65696863616a6f757766796a64766f6a7863766e6d766d6874 6f756a6a726b696e6665686567646e6a7870686777656d6a6b73706c69687464616268666a7566706e6d737167737573786a6b647167717561 747767746e6b62 78647279646179637476617272656d61616f706f6f6178696b62757764796a6c756f68747764717868677869636a657673 61666b6c646171787266636272786464676d6165786a7375686a6b766f6a7675706a67736d71696c6c6d6271646d746972626e6962"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
