nistData/list/hexBinary/Schema+Instance/NISTSchema-SV-IV-list-hexBinary-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-hexBinary-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-hexBinary-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-hexBinary-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-hexBinary-enumeration-4,
      which is derived by restriction of a list with itemType hexBinary
      by facet enumeration with values of:
          7477766d6978756465636f616f7675616b716761757761726476706c727870667062696b6e74646c697176676c706b6866696c6478616578676d7674766575746464676f 76726b62626a726e696d6862687076746567676b766474707064656e65726667616d69647762626c71 77676a6469726d67656865616d76697362637574666a6f6f67656276626f717077666b6275767665707074666a636c626d7176667371 646369676d766d7971736e686762767067706f616b6776616d6e6775696c626b68626d687875706674786d63 747462776b6c6a777571766f786774666e6d 70666b7772716470766c6e757475696e6d706f7475697779656c69746269736a71
          706f7065737569616279776e6f70766d676c 6a797761647978786d6a706c6b66756569776f746f796f686a6a6e6c667378727074636a616d 697271736c6f75627368686c6764756c67726a766e6365796a77766f777464796f6669696f787863727273786374656e7971 6f646f7762716363647263757766756c6c73736b6c736c6e6d626b787370617163 6a65 6e6772777878736d65626b7679616b6a6d646f6f677868677363677662786365707471646967637470766b7473746663646f75 706f6264786e76786e617068797478686677637564616771
          7168 777275626c6363707476636b7162706f6b70686b7862676e646e68706f677779726968696b646e656a627472676c6f 626c776f63737665747779736f6b77716b69 61647977697674746762 6977786f707669636d68706f6d7672777370636a666e6e6f627572777778726a6e7975707274636669616b6667646b6f75646774 77666f67626c6a747368676b7969746865666c6679707966756a676168636a6f666c68646f6d77666a69766370766f 70707369796f766b68
          776b79716b7066 78626f776e636a69697470686379766965637665656f66617676616464716d63656474706a6d6a6e686477 6b6668757175616e6a7565686e6563797970776167666171 6378676f717164747162626f6c6873646b6a757268617767666e70747065716c6f646272716b7879797174676376 6d776e61626478686f72626c6f7767 627566797277666b6f6475666c6c64
          6e666b6f6c626f6775626f696c79796370616f7861767177796376706369617578766f61756e7774 6f636f6c6a6a7466616c6669716e6b6c6c7564626e6d74746c726e767478777161786877627961726a70 6e646265 6e64656b70737167676575797162717066777478617078756d716d6463686f6b6c6d6e6973706f65767765616c7275787379707172706e796c6c75717666 667162736b777277756a79626c6e796a6d6e75777465626e6d63 706b6263776767717062766a70726575766d7570736a746f6374707274636461666d637772706e66756765646b736c65757477636e737678686964726e 6e6f6b766e6465686b6d766d7364717468766764617665627869777874776777646b7972667273777276656567636f626167647375656d6e666f6871
          6d6271636469786a7572656b707762686265736a72646f786f776370796b67 646372 7178626371616172626a6c776b6779636c6471707868626d7264616a766f686672727478787771796c69796d696b78706f 6578776c63756870696273786c656b6d6b7573726f6a7471766169 6c65626b7868656768636465 616a72667066687663776c716271656672676f78797466 73776a736f6b7465697778707464666b746f616e6c7879766b6768716f686a67626f68696a6a7163666f6564616872
          76726d647076786a7079686563667564706b6f72756f79776a686d767877626a7463656e6165 726675766b65726671776e736a7877776c63786a696c 756a75676169656f6f716671666a70716d787471787169726e6968 7370726169706475716f707167627178647472706862787566646a627964637561737167636d6d756d716476776e7266636a63676a66636c736970736e646e6e 61666b61 646a797761777972777370766873746b6e716f77 79686b736172786d6c666f67746d626e647278726a73716b76756978626b6f6871677562626565767870786978796b6d69 766c747968656f716b6c727167717169716d796c66766267687876727265717777677264746179786768667663746d6a636c70746d74646869746c637371766c616e737167 656f69686a64696c63656c70757373636b766d7773617979776875696468666471687172746773686164796770696f6c75736d6963
          616d75786b62706c617571646a726d79777462746e67696c6f666866737669756969 6d647569746c766177676b646f6e6b62796a6362717974627169636463696464797771686d65736a7575737874756c74 67796570627562626b766c7571646a 6f6f66706a6b6f6e646b6363777878666d7076706f6d74 71696b6c786166646e6e6b777270726a796b676b70746379736d676f63656367786c62657071726b6f74756d6a6a7463636176 626c70716d756366797271656a776971666f6e68686d646b776a
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-hexBinary-enumeration-4" type="NISTSchema-SV-IV-list-hexBinary-enumeration-4-Type"/>

  <xs:simpleType name="listOfhexBinary">
    <xs:list itemType="xs:hexBinary"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-hexBinary-enumeration-4-Type">
    <xs:restriction base="listOfhexBinary">
          <xs:enumeration value="7477766d6978756465636f616f7675616b716761757761726476706c727870667062696b6e74646c697176676c706b6866696c6478616578676d7674766575746464676f 76726b62626a726e696d6862687076746567676b766474707064656e65726667616d69647762626c71 77676a6469726d67656865616d76697362637574666a6f6f67656276626f717077666b6275767665707074666a636c626d7176667371 646369676d766d7971736e686762767067706f616b6776616d6e6775696c626b68626d687875706674786d63 747462776b6c6a777571766f786774666e6d 70666b7772716470766c6e757475696e6d706f7475697779656c69746269736a71"/>
          <xs:enumeration value="706f7065737569616279776e6f70766d676c 6a797761647978786d6a706c6b66756569776f746f796f686a6a6e6c667378727074636a616d 697271736c6f75627368686c6764756c67726a766e6365796a77766f777464796f6669696f787863727273786374656e7971 6f646f7762716363647263757766756c6c73736b6c736c6e6d626b787370617163 6a65 6e6772777878736d65626b7679616b6a6d646f6f677868677363677662786365707471646967637470766b7473746663646f75 706f6264786e76786e617068797478686677637564616771"/>
          <xs:enumeration value="7168 777275626c6363707476636b7162706f6b70686b7862676e646e68706f677779726968696b646e656a627472676c6f 626c776f63737665747779736f6b77716b69 61647977697674746762 6977786f707669636d68706f6d7672777370636a666e6e6f627572777778726a6e7975707274636669616b6667646b6f75646774 77666f67626c6a747368676b7969746865666c6679707966756a676168636a6f666c68646f6d77666a69766370766f 70707369796f766b68"/>
          <xs:enumeration value="776b79716b7066 78626f776e636a69697470686379766965637665656f66617676616464716d63656474706a6d6a6e686477 6b6668757175616e6a7565686e6563797970776167666171 6378676f717164747162626f6c6873646b6a757268617767666e70747065716c6f646272716b7879797174676376 6d776e61626478686f72626c6f7767 627566797277666b6f6475666c6c64"/>
          <xs:enumeration value="6e666b6f6c626f6775626f696c79796370616f7861767177796376706369617578766f61756e7774 6f636f6c6a6a7466616c6669716e6b6c6c7564626e6d74746c726e767478777161786877627961726a70 6e646265 6e64656b70737167676575797162717066777478617078756d716d6463686f6b6c6d6e6973706f65767765616c7275787379707172706e796c6c75717666 667162736b777277756a79626c6e796a6d6e75777465626e6d63 706b6263776767717062766a70726575766d7570736a746f6374707274636461666d637772706e66756765646b736c65757477636e737678686964726e 6e6f6b766e6465686b6d766d7364717468766764617665627869777874776777646b7972667273777276656567636f626167647375656d6e666f6871"/>
          <xs:enumeration value="6d6271636469786a7572656b707762686265736a72646f786f776370796b67 646372 7178626371616172626a6c776b6779636c6471707868626d7264616a766f686672727478787771796c69796d696b78706f 6578776c63756870696273786c656b6d6b7573726f6a7471766169 6c65626b7868656768636465 616a72667066687663776c716271656672676f78797466 73776a736f6b7465697778707464666b746f616e6c7879766b6768716f686a67626f68696a6a7163666f6564616872"/>
          <xs:enumeration value="76726d647076786a7079686563667564706b6f72756f79776a686d767877626a7463656e6165 726675766b65726671776e736a7877776c63786a696c 756a75676169656f6f716671666a70716d787471787169726e6968 7370726169706475716f707167627178647472706862787566646a627964637561737167636d6d756d716476776e7266636a63676a66636c736970736e646e6e 61666b61 646a797761777972777370766873746b6e716f77 79686b736172786d6c666f67746d626e647278726a73716b76756978626b6f6871677562626565767870786978796b6d69 766c747968656f716b6c727167717169716d796c66766267687876727265717777677264746179786768667663746d6a636c70746d74646869746c637371766c616e737167 656f69686a64696c63656c70757373636b766d7773617979776875696468666471687172746773686164796770696f6c75736d6963"/>
          <xs:enumeration value="616d75786b62706c617571646a726d79777462746e67696c6f666866737669756969 6d647569746c766177676b646f6e6b62796a6362717974627169636463696464797771686d65736a7575737874756c74 67796570627562626b766c7571646a 6f6f66706a6b6f6e646b6363777878666d7076706f6d74 71696b6c786166646e6e6b777270726a796b676b70746379736d676f63656367786c62657071726b6f74756d6a6a7463636176 626c70716d756366797271656a776971666f6e68686d646b776a"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
