nistData/list/hexBinary/Schema+Instance/NISTSchema-SV-IV-list-hexBinary-enumeration-1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-hexBinary-enumeration-1-NS"
        targetNamespace="NISTSchema-SV-IV-list-hexBinary-enumeration-1-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-hexBinary-enumeration-1.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-hexBinary-enumeration-1,
      which is derived by restriction of a list with itemType hexBinary
      by facet enumeration with values of:
          616a69686f62716c6c74736779646f726b7064697373797370726e6471697968756f75666d7474616668776a6469 6f78647261726f6262726977707565737066686c766c71726662777477797167 716a77686178776b72716d697073716c6975776c747274776468677468746a6173646a6364756c61776765676b6b6a62766e73626a74796e6864696e7167 72686c756b697563756d73676b676479686478786e697974616e707961676b70666d78796d73636a75717077626472 71 6a6f6f75787277666979636670 69766875776264757169796a6a797875726a6e6f65636b71676466686175756d
          6c68636169687266626961726f617676747762616c617066636a7568657373696f7661716869786f6a706a6971626a766163716d696b68 626273746376767169716b 77746b61716f7373696f686c7674656c6565756c6e676d68 61757577746d66647561766f78786a6c69656e6f6f75776c767575626c656a6b7375716b7379646c 6365696777677873 76766a71656163736a77627270697774716d6a69706c6777746f6a6268777663726d71667569706f746d 7072736875746b72
          6d6c6f72726f65766c63706d6c627364746f7379686574697664646276666a65776c677867646a6f6f707072626b6a6f68636f6f76747461 7777617372636a63736d6471676c6779747862707861746e636f686570646b6e6d756c 6e6278697572756465696c74797262646c766e76686875696c616965736e 79656c716a686b74616a6172776c6d706765756971706b736679686478746d7462647663726877726369696d6374776174706e71 71757671636b7365626262707062666e6362636867716879636265767067 65706670736a6470616d71626168696c70
          6b756678756765727979796e72616577616d72787064746e6c716a6376616d6b69646c786e7161696379746a6c6c 71 706a63636379707069756872626e636f7161766e6d6d71756772707479646562 637169756e67786b74726271667870666f646e7971656966746b6463786b697174636a 677774716f787877636162656d6a666c696968676166746c626b 6c77747074716e6d7873616a7762707271667370626d6f64706474736874696e6f7278686e756a76737862627266736b7676
          7265736e71656f7265706f726b69787277 636f787867777363657977796571776377646b776a6f73616c7268696c61717265616565646368646c65727264666b6d666a6c646261626f777163686961646e676d647279 6a69696767636869747764797269736661646a6879776b6d6c67656966716f746f656a6c 746a6c6471757677716365776f66646e63746d636177736772646c707575796f726d766864786f627862776d6d6564686f79796a66766962727372766e736375656b6767736b6d6366 6262686267786e78767463726c6b616a7177696d70766b71627272767165686c77776a74 6b6c72647769736b776c6678766466697478626a766d737370736c666179727779706f6865746a7875636366706e7364
          6e7972656a63716163777972796a6c6771766c7167666875796a667275797262686d 67706b6373786964726c68776f6c6f79 7575716d6d717770696a6d6c7665627167676c706b6d6262706a686d72687662656261676d63616d6561676f746c6c76666462626f746664756a75767371656e64706a78626b 6c766e746b696668706d70736c656e766f756c6163706d646b6e686e78 75746974766f6472776b6c78726c73617367686e636e746179736976657164696973686f6b686d62636a7770756b7271716175617774706472656a79
          697667726e77767967666b626e786b68656179797475616472707967756679787269786774787976656b6d6570746c7461766a7774676f68786774666973 786c6e71726f78726c796a66667361706a726f76736b6c 74736c6a7166626e6262717773786a716e746d696b79786669736d766270656e73646872726778 716b767974686f7172746c6868777361797463627465626964756e7173696879796a6d6c78757374627561656367616b66706d636172686762 6575757373786770636c76717668687279617773776269726e7567696577656c776b796b7666686d617368746863726c6f 6873626a7972736b776b67667677696b66726970796d61636972686e7261776a6b 696e6d6f716974796b74777376776363756e64736a687078786172767563736e6873696b6d7565687166636965786e6d6862756f7876766865697668776f7462677177676169 676f6274666166736a73766f77756c726e6961677271776c6c6b626f686d6d626e6f737068616e6871726d65647865746970797165686763686b7561666767646478757075 77626a71676d636270796d6367766867746d6574636d7963626c676d6c7379686c6a77646e6e6b616b616a746b766a6b61676e657378
          746469676a637178676d696a6961746576676e79 616e69696e736a6475616b646d686e706468766c7061626978666563717278766e6f727471657379676b6467746662776c656c736a6f 6f6a6e786566797675637067656f76626f78796c7164616f686975756272747368 6274706c65737977687267756368686d787162707171726674666b6f676e786d78787967716271746365696d6e766673646b6677696d626c6f62666f74716b75 6b677463676d74756e65796c6364757965616f626b6f7077666a646b6a776e70726d79766f6f7472687478647673776c71726c6f66657262656c696b6d6c776a67787966676b6b64 7877737261747475736e6679697075776278756366746376647966796b6d687870726571617871776c6c6a79636666716d71756871 63676d666e686d64726f766b6e6474766f746664636367677464736c766866797268786a717362737670
          6a666f6e746f74777169777363626e6f7172616764627863697576766f676f626f796766 6b79697767676c6d6e77676d64636a6a697671676b7269666a76706a68626b6a716a616a6c6f7979667164626170 706b6466786b787665786e766e706d6761667162796c6d706d6a717363706d6273786a6262716a7161766c72766a6e786b63737871686d7268696a62726c65647765616272796b6b65 6a767867656b71686c766f6c7368736262746c7274737671746d666f6a6d726b73656661797178766c636c6f7779676574686b676978627062687873666c6c6268756467637164 6871786273777061746b6f6c6d6a67636f6371706b 6969666271766e656662746671646663646566766974646866687076746e636662696b7764636d676f6e6d68626471 7579646d716473797575787464626a6b7161 6e6375656f6f
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-hexBinary-enumeration-1" type="NISTSchema-SV-IV-list-hexBinary-enumeration-1-Type"/>

  <xs:simpleType name="listOfhexBinary">
    <xs:list itemType="xs:hexBinary"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-hexBinary-enumeration-1-Type">
    <xs:restriction base="listOfhexBinary">
          <xs:enumeration value="616a69686f62716c6c74736779646f726b7064697373797370726e6471697968756f75666d7474616668776a6469 6f78647261726f6262726977707565737066686c766c71726662777477797167 716a77686178776b72716d697073716c6975776c747274776468677468746a6173646a6364756c61776765676b6b6a62766e73626a74796e6864696e7167 72686c756b697563756d73676b676479686478786e697974616e707961676b70666d78796d73636a75717077626472 71 6a6f6f75787277666979636670 69766875776264757169796a6a797875726a6e6f65636b71676466686175756d"/>
          <xs:enumeration value="6c68636169687266626961726f617676747762616c617066636a7568657373696f7661716869786f6a706a6971626a766163716d696b68 626273746376767169716b 77746b61716f7373696f686c7674656c6565756c6e676d68 61757577746d66647561766f78786a6c69656e6f6f75776c767575626c656a6b7375716b7379646c 6365696777677873 76766a71656163736a77627270697774716d6a69706c6777746f6a6268777663726d71667569706f746d 7072736875746b72"/>
          <xs:enumeration value="6d6c6f72726f65766c63706d6c627364746f7379686574697664646276666a65776c677867646a6f6f707072626b6a6f68636f6f76747461 7777617372636a63736d6471676c6779747862707861746e636f686570646b6e6d756c 6e6278697572756465696c74797262646c766e76686875696c616965736e 79656c716a686b74616a6172776c6d706765756971706b736679686478746d7462647663726877726369696d6374776174706e71 71757671636b7365626262707062666e6362636867716879636265767067 65706670736a6470616d71626168696c70"/>
          <xs:enumeration value="6b756678756765727979796e72616577616d72787064746e6c716a6376616d6b69646c786e7161696379746a6c6c 71 706a63636379707069756872626e636f7161766e6d6d71756772707479646562 637169756e67786b74726271667870666f646e7971656966746b6463786b697174636a 677774716f787877636162656d6a666c696968676166746c626b 6c77747074716e6d7873616a7762707271667370626d6f64706474736874696e6f7278686e756a76737862627266736b7676"/>
          <xs:enumeration value="7265736e71656f7265706f726b69787277 636f787867777363657977796571776377646b776a6f73616c7268696c61717265616565646368646c65727264666b6d666a6c646261626f777163686961646e676d647279 6a69696767636869747764797269736661646a6879776b6d6c67656966716f746f656a6c 746a6c6471757677716365776f66646e63746d636177736772646c707575796f726d766864786f627862776d6d6564686f79796a66766962727372766e736375656b6767736b6d6366 6262686267786e78767463726c6b616a7177696d70766b71627272767165686c77776a74 6b6c72647769736b776c6678766466697478626a766d737370736c666179727779706f6865746a7875636366706e7364"/>
          <xs:enumeration value="6e7972656a63716163777972796a6c6771766c7167666875796a667275797262686d 67706b6373786964726c68776f6c6f79 7575716d6d717770696a6d6c7665627167676c706b6d6262706a686d72687662656261676d63616d6561676f746c6c76666462626f746664756a75767371656e64706a78626b 6c766e746b696668706d70736c656e766f756c6163706d646b6e686e78 75746974766f6472776b6c78726c73617367686e636e746179736976657164696973686f6b686d62636a7770756b7271716175617774706472656a79"/>
          <xs:enumeration value="697667726e77767967666b626e786b68656179797475616472707967756679787269786774787976656b6d6570746c7461766a7774676f68786774666973 786c6e71726f78726c796a66667361706a726f76736b6c 74736c6a7166626e6262717773786a716e746d696b79786669736d766270656e73646872726778 716b767974686f7172746c6868777361797463627465626964756e7173696879796a6d6c78757374627561656367616b66706d636172686762 6575757373786770636c76717668687279617773776269726e7567696577656c776b796b7666686d617368746863726c6f 6873626a7972736b776b67667677696b66726970796d61636972686e7261776a6b 696e6d6f716974796b74777376776363756e64736a687078786172767563736e6873696b6d7565687166636965786e6d6862756f7876766865697668776f7462677177676169 676f6274666166736a73766f77756c726e6961677271776c6c6b626f686d6d626e6f737068616e6871726d65647865746970797165686763686b7561666767646478757075 77626a71676d636270796d6367766867746d6574636d7963626c676d6c7379686c6a77646e6e6b616b616a746b766a6b61676e657378"/>
          <xs:enumeration value="746469676a637178676d696a6961746576676e79 616e69696e736a6475616b646d686e706468766c7061626978666563717278766e6f727471657379676b6467746662776c656c736a6f 6f6a6e786566797675637067656f76626f78796c7164616f686975756272747368 6274706c65737977687267756368686d787162707171726674666b6f676e786d78787967716271746365696d6e766673646b6677696d626c6f62666f74716b75 6b677463676d74756e65796c6364757965616f626b6f7077666a646b6a776e70726d79766f6f7472687478647673776c71726c6f66657262656c696b6d6c776a67787966676b6b64 7877737261747475736e6679697075776278756366746376647966796b6d687870726571617871776c6c6a79636666716d71756871 63676d666e686d64726f766b6e6474766f746664636367677464736c766866797268786a717362737670"/>
          <xs:enumeration value="6a666f6e746f74777169777363626e6f7172616764627863697576766f676f626f796766 6b79697767676c6d6e77676d64636a6a697671676b7269666a76706a68626b6a716a616a6c6f7979667164626170 706b6466786b787665786e766e706d6761667162796c6d706d6a717363706d6273786a6262716a7161766c72766a6e786b63737871686d7268696a62726c65647765616272796b6b65 6a767867656b71686c766f6c7368736262746c7274737671746d666f6a6d726b73656661797178766c636c6f7779676574686b676978627062687873666c6c6268756467637164 6871786273777061746b6f6c6d6a67636f6371706b 6969666271766e656662746671646663646566766974646866687076746e636662696b7764636d676f6e6d68626471 7579646d716473797575787464626a6b7161 6e6375656f6f"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
