nistData/list/NCName/Schema+Instance/NISTSchema-SV-IV-list-NCName-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-NCName-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-NCName-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-NCName-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-NCName-enumeration-4,
      which is derived by restriction of a list with itemType NCName
      by facet enumeration with values of:
          vprominent.business_led_subject-related-manipulation_discover_s ha.target-the-its.and-p tthe_and_pervasive cdevices.to.to.the-analysis-o ltools-database_for-describes.testing.and.be_location.ensure.wi jintelligent_beta.chai fdo_transm jprocess.as_back.e.information_softwar bby.in-about_application_find-as-specifications
          yvirtually.sta mthis_be_of_semantics.means_developed_in-and.the-and. gthese.capabilities-solve.provides-the-partnerships_made.a_ quse.recommending-addressi nvariety_a-approa _partners-the.an.known.is-the_hampered_compu
          we-constituent_reviewed.next_to.are.must_ tinformation.be.being pis.both_2001.rapidly-to.challenges.a wto-test-implementations-it_users_applications sdispla eand.and_including.tools-and_specifications.app na.transforming-signatures.the_to-and-specification_w
          aprovide.information.used.contribute_approach-business-orient _in-the-and-of.to cmultidisciplinary.and.community.is.test ias.betw dbetween-inves care odevelo wis-the-hardware.pico-ce
          gof-file_working-and_to.s-dis fus yso _and-is_and-draft-memory_of.to.specificatio xprogram ma_with_provide.must-tests-define_and_must_testing.b bstandar iand.use_come-specifications jwill.particularly-accomplish.and-cost_solutions_unamb
          rareas.the_international_less.publish fand_the-compatibility_and.technologies_fut kprototy cvendors_of_a-are.being_standards_with-and-and-devices-fil _implementation.desktop.known.of-if_partic cinformation_over.computing.to-and-documents-as.quality.files _the.specific-this_certa
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-NCName-enumeration-4" type="NISTSchema-SV-IV-list-NCName-enumeration-4-Type"/>

  <xs:simpleType name="listOfNCName">
    <xs:list itemType="xs:NCName"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-NCName-enumeration-4-Type">
    <xs:restriction base="listOfNCName">
          <xs:enumeration value="vprominent.business_led_subject-related-manipulation_discover_s ha.target-the-its.and-p tthe_and_pervasive cdevices.to.to.the-analysis-o ltools-database_for-describes.testing.and.be_location.ensure.wi jintelligent_beta.chai fdo_transm jprocess.as_back.e.information_softwar bby.in-about_application_find-as-specifications"/>
          <xs:enumeration value="yvirtually.sta mthis_be_of_semantics.means_developed_in-and.the-and. gthese.capabilities-solve.provides-the-partnerships_made.a_ quse.recommending-addressi nvariety_a-approa _partners-the.an.known.is-the_hampered_compu"/>
          <xs:enumeration value="we-constituent_reviewed.next_to.are.must_ tinformation.be.being pis.both_2001.rapidly-to.challenges.a wto-test-implementations-it_users_applications sdispla eand.and_including.tools-and_specifications.app na.transforming-signatures.the_to-and-specification_w"/>
          <xs:enumeration value="aprovide.information.used.contribute_approach-business-orient _in-the-and-of.to cmultidisciplinary.and.community.is.test ias.betw dbetween-inves care odevelo wis-the-hardware.pico-ce"/>
          <xs:enumeration value="gof-file_working-and_to.s-dis fus yso _and-is_and-draft-memory_of.to.specificatio xprogram ma_with_provide.must-tests-define_and_must_testing.b bstandar iand.use_come-specifications jwill.particularly-accomplish.and-cost_solutions_unamb"/>
          <xs:enumeration value="rareas.the_international_less.publish fand_the-compatibility_and.technologies_fut kprototy cvendors_of_a-are.being_standards_with-and-and-devices-fil _implementation.desktop.known.of-if_partic cinformation_over.computing.to-and-documents-as.quality.files _the.specific-this_certa"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
