nistData/list/NCName/Schema+Instance/NISTSchema-SV-IV-list-NCName-pattern-4.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-NCName-pattern-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-NCName-pattern-4-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-NCName-pattern-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-NCName-pattern-4,
      which is derived by restriction of a list with item type NCName
      by facet pattern with a value of: [\i-[:]][\c-[:]]{44} [\i-[:]][\c-[:]]{50} [\i-[:]][\c-[:]]{47} [\i-[:]][\c-[:]]{60} [\i-[:]][\c-[:]]{10} [\i-[:]][\c-[:]]{0} [\i-[:]][\c-[:]]{17} [\i-[:]][\c-[:]]{45} [\i-[:]][\c-[:]]{50} [\i-[:]][\c-[:]]{36}
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-NCName-pattern-4" type="nist:NISTSchema-SV-IV-list-NCName-pattern-4-Type"/>

  <simpleType name="listOfNCName">
    <list itemType="NCName"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-NCName-pattern-4-Type">
    <restriction base="nist:listOfNCName">
      <pattern value="[\i-[:]][\c-[:]]{44} [\i-[:]][\c-[:]]{50} [\i-[:]][\c-[:]]{47} [\i-[:]][\c-[:]]{60} [\i-[:]][\c-[:]]{10} [\i-[:]][\c-[:]]{0} [\i-[:]][\c-[:]]{17} [\i-[:]][\c-[:]]{45} [\i-[:]][\c-[:]]{50} [\i-[:]][\c-[:]]{36}"/>
    </restriction>
  </simpleType>

</schema>
