nistData/list/NCName/Schema+Instance/NISTSchema-SV-IV-list-NCName-pattern-5.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-NCName-pattern-5-NS"
        targetNamespace="NISTSchema-SV-IV-list-NCName-pattern-5-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-NCName-pattern-5.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-NCName-pattern-5,
      which is derived by restriction of a list with item type NCName
      by facet pattern with a value of: [\i-[:]][\c-[:]]{40} [\i-[:]][\c-[:]]{59} [\i-[:]][\c-[:]]{55} [\i-[:]][\c-[:]]{41} [\i-[:]][\c-[:]]{12} [\i-[:]][\c-[:]]{25}
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-NCName-pattern-5" type="nist:NISTSchema-SV-IV-list-NCName-pattern-5-Type"/>

  <simpleType name="listOfNCName">
    <list itemType="NCName"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-NCName-pattern-5-Type">
    <restriction base="nist:listOfNCName">
      <pattern value="[\i-[:]][\c-[:]]{40} [\i-[:]][\c-[:]]{59} [\i-[:]][\c-[:]]{55} [\i-[:]][\c-[:]]{41} [\i-[:]][\c-[:]]{12} [\i-[:]][\c-[:]]{25}"/>
    </restriction>
  </simpleType>

</schema>
