nistData/list/NCName/Schema+Instance/NISTSchema-SV-IV-list-NCName-pattern-2.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-NCName-pattern-2-NS"
        targetNamespace="NISTSchema-SV-IV-list-NCName-pattern-2-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-NCName-pattern-2.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-NCName-pattern-2,
      which is derived by restriction of a list with item type NCName
      by facet pattern with a value of: [\i-[:]][\c-[:]]{7} [\i-[:]][\c-[:]]{35} [\i-[:]][\c-[:]]{46} [\i-[:]][\c-[:]]{25} [\i-[:]][\c-[:]]{53} [\i-[:]][\c-[:]]{58} [\i-[:]][\c-[:]]{11}
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-NCName-pattern-2" type="nist:NISTSchema-SV-IV-list-NCName-pattern-2-Type"/>

  <simpleType name="listOfNCName">
    <list itemType="NCName"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-NCName-pattern-2-Type">
    <restriction base="nist:listOfNCName">
      <pattern value="[\i-[:]][\c-[:]]{7} [\i-[:]][\c-[:]]{35} [\i-[:]][\c-[:]]{46} [\i-[:]][\c-[:]]{25} [\i-[:]][\c-[:]]{53} [\i-[:]][\c-[:]]{58} [\i-[:]][\c-[:]]{11}"/>
    </restriction>
  </simpleType>

</schema>
