ibmData/instance_invalid/D3_4_26/d3_4_26ii05.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_4_26_ii05"
	xmlns:sv="http://xstest-tns/schema11_D3_4_26_ii05">
	
<!-- 
	Test Case Type: Instance Invalid test (Datatypes section 3.4.26) 
	Base Type     : yearMonthDuration
	Description   : Tests the simpleType yearMonthDuration and its facets and its use in attributes
-->

<simpleType name="yMDType">
	<restriction base="yearMonthDuration"/>
</simpleType>


<simpleType name="yMDEnumeration">
	<restriction base="yearMonthDuration">
		<enumeration value="P1Y"/>
		<enumeration value="P1Y3M"/>
		<enumeration value="-P34Y233M"/>
		<enumeration value="P45M"/>
	</restriction>
</simpleType>



<simpleType name="yMDMinMaxInclusive">
	<restriction base="yearMonthDuration">
		<minInclusive value="-P2Y"/>
		<maxInclusive value="P30Y23M"/>
	</restriction>
</simpleType>

<simpleType name="yMDMinMaxExclusive">
	<restriction base="yearMonthDuration">
		<minExclusive value="-P2Y"/>
		<maxExclusive value="P30Y23M"/>
	</restriction>
</simpleType>

<element name="root">
	<complexType>
		<simpleContent>
			<extension base="string">
				<attribute name="ayMDType" type="sv:yMDType"/>
				<attribute name="ayMDEnumeration" type="sv:yMDEnumeration"/>
				<attribute name="ayMDMinMaxInclusive" type="sv:yMDMinMaxInclusive"/>
				<attribute name="ayMDMinMaxExclusive" type="sv:yMDMinMaxExclusive"/>
			</extension>
		</simpleContent>
	</complexType>
</element>    

</schema>  