ibmData/instance_invalid/D3_4_26/d3_4_26ii03.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_4_26_ii03"
	xmlns:sv="http://xstest-tns/schema11_D3_4_26_ii03">
	
<!-- 
	Test Case Type: Instance Invalid test (Datatypes section 3.4.26) 
	Base Type     : yearMonthDuration
	Description   : Tests the simpleType yearMonthDuration and its facets and its use in elements
-->


<simpleType name="yMDMinMaxInclusive">
	<restriction base="yearMonthDuration">
		<minInclusive value="-P2Y"/>
		<maxInclusive value="P30Y23M"/>
	</restriction>
</simpleType>




<element name="root">
	<complexType>
		<sequence>
			<element name="elyMDMinMaxInclusive" type="sv:yMDMinMaxInclusive" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</element>    

</schema>  