sunData/AttrDecl/AD_name/AD_name00103m/AD_name00103m2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)AD_name00103m2.xsd
   generated from: @(#)AD_name00103m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="AttrDecl/name">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:attribute name="str00Aー" type="xsd:string"/>
            <xsd:attribute name="str10-ヽ" type="xsd:string"/>
            <xsd:attribute name="str20ヾ" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
