nistData/list/positiveInteger/Schema+Instance/NISTSchema-SV-II-list-positiveInteger-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-positiveInteger-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-II-list-positiveInteger-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-positiveInteger-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-positiveInteger-enumeration-4,
      which is derived by restriction of a list with itemType positiveInteger
      by facet enumeration with values of:
          79171 47650863692 75273600 11328063368 288351 58353 33350730016313 6096262660
          38861401519 504847 921 5648 9786369842432146 4105957668062104
          992 65924731247507284 743 8497667063588 540439489 759769287823 3561479073 945750876597
          3685244094 2356077805967 345929259244193 869452 9340 35498126313
          7602398155644033 456441288 2597372 45036579882112 24092988837401 5511549661086203 50297564 75143463 36563322
          94222 9263736861932266 2414 3757222 204737211332 5598065329546 49352079118123914 652598 4414
          97495541482 6286530094774 34267 95362035509 61107889772663648 796 1081936691152171
          9824179329753 71078698371985271 77 3308694520 52727506212 451988227800863 170859567887
          39862771938701 86143392381213268 76131425883965764 99404264519852947 660844238
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-positiveInteger-enumeration-4" type="NISTSchema-SV-II-list-positiveInteger-enumeration-4-Type"/>

  <xs:simpleType name="listOfpositiveInteger">
    <xs:list itemType="xs:positiveInteger"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-positiveInteger-enumeration-4-Type">
    <xs:restriction base="listOfpositiveInteger">
          <xs:enumeration value="79171 47650863692 75273600 11328063368 288351 58353 33350730016313 6096262660"/>
          <xs:enumeration value="38861401519 504847 921 5648 9786369842432146 4105957668062104"/>
          <xs:enumeration value="992 65924731247507284 743 8497667063588 540439489 759769287823 3561479073 945750876597"/>
          <xs:enumeration value="3685244094 2356077805967 345929259244193 869452 9340 35498126313"/>
          <xs:enumeration value="7602398155644033 456441288 2597372 45036579882112 24092988837401 5511549661086203 50297564 75143463 36563322"/>
          <xs:enumeration value="94222 9263736861932266 2414 3757222 204737211332 5598065329546 49352079118123914 652598 4414"/>
          <xs:enumeration value="97495541482 6286530094774 34267 95362035509 61107889772663648 796 1081936691152171"/>
          <xs:enumeration value="9824179329753 71078698371985271 77 3308694520 52727506212 451988227800863 170859567887"/>
          <xs:enumeration value="39862771938701 86143392381213268 76131425883965764 99404264519852947 660844238"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
