ibmData/schema_invalid/S3_4_1/s3_4_1si04.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="a"
        xmlns:a="a">
        
<!-- 
Test Case Type: Schema invalid test
Description   : Tests openContent in complexType derived by extension
          Fails because the derived type takes the defaultOpenContent which has
          mode of suffix while base type openContent has mode interleave. And their modes have to be the same.
          According to the spec, for derived types, defaultOpenContent takes
          predecence over base type's openContent.
-->

<defaultOpenContent mode="suffix">
 <any processContents="lax"/>
</defaultOpenContent>

<complexType name="c">
 <openContent >
  <any processContents="lax"/>
 </openContent>
 <all>
  <element name="x" type="integer"/>
  <element name="y" type="integer"/>
 </all>
</complexType>

<complexType name="d">
 <complexContent>
  <extension base="a:c">
   <all>
    <element name="x" type="integer"/>
    <element name="y" type="integer"/>   
   </all>
  </extension>
 </complexContent>
</complexType>

<element name="root">
 <complexType>
  <sequence>
   <element name="p" type="a:d"/>	<!-- tests openContent -->
  </sequence>
 </complexType>
</element>

</schema>
 