ibmData/schema_invalid/S3_4_1/s3_4_1si09.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	targetNamespace="a"
	xmlns:a="a"
	elementFormDefault="qualified">
<!-- 
Test Case Type: Schema invalid test
Description   : complexType/@mixed and complexContent/@mixed must not conflict
-->	
	
 <element name="root">
	<complexType mixed="true">
     <complexContent mixed="false">  <!-- conflict -->
       <extension base="a:bele">
        <sequence>
          <element name="element2" minOccurs="0"/>
        </sequence>
       </extension>
     </complexContent>
	</complexType>
 </element>
	
   <complexType name="bele" mixed="true"> <!-- must be mixed too-->
	    <sequence>
          <element name="element1" type="string" minOccurs="0"/>
        </sequence>
   </complexType>
	 
</schema>
