saxonData/Override/over024a.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="doc">
    <xs:complexType>
       <xs:sequence>
          <xs:element name="para" maxOccurs="unbounded"/>
       </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:override schemaLocation="over024.bad.xsd">
      <xs:simpleType name="zuluDate">
        <xs:restriction base="xs:time">
            <xs:pattern value=".*Z"/>
        </xs:restriction>
      </xs:simpleType>
  </xs:override>
</xs:schema>
