saxonData/Override/over005a.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="doc">
    <xs:complexType>
       <xs:sequence>
          <xs:element name="para" maxOccurs="unbounded"/>
       </xs:sequence>
       <xs:attribute ref="code" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="code" type="xs:string"/>
</xs:schema>
