saxonData/Override/over012.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:override schemaLocation="over012a.xsd">
  <xs:complexType name="structuredDate">
     <xs:sequence>
        <xs:element name="year" type="xs:integer"/>
        <xs:element name="month" type="xs:integer"/>
        <xs:element name="day" type="xs:integer"/>
     </xs:sequence>
  </xs:complexType>
  </xs:override>
</xs:schema>
