saxonData/Override/over009temp.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:override schemaLocation="over003a.xsd">
    <xs:element name="para" type="zonedDate"/>
    <xs:simpleType name="zonelessDate">
       <xs:restriction base="xs:date">
          <xs:pattern value="[0-9]+-[0-9]+-[0-9]+"/>
       </xs:restriction>
    </xs:simpleType>
  <xs:simpleType name="zonedDate">
       <xs:restriction base="xs:date">
          <xs:pattern value="[0-9]+-[0-9]+-[0-9]+Z"/>
       </xs:restriction>
    </xs:simpleType></xs:override>
</xs:schema>