saxonData/Override/over015.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- overrides notation declarations. This is rather pointless; it has no effect on document validity, though it does affect the PSVI -->
 <xs:override schemaLocation="over015a.xsd">
  <xs:notation name="foo" public="pubfoo2"/>
  <xs:notation name="bar" public="pubbar2"/>
  <xs:simpleType name="notaFooBar">
    <xs:restriction base="xs:NOTATION">
      <xs:enumeration value="foo"/>
      <xs:enumeration value="bar"/>
      <xs:enumeration value="bez"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:element name="doc">
    <xs:complexType>
       <xs:choice>
          <xs:element name="para" maxOccurs="unbounded" type="structuredDate"/>
          <xs:element name="bezzle" type="xs:NOTATION"/>
       </xs:choice>
    </xs:complexType>
  </xs:element>
  
 </xs:override>
 <xs:notation name="bez" public="pubbez"/>
</xs:schema>
