saxonData/Override/over012a.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="doc">
    <xs:complexType>
       <xs:sequence>
          <xs:element name="para" maxOccurs="unbounded" type="structuredDate"/>
       </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="structuredDate">
     <xs:sequence>
        <xs:element name="year"/>
        <xs:element name="month"/>
        <xs:element name="day"/>
     </xs:sequence>
  </xs:complexType>
</xs:schema>
