sunData/SType/ST_facets/ST_facets00505m/ST_facets00505m10.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)ST_facets00505m10.xsd
   generated from: @(#)ST_facets00505m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="SType/ST_facets"
    targetNamespace="SType/ST_facets">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="value" type="S"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="S">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="a00⃐"/>
            <xsd:enumeration value="a0-⃖"/>
            <xsd:enumeration value="a0A⃜"/>
            <xsd:enumeration value="a10⃡"/>
            <xsd:enumeration value="a20〪"/>
            <xsd:enumeration value="a2-〬"/>
            <xsd:enumeration value="a2A〯"/>
            <xsd:enumeration value="a30゙"/>
            <xsd:enumeration value="a40゚"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
