sunData/SType/ST_facets/ST_facets00505m/ST_facets00505m2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)ST_facets00505m2.xsd
   generated from: @(#)ST_facets00505m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="SType/ST_facets"
    targetNamespace="SType/ST_facets">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="value" type="S"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="S">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="a00ٰ"/>
            <xsd:enumeration value="a10ۖ"/>
            <xsd:enumeration value="a1-ۙ"/>
            <xsd:enumeration value="a1Aۜ"/>
            <xsd:enumeration value="a20۝"/>
            <xsd:enumeration value="a2-۞"/>
            <xsd:enumeration value="a2A۟"/>
            <xsd:enumeration value="a30۠"/>
            <xsd:enumeration value="a3-ۢ"/>
            <xsd:enumeration value="a3Aۤ"/>
            <xsd:enumeration value="a40ۧ"/>
            <xsd:enumeration value="a4-ۧ"/>
            <xsd:enumeration value="a4Aۨ"/>
            <xsd:enumeration value="a50۪"/>
            <xsd:enumeration value="a5-۫"/>
            <xsd:enumeration value="a5Aۭ"/>
            <xsd:enumeration value="a60ँ"/>
            <xsd:enumeration value="a6-ं"/>
            <xsd:enumeration value="a6Aः"/>
            <xsd:enumeration value="a70़"/>
            <xsd:enumeration value="a80ा"/>
            <xsd:enumeration value="a8-ॅ"/>
            <xsd:enumeration value="a8Aौ"/>
            <xsd:enumeration value="a90्"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
