sunData/ElemDecl/name/name00504m/name00504m1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)name00504m1.xsd
   generated from: @(#)name00504m.jmpp	1.3 02/08/22

-->

<xsd:schema
  xmlns="ElemDecl/name"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/name">

  <xsd:element name="root"/>

  <xsd:element name="Global1">
      <xsd:key name="UNIQ1">
          <xsd:selector xpath="."/>
          <xsd:field xpath="."/>
      </xsd:key>
  </xsd:element>

  <xsd:element name="Global2">
      <xsd:key name="UNIQ2">
          <xsd:selector xpath="."/>
          <xsd:field xpath="."/>
      </xsd:key>
  </xsd:element>

</xsd:schema>
