sunData/ElemDecl/scope/scope00101m/scope00101m.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)scope00101m.xsd
   generated from: @(#)scope00101m.jmpp	1.4 02/11/19

-->

<xsd:schema
  xmlns="ElemDecl/scope"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/scope">

  <xsd:element name="root">
      <xsd:complexType>
          <xsd:sequence>
              <xsd:element ref="Global" />
              <xsd:element name="Local" />
          </xsd:sequence>
      </xsd:complexType>
  </xsd:element>

  <xsd:element name="Global"/>

</xsd:schema>

