ibmData/valid/S3_10_1/s3_10_1v02.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="a"
        xmlns:a="a"
        xmlns:b="b"
        xmlns:c="c"
        elementFormDefault="qualified">
        
<!-- 
	Tests notQName and notNamespace list
-->

<complexType name="t">
 <sequence>
  <any notNamespace="b c" notQName="a:a b a:c" processContents="lax" maxOccurs="unbounded"/>
 </sequence>
</complexType>

<element name="a" type="integer"/>
<element name="b" type="integer"/>
<element name="c" type="integer"/>
<element name="d" type="integer"/>

<element name="root" type="a:t"/>
</schema>
