ibmData/valid/S3_10_1/s3_10_1v01.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="a"
        xmlns:a="a"
        elementFormDefault="qualified">
        
<!-- 
	Tests notQName="defined"
-->

<complexType name="t">
 <sequence>
  <any notQName="##defined" processContents="lax" maxOccurs="unbounded"/>
 </sequence>
</complexType>

<element name="a" type="integer"/>
<element name="c" type="integer"/>

<element name="root" type="a:t"/>
</schema>
