sunData/AttrDecl/AD_name/AD_name00112/AD_name00112.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)AD_name00112.xsd	1.2 02/12/25

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="AttrDecl/name">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:attribute name="a&#x002D;1&#x002E;2&#x005F;3&#x00B7;4&#x0387;5&#x06DD;6&#x06DE;" type="xsd:int"/>
            <xsd:attribute name="a123456" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
