sunData/AttrUse/AU_valConstr/AU_valConstr00101m/AU_valConstr00101m1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)AU_valConstr00101m1.xsd
   generated from: @(#)AU_valConstr00101m.jmpp	1.4 03/01/13

-->


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="AttrUse/valConstr"
	xmlns:tn="AttrUse/valConstr">

        <xsd:element name="root">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element ref="tn:elementWithAttr"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>

	<xsd:attribute name="number" type="xsd:integer"/>

	<xsd:element name="elementWithAttr">
	  <xsd:complexType>
	    <xsd:attribute ref="tn:number" fixed="12"/>
	  </xsd:complexType>
	</xsd:element>
</xsd:schema>

