sunData/SType/ST_facets/ST_facets00601/ST_facets00601.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)ST_facets00601.xsd	1.2 02/12/25

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="SType/ST_facets"
    targetNamespace="SType/ST_facets">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="val" type="S" maxOccurs="7"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="S">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="a--a"/>
            <xsd:enumeration value="b&#x002E;&#x002E;b"/>
            <xsd:enumeration value="c__c"/>
            <xsd:enumeration value="d&#x00B7;&#x00B7;d"/>
            <xsd:enumeration value="e&#x0387;&#x0387;e"/>
            <xsd:enumeration value="f&#x06DD;&#x06DD;f"/>
            <xsd:enumeration value="g&#x06DE;&#x06DE;g"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>

