nistData/list/int/Schema+Instance/NISTSchema-SV-II-list-int-enumeration-2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-int-enumeration-2-NS"
        targetNamespace="NISTSchema-SV-II-list-int-enumeration-2-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-int-enumeration-2.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-int-enumeration-2,
      which is derived by restriction of a list with itemType int
      by facet enumeration with values of:
          78298 -5 -2 -7 116766 -88 -961
          -2147483648 -6253 3620 -293375 61637513 -43 77 -7158506 2147483647
          82291660 222 9468 295726 -7
          7514669 -84108533 -1513 -2147483648 7820 717 2147483647 -666
          -791709 47 42093 168 -2147483648 1980063
          -506436 538359894 -96 -3269271 4472319 -778649414 -40750741 6451976 -607101 -7478
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-int-enumeration-2" type="NISTSchema-SV-II-list-int-enumeration-2-Type"/>

  <xs:simpleType name="listOfint">
    <xs:list itemType="xs:int"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-int-enumeration-2-Type">
    <xs:restriction base="listOfint">
          <xs:enumeration value="78298 -5 -2 -7 116766 -88 -961"/>
          <xs:enumeration value="-2147483648 -6253 3620 -293375 61637513 -43 77 -7158506 2147483647"/>
          <xs:enumeration value="82291660 222 9468 295726 -7"/>
          <xs:enumeration value="7514669 -84108533 -1513 -2147483648 7820 717 2147483647 -666"/>
          <xs:enumeration value="-791709 47 42093 168 -2147483648 1980063"/>
          <xs:enumeration value="-506436 538359894 -96 -3269271 4472319 -778649414 -40750741 6451976 -607101 -7478"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
