sunData/ElemDecl/valueConstraint/valueConstraint00401m/valueConstraint00401m6.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)valueConstraint00401m6.xsd
   generated from: @(#)valueConstraint00401m.jmpp	1.4 02/11/19

-->

<xsd:schema
  xmlns="ElemDecl/valueConstraint"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/valueConstraint">

  <xsd:element name="root"/>

  <xsd:element name="E" type="answer" default="Yes" />

  <xsd:complexType name="answer">
      <xsd:simpleContent>
          <xsd:extension base="xsd:boolean">
              <xsd:attribute name="certainty"/>
          </xsd:extension>
      </xsd:simpleContent>
  </xsd:complexType>

</xsd:schema>
