saxonData/All/all240.n.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- xs:all - UPA violation - two elements with same name -->
<!-- Violates UPA even though both particles refer to the same element declaration -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:complexType name="b">
       <xs:all>     
         <xs:element ref="o"/>
         <xs:element name="x" type="xs:boolean"/>
         <xs:element ref="o"/>
       </xs:all>
    </xs:complexType>
    
    <xs:element name="o" type="xs:integer"/>
          

</xs:schema>
