saxonData/All/all312.n.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Even in 1.1, xs:all cannot extend xs:sequence -->
<!-- Tests that this is true even for a singleton xs:all, which is in other respects like an xs:sequence -->
<!-- requires XSDL 1.1 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:complexType name="b" mixed="true">
       <xs:sequence>
         <xs:element name="a"/>
       </xs:sequence>     
    </xs:complexType>
    
    <xs:complexType name="ext">
      <xs:complexContent mixed="true">
        <xs:extension base="b">
          <xs:all>
            <xs:element name="d" minOccurs="0" maxOccurs="2"/>
          </xs:all>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType> 
    
    <xs:element name="doc" type="ext"/> 
          

</xs:schema>
