sunData/ElemDecl/substGroupExclusions/substGrpExcl00401m/substGrpExcl00401m6.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)substGrpExcl00401m6.xsd
   generated from: @(#)substGrpExcl00401m.jmpp	1.4 02/08/22

-->

<xsd:schema
  xmlns="ElemDecl/substGroupExclusions"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/substGroupExclusions"
  elementFormDefault="qualified"
  finalDefault="restriction extension"  
  >

  <xsd:element name="root">
      <xsd:complexType>
          <xsd:sequence>
              <xsd:element ref="Head" maxOccurs="unbounded"/>
          </xsd:sequence>
      </xsd:complexType>
  </xsd:element>

  <xsd:element name="Head" type="HeadType"/>

  <xsd:complexType name="HeadType">
      <xsd:sequence>
          <xsd:element name="Ear"/>
          <xsd:element name="Eye"/>
      </xsd:sequence>
  </xsd:complexType>

</xsd:schema>

