ibmData/schema_invalid/S2_2_2/s2_2_2si02.xsd

<?xml version="1.0"?>
<schema xmlns          ="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://xstest-tns/ibms3_3_6_v02"
        xmlns:v27      ="http://xstest-tns/ibms3_3_6_v02">

<!--
	Tests: structures 3.3.6.1.4 - element's type def is NOT validly substituable for its member's type def
-->

<element name="elem0" type="string"/>
<element name="elem1" type="integer"/>
<element name="root" type="v27:rootType"/>
<complexType name="rootType">
	<sequence>
		<element ref="v27:elem0"/>	
	</sequence>
</complexType>
<element name="elem2" type="string" substitutionGroup="v27:elem0 v27:elem1"/>
</schema>