sunData/ElemDecl/substGroupExclusions/substGrpExcl00402m/substGrpExcl00402m7.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)substGrpExcl00402m7.xsd
   generated from: @(#)substGrpExcl00402m.jmpp	1.4 02/08/22

-->

<xsd:schema
  xmlns="ElemDecl/substGroupExclusions"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/substGroupExclusions"
  elementFormDefault="qualified"
  >

  <xsd:element name="root">
      <xsd:complexType>
          <xsd:sequence>
              <xsd:element ref="Head" maxOccurs="unbounded"/>
          </xsd:sequence>
      </xsd:complexType>
  </xsd:element>

  <xsd:element name="Head" type="HeadType"/>

  <xsd:element name="Element0" type="HeadType" final=""/>
  <xsd:element name="Element1" type="HeadType" final="#all"/>
  <xsd:element name="Element2" type="HeadType" final="restriction"/>
  <xsd:element name="Element3" type="HeadType" final="extension"/>
  <xsd:element name="Element4" type="HeadType" final="extension restriction"/>
  <xsd:element name="Element5" type="HeadType" final="restriction extension"/>

  <xsd:complexType name="HeadType">
      <xsd:sequence>
          <xsd:element name="Ear"/>
          <xsd:element name="Eye"/>
      </xsd:sequence>
  </xsd:complexType>

</xsd:schema>

