ibmData/valid/S3_4_1/s3_4_1v04.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="a"
        xmlns:a="a">
        
<!-- 
Test Case Type: Valid test	
Description   : Tests defaultOpenContent in suffix mode 
-->

<defaultOpenContent mode="suffix">
 <any processContents="lax"/>
</defaultOpenContent>

<complexType name="c">
 <all>
  <element name="x" type="integer"/>
  <element name="y" type="integer"/>
 </all>
</complexType>

<element name="root">
 <complexType>
  <sequence>
   <element name="p" type="a:c"/>	<!-- tests openContent -->
  </sequence>
 </complexType>
</element>

</schema>
