ibmData/valid/S3_4_1/s3_4_1v10.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="a"
        xmlns:a="a">
        
<!-- 
Test Case Type: Valid test
Description   : Tests derivation by extension with openContent mode interleave in both type and its derived type
-->
<complexType name="c">
 <openContent mode="interleave">
  <any processContents="lax"/>
 </openContent>
 <all>
  <element name="x" type="integer"/>
  <element name="y" type="integer"/>
 </all>
</complexType>

<complexType name="d">
 <complexContent>
  <extension base="a:c">
   <openContent mode="interleave">
    <any processContents="lax"/>
   </openContent>
   <all>
    <element name="z" type="integer"/> 
   </all>
  </extension>
 </complexContent>
</complexType>

<element name="root">
 <complexType>
  <sequence>
   <element name="p" type="a:d"/>	<!-- tests openContent -->
  </sequence>
 </complexType>
</element>

</schema>
 