ibmData/valid/S3_4_1/s3_4_1v03.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="a"
        xmlns:a="a">
        
<!-- 
Test Case Type: Valid test
Description   : Tests openContent for empty content model 
-->

<complexType name="c">
  <openContent>
   <any processContents="lax"/>
  </openContent>
</complexType>

<element name="root">
 <complexType>
  <sequence>
   <element name="p" type="a:c"/>	<!-- tests openContent -->
  </sequence>
 </complexType>
</element>

</schema>
