sunData/combined/003a/test.xsd

<?xml version="1.0" encoding="utf-8"?>

<!--
Ident: @(#)test.xsd	1.2 02/12/25

-->
<!-- A variant of test003 that blocks extension on complex types but not on elements -->

				<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="foo" 
					elementFormDefault="qualified" targetNamespace="foo" 
					blockDefault="extension">
					
					<xs:complexType name="B">
						<xs:sequence>
							<xs:element name="foo" type="empty" block=""/>
						</xs:sequence>
					</xs:complexType>
					
					<xs:complexType name="Dr">
						<xs:complexContent>
							<xs:restriction base="B">
								<xs:sequence>
									<xs:element name="foo" type="empty" block=""/>
								</xs:sequence>
							</xs:restriction>
						</xs:complexContent>
					</xs:complexType>
					
					<xs:complexType name="De">
						<xs:complexContent>
							<xs:extension base="B"/>
						</xs:complexContent>
					</xs:complexType>
					
					<xs:complexType name="Drr">
						<xs:complexContent>
							<xs:restriction base="Dr">
								<xs:sequence>
									<xs:element name="foo" type="empty" block=""/>
								</xs:sequence>
							</xs:restriction>
						</xs:complexContent>
					</xs:complexType>
					
					<xs:complexType name="Dre">
						<xs:complexContent>
							<xs:extension base="Dr"/>
						</xs:complexContent>
					</xs:complexType>
					
					<xs:complexType name="Der">
						<xs:complexContent>
							<xs:restriction base="De">
								<xs:sequence>
									<xs:element name="foo" type="empty" block=""/>
								</xs:sequence>
							</xs:restriction>
						</xs:complexContent>
					</xs:complexType>
					
					<xs:complexType name="Dee">
						<xs:complexContent>
							<xs:extension base="De"/>
						</xs:complexContent>
					</xs:complexType>
					
					<xs:complexType name="empty"/>
					
					
					<xs:element name="root" block="">
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="item" type="B" block=""/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:schema>
