nistData/list/normalizedString/Schema+Instance/NISTSchema-SV-IV-list-normalizedString-enumeration-3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-normalizedString-enumeration-3-NS"
        targetNamespace="NISTSchema-SV-IV-list-normalizedString-enumeration-3-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-normalizedString-enumeration-3.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-normalizedString-enumeration-3,
      which is derived by restriction of a list with itemType normalizedString
      by facet enumeration with values of:
          same and g Working information
          both the and individual certain such ad to specification
          law will and application is offer heterogeneous automate
          web creation of the and graphical high eliminated
          better computing of supply discovery
          it OASIS being organizations that
          to for supply of by review industry and
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-normalizedString-enumeration-3" type="NISTSchema-SV-IV-list-normalizedString-enumeration-3-Type"/>

  <xs:simpleType name="listOfnormalizedString">
    <xs:list itemType="xs:normalizedString"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-normalizedString-enumeration-3-Type">
    <xs:restriction base="listOfnormalizedString">
          <xs:enumeration value="same and g Working information"/>
          <xs:enumeration value="both the and individual certain such ad to specification"/>
          <xs:enumeration value="law will and application is offer heterogeneous automate"/>
          <xs:enumeration value="web creation of the and graphical high eliminated"/>
          <xs:enumeration value="better computing of supply discovery"/>
          <xs:enumeration value="it OASIS being organizations that"/>
          <xs:enumeration value="to for supply of by review industry and"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
