nistData/list/normalizedString/Schema+Instance/NISTSchema-SV-IV-list-normalizedString-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-normalizedString-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-normalizedString-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-normalizedString-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-normalizedString-enumeration-4,
      which is derived by restriction of a list with itemType normalizedString
      by facet enumeration with values of:
          browsers targeted from do United Consequently
          XML-related the within database years
          NIST standardization technologies technology to for creation
          accessible tools particularly mediums draft
          XML are leadership target individual help files
          design with must XML ensure to them able
          identify that future creates system
          ability Registry/Repository data; and NIST/ITL 20 benefits them business
          NIST/ITL to that industry for which
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-normalizedString-enumeration-4" type="NISTSchema-SV-IV-list-normalizedString-enumeration-4-Type"/>

  <xs:simpleType name="listOfnormalizedString">
    <xs:list itemType="xs:normalizedString"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-normalizedString-enumeration-4-Type">
    <xs:restriction base="listOfnormalizedString">
          <xs:enumeration value="browsers targeted from do United Consequently"/>
          <xs:enumeration value="XML-related the within database years"/>
          <xs:enumeration value="NIST standardization technologies technology to for creation"/>
          <xs:enumeration value="accessible tools particularly mediums draft"/>
          <xs:enumeration value="XML are leadership target individual help files"/>
          <xs:enumeration value="design with must XML ensure to them able"/>
          <xs:enumeration value="identify that future creates system"/>
          <xs:enumeration value="ability Registry/Repository data; and NIST/ITL 20 benefits them business"/>
          <xs:enumeration value="NIST/ITL to that industry for which"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
