nistData/list/normalizedString/Schema+Instance/NISTSchema-SV-IV-list-normalizedString-pattern-4.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-normalizedString-pattern-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-normalizedString-pattern-4-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-normalizedString-pattern-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-normalizedString-pattern-4,
      which is derived by restriction of a list with item type normalizedString
      by facet pattern with a value of: \d{1,5}_([A-Z][a-z]{1,20}_){1}Street_([A-Z][a-z]{1,20}_){2},_[A-Z]{2}_17466-1733 \d{1,5}_([A-Z][a-z]{1,20}_){5}Street_([A-Z][a-z]{1,20}_){2},_[A-Z]{2}_16877 \d{1,5}_([A-Z][a-z]{1,20}_){3}Street_([A-Z][a-z]{1,20}_){1},_[A-Z]{2}_16698-1324 \d{1,5}_([A-Z][a-z]{1,20}_){3}Street_([A-Z][a-z]{1,20}_){3},_[A-Z]{2}_18587 \d{1,5}_([A-Z][a-z]{1,20}_){3}Street_([A-Z][a-z]{1,20}_){1},_[A-Z]{2}_10792 \d{1,5}_([A-Z][a-z]{1,20}_){5}Street_([A-Z][a-z]{1,20}_){2},_[A-Z]{2}_11619-1091
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-normalizedString-pattern-4" type="nist:NISTSchema-SV-IV-list-normalizedString-pattern-4-Type"/>

  <simpleType name="listOfnormalizedString">
    <list itemType="normalizedString"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-normalizedString-pattern-4-Type">
    <restriction base="nist:listOfnormalizedString">
      <pattern value="\d{1,5}_([A-Z][a-z]{1,20}_){1}Street_([A-Z][a-z]{1,20}_){2},_[A-Z]{2}_17466-1733 \d{1,5}_([A-Z][a-z]{1,20}_){5}Street_([A-Z][a-z]{1,20}_){2},_[A-Z]{2}_16877 \d{1,5}_([A-Z][a-z]{1,20}_){3}Street_([A-Z][a-z]{1,20}_){1},_[A-Z]{2}_16698-1324 \d{1,5}_([A-Z][a-z]{1,20}_){3}Street_([A-Z][a-z]{1,20}_){3},_[A-Z]{2}_18587 \d{1,5}_([A-Z][a-z]{1,20}_){3}Street_([A-Z][a-z]{1,20}_){1},_[A-Z]{2}_10792 \d{1,5}_([A-Z][a-z]{1,20}_){5}Street_([A-Z][a-z]{1,20}_){2},_[A-Z]{2}_11619-1091"/>
    </restriction>
  </simpleType>

</schema>
