nistData/list/normalizedString/Schema+Instance/NISTSchema-SV-IV-list-normalizedString-pattern-2.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-normalizedString-pattern-2-NS"
        targetNamespace="NISTSchema-SV-IV-list-normalizedString-pattern-2-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-normalizedString-pattern-2.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-normalizedString-pattern-2,
      which is derived by restriction of a list with item type normalizedString
      by facet pattern with a value of: \d{1,5}_([A-Z][a-z]{1,20}_){2}Street_([A-Z][a-z]{1,20}_){1},_[A-Z]{2}_15950 \d{1,5}_([A-Z][a-z]{1,20}_){1}Street_([A-Z][a-z]{1,20}_){2},_[A-Z]{2}_15905 \d{1,5}_([A-Z][a-z]{1,20}_){2}Street_([A-Z][a-z]{1,20}_){1},_[A-Z]{2}_15311 \d{1,5}_([A-Z][a-z]{1,20}_){5}Street_([A-Z][a-z]{1,20}_){1},_[A-Z]{2}_12031 \d{1,5}_([A-Z][a-z]{1,20}_){5}Street_([A-Z][a-z]{1,20}_){1},_[A-Z]{2}_10376
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-normalizedString-pattern-2" type="nist:NISTSchema-SV-IV-list-normalizedString-pattern-2-Type"/>

  <simpleType name="listOfnormalizedString">
    <list itemType="normalizedString"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-normalizedString-pattern-2-Type">
    <restriction base="nist:listOfnormalizedString">
      <pattern value="\d{1,5}_([A-Z][a-z]{1,20}_){2}Street_([A-Z][a-z]{1,20}_){1},_[A-Z]{2}_15950 \d{1,5}_([A-Z][a-z]{1,20}_){1}Street_([A-Z][a-z]{1,20}_){2},_[A-Z]{2}_15905 \d{1,5}_([A-Z][a-z]{1,20}_){2}Street_([A-Z][a-z]{1,20}_){1},_[A-Z]{2}_15311 \d{1,5}_([A-Z][a-z]{1,20}_){5}Street_([A-Z][a-z]{1,20}_){1},_[A-Z]{2}_12031 \d{1,5}_([A-Z][a-z]{1,20}_){5}Street_([A-Z][a-z]{1,20}_){1},_[A-Z]{2}_10376"/>
    </restriction>
  </simpleType>

</schema>
