nistData/list/short/Schema+Instance/NISTSchema-SV-IV-list-short-enumeration-2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-short-enumeration-2-NS"
        targetNamespace="NISTSchema-SV-IV-list-short-enumeration-2-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-short-enumeration-2.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-short-enumeration-2,
      which is derived by restriction of a list with itemType short
      by facet enumeration with values of:
          -626 2215 58 32767 5279 6265 42 -534
          491 -8628 2246 -488 627
          -9188 -29 -43 47 -8 95 25 -32768
          15 4002 -70 -85 -793 22 20 55 -6567
          25 -7477 -32768 -7364 2002 -1 3208 19
          19 89 4924 -67 930 -15 -7
          -829 411 -7673 -68 -2477 -3760 -11
          -125 22 -871 -9045 5012 -8684 547
          79 -826 288 49 -869 32767 -32768 -50
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-short-enumeration-2" type="NISTSchema-SV-IV-list-short-enumeration-2-Type"/>

  <xs:simpleType name="listOfshort">
    <xs:list itemType="xs:short"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-short-enumeration-2-Type">
    <xs:restriction base="listOfshort">
          <xs:enumeration value="-626 2215 58 32767 5279 6265 42 -534"/>
          <xs:enumeration value="491 -8628 2246 -488 627"/>
          <xs:enumeration value="-9188 -29 -43 47 -8 95 25 -32768"/>
          <xs:enumeration value="15 4002 -70 -85 -793 22 20 55 -6567"/>
          <xs:enumeration value="25 -7477 -32768 -7364 2002 -1 3208 19"/>
          <xs:enumeration value="19 89 4924 -67 930 -15 -7"/>
          <xs:enumeration value="-829 411 -7673 -68 -2477 -3760 -11"/>
          <xs:enumeration value="-125 22 -871 -9045 5012 -8684 547"/>
          <xs:enumeration value="79 -826 288 49 -869 32767 -32768 -50"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
