nistData/list/short/Schema+Instance/NISTSchema-SV-IV-list-short-enumeration-5.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-short-enumeration-5-NS"
        targetNamespace="NISTSchema-SV-IV-list-short-enumeration-5-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-short-enumeration-5.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-short-enumeration-5,
      which is derived by restriction of a list with itemType short
      by facet enumeration with values of:
          -291 -19 61 -758 799 -4158
          874 32767 88 -872 -7500
          32767 3398 282 420 -32768 -450 -42
          -880 32767 -638 15 -841 -2390 9649 -2651 1247
          -11452 -451 -178 -399 6131 -20057 2229 -94 48 32767
          254 -7010 -175 -201 107
          4879 -756 5172 -4139 408 20825
          32767 -868 901 60 5 85 7655 -2844 52
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-short-enumeration-5" type="NISTSchema-SV-IV-list-short-enumeration-5-Type"/>

  <xs:simpleType name="listOfshort">
    <xs:list itemType="xs:short"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-short-enumeration-5-Type">
    <xs:restriction base="listOfshort">
          <xs:enumeration value="-291 -19 61 -758 799 -4158"/>
          <xs:enumeration value="874 32767 88 -872 -7500"/>
          <xs:enumeration value="32767 3398 282 420 -32768 -450 -42"/>
          <xs:enumeration value="-880 32767 -638 15 -841 -2390 9649 -2651 1247"/>
          <xs:enumeration value="-11452 -451 -178 -399 6131 -20057 2229 -94 48 32767"/>
          <xs:enumeration value="254 -7010 -175 -201 107"/>
          <xs:enumeration value="4879 -756 5172 -4139 408 20825"/>
          <xs:enumeration value="32767 -868 901 60 5 85 7655 -2844 52"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
