nistData/list/short/Schema+Instance/NISTSchema-SV-II-list-short-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-short-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-II-list-short-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-short-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-short-enumeration-4,
      which is derived by restriction of a list with itemType short
      by facet enumeration with values of:
          -3846 -32768 -9797 469 18 -9070
          -2399 -3500 -119 -32768 32767 -63 -499
          4759 52 -63 126 -805 -81 -5277 6833 -68
          -33 338 -988 -1684 -50 -3705 2 -6035 -4002 5575
          1770 -32768 493 5 -5279
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-short-enumeration-4" type="NISTSchema-SV-II-list-short-enumeration-4-Type"/>

  <xs:simpleType name="listOfshort">
    <xs:list itemType="xs:short"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-short-enumeration-4-Type">
    <xs:restriction base="listOfshort">
          <xs:enumeration value="-3846 -32768 -9797 469 18 -9070"/>
          <xs:enumeration value="-2399 -3500 -119 -32768 32767 -63 -499"/>
          <xs:enumeration value="4759 52 -63 126 -805 -81 -5277 6833 -68"/>
          <xs:enumeration value="-33 338 -988 -1684 -50 -3705 2 -6035 -4002 5575"/>
          <xs:enumeration value="1770 -32768 493 5 -5279"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
