nistData/list/short/Schema+Instance/NISTSchema-SV-IV-list-short-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-short-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-short-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-short-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-short-enumeration-4,
      which is derived by restriction of a list with itemType short
      by facet enumeration with values of:
          9006 8125 -8712 28752 556 32767 -41
          1825 32767 -98 -9644 84 -9340 -8 74 23
          667 257 -613 48 -76 173 -3691 -469
          -2723 32767 -821 -3906 8985 -306 -356
          9 -950 201 -728 5862 9551 -24 3 567
          -41 -2433 2017 563 550 267
          32767 -4388 426 6682 54 -64
          -4 314 87 -63 -1160 -4561 158 -9
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-short-enumeration-4" type="NISTSchema-SV-IV-list-short-enumeration-4-Type"/>

  <xs:simpleType name="listOfshort">
    <xs:list itemType="xs:short"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-short-enumeration-4-Type">
    <xs:restriction base="listOfshort">
          <xs:enumeration value="9006 8125 -8712 28752 556 32767 -41"/>
          <xs:enumeration value="1825 32767 -98 -9644 84 -9340 -8 74 23"/>
          <xs:enumeration value="667 257 -613 48 -76 173 -3691 -469"/>
          <xs:enumeration value="-2723 32767 -821 -3906 8985 -306 -356"/>
          <xs:enumeration value="9 -950 201 -728 5862 9551 -24 3 567"/>
          <xs:enumeration value="-41 -2433 2017 563 550 267"/>
          <xs:enumeration value="32767 -4388 426 6682 54 -64"/>
          <xs:enumeration value="-4 314 87 -63 -1160 -4561 158 -9"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
