nistData/list/float/Schema+Instance/NISTSchema-SV-II-list-float-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-float-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-II-list-float-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-float-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-float-enumeration-4,
      which is derived by restriction of a list with itemType float
      by facet enumeration with values of:
          1.4E-45 1.7652056E-34 2.0984830E-23 2.2567048E-12 2.8180920E-1 3.2017906E10 1.4951210E21 3.4028235E38
          1.4E-45 3.2560020E-29 1.6008078E-13 2.8568352E3 1.7033619E19 3.4028235E38
          1.4E-45 3.0207402E-29 2.1339696E-13 2.7814187E3 2.9501349E19 3.4028235E38
          1.4E-45 3.2951755E-35 1.6816463E-25 1.7185700E-15 3.3663641E-5 2.3540258E5 2.7505195E15 1.7564671E25 3.4028235E38
          1.4E-45 2.6686549E-34 2.1379700E-23 1.8633532E-12 1.5228562E-1 1.5385751E10 2.5643790E21 3.4028235E38
          1.4E-45 2.0269173E-36 2.4343635E-27 3.3514741E-18 2.3259334E-9 1.5454940E0 1.5098141E9 1.8577415E18 3.3175189E27 3.4028235E38
          1.4E-45 1.9694547E-36 2.8190965E-27 3.1698370E-18 2.5226185E-9 2.8012848E0 3.2834520E9 1.5352021E18 1.7536123E27 3.4028235E38
          1.4E-45 2.9846638E-29 3.2662204E-13 1.7909466E3 3.3826179E19 3.4028235E38
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-float-enumeration-4" type="NISTSchema-SV-II-list-float-enumeration-4-Type"/>

  <xs:simpleType name="listOffloat">
    <xs:list itemType="xs:float"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-float-enumeration-4-Type">
    <xs:restriction base="listOffloat">
          <xs:enumeration value="1.4E-45 1.7652056E-34 2.0984830E-23 2.2567048E-12 2.8180920E-1 3.2017906E10 1.4951210E21 3.4028235E38"/>
          <xs:enumeration value="1.4E-45 3.2560020E-29 1.6008078E-13 2.8568352E3 1.7033619E19 3.4028235E38"/>
          <xs:enumeration value="1.4E-45 3.0207402E-29 2.1339696E-13 2.7814187E3 2.9501349E19 3.4028235E38"/>
          <xs:enumeration value="1.4E-45 3.2951755E-35 1.6816463E-25 1.7185700E-15 3.3663641E-5 2.3540258E5 2.7505195E15 1.7564671E25 3.4028235E38"/>
          <xs:enumeration value="1.4E-45 2.6686549E-34 2.1379700E-23 1.8633532E-12 1.5228562E-1 1.5385751E10 2.5643790E21 3.4028235E38"/>
          <xs:enumeration value="1.4E-45 2.0269173E-36 2.4343635E-27 3.3514741E-18 2.3259334E-9 1.5454940E0 1.5098141E9 1.8577415E18 3.3175189E27 3.4028235E38"/>
          <xs:enumeration value="1.4E-45 1.9694547E-36 2.8190965E-27 3.1698370E-18 2.5226185E-9 2.8012848E0 3.2834520E9 1.5352021E18 1.7536123E27 3.4028235E38"/>
          <xs:enumeration value="1.4E-45 2.9846638E-29 3.2662204E-13 1.7909466E3 3.3826179E19 3.4028235E38"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
