nistData/list/float/Schema+Instance/NISTSchema-SV-II-list-float-pattern-2.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-II-list-float-pattern-2-NS"
        targetNamespace="NISTSchema-SV-II-list-float-pattern-2-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-float-pattern-2.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-float-pattern-2,
      which is derived by restriction of a list with item type float
      by facet pattern with a value of: \d{1}E\-\d{2} \d{2}E\-\d{1} \d{3}E\d{1} \d{1}\.\d{3}E\d{2} \d{1}\.\d{4}E\-\d{2} \d{1}\.\d{5}E\-\d{1} \d{1}\.\d{7}E\d{1}
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-II-list-float-pattern-2" type="nist:NISTSchema-SV-II-list-float-pattern-2-Type"/>

  <simpleType name="listOffloat">
    <list itemType="float"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-II-list-float-pattern-2-Type">
    <restriction base="nist:listOffloat">
      <pattern value="\d{1}E\-\d{2} \d{2}E\-\d{1} \d{3}E\d{1} \d{1}\.\d{3}E\d{2} \d{1}\.\d{4}E\-\d{2} \d{1}\.\d{5}E\-\d{1} \d{1}\.\d{7}E\d{1}"/>
    </restriction>
  </simpleType>

</schema>
