nistData/list/base64Binary/Schema+Instance/NISTSchema-SV-IV-list-base64Binary-pattern-4.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-base64Binary-pattern-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-base64Binary-pattern-4-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-base64Binary-pattern-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-base64Binary-pattern-4,
      which is derived by restriction of a list with item type base64Binary
      by facet pattern with a value of: [a-zA-Z0-9+/]{48} [a-zA-Z0-9+/]{72} [a-zA-Z0-9+/]{52} [a-zA-Z0-9+/]{48} [a-zA-Z0-9+/]{12} [a-zA-Z0-9+/]{72} [a-zA-Z0-9+/]{68}
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-base64Binary-pattern-4" type="nist:NISTSchema-SV-IV-list-base64Binary-pattern-4-Type"/>

  <simpleType name="listOfbase64Binary">
    <list itemType="base64Binary"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-base64Binary-pattern-4-Type">
    <restriction base="nist:listOfbase64Binary">
      <pattern value="[a-zA-Z0-9+/]{48} [a-zA-Z0-9+/]{72} [a-zA-Z0-9+/]{52} [a-zA-Z0-9+/]{48} [a-zA-Z0-9+/]{12} [a-zA-Z0-9+/]{72} [a-zA-Z0-9+/]{68}"/>
    </restriction>
  </simpleType>

</schema>
