ibmData/schema_invalid/D2_4_1_2/d2_4_1_2si01.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D2_6_1_si01"
	xmlns:sv="http://xstest-tns/schema11_D2_6_1_si01">
	
<!-- 
	Test Case Type: Schema invalid test
	Base Type     : list
	Description   : Lists cannot be bounded
-->

<simpleType name='sizes'>
  <list itemType='decimal'/>
</simpleType>

<simpleType name='sizes2'>
	<restriction base="sv:sizes">
		<minInclusive value='1'/>
	</restriction>
</simpleType>



<element name="root" type="sv:sizes"/>

</schema> 