sunData/MGroup/particles/particles00202m/particles00202m1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)particles00202m1.xsd
   generated from: @(#)particles00202m.jmpp	1.1 02/04/28

-->


<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="particles"
    targetNamespace="particles">

  <xsd:group name="G1">
    <xsd:choice>
      <xsd:group ref="G2"/>
      <xsd:group ref="G3"/>
    </xsd:choice>
  </xsd:group>

  <xsd:group name="G2">
    <xsd:sequence>
      <xsd:element name="date" type="xsd:date"/>
      <xsd:element name="marked" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:group>

  <xsd:group name="G3">
    <xsd:sequence>
      <xsd:element name="num" type="xsd:int"/>
    </xsd:sequence>
  </xsd:group>

  <xsd:element name="a">
    <xsd:complexType>
      <xsd:group ref="G1"/>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>

