ibmData/valid/S3_10_6/s3_10_6v03.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="a"
        xmlns:a="a"
        elementFormDefault="qualified"
        attributeFormDefault="qualified">
        
<!-- 
Test Case Type: Valid test
Description   : Tests notNamespace attribute on xs:anyAttribute
-->

<complexType name="t">
 <sequence>
  <element name="e1">
   <complexType>
    <anyAttribute notNamespace="##local" processContents="lax"/>
   </complexType>
  </element>

  <element name="e2">
   <complexType>
    <anyAttribute notNamespace="##targetNamespace" processContents="lax"/>
   </complexType>
  </element>
 </sequence>
</complexType>

<element name="root" type="a:t"/>
</schema>
