ibmData/valid/S3_10_6/s3_10_6v01.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="a"
        xmlns:a="a"
	xmlns:b="b"
        elementFormDefault="qualified"
        attributeFormDefault="qualified">
        
<complexType name="t">
 <sequence>

  <element name="e1">
   <complexType>
    <anyAttribute notQName="b:notAllowed a:notAllowed a:notAllowed2" processContents="lax"/>
   </complexType>
  </element>

  <element name="e2">
   <complexType>
    <anyAttribute notQName="##defined" processContents="lax"/>
   </complexType>
  </element>

 </sequence>
</complexType>

<element name="root" type="a:t"/>
</schema>

<!-- 
Test Case Type: Valid test
Description   : Tests notQName attribute on xs:anyAttribute
-->
