nistData/list/NMTOKEN/Schema+Instance/NISTSchema-SV-IV-list-NMTOKEN-enumeration-5.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-NMTOKEN-enumeration-5-NS"
        targetNamespace="NISTSchema-SV-IV-list-NMTOKEN-enumeration-5-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-NMTOKEN-enumeration-5.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-NMTOKEN-enumeration-5,
      which is derived by restriction of a list with itemType NMTOKEN
      by facet enumeration with values of:
          voice-enabled.resources:th retrieve_aspects_C the-be.on.me The-of:commerce:files:to:ver of:computing:NSRL.Individual.pervasive_tran methods-to.known-are:Internet-to_XML-related_range-Conduct_and_ efforts:ultimate:i is-of_a-pro
          in-house:and_m a.bottlenecks.for:rigorous:both:to:Only_and.be-and_in Despite-files-the_as:the:consortium-forensics.and-eXtensibl compliant.commerce:in_infrastructure.such-standardiza networking-partners_manipu and_first:discussions.defining-Individual_defines.defining.st
          OASIS-a of.two-of.test_known_participating-Chi.browsers_to_proc allow-and-developed_by.DOM-files:the_collaborating:prov and also.has:as_manipulation:of-the-for.L these.law_results.have-tools_significant.wi criteria to_is documents.all_individual.contribute.able:o
          good-discovery_indu automated:part by-competence_prima languages.allow:to:used:repository:result_ch with-an:back:than-solve_and.ensure:revolutioni
          must.business:is.be_me indus and.documents.and_solution and:Internet-enabled:Develop:and-ma electronic-defining_choices:t match:and:cross-reference.led_users.the_a.participating_recomm pervasive.repositories:XSL-has-obvious_file:and.re recognition_Committee:technol
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-NMTOKEN-enumeration-5" type="NISTSchema-SV-IV-list-NMTOKEN-enumeration-5-Type"/>

  <xs:simpleType name="listOfNMTOKEN">
    <xs:list itemType="xs:NMTOKEN"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-NMTOKEN-enumeration-5-Type">
    <xs:restriction base="listOfNMTOKEN">
          <xs:enumeration value="voice-enabled.resources:th retrieve_aspects_C the-be.on.me The-of:commerce:files:to:ver of:computing:NSRL.Individual.pervasive_tran methods-to.known-are:Internet-to_XML-related_range-Conduct_and_ efforts:ultimate:i is-of_a-pro"/>
          <xs:enumeration value="in-house:and_m a.bottlenecks.for:rigorous:both:to:Only_and.be-and_in Despite-files-the_as:the:consortium-forensics.and-eXtensibl compliant.commerce:in_infrastructure.such-standardiza networking-partners_manipu and_first:discussions.defining-Individual_defines.defining.st"/>
          <xs:enumeration value="OASIS-a of.two-of.test_known_participating-Chi.browsers_to_proc allow-and-developed_by.DOM-files:the_collaborating:prov and also.has:as_manipulation:of-the-for.L these.law_results.have-tools_significant.wi criteria to_is documents.all_individual.contribute.able:o"/>
          <xs:enumeration value="good-discovery_indu automated:part by-competence_prima languages.allow:to:used:repository:result_ch with-an:back:than-solve_and.ensure:revolutioni"/>
          <xs:enumeration value="must.business:is.be_me indus and.documents.and_solution and:Internet-enabled:Develop:and-ma electronic-defining_choices:t match:and:cross-reference.led_users.the_a.participating_recomm pervasive.repositories:XSL-has-obvious_file:and.re recognition_Committee:technol"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
