nistData/list/NMTOKEN/Schema+Instance/NISTSchema-SV-IV-list-NMTOKEN-pattern-1.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-NMTOKEN-pattern-1-NS"
        targetNamespace="NISTSchema-SV-IV-list-NMTOKEN-pattern-1-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-NMTOKEN-pattern-1.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-NMTOKEN-pattern-1,
      which is derived by restriction of a list with item type NMTOKEN
      by facet pattern with a value of: \c{40} \c{21} \c{50} \c{36} \c{35} \c{42} \c{54} \c{48}
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-NMTOKEN-pattern-1" type="nist:NISTSchema-SV-IV-list-NMTOKEN-pattern-1-Type"/>

  <simpleType name="listOfNMTOKEN">
    <list itemType="NMTOKEN"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-NMTOKEN-pattern-1-Type">
    <restriction base="nist:listOfNMTOKEN">
      <pattern value="\c{40} \c{21} \c{50} \c{36} \c{35} \c{42} \c{54} \c{48}"/>
    </restriction>
  </simpleType>

</schema>
