sunData/CType/derivationMethod/derivationMethod00101m/derivationMethod00101m2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)derivationMethod00101m2.xsd
   generated from: @(#)derivationMethod00101m.jmpp	1.2 02/12/02

-->


<xsd:schema
  xmlns="derivationMethod"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="derivationMethod">
     <xsd:element name="b" type="B"/>

     <xsd:complexType name="A">
          <xsd:choice minOccurs="0"/>
     </xsd:complexType>

     <xsd:complexType name="B">
          <xsd:complexContent>
               <xsd:extension base="A">
                    <xsd:attribute name="q" type="xsd:int"/>
               </xsd:extension>
          </xsd:complexContent>
     </xsd:complexType>

</xsd:schema>

