sunData/MGroupDef/modelGroup/modelGroup00102m/modelGroup00102m6.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)modelGroup00102m6.xsd
   generated from: @(#)modelGroup00102m.jmpp	1.2 02/08/22

-->


<xsd:schema
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="modelGroup"
  targetNamespace="modelGroup">

     <xsd:element name="a" type="xsd:string" />

     <xsd:group name="G1">
          <xsd:sequence>
               <xsd:element name="c" type="xsd:int" />
          </xsd:sequence>
          <xsd:sequence>
               <xsd:element name="date" type="xsd:date" />
          </xsd:sequence>
     </xsd:group>

</xsd:schema>

