ibmData/valid/D6_G/d6_gv03.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="a"
	xmlns:a="a"
	elementFormDefault="qualified">
	
<!-- 
Test Case Type: Valid test
Description   : use of hyphens within square brackets in regular expressions  [-abc]
-->

<simpleType name="type">
	<restriction base="string">
		<pattern value="[-abc]"/>
	</restriction>
</simpleType>


<element name="root">
	<complexType>
		<sequence>
			<element name="string" type="a:type" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</element>    

</schema>  


