ibmData/valid/S2_7_2/s2_7_2v01.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="a"
	xmlns:a="a"
	elementFormDefault="qualified">
<!-- 
Test Case Type: Valid test
Description   : default values for xsi:nil
-->	
<complexType name="t">
 <sequence>
  <element ref="a:b"/>
 </sequence>
</complexType>

<element name="b" type="integer" nillable="true"/>
<element name="root" type="a:t"/>
</schema>
