saxonData/XmlVersions/xv005.xsd

<?xml version="1.1" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <!-- Semantics of \i in regular expressions under XML 1.1 -->
  <xs:element name="doc">
    <xs:complexType>
       <xs:sequence>
         <xs:element name="item" maxOccurs="unbounded" type="i"/>     
       </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:simpleType name="i">
    <xs:restriction base="xs:string">
        <xs:pattern value="\i"/>
    </xs:restriction>
  </xs:simpleType>
  
    
</xs:schema>
