ibmData/valid/S3_16_2/s3_16_2v03.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/IBMd3_16v03"
	xmlns:sv="http://xstest-tns/IBMd3_16v03">
	
<!-- 
	Test Case Type: valid test
	Description   : tests restriction facet in intervening union
-->

<simpleType name="u1">
	<union memberTypes="integer"/>
</simpleType>

<simpleType name="u2">
	<restriction base="sv:u1">		
		<pattern value="[1-9][1-9]"/>	
	</restriction>
</simpleType>

<simpleType name="u3">
	<union memberTypes="NCName"/>
</simpleType>

<simpleType name="u4">
	<restriction base="sv:u3">
		<pattern value="[a-z][a-z]"/>	
	</restriction>
</simpleType>

<simpleType name="u5">
	<union memberTypes="sv:u2 sv:u4"/>
</simpleType>

<element name="root">
	<complexType>
		<sequence>			
			<element name="union_element" type="sv:u5"  maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</element>

</schema>