ibmData/valid/S3_16_2/s3_16_2v02.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/IBMd3_16v02"
	xmlns:sv="http://xstest-tns/IBMd3_16v02">
	
<!-- 
	Test Case Type: valid test
	Description   : Types derived by restriction from a union type
-->

<simpleType name="u1">
	<union memberTypes="string"/>
</simpleType>

<simpleType name="u2">
	<restriction base="sv:u1">
		<pattern value="[0-9][0-9]"/>	
	</restriction>
</simpleType>

<simpleType name="u3">
	<union memberTypes="sv:u2"/>
</simpleType>

<element name="root">
	<complexType>
		<sequence>			
			<element name="elfltUnionC" type="sv:u3"  maxOccurs="1"/>
		</sequence>
	</complexType>
</element>

</schema>