sunData/MGroup/particles/particles00303m/particles00303m1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)particles00303m1.xsd
   generated from: @(#)particles00303m.jmpp	1.1 02/04/28

-->


<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="particles"
    targetNamespace="particles">

  <xsd:group name="G1">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="id" type="xsd:integer"/>
        <xsd:element name="id_str" type="xsd:string"/>
      </xsd:choice>
      <xsd:choice>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="type" type="xsd:string"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:group>

  <xsd:element name="a">
    <xsd:complexType>
      <xsd:group ref="G1"/>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>

