ibmData/schema_invalid/D3_4_26/d3_4_26si12.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_4_26_si12"
	xmlns:sv="http://xstest-tns/schema11_D3_4_26_si12">
	
<!-- 
	Test Case Type: Schema Invalid test (Datatypes section 3.4.26) 
	Base Type     : yearMonthDuration
	Description   : Tests negative boundary values and equality.  
			(min)(Inclusive|Exclusive) > (max)(Inclusive|Exclusive)
-->

<simpleType name="durMinMaxInclusive">
	<restriction  base="yearMonthDuration">
		<minInclusive value="-P10Y10M"/>
		<maxInclusive value="-P140M"/>		
	</restriction>
</simpleType>

<simpleType name="durMinMaxExclusive">
	<restriction  base="yearMonthDuration">
		<minExclusive value="P1Y1M"/>
		<maxExclusive value="-P1Y"/>		
	</restriction>
</simpleType>

<element name="root">
	<complexType>
		<sequence>
			<element name="elMinMaxInclusive" type="sv:durMinMaxInclusive" minOccurs="0" maxOccurs="unbounded"/>
			<element name="elMinMaxExclusive" type="sv:durMinMaxExclusive" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</element>    

</schema>  
