ibmData/schema_invalid/D3_4_26/d3_4_26si11.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_4_26_si11"
	xmlns:si="http://xstest-tns/schema11_D3_4_26_si11">
	
<!-- 
	Test Case Type: Schema Invalid test (Datatypes section 3.4.26) 
	Base Type     : yearMonthDuration
	Description   : Tests if fixed=true then the derived type cannot specify a value 
			for the facet other than the base type
-->


<simpleType name="bdurMinMaxInclusive">
	<restriction  base="yearMonthDuration">
		<minInclusive value="P1Y1M" fixed="true"/>
		<maxInclusive value="P3Y1M" fixed="1"/>		
	</restriction>
</simpleType>

<simpleType name="durMinMaxInclusive">
	<restriction  base="si:bdurMinMaxInclusive">
		<minInclusive value="P1Y2M"/>
		<maxInclusive value="P2Y1M"/>		
	</restriction>
</simpleType>

<simpleType name="bdurMinMaxExclusive">
	<restriction  base="yearMonthDuration">
		<minExclusive value="P1Y1M" fixed="1"/>
		<maxExclusive value="P3Y1M" fixed="true"/>		
	</restriction>
</simpleType>

<simpleType name="durMinMaxExclusive">
	<restriction  base="si:bdurMinMaxExclusive">
		<minExclusive value="P1Y2M" fixed="0"/>
		<maxExclusive value="P2Y1M" fixed="true"/>		
	</restriction>
</simpleType>


<element name="root">
	<complexType>
		<sequence>
			<element name="elString" type="string"/>
		</sequence>
	</complexType>
</element>     

</schema>  
