ibmData/schema_invalid/D3_4_26/d3_4_26si01.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_4_26_si01"
	xmlns:si="http://xstest-tns/schema11_D3_4_26_si01">
	
<!-- 
	Test Case Type: Schema Invalid test (Datatypes section 3.4.26) 
	Base Type     : yearMonthDuration
	Description   : length is an invalid facet for yearMonthDuration
-->


<simpleType name="durMinLength">
	<restriction  base="yearMonthDuration">
		<length value="5"/>
	</restriction>
</simpleType>

<element name="root">
	<complexType>
		<sequence>
			<element name="elDuration" type="yearMonthDuration" minOccurs="2" maxOccurs="5"/>
			<element name="elLength" type="si:durMinLength" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</element>    

</schema>  
