ibmData/schema_invalid/D3_4_26/d3_4_26si10.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_4_26_si10"
	xmlns:si="http://xstest-tns/schema11_D3_4_26_si10">
	
<!-- 
	Test Case Type: Schema Invalid test (Datatypes section 3.4.26) 
	Base Type     : yearMonthDuration
	Description   : The value of whiteSpace facet can only be collapse
-->


<simpleType name="durWhiteSpace">
	<restriction  base="yearMonthDuration">
		<whiteSpace value="replace"/>
	</restriction>
</simpleType>

<element name="root">
	<complexType>
		<sequence>
			<element name="elWhiteSpace" type="si:durWhiteSpace"/>
		</sequence>
	</complexType>
</element>    

</schema>  
