ibmData/schema_invalid/D3_4_26/d3_4_26si02.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_4_26_si02"
	xmlns:si="http://xstest-tns/schema11_D3_4_26_si02">
	
<!-- 
	Test Case Type: Schema Invalid test (Datatypes section 3.4.26) 
	Base Type     : yearMonthDuration
	Description   : (min|max)? (Inclusive|Exclusive) are not of the base type specification
-->


<simpleType name="durMinMaxInclusive">
	<restriction  base="yearMonthDuration">
		<minInclusive value="P1Y1m"/>
		<maxInclusive value="P-1Y1M"/>		
	</restriction>
</simpleType>

<simpleType name="durMinMaxExclusive">
	<restriction  base="yearMonthDuration">
		<minExclusive value="P1y1M"/>
		<maxExclusive value="P1Y1.1M"/>		
	</restriction>
</simpleType>

<element name="root">
	<complexType>
		<sequence>
			<element name="elMinMaxInclusive" type="si:durMinMaxInclusive"/>
			<element name="elMinMaxExclusive" type="si:durMinMaxExclusive"/>
		</sequence>
	</complexType>
</element>    

</schema>  
