sunData/ElemDecl/identityConstraintDefs/idConstrDefs00204m/idConstrDefs00204m.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)idConstrDefs00204m.xsd
   generated from: @(#)idConstrDefs00204m.jmpp	1.3 02/11/15

-->

<xsd:schema
  xmlns="ElemDecl/identityConstraintDefs"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/identityConstraintDefs">

  <xsd:element name="root">
      <xsd:complexType>
          <xsd:sequence maxOccurs="unbounded">
              <xsd:element name="person">
                  <xsd:complexType>
                       <xsd:simpleContent>
                            <xsd:extension base="xsd:string">
                                 <xsd:attribute name="parent" type="xsd:string" use="optional"/>
                            </xsd:extension>
                       </xsd:simpleContent>
                  </xsd:complexType>
              </xsd:element>
          </xsd:sequence>
      </xsd:complexType>
      <xsd:key name="KEY">
          <xsd:selector xpath="./person"/>
          <xsd:field xpath="."/>
      </xsd:key>
      <xsd:keyref name="KEYREF" refer="KEY">
          <xsd:selector xpath="./person"/>
          <xsd:field xpath="@parent"/>
      </xsd:keyref>
  </xsd:element>

</xsd:schema>
