saxonData/Zone/zone006.bad.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- test explicitTimezone facet: invalid facet value -->
<!-- requires XSD 1.1 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    
    <xs:element name="doc" type="timeStamp"/>
  
    <xs:simpleType name="timeStamp">
       <xs:restriction base="xs:time">     
         <xs:explicitTimezone value="cant-decide"/>
       </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="timeStampOptional">
       <xs:restriction base="timeStamp">     
         <xs:explicitTimezone value="once-in-a-blue-moon"/>
       </xs:restriction>
    </xs:simpleType>    
      
</xs:schema>
