ibmData/instance_invalid/D4_3_15/d4_3_15ii02.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root" type="arrayType" />  
	<xs:complexType name="arrayType">
		<xs:sequence>
			<xs:element name="ele" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="length" type="xs:int"/>
		<xs:assert test="@length eq count(./ele)"/>
	</xs:complexType>
  
</xs:schema>
<!-- 
	Test Case Type: Instance Invalid test (Datatype/facet section 4.3.15) 		
	facet Type 	  : Assertions
	Description   : Assertions on a complex type definition
-->