ibmData/instance_invalid/D4_3_15/d4_3_15ii19.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">	
	<xs:element name="root" type="rootType" />

	<xs:complexType name="rootType">
		<xs:simpleContent>
			<xs:extension base="xs:anyAtomicType">				
				<xs:attribute name="attr" type="xs:string" />
				<xs:assert test="@attr"/>							
			</xs:extension>			
		</xs:simpleContent>	
	</xs:complexType> 
</xs:schema>

<!-- 
	Test Case Type: instance invalid test (facet section 4.3.15) 	
	facet Type 	  : Assertions
	Description   : assertions on a complex type definition, 
					having simpleContent, assertions from anyAtomicType type.
-->