ibmData/instance_invalid/D4_3_15/d4_3_15ii08.xsd

<?xml version="1.1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root" type="comType"/>

  <xs:complexType name="comType">
    <xs:simpleContent>
      <xs:extension base="xs:integer">
        <xs:attribute name="attr" type="xs:string" />
		<xs:assert test="@attr" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
 
</xs:schema> 


<!-- 
	Test Case Type: Instance Invalid test (Datatype/facet section 4.3.15) 	
	facet Type 	  : Assertions
	Description   : assertions on a complex type definition having simpleContent
-->