ibmData/instance_invalid/D4_3_15/d4_3_15ii13.xsd

<?xml version="1.1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root" type="rootType" />  
	<xs:complexType name="rootType">
		<xs:sequence>
			<xs:element name="dateEle" type="xs:date" />
		</xs:sequence>
		<xs:assert test="current-date() le dateEle"/>
	</xs:complexType>  
</xs:schema>

<!-- 

	Test Case Type: Instance Invalid test (Datatype/facet section 4.3.15) 	
	facet Type 	  : Assertions
	Description   : dynamic context of the XPath expression, assertion on element
-->