sunData/SType/ST_facets/ST_facets00506m/ST_facets00506m1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)ST_facets00506m1.xsd
   generated from: @(#)ST_facets00506m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="SType/ST_facets"
    targetNamespace="SType/ST_facets">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="value" type="S"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="S">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="a00·"/>
            <xsd:enumeration value="a10ː"/>
            <xsd:enumeration value="a20ˑ"/>
            <xsd:enumeration value="a30·"/>
            <xsd:enumeration value="a40ـ"/>
            <xsd:enumeration value="a50ๆ"/>
            <xsd:enumeration value="a60ໆ"/>
            <xsd:enumeration value="a70々"/>
            <xsd:enumeration value="a80〱"/>
            <xsd:enumeration value="a8-〳"/>
            <xsd:enumeration value="a8A〵"/>
            <xsd:enumeration value="a90ゝ"/>
            <xsd:enumeration value="a9-ゝ"/>
            <xsd:enumeration value="a9Aゞ"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
