nistData/list/long/Schema+Instance/NISTSchema-SV-IV-list-long-enumeration-3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-long-enumeration-3-NS"
        targetNamespace="NISTSchema-SV-IV-list-long-enumeration-3-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-long-enumeration-3.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-long-enumeration-3,
      which is derived by restriction of a list with itemType long
      by facet enumeration with values of:
          26150574266 36487555875 77685971415660537 85144197 9054 8764421
          -80663406592138620 -213868027179140551 46282759799182215 8275955213537 -5870558 257870493622792 -353888154967583 -60068810 -72485404677816489
          -6765741406662 78 -9 417114846630610935 -49030973 -41809488706 56758714
          253 9872867571281205 52823847 -28915868019219 -35868074 -5025205700256
          6712798 933525689695 43518423 -35518762109094 19649356444 -177 5489 37303354967838331
          39978592725586470 -45619047 595161267 -74842317348980935 8806419034685 57 -1040690154072082 2262243683
          579391037324 -12339242889264834 409 -74541 7781132 7033352 -30070644868593476
          9358364928913 -72 -6254439 795897230 7624796389661350 -46296155567656627 -7459628 -7864631599107
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-long-enumeration-3" type="NISTSchema-SV-IV-list-long-enumeration-3-Type"/>

  <xs:simpleType name="listOflong">
    <xs:list itemType="xs:long"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-long-enumeration-3-Type">
    <xs:restriction base="listOflong">
          <xs:enumeration value="26150574266 36487555875 77685971415660537 85144197 9054 8764421"/>
          <xs:enumeration value="-80663406592138620 -213868027179140551 46282759799182215 8275955213537 -5870558 257870493622792 -353888154967583 -60068810 -72485404677816489"/>
          <xs:enumeration value="-6765741406662 78 -9 417114846630610935 -49030973 -41809488706 56758714"/>
          <xs:enumeration value="253 9872867571281205 52823847 -28915868019219 -35868074 -5025205700256"/>
          <xs:enumeration value="6712798 933525689695 43518423 -35518762109094 19649356444 -177 5489 37303354967838331"/>
          <xs:enumeration value="39978592725586470 -45619047 595161267 -74842317348980935 8806419034685 57 -1040690154072082 2262243683"/>
          <xs:enumeration value="579391037324 -12339242889264834 409 -74541 7781132 7033352 -30070644868593476"/>
          <xs:enumeration value="9358364928913 -72 -6254439 795897230 7624796389661350 -46296155567656627 -7459628 -7864631599107"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
