nistData/list/token/Schema+Instance/NISTSchema-SV-IV-list-token-enumeration-3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-token-enumeration-3-NS"
        targetNamespace="NISTSchema-SV-IV-list-token-enumeration-3-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-token-enumeration-3.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-token-enumeration-3,
      which is derived by restriction of a list with itemType token
      by facet enumeration with values of:
          uses templates to is The
          and service will opportunity the
          and has embedded files would incorporated interoperability objective heterogeneous
          to test manipulation models prominent of and
          it to of challenges for and can constituent devices
          for g new partnership tools
          be build XML data; s The documents industry
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-token-enumeration-3" type="NISTSchema-SV-IV-list-token-enumeration-3-Type"/>

  <xs:simpleType name="listOftoken">
    <xs:list itemType="xs:token"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-token-enumeration-3-Type">
    <xs:restriction base="listOftoken">
          <xs:enumeration value="uses templates to is The"/>
          <xs:enumeration value="and service will opportunity the"/>
          <xs:enumeration value="and has embedded files would incorporated interoperability objective heterogeneous"/>
          <xs:enumeration value="to test manipulation models prominent of and"/>
          <xs:enumeration value="it to of challenges for and can constituent devices"/>
          <xs:enumeration value="for g new partnership tools"/>
          <xs:enumeration value="be build XML data; s The documents industry"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
