ibmData/instance_invalid/S3_4_6/s3_4_6ii01.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://xstest-tns/schema11_S3_4_6"
        xmlns:tns="http://xstest-tns/schema11_S3_4_6">
        
	<complexType name="c">
		<all>
			<element name="a" minOccurs="2" maxOccurs="2" type="integer"/>
		</all>
	</complexType>

	<element name="root" type="tns:c"/>
</schema>



<!-- 
	Test Case Type: instance invalid test (Structures 3.4.6) 
	Base Type     : Restriction of complex types
	Description   : Instance document element has higher occurences than schema allows
-->