sunData/MGroupDef/targetNS/targetNS00101m/targetNS00101m1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)targetNS00101m1.xsd
   generated from: @(#)targetNS00101m.jmpp	1.2 02/12/02

-->


<xsd:schema
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="targetNS0"
  targetNamespace="targetNS0"
>

     <xsd:group name="G1">
          <xsd:choice>
               <xsd:element name="c" type="xsd:int" />
               <xsd:element name="date" type="xsd:date" />
          </xsd:choice>
     </xsd:group>

     <xsd:complexType name="A">
          <xsd:group ref="G1"/>
     </xsd:complexType>

     <xsd:element name="a" type="A" />
</xsd:schema>

