nistData/list/time/Schema+Instance/NISTSchema-SV-II-list-time-pattern-3.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-II-list-time-pattern-3-NS"
        targetNamespace="NISTSchema-SV-II-list-time-pattern-3-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-time-pattern-3.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-time-pattern-3,
      which is derived by restriction of a list with item type time
      by facet pattern with a value of: 0\d:3\d:\d1 \d0:4\d:4\d \d5:3\d:\d0 \d6:\d2:\d7 \d7:\d8:\d2 1\d:5\d:0\d 1\d:\d8:5\d \d6:2\d:\d1
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-II-list-time-pattern-3" type="nist:NISTSchema-SV-II-list-time-pattern-3-Type"/>

  <simpleType name="listOftime">
    <list itemType="time"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-II-list-time-pattern-3-Type">
    <restriction base="nist:listOftime">
      <pattern value="0\d:3\d:\d1 \d0:4\d:4\d \d5:3\d:\d0 \d6:\d2:\d7 \d7:\d8:\d2 1\d:5\d:0\d 1\d:\d8:5\d \d6:2\d:\d1"/>
    </restriction>
  </simpleType>

</schema>
