nistData/list/time/Schema+Instance/NISTSchema-SV-IV-list-time-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-time-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-time-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-time-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-time-enumeration-4,
      which is derived by restriction of a list with itemType time
      by facet enumeration with values of:
          20:55:32 13:12:24 05:09:54 15:26:04 21:18:52 07:04:22 13:43:48
          21:26:26 11:23:05 22:27:57 02:41:13 12:19:00 18:13:44
          07:27:57 09:04:49 17:05:01 12:15:48 01:00:58 10:04:48
          23:21:47 07:35:16 02:59:18 22:55:26 02:20:03
          08:08:33 21:55:09 10:27:06 14:09:32 22:18:18 11:48:00 11:07:55 14:18:46 16:46:53 14:53:55
          23:33:25 12:19:16 03:56:40 07:24:55 21:32:06 11:28:14 20:10:08 14:11:43
          09:02:38 04:10:17 21:01:45 10:23:34 07:06:37 06:19:51 06:20:06 19:54:42 12:23:53
          14:33:48 01:19:39 07:15:06 05:12:11 21:08:03 03:02:34 04:16:29 09:27:29 19:36:04 09:00:20
          04:52:05 18:26:53 04:51:11 01:39:09 16:03:11 15:17:05 03:31:28 14:31:06
          10:19:34 00:35:24 17:00:23 17:00:38 16:54:19 19:35:48 15:15:24 00:09:08 16:23:31
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-time-enumeration-4" type="NISTSchema-SV-IV-list-time-enumeration-4-Type"/>

  <xs:simpleType name="listOftime">
    <xs:list itemType="xs:time"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-time-enumeration-4-Type">
    <xs:restriction base="listOftime">
          <xs:enumeration value="20:55:32 13:12:24 05:09:54 15:26:04 21:18:52 07:04:22 13:43:48"/>
          <xs:enumeration value="21:26:26 11:23:05 22:27:57 02:41:13 12:19:00 18:13:44"/>
          <xs:enumeration value="07:27:57 09:04:49 17:05:01 12:15:48 01:00:58 10:04:48"/>
          <xs:enumeration value="23:21:47 07:35:16 02:59:18 22:55:26 02:20:03"/>
          <xs:enumeration value="08:08:33 21:55:09 10:27:06 14:09:32 22:18:18 11:48:00 11:07:55 14:18:46 16:46:53 14:53:55"/>
          <xs:enumeration value="23:33:25 12:19:16 03:56:40 07:24:55 21:32:06 11:28:14 20:10:08 14:11:43"/>
          <xs:enumeration value="09:02:38 04:10:17 21:01:45 10:23:34 07:06:37 06:19:51 06:20:06 19:54:42 12:23:53"/>
          <xs:enumeration value="14:33:48 01:19:39 07:15:06 05:12:11 21:08:03 03:02:34 04:16:29 09:27:29 19:36:04 09:00:20"/>
          <xs:enumeration value="04:52:05 18:26:53 04:51:11 01:39:09 16:03:11 15:17:05 03:31:28 14:31:06"/>
          <xs:enumeration value="10:19:34 00:35:24 17:00:23 17:00:38 16:54:19 19:35:48 15:15:24 00:09:08 16:23:31"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
