nistData/list/time/Schema+Instance/NISTSchema-SV-II-list-time-pattern-1.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-II-list-time-pattern-1-NS"
        targetNamespace="NISTSchema-SV-II-list-time-pattern-1-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-time-pattern-1.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-time-pattern-1,
      which is derived by restriction of a list with item type time
      by facet pattern with a value of: \d1:\d5:2\d \d5:\d7:\d6 \d4:\d4:\d1 \d1:\d7:\d3 0\d:0\d:1\d 0\d:\d7:\d6
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-II-list-time-pattern-1" type="nist:NISTSchema-SV-II-list-time-pattern-1-Type"/>

  <simpleType name="listOftime">
    <list itemType="time"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-II-list-time-pattern-1-Type">
    <restriction base="nist:listOftime">
      <pattern value="\d1:\d5:2\d \d5:\d7:\d6 \d4:\d4:\d1 \d1:\d7:\d3 0\d:0\d:1\d 0\d:\d7:\d6"/>
    </restriction>
  </simpleType>

</schema>
