nistData/list/time/Schema+Instance/NISTSchema-SV-IV-list-time-pattern-2.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-time-pattern-2-NS"
        targetNamespace="NISTSchema-SV-IV-list-time-pattern-2-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-time-pattern-2.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-time-pattern-2,
      which is derived by restriction of a list with item type time
      by facet pattern with a value of: 0\d:3\d:\d1 1\d:1\d:1\d \d5:\d6:5\d 0\d:\d2:0\d \d7:4\d:0\d 1\d:2\d:5\d 0\d:\d4:5\d \d6:\d4:1\d
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-time-pattern-2" type="nist:NISTSchema-SV-IV-list-time-pattern-2-Type"/>

  <simpleType name="listOftime">
    <list itemType="time"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-time-pattern-2-Type">
    <restriction base="nist:listOftime">
      <pattern value="0\d:3\d:\d1 1\d:1\d:1\d \d5:\d6:5\d 0\d:\d2:0\d \d7:4\d:0\d 1\d:2\d:5\d 0\d:\d4:5\d \d6:\d4:1\d"/>
    </restriction>
  </simpleType>

</schema>
