nistData/list/time/Schema+Instance/NISTSchema-SV-IV-list-time-pattern-3.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-time-pattern-3-NS"
        targetNamespace="NISTSchema-SV-IV-list-time-pattern-3-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-time-pattern-3.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-time-pattern-3,
      which is derived by restriction of a list with item type time
      by facet pattern with a value of: \d4:4\d:\d8 \d4:2\d:2\d 0\d:4\d:3\d \d3:\d4:1\d 1\d:\d8:5\d \d2:\d3:4\d \d3:0\d:\d6 \d6:4\d:\d6 \d8:\d2:2\d
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-time-pattern-3" type="nist:NISTSchema-SV-IV-list-time-pattern-3-Type"/>

  <simpleType name="listOftime">
    <list itemType="time"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-time-pattern-3-Type">
    <restriction base="nist:listOftime">
      <pattern value="\d4:4\d:\d8 \d4:2\d:2\d 0\d:4\d:3\d \d3:\d4:1\d 1\d:\d8:5\d \d2:\d3:4\d \d3:0\d:\d6 \d6:4\d:\d6 \d8:\d2:2\d"/>
    </restriction>
  </simpleType>

</schema>
