nistData/list/time/Schema+Instance/NISTSchema-SV-IV-list-time-enumeration-1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-time-enumeration-1-NS"
        targetNamespace="NISTSchema-SV-IV-list-time-enumeration-1-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-time-enumeration-1.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-time-enumeration-1,
      which is derived by restriction of a list with itemType time
      by facet enumeration with values of:
          16:22:20 01:19:11 21:37:24 12:13:13 14:56:46 19:02:14
          07:17:31 13:47:35 14:07:26 07:08:30 15:18:40 09:10:42
          18:10:11 22:21:23 23:58:22 17:08:12 08:14:52 00:17:12 03:05:44 20:23:12 19:52:22 06:09:32
          21:21:52 03:24:38 12:34:13 20:23:03 05:52:11 11:36:11 01:00:51
          17:14:09 06:52:14 10:05:58 17:05:37 22:36:07
          07:57:55 14:57:18 15:27:38 20:24:52 05:27:55
          02:50:34 03:25:09 15:41:25 13:28:11 12:21:19 05:03:58 08:08:30 01:14:08 18:54:43
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-time-enumeration-1" type="NISTSchema-SV-IV-list-time-enumeration-1-Type"/>

  <xs:simpleType name="listOftime">
    <xs:list itemType="xs:time"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-time-enumeration-1-Type">
    <xs:restriction base="listOftime">
          <xs:enumeration value="16:22:20 01:19:11 21:37:24 12:13:13 14:56:46 19:02:14"/>
          <xs:enumeration value="07:17:31 13:47:35 14:07:26 07:08:30 15:18:40 09:10:42"/>
          <xs:enumeration value="18:10:11 22:21:23 23:58:22 17:08:12 08:14:52 00:17:12 03:05:44 20:23:12 19:52:22 06:09:32"/>
          <xs:enumeration value="21:21:52 03:24:38 12:34:13 20:23:03 05:52:11 11:36:11 01:00:51"/>
          <xs:enumeration value="17:14:09 06:52:14 10:05:58 17:05:37 22:36:07"/>
          <xs:enumeration value="07:57:55 14:57:18 15:27:38 20:24:52 05:27:55"/>
          <xs:enumeration value="02:50:34 03:25:09 15:41:25 13:28:11 12:21:19 05:03:58 08:08:30 01:14:08 18:54:43"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
