nistData/list/time/Schema+Instance/NISTSchema-SV-IV-list-time-pattern-1.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-time-pattern-1-NS"
        targetNamespace="NISTSchema-SV-IV-list-time-pattern-1-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-time-pattern-1.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-time-pattern-1,
      which is derived by restriction of a list with item type time
      by facet pattern with a value of: 1\d:\d3:\d2 \d2:0\d:4\d \d5:\d1:\d8 \d7:0\d:0\d 0\d:1\d:5\d \d4:0\d:\d6
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-time-pattern-1" type="nist:NISTSchema-SV-IV-list-time-pattern-1-Type"/>

  <simpleType name="listOftime">
    <list itemType="time"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-time-pattern-1-Type">
    <restriction base="nist:listOftime">
      <pattern value="1\d:\d3:\d2 \d2:0\d:4\d \d5:\d1:\d8 \d7:0\d:0\d 0\d:1\d:5\d \d4:0\d:\d6"/>
    </restriction>
  </simpleType>

</schema>
