nistData/list/time/Schema+Instance/NISTSchema-SV-IV-list-time-pattern-4.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-time-pattern-4-NS"
        targetNamespace="NISTSchema-SV-IV-list-time-pattern-4-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-time-pattern-4.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-time-pattern-4,
      which is derived by restriction of a list with item type time
      by facet pattern with a value of: \d8:0\d:0\d 0\d:2\d:2\d \d0:\d8:2\d 0\d:0\d:\d6 \d1:\d0:\d5
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-time-pattern-4" type="nist:NISTSchema-SV-IV-list-time-pattern-4-Type"/>

  <simpleType name="listOftime">
    <list itemType="time"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-time-pattern-4-Type">
    <restriction base="nist:listOftime">
      <pattern value="\d8:0\d:0\d 0\d:2\d:2\d \d0:\d8:2\d 0\d:0\d:\d6 \d1:\d0:\d5"/>
    </restriction>
  </simpleType>

</schema>
