sunData/IdConstrDefs/fields/fields00101m/fields00101m1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)fields00101m1.xsd
   generated from: @(#)fields00101m.jmpp	1.3 02/11/15

-->

<xsd:schema
  xmlns="IdConstrDefs/fields"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="IdConstrDefs/fields">

  <xsd:element name="people">
      <xsd:complexType>
          <xsd:sequence maxOccurs="unbounded">
              <xsd:element name="person">
                  <xsd:complexType>
                       <xsd:simpleContent>
                            <xsd:extension base="xsd:string">
                                 <xsd:attribute name="parent" type="xsd:string"/>
                                 <xsd:attribute name="birthday" type="xsd:date"/>
                            </xsd:extension>
                       </xsd:simpleContent>
                  </xsd:complexType>
              </xsd:element>
          </xsd:sequence>
      </xsd:complexType>
      <xsd:unique name="UNIQUENESS">
          <xsd:selector xpath="./person"/>
          <xsd:field xpath="."/>
          <xsd:field xpath="@parent"/>
          <xsd:field xpath="@birthday"/>
      </xsd:unique>
  </xsd:element>

</xsd:schema>
