ibmData/valid/D3_4_26/d3_4_26v01.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_4_26_v01"
	xmlns:sv="http://xstest-tns/schema11_D3_4_26_v01">
	
<!-- 
	Test Case Type: Schema Valid test (Datatypes section 3.4.26) 
	Base Type     : yearMonthDuration
	Description   : Tests the simpleType yearMonthDuration and its facets and its use in elements
-->

<simpleType name="yMDType">
	<restriction base="yearMonthDuration"/>
</simpleType>


<simpleType name="yMDEnumeration">
	<restriction base="yearMonthDuration">
		<enumeration value="P1Y"/>
		<enumeration value="P1Y3M"/>
		<enumeration value="-P34Y233M"/>
		<enumeration value="P45M"/>
	</restriction>
</simpleType>



<simpleType name="yMDMinMaxInclusive">
	<restriction base="yearMonthDuration">
		<minInclusive value="-P2Y"/>
		<maxInclusive value="P30Y23M"/>
	</restriction>
</simpleType>

<simpleType name="yMDMinMaxExclusive">
	<restriction base="yearMonthDuration">
		<minExclusive value="-P2Y"/>
		<maxExclusive value="P30Y23M"/>
	</restriction>
</simpleType>




<element name="root">
	<complexType>
		<sequence>
			<element name="elyMDType" type="sv:yMDType" minOccurs="1" maxOccurs="unbounded"/>
			<element name="elyMDEnumeration" type="sv:yMDEnumeration" minOccurs="1" maxOccurs="unbounded"/>
			<element name="elyMDMinMaxInclusive" type="sv:yMDMinMaxInclusive" minOccurs="1" maxOccurs="unbounded"/>
			<element name="elyMDMinMaxExclusive" type="sv:yMDMinMaxExclusive" minOccurs="1" maxOccurs="unbounded"/>			
		</sequence>
	</complexType>
</element>    

</schema>  