ibmData/schema_invalid/S3_16_2/s3_16_2si03.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/IBMs3_16si01"
	xmlns:sv="http://xstest-tns/IBMs3_16si01">

<simpleType name="u1">
	<restriction base="sv:u1_base"/>
</simpleType>

<simpleType name="u1_base">
	<restriction base="sv:u1_base_base"/>
</simpleType>

<simpleType name="u1_base_base">	
	<union memberTypes="string integer sv:u1"/> 
</simpleType>

<element name="root" type="string"/>
</schema>

<!--
	Test Case Type: Schema Invalid test
	Description   : Cyclicity of union types, 	
-->
