ibmData/schema_invalid/D3_4_28/d3_4_28si05.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_4_28_si05"
	xmlns:si="http://xstest-tns/schema11_D3_4_28_si05">
	
<!-- 
	Test Case Type: Schema Invalid test (Datatypes section 3.4.28) 
	Base Type     : dateTimeStamp
	Description   : It is an error if minInclusive < base.minInclusive
-->

<simpleType name="dTimeStampMinInclusive_Base">
	<restriction base="dateTimeStamp">
		<minInclusive value="2002-01-01T00:00:00+09:00"/>
	</restriction>	
</simpleType>

<simpleType name="dTimeStampMinInclusive">
	<restriction base="si:dTimeStampMinInclusive_Base"/>
</simpleType>

<simpleType name="dTimeStampMinInclusive_Derived">
	<restriction base="si:dTimeStampMinInclusive">
		<minInclusive value="2001-01-01T00:00:00+09:00"/> 
	</restriction>	
</simpleType>

<simpleType name="dTimeStampMinInclusive_Derived1">
	<restriction base="si:dTimeStampMinInclusive">
		<minExclusive value="2001-01-01T00:00:00+09:00"/> 
	</restriction>	
</simpleType>

<simpleType name="dTimeStampMinInclusive_Derived2">
	<restriction base="si:dTimeStampMinInclusive">
		<maxInclusive value="2001-01-01T00:00:00+09:00"/> 
	</restriction>	
</simpleType>

<simpleType name="dTimeStampMinInclusive_Derived3">
	<restriction base="si:dTimeStampMinInclusive">
		<maxExclusive value="2001-01-01T00:00:00+09:00"/> 
	</restriction>	
</simpleType>

<element name="root">
	<complexType>
		<sequence>
			<element name="elMinInclusive" type="si:dTimeStampMinInclusive_Derived"/>
		</sequence>
	</complexType>
</element>    

</schema>  