ibmData/schema_invalid/D3_4_28/d3_4_28si13.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_4_28_si13"
	xmlns:si="http://xstest-tns/schema11_D3_4_28_si13">
	
<!-- 
	Test Case Type: Schema Invalid test (Datatypes section 3.4.28) 
	Base Type     : dateTimeStamp
	Description   : The enumeration contains values that are not of the base type
-->

<simpleType name="dTimeStampEnumeration">
	<restriction base="dateTimeStamp">
		<enumeration value="2002-01-01T00:00:00+09:00"/>
		<enumeration value="strings"/>
		<enumeration value="2001-01-01T00:00:00+09:00"/>
	</restriction>	
</simpleType>


<element name="root">
	<complexType>
		<sequence>
			<element name="elEnumeration" type="si:dTimeStampEnumeration"/>
		</sequence>
	</complexType>
</element>    

</schema>  