ibmData/schema_invalid/D3_4_28/d3_4_28si02.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_4_28_si02"
	xmlns:si="http://xstest-tns/schema11_D3_4_28_si02">
	
<!-- 
	Test Case Type: Schema Invalid test (Datatypes section 3.4.28) 
	Base Type     : dateTimeStamp
	Description   : It is an error for minInclusive > maxInclusive and
			minExclusive > maxExclusive
-->

<simpleType name="dTimeStampInclusive">
	<restriction base="dateTimeStamp">
		<minInclusive value="2005-01-01T00:00:00Z"/>		
		<maxInclusive value="2002-01-01T00:00:00Z"/> 
	</restriction>	
</simpleType>

<simpleType name="dTimeStampExclusive">
	<restriction base="dateTimeStamp">
		<minExclusive value="2005-01-01T00:00:00Z"/>
		<maxExclusive value="2002-01-01T00:00:00Z"/> 
	</restriction>	
</simpleType>

<element name="root">
	<complexType>
		<sequence>
			<element name="elInclusive" type="si:dTimeStampInclusive"/>
			<element name="elExclusive" type="si:dTimeStampExclusive"/>
		</sequence>
	</complexType>
</element>    

</schema>  