ibmData/schema_invalid/D3_4_28/d3_4_28si01.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_4_28_si01"
	xmlns:si="http://xstest-tns/schema11_D3_4_28_si01">
	
<!-- 
	Test Case Type: Schema Invalid test (Datatypes section 3.4.28) 
	Base Type     : dateTimeStamp
	Description   : Invalid decimal values for (min|max)(Inclusive|Exclusive)
-->

<simpleType name="decInclusive">
	<restriction base="dateTimeStamp">
		<minInclusive value="20010101T00:00:00+09:00"/> <!--invalid-->
		<maxInclusive value="2005-01-01T00:00:00Z"/>   <!--invalid-->
	</restriction>	
</simpleType>

<simpleType name="decExclusive">
	<restriction base="dateTimeStamp">
		<minExclusive value="2001-01-01T00:00:00+09:00"/>
		<maxExclusive value="2005-01-01T00:00:00"/>  <!--invalid-->
	</restriction>	
</simpleType>

<element name="root">
	<complexType>
		<sequence>
			<element name="elInclusive" type="si:decInclusive"/>
			<element name="elExclusive" type="si:decExclusive"/>
		</sequence>
	</complexType>
</element>    

</schema>  