ibmData/schema_invalid/D3_4_28/d3_4_28si03.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_4_28_si03"
	xmlns:si="http://xstest-tns/schema11_D3_4_28_si03">
	
<!-- 
	Test Case Type: Schema Invalid test (Datatypes section 3.4.28) 
	Base Type     : dateTimeStamp
	Description   : It is an error for minInclusive > maxExclusive and
			minExclusive > maxInclusive
-->

<simpleType name="dTimeStampInclusive">
	<restriction base="dateTimeStamp">
		<minInclusive value="2002-01-01T00:00:00+09:00"/>
		<maxExclusive value="2001-01-01T00:00:00+09:00"/> 
	</restriction>	
</simpleType>

<simpleType name="dTimeStampExclusive">
	<restriction base="dateTimeStamp">
		<minExclusive value="2002-01-01T00:00:00+09:00"/>
		<maxInclusive value="2001-01-01T00:00:00+09:00"/> 
	</restriction>	
</simpleType>

<element name="root">
	<complexType>
		<sequence>
			<element name="elInclusive" type="si:dTimeStampInclusive"/>
			<element name="elExclusive" type="si:dTimeStampExclusive"/>
		</sequence>
	</complexType>
</element>    

</schema>  