ibmData/schema_invalid/D3_4_28/d3_4_28si14.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_4_28_si14"
	xmlns:si="http://xstest-tns/schema11_D3_4_28_si14">
	
<!-- 
	Test Case Type: Schema Invalid test (Datatypes section 3.4.28) 
	Base Type     : dateTimeStamp
	Description   : The value of whiteSpace for precisionDecimal can only be collapse
-->

<simpleType name="dTimeStampWhiteSpace">
	<restriction base="dateTimeStamp">
		<whiteSpace value="replace"/>		
	</restriction>	
</simpleType>


<element name="root">
	<complexType>
		<sequence>
			<element name="eldTStampWhiteSpace" type="si:dTimeStampWhiteSpace"/>
		</sequence>
	</complexType>
</element>    

</schema>  