ibmData/schema_invalid/D3_4_28/d3_4_28si10.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_4_28_si10"
	xmlns:si="http://xstest-tns/schema11_D3_4_28_si10">
	
<!-- 
	Test Case Type: Schema Invalid test (Datatypes section 3.4.28) 
	Base Type     : dateTimeStamp
	Description   : It is an error if maxInclusive = base.maxExclusive or minInclusive = base.minExclusive
-->

<simpleType name="dTimeStampMaxExclusive">
	<restriction base="dateTimeStamp">
		<maxExclusive value="2005-01-01T00:00:00+09:00"/>
	</restriction>	
</simpleType>

<simpleType name="dTimeStampMaxExclusive_Derived">
	<restriction base="si:dTimeStampMaxExclusive">
		<maxInclusive value="2005-01-01T00:00:00+09:00"/> <!--invalid--> 
	</restriction>	
</simpleType>

<simpleType name="dTimeStampMinExclusive">
	<restriction base="dateTimeStamp">
		<minExclusive value="2006-01-01T00:00:00+09:00"/> 
	</restriction>	
</simpleType>

<simpleType name="dTimeStampMinExclusive_Derived">
	<restriction base="si:dTimeStampMinExclusive">
		<minInclusive value="2006-01-01T00:00:00+09:00"/>  <!--invalid--> 
	</restriction>	
</simpleType>


<element name="root">
	<complexType>
		<sequence>
			<element name="elMaxInclusive" type="si:dTimeStampMinExclusive_Derived"/>
		</sequence>
	</complexType>
</element>    

</schema>  