saxonData/Open/open017.bad.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- invalid restriction: derived has more permissive wildcard than base -->

  <xs:complexType name="B">
    <xs:openContent mode="suffix">
      <xs:any namespace="http://open.com/" processContents="lax"/>
    </xs:openContent>       
    <xs:sequence>
      <xs:element name="a" maxOccurs="unbounded"/>
      <xs:element name="b" minOccurs="0"/>
      <xs:element name="c" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="R">
    <xs:complexContent>
      <xs:restriction base="B">
        <xs:openContent mode="suffix">
          <xs:any namespace="http://open.com/ http://other.com/" processContents="lax"/>
        </xs:openContent>      
        <xs:sequence>
          <xs:element name="a"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>  
  </xs:complexType>  

<xs:element name="doc" type="R"/>

    
</xs:schema>
