saxonData/Open/open005.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- basic test of interleaved open content -->

<xs:element name="doc">
  <xs:complexType>
    <xs:openContent mode="interleave">
      <xs:any namespace="http://open.com/" processContents="lax"/>
    </xs:openContent>
    <xs:sequence>
      <xs:element name="a"/>
      <xs:element name="b" minOccurs="0"/>
      <xs:element name="c" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
    
</xs:schema>
