saxonData/Open/open040.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- default open content, does not apply to types in a different schema document -->

<xs:include schemaLocation="open040x.xsd"/>

<xs:defaultOpenContent mode="suffix" appliesToEmpty="true">
      <xs:any namespace="http://open.com/" processContents="lax"/>
</xs:defaultOpenContent>

<xs:element name="doc">
  <xs:complexType mixed=" 1 ">
    <xs:sequence>
        <xs:element name="a" type="alpha"/>
        <xs:element name="b" type="beta"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:complexType name="alpha">
    <xs:sequence/>
</xs:complexType>
    
</xs:schema>
