saxonData/Open/open020.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- valid restriction: derived allows interleaved open content, base only allows suffixed,
     but it makes no difference when content model is empty -->

  <xs:complexType name="B">
    <xs:openContent mode="suffix">
      <xs:any namespace="http://open.com/" processContents="lax"/>
    </xs:openContent>       
    <xs:sequence>
      <xs:element name="a" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="b" minOccurs="0"/>
      <xs:element name="c" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="R">
    <xs:complexContent>
      <xs:restriction base="B">
        <xs:openContent mode="interleave">
          <xs:any namespace="http://open.com/" processContents="lax"/>
        </xs:openContent>      
        <xs:sequence/>
      </xs:restriction>
    </xs:complexContent>  
  </xs:complexType>  

<xs:element name="doc" type="R"/>

    
</xs:schema>
