saxonData/Open/open009.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- open content mode="suffix" within an xs:all content model -->

<xs:defaultOpenContent mode="suffix" appliesToEmpty="false">
      <xs:any namespace="http://open.com/" processContents="lax"/>
</xs:defaultOpenContent>

<xs:element name="doc">
  <xs:complexType>
    <xs:all>
      <xs:element name="a" maxOccurs="2"/>
      <xs:element name="b" minOccurs="0"/>
      <xs:element name="c" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
</xs:element>
    
</xs:schema>
