sunData/ElemDecl/typeDef/typeDef00205m/typeDef00205m.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)typeDef00205m.xsd
   generated from: @(#)typeDef00205m.jmpp	1.3 02/08/22

-->

<xsd:schema
  xmlns="ElemDecl/typeDef"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/typeDef"
  elementFormDefault="qualified">

  <xsd:element name="root">
      <xsd:complexType>
          <xsd:sequence>
              <xsd:element ref="DefaultTypeElement"/>
          </xsd:sequence>
      </xsd:complexType>
  </xsd:element>

  <xsd:element name="DefaultTypeElement"/>
  <xsd:element name="AnyTypeElement" type="xsd:anyType" substitutionGroup="DefaultTypeElement"/>

</xsd:schema>
