ibmData/valid/D3_4_28/d3_4_28v06.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_4_28_v06"
	xmlns:sv="http://xstest-tns/schema11_D3_4_28_v06">
	
<!-- 
	Test Case Type: Schema Valid test (Datatypes section 3.4.28) 
	Base Type     : dateTimeStamp
	Description   : Tests the simpleType dateTimeStamp and its facets with (min|max) (Inclusive|Exclusive) 
			constraint checks in derivations of simpleTypes
-->

<simpleType name="dTimeStampPattern">
	<restriction  base="dateTimeStamp">
		<pattern value="[2][0][0][0-9][-][0-1][1-2][-][0-2][1-8][T]*.*"/>
	</restriction>
</simpleType>

<simpleType name="dTimeStampPatternMinInclusive">
	<restriction  base="sv:dTimeStampPattern">
		<minInclusive value="2002-02-02T02:00:00+09:00"/>
	</restriction>
</simpleType>

<simpleType name="dTimeStampMinInclusive_MinInclusive">
	<restriction  base="sv:dTimeStampPatternMinInclusive">
		<minInclusive value="2003-02-02T02:00:00+09:00"/>
	</restriction>
</simpleType>

<simpleType name="dTimeStampMinInclusive_MinExclusive">
	<restriction  base="sv:dTimeStampPatternMinInclusive">
		<minExclusive value="2003-02-02T02:00:00+09:00"/>
	</restriction>
</simpleType>

<simpleType name="dTimeStampMinInclusive_MaxInclusive">
	<restriction  base="sv:dTimeStampPatternMinInclusive">
		<maxInclusive value="2009-02-02T02:00:00+09:00"/>
	</restriction>
</simpleType>

<simpleType name="dTimeStampMinInclusive_MaxExclusive">
	<restriction  base="sv:dTimeStampPatternMinInclusive">
		<maxExclusive value="2009-02-02T02:00:00+09:00"/>
	</restriction>
</simpleType>

<element name="root">
	<complexType>
		<sequence>
			<element name="elMinInclusive_MinInclusive" type="sv:dTimeStampMinInclusive_MinInclusive" minOccurs="1" maxOccurs="unbounded"/>
			<element name="elMinInclusive_MinExclusive" type="sv:dTimeStampMinInclusive_MinExclusive" minOccurs="1" maxOccurs="unbounded"/>
			<element name="elMinInclusive_MaxInclusive" type="sv:dTimeStampMinInclusive_MaxInclusive" minOccurs="1" maxOccurs="unbounded"/>
			<element name="elMinInclusive_MaxExclusive" type="sv:dTimeStampMinInclusive_MaxExclusive" minOccurs="1" maxOccurs="unbounded"/>			
		</sequence>
	</complexType>
</element>    

</schema>  
