ibmData/valid/D3_4_28/d3_4_28v07.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns/schema11_D3_4_28_v07"
	xmlns:sv="http://xstest-tns/schema11_D3_4_28_v07">
	
<!-- 
	Test Case Type: Schema Valid test (Datatypes section 3.4.28) 
	Base Type     : dateTimeStamp
	Description   : Tests the simpleType dateTimeStamp and its facets with (min|max) (Inclusive|Exclusive) 
			constraint checks in derivations of simpleTypes
-->

<simpleType name="dTimeStampPattern">
	<restriction  base="dateTimeStamp">
		<pattern value="[2][0][0][0-9][-][0-1][1-2][-][0-2][1-8][T]*.*"/>
	</restriction>
</simpleType>

<simpleType name="dTimeStampPatternMinExclusive">
	<restriction  base="sv:dTimeStampPattern">
		<minExclusive value="2002-02-02T02:00:00+09:00"/>
	</restriction>
</simpleType>

<simpleType name="dTimeStampMinExclusive_MinInclusive">
	<restriction  base="sv:dTimeStampPatternMinExclusive">
		<minInclusive value="2002-02-02T02:00:01+09:00"/>
	</restriction>
</simpleType>

<simpleType name="dTimeStampMinExclusive_MinExclusive">
	<restriction  base="sv:dTimeStampPatternMinExclusive">
		<minExclusive value="2002-02-02T02:00:01+09:00"/>
	</restriction>
</simpleType>

<simpleType name="dTimeStampMinExclusive_MaxInclusive">
	<restriction  base="sv:dTimeStampPatternMinExclusive">
		<maxInclusive value="2005-02-02T02:00:00+09:00"/>
	</restriction>
</simpleType>

<simpleType name="dTimeStampMinExclusive_MaxExclusive">
	<restriction  base="sv:dTimeStampPatternMinExclusive">
		<maxExclusive value="2005-02-02T01:59:59+09:00"/>
	</restriction>
</simpleType>

<element name="root">
	<complexType>
		<sequence>
			<element name="elMinExclusive_MinInclusive" type="sv:dTimeStampMinExclusive_MinInclusive" minOccurs="1" maxOccurs="unbounded"/>
			<element name="elMinExclusive_MinExclusive" type="sv:dTimeStampMinExclusive_MinExclusive" minOccurs="1" maxOccurs="unbounded"/>
			<element name="elMinExclusive_MaxInclusive" type="sv:dTimeStampMinExclusive_MaxInclusive" minOccurs="1" maxOccurs="unbounded"/>
			<element name="elMinExclusive_MaxExclusive" type="sv:dTimeStampMinExclusive_MaxExclusive" minOccurs="1" maxOccurs="unbounded"/>			
		</sequence>
	</complexType>
</element>    

</schema>  
