ibmData/instance_invalid/S3_11_2/s3_11_2ii03.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	targetNamespace="a"
	xmlns:a="a"
	elementFormDefault="qualified">
	
<!--
Test Case Type: Instance invalid test
Description   : invalid instance unique selection expressions_3
-->
	
	<complexType name="numtype">
	 <simpleContent>
		<extension base="integer">
		<attribute name="id_1" type="integer"/>
		<attribute name="id_2" type="string"/>
		</extension>
	 </simpleContent>	
	</complexType>
	

	
	<element name="root">
		<complexType>
			<sequence>
				<element name="Number" type="a:numtype" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
		<unique name="uniqueNum">
		<selector xpath="a:Number"/>
		<field xpath="@id_1"/>
		<field xpath="."/>
		</unique>
    </element>
	
	

	


</schema>


