nistData/union/gMonthDay-gYearMonth/Schema+Instance/NISTSchema-SV-IV-union-gMonthDay-gYearMonth-enumeration-2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-union-gMonthDay-gYearMonth-enumeration-2-NS"
        targetNamespace="NISTSchema-SV-IV-union-gMonthDay-gYearMonth-enumeration-2-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-union-gMonthDay-gYearMonth-enumeration-2.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-union-gMonthDay-gYearMonth-enumeration-2,
      which is derived by restriction of a union of built-in types 
      gMonthDay and gYearMonth
      by facet enumeration with values of:
          --05-21
          2005-08
          --10-17
          1995-07
          1984-12
          --06-14
          1994-09
          1980-05
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="NISTSchema-SV-IV-union-gMonthDay-gYearMonth-enumeration-2" type="NISTSchema-SV-IV-union-gMonthDay-gYearMonth-enumeration-2-Type"/>

  <xs:simpleType name="unionOf-gMonthDay-gYearMonth">
    <xs:union memberTypes="xs:gMonthDay xs:gYearMonth"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-union-gMonthDay-gYearMonth-enumeration-2-Type">
    <xs:restriction base="unionOf-gMonthDay-gYearMonth">
          <xs:enumeration value="--05-21"/>
          <xs:enumeration value="2005-08"/>
          <xs:enumeration value="--10-17"/>
          <xs:enumeration value="1995-07"/>
          <xs:enumeration value="1984-12"/>
          <xs:enumeration value="--06-14"/>
          <xs:enumeration value="1994-09"/>
          <xs:enumeration value="1980-05"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
