nistData/union/gMonthDay-gYearMonth/Schema+Instance/NISTSchema-SV-II-union-gMonthDay-gYearMonth-enumeration-2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-union-gMonthDay-gYearMonth-enumeration-2-NS"
        targetNamespace="NISTSchema-SV-II-union-gMonthDay-gYearMonth-enumeration-2-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-union-gMonthDay-gYearMonth-enumeration-2.xsd
      This schema specifies a datatype, NISTSchema-SV-II-union-gMonthDay-gYearMonth-enumeration-2,
      which is derived by restriction of a union of built-in types 
      gMonthDay and gYearMonth
      by facet enumeration with values of:
          2008-07
          --05-18
          1998-09
          --10-01
          1992-10
          1973-03
          --12-06
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="NISTSchema-SV-II-union-gMonthDay-gYearMonth-enumeration-2" type="NISTSchema-SV-II-union-gMonthDay-gYearMonth-enumeration-2-Type"/>

  <xs:simpleType name="unionOf-gMonthDay-gYearMonth">
    <xs:union memberTypes="xs:gMonthDay xs:gYearMonth"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-union-gMonthDay-gYearMonth-enumeration-2-Type">
    <xs:restriction base="unionOf-gMonthDay-gYearMonth">
          <xs:enumeration value="2008-07"/>
          <xs:enumeration value="--05-18"/>
          <xs:enumeration value="1998-09"/>
          <xs:enumeration value="--10-01"/>
          <xs:enumeration value="1992-10"/>
          <xs:enumeration value="1973-03"/>
          <xs:enumeration value="--12-06"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
