nistData/union/gMonthDay-gYearMonth/Schema+Instance/NISTSchema-SV-II-union-gMonthDay-gYearMonth-pattern-2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-union-gMonthDay-gYearMonth-pattern-2-NS"
        targetNamespace="NISTSchema-SV-II-union-gMonthDay-gYearMonth-pattern-2-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-union-gMonthDay-gYearMonth-pattern-2.xsd
      This schema specifies a datatype, NISTSchema-SV-II-union-gMonthDay-gYearMonth-pattern-2,
      which is derived by restriction of a union of built-in types 
      gMonthDay and gYearMonth
      by facet pattern with a value of: --0\d-2\d
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="NISTSchema-SV-II-union-gMonthDay-gYearMonth-pattern-2" type="NISTSchema-SV-II-union-gMonthDay-gYearMonth-pattern-2-Type"/>

  <xs:simpleType name="unionOf-gMonthDay-gYearMonth">
    <xs:union memberTypes="xs:gMonthDay xs:gYearMonth"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-union-gMonthDay-gYearMonth-pattern-2-Type">
    <xs:restriction base="unionOf-gMonthDay-gYearMonth">
      <xs:pattern value="--0\d-2\d"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
