nistData/union/gMonthDay-gYearMonth/Schema+Instance/NISTSchema-SV-IV-union-gMonthDay-gYearMonth-enumeration-1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-union-gMonthDay-gYearMonth-enumeration-1-NS"
        targetNamespace="NISTSchema-SV-IV-union-gMonthDay-gYearMonth-enumeration-1-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-union-gMonthDay-gYearMonth-enumeration-1.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-union-gMonthDay-gYearMonth-enumeration-1,
      which is derived by restriction of a union of built-in types 
      gMonthDay and gYearMonth
      by facet enumeration with values of:
          --04-23
          1989-09
          2015-07
          --11-30
          2003-07
          1994-09
          2023-02
          1982-09
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="NISTSchema-SV-IV-union-gMonthDay-gYearMonth-enumeration-1" type="NISTSchema-SV-IV-union-gMonthDay-gYearMonth-enumeration-1-Type"/>

  <xs:simpleType name="unionOf-gMonthDay-gYearMonth">
    <xs:union memberTypes="xs:gMonthDay xs:gYearMonth"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-union-gMonthDay-gYearMonth-enumeration-1-Type">
    <xs:restriction base="unionOf-gMonthDay-gYearMonth">
          <xs:enumeration value="--04-23"/>
          <xs:enumeration value="1989-09"/>
          <xs:enumeration value="2015-07"/>
          <xs:enumeration value="--11-30"/>
          <xs:enumeration value="2003-07"/>
          <xs:enumeration value="1994-09"/>
          <xs:enumeration value="2023-02"/>
          <xs:enumeration value="1982-09"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
