nistData/list/unsignedShort/Schema+Instance/NISTSchema-SV-II-list-unsignedShort-enumeration-5.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-unsignedShort-enumeration-5-NS"
        targetNamespace="NISTSchema-SV-II-list-unsignedShort-enumeration-5-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-unsignedShort-enumeration-5.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-unsignedShort-enumeration-5,
      which is derived by restriction of a list with itemType unsignedShort
      by facet enumeration with values of:
          3 29 962 4000 8469 24 3787 32 753 91
          33 201 7699 6938 8796 6383
          40741 789 121 147 25881 35 4882
          515 308 390 3549 6526
          53 315 93 2955 47 7451 3586 583
          25 663 4915 53 7000 438
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-unsignedShort-enumeration-5" type="NISTSchema-SV-II-list-unsignedShort-enumeration-5-Type"/>

  <xs:simpleType name="listOfunsignedShort">
    <xs:list itemType="xs:unsignedShort"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-unsignedShort-enumeration-5-Type">
    <xs:restriction base="listOfunsignedShort">
          <xs:enumeration value="3 29 962 4000 8469 24 3787 32 753 91"/>
          <xs:enumeration value="33 201 7699 6938 8796 6383"/>
          <xs:enumeration value="40741 789 121 147 25881 35 4882"/>
          <xs:enumeration value="515 308 390 3549 6526"/>
          <xs:enumeration value="53 315 93 2955 47 7451 3586 583"/>
          <xs:enumeration value="25 663 4915 53 7000 438"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
