nistData/list/unsignedShort/Schema+Instance/NISTSchema-SV-II-list-unsignedShort-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-unsignedShort-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-II-list-unsignedShort-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-unsignedShort-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-unsignedShort-enumeration-4,
      which is derived by restriction of a list with itemType unsignedShort
      by facet enumeration with values of:
          7460 511 602 16788 8814 66
          3423 56 328 37 30788 38
          82 8363 7196 12077 649 1722
          9683 65535 41 9744 4298 1567 103 59 946
          3022 5450 99 7424 316
          34 3417 4650 9 1893
          50 70 383 295 7503 4
          830 532 6 586 822 4266
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-unsignedShort-enumeration-4" type="NISTSchema-SV-II-list-unsignedShort-enumeration-4-Type"/>

  <xs:simpleType name="listOfunsignedShort">
    <xs:list itemType="xs:unsignedShort"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-unsignedShort-enumeration-4-Type">
    <xs:restriction base="listOfunsignedShort">
          <xs:enumeration value="7460 511 602 16788 8814 66"/>
          <xs:enumeration value="3423 56 328 37 30788 38"/>
          <xs:enumeration value="82 8363 7196 12077 649 1722"/>
          <xs:enumeration value="9683 65535 41 9744 4298 1567 103 59 946"/>
          <xs:enumeration value="3022 5450 99 7424 316"/>
          <xs:enumeration value="34 3417 4650 9 1893"/>
          <xs:enumeration value="50 70 383 295 7503 4"/>
          <xs:enumeration value="830 532 6 586 822 4266"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
