nistData/list/unsignedShort/Schema+Instance/NISTSchema-SV-IV-list-unsignedShort-enumeration-3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-IV-list-unsignedShort-enumeration-3-NS"
        targetNamespace="NISTSchema-SV-IV-list-unsignedShort-enumeration-3-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-unsignedShort-enumeration-3.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-unsignedShort-enumeration-3,
      which is derived by restriction of a list with itemType unsignedShort
      by facet enumeration with values of:
          9380 745 96 8282 29 404 5192 60973 533
          188 957 28 65535 72 45 31910 13
          772 2581 9 24 7436
          1 5 21431 2135 45 7554 74
          19 281 85 469 961 2800
          14 45 380 1507 65535
          31 744 80 65535 133 2 40542 6520 92 287
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-IV-list-unsignedShort-enumeration-3" type="NISTSchema-SV-IV-list-unsignedShort-enumeration-3-Type"/>

  <xs:simpleType name="listOfunsignedShort">
    <xs:list itemType="xs:unsignedShort"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-IV-list-unsignedShort-enumeration-3-Type">
    <xs:restriction base="listOfunsignedShort">
          <xs:enumeration value="9380 745 96 8282 29 404 5192 60973 533"/>
          <xs:enumeration value="188 957 28 65535 72 45 31910 13"/>
          <xs:enumeration value="772 2581 9 24 7436"/>
          <xs:enumeration value="1 5 21431 2135 45 7554 74"/>
          <xs:enumeration value="19 281 85 469 961 2800"/>
          <xs:enumeration value="14 45 380 1507 65535"/>
          <xs:enumeration value="31 744 80 65535 133 2 40542 6520 92 287"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
