sunData/CType/contentType/contentType00101m/contentType00101m.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)contentType00101m.xsd
   generated from: @(#)contentType00101m.jmpp	1.2 02/12/02

-->


<xsd:schema
  xmlns="contentType"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="contentType">

     <xsd:element name="a" type="A" />

     <xsd:complexType name="A">
          <xsd:attribute name="attr1" type="xsd:int"/>
     </xsd:complexType>
</xsd:schema>

