sunData/IdConstrDefs/targetNS/targetNS00101m/targetNS00101m1a.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)targetNS00101m1a.xsd
   generated from: @(#)targetNS00101m.jmpp	1.3 02/09/06

-->

<xsd:schema
  xmlns="IdConstrDefs/targetNSa"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="IdConstrDefs/targetNSa">

  <xsd:element name="roota">
      <xsd:complexType>
          <xsd:sequence maxOccurs="unbounded">
              <xsd:element name="person">
                  <xsd:complexType>
                       <xsd:simpleContent>
                            <xsd:extension base="xsd:string">
                                 <xsd:attribute name="parent" type="xsd:string" use="optional"/>
                            </xsd:extension>
                       </xsd:simpleContent>
                  </xsd:complexType>
              </xsd:element>
          </xsd:sequence>
      </xsd:complexType>
      <xsd:key name="KEY">
          <xsd:selector xpath="./person"/>
          <xsd:field xpath="."/>
      </xsd:key>
      <xsd:keyref name="KEYREF" refer="KEY">
          <xsd:selector xpath="./person"/>
          <xsd:field xpath="@parent"/>
      </xsd:keyref>
  </xsd:element>

</xsd:schema>
