sunData/AttrDecl/AD_name/AD_name00108m/AD_name00108m7.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)AD_name00108m7.xsd
   generated from: @(#)AD_name00108m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="AttrDecl/name">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:attribute name="str00Aএ" type="xsd:string"/>
            <xsd:attribute name="str10-এ" type="xsd:string"/>
            <xsd:attribute name="str20ঐ" type="xsd:string"/>
            <xsd:attribute name="str01Aও" type="xsd:string"/>
            <xsd:attribute name="str11-ঝ" type="xsd:string"/>
            <xsd:attribute name="str21ন" type="xsd:string"/>
            <xsd:attribute name="str02Aপ" type="xsd:string"/>
            <xsd:attribute name="str12-ভ" type="xsd:string"/>
            <xsd:attribute name="str22র" type="xsd:string"/>
            <xsd:attribute name="str03Aল" type="xsd:string"/>
            <xsd:attribute name="str04Aশ" type="xsd:string"/>
            <xsd:attribute name="str14-ষ" type="xsd:string"/>
            <xsd:attribute name="str24হ" type="xsd:string"/>
            <xsd:attribute name="str05Aড়" type="xsd:string"/>
            <xsd:attribute name="str15-ড়" type="xsd:string"/>
            <xsd:attribute name="str25ঢ়" type="xsd:string"/>
            <xsd:attribute name="str06Aয়" type="xsd:string"/>
            <xsd:attribute name="str16-ৠ" type="xsd:string"/>
            <xsd:attribute name="str26ৡ" type="xsd:string"/>
            <xsd:attribute name="str07Aৰ" type="xsd:string"/>
            <xsd:attribute name="str17-ৰ" type="xsd:string"/>
            <xsd:attribute name="str27ৱ" type="xsd:string"/>
            <xsd:attribute name="str08Aਅ" type="xsd:string"/>
            <xsd:attribute name="str18-ਇ" type="xsd:string"/>
            <xsd:attribute name="str28ਊ" type="xsd:string"/>
            <xsd:attribute name="str09Aਏ" type="xsd:string"/>
            <xsd:attribute name="str19-ਏ" type="xsd:string"/>
            <xsd:attribute name="str29ਐ" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
