sunData/AttrDecl/AD_name/AD_name00108m/AD_name00108m11.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)AD_name00108m11.xsd
   generated from: @(#)AD_name00108m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="AttrDecl/name">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:attribute name="str00Aஜ" type="xsd:string"/>
            <xsd:attribute name="str01Aஞ" type="xsd:string"/>
            <xsd:attribute name="str11-ஞ" type="xsd:string"/>
            <xsd:attribute name="str21ட" type="xsd:string"/>
            <xsd:attribute name="str02Aண" type="xsd:string"/>
            <xsd:attribute name="str12-ண" type="xsd:string"/>
            <xsd:attribute name="str22த" type="xsd:string"/>
            <xsd:attribute name="str03Aந" type="xsd:string"/>
            <xsd:attribute name="str13-ன" type="xsd:string"/>
            <xsd:attribute name="str23ப" type="xsd:string"/>
            <xsd:attribute name="str04Aம" type="xsd:string"/>
            <xsd:attribute name="str14-ற" type="xsd:string"/>
            <xsd:attribute name="str24வ" type="xsd:string"/>
            <xsd:attribute name="str05Aஷ" type="xsd:string"/>
            <xsd:attribute name="str15-ஸ" type="xsd:string"/>
            <xsd:attribute name="str25ஹ" type="xsd:string"/>
            <xsd:attribute name="str06Aఅ" type="xsd:string"/>
            <xsd:attribute name="str16-ఈ" type="xsd:string"/>
            <xsd:attribute name="str26ఌ" type="xsd:string"/>
            <xsd:attribute name="str07Aఎ" type="xsd:string"/>
            <xsd:attribute name="str17-ఏ" type="xsd:string"/>
            <xsd:attribute name="str27ఐ" type="xsd:string"/>
            <xsd:attribute name="str08Aఒ" type="xsd:string"/>
            <xsd:attribute name="str18-ఝ" type="xsd:string"/>
            <xsd:attribute name="str28న" type="xsd:string"/>
            <xsd:attribute name="str09Aప" type="xsd:string"/>
            <xsd:attribute name="str19-మ" type="xsd:string"/>
            <xsd:attribute name="str29ళ" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
