saxonData/CTA/cta0022.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
  attributeFormDefault="qualified">
  
  <!-- Dynamic context of an XPath expression in CTA -->
  
  <xs:element name="doc">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="event" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="type" inheritable="true" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="event">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="when"/>
        </xs:sequence>
        <xs:attribute name="type" inheritable="true" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="when" type="unionType">
    <xs:alternative test="position() = 1 and last() = 1 and 
        (. instance of element(*, xs:untyped)) and 
        current-dateTime() = current-dateTime() and
        implicit-timezone() = implicit-timezone() and
        empty(collection()) " type="xs:date"/>
    <xs:alternative type="xs:error"/>
  </xs:element>
  
  <xs:simpleType name="unionType">
    <xs:union memberTypes="xs:date xs:time xs:dateTime xs:gYearMonth"/>
  </xs:simpleType>
  

</xs:schema>
  