saxonData/CTA/cta0005.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://cta0002/"
  xmlns:c2="http://cta0002/"
  elementFormDefault="qualified"
  attributeFormDefault="qualified"
  xpathDefaultNamespace="##defaultNamespace">
  
  <!-- A CTA test with complex types and namespaces. CTA condition referencing element name.
       Variant of cta0003 using xpathDefaultNamespace=##defaultNamespace at the schema level -->
  
<xs:complexType name="t">
 <xs:sequence>
  <xs:element name="e" minOccurs="0" maxOccurs="unbounded" type="xs:decimal"/>
 </xs:sequence>
 <xs:attribute name="min">
  <xs:simpleType>
     <xs:restriction base="xs:integer">
      <xs:enumeration value="0"/>
      <xs:enumeration value="1"/>
     </xs:restriction>
  </xs:simpleType>
 </xs:attribute>
</xs:complexType>

<xs:complexType name="treq">
 <xs:complexContent>
  <xs:restriction base="c2:t">
    <xs:sequence>
      <xs:element name="e" minOccurs="1" maxOccurs="unbounded" type="xs:decimal"/>
    </xs:sequence>
  </xs:restriction>
 </xs:complexContent>
</xs:complexType>

<xs:element name="message" type="c2:t">
  <xs:alternative test="self::message" type="c2:treq" xmlns="http://cta0002/"/>
</xs:element>

<xs:element name="messages">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="c2:message" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
  