saxonData/CTA/cta9005err.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
  attributeFormDefault="qualified">
  
  <!--Invalid restriction; the inheritability of an attribute is different -->
  
  <xs:element name="doc" type="docType"/>
  
  <xs:complexType name="docType">
        <xs:sequence>
            <xs:element ref="chap" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="lang"/>
   </xs:complexType>
  
  <xs:complexType name="docTypeR">
    <xs:complexContent>
      <xs:restriction base="docType">
        <xs:sequence>
            <xs:element ref="chap" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="lang" inheritable="true"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>    
    
    
  
  <xs:element name="chap">
    <xs:alternative test="@lang='de'">
        <xs:complexType>
            <xs:sequence>
             <xs:element name="de"/>
            </xs:sequence>
        </xs:complexType>
    </xs:alternative>
    <xs:alternative test="@lang='fr'">
        <xs:complexType>
            <xs:sequence>
            <xs:element name="fr"/>
            </xs:sequence>
        </xs:complexType>
    </xs:alternative>
  </xs:element>   
  

</xs:schema>
  