saxonData/Simple/simple018.bad.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
The transitive membership of a union must not contain a type derived from the union 

-->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://simple017.ly/"
  elementFormDefault="qualified"
  xmlns:s="http://simple017.ly/">
  
  <xs:element name="book">
    <xs:complexType>
        <xs:sequence maxOccurs="unbounded">
            <xs:element ref="s:doc"/>
        </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="doc" type="s:doc-type"/>
  
  <xs:complexType name="doc-type">
      <xs:sequence maxOccurs="unbounded">
          <xs:element name="chap" type="s:chap"/>
      </xs:sequence>
  </xs:complexType>
  
  <xs:element name="subdoc" substitutionGroup="s:doc" type="s:sub-doc-type"/>
  
  <xs:complexType name="sub-doc-type">
    <xs:complexContent>
        <xs:restriction base="s:doc-type">
          <xs:sequence maxOccurs="unbounded">
              <xs:element name="chap" type="s:sub-chap"/>
          </xs:sequence>
        </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:simpleType name="chap">
     <xs:union memberTypes="s:dt xs:time"/>
  </xs:simpleType>
  
  <xs:simpleType name="dt">
    <xs:union memberTypes="xs:date xs:dateTime s:sub-chap"/>
  </xs:simpleType>
  
   <xs:simpleType name="sub-chap">
       <xs:restriction base="s:chap">
        <xs:pattern value=".*Z"/>
       </xs:restriction>
   </xs:simpleType>


</xs:schema>
