saxonData/Simple/simple055.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="catalog" type="CatalogType">
  <xs:key name="prodNumKey">
    <xs:selector xpath="product/number"/>
    <xs:field xpath="@foo"/>
  </xs:key>
</xs:element>

<xs:complexType name="CatalogType">
  <xs:sequence>
    <xs:element name="product" type="ProdType" maxOccurs="unbounded"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="ProdType">
  <xs:sequence>
    <xs:element name="number" type="xs:string"/>
    <xs:element name="name" type="xs:string"/>
  </xs:sequence>
</xs:complexType>

</xs:schema>