sunData/IdConstrDefs/annotation/annotation00101m/annotation00101m2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)annotation00101m2.xsd
   generated from: @(#)annotation00101m.jmpp	1.3 02/08/22

-->

<xsd:schema
  xmlns="IdConstrDefs/annotation"
  xmlns:jt="JavaTest"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="IdConstrDefs/annotation">
  
  <xsd:element name="root"/>
  
  <xsd:element name="people">
      <xsd:complexType>
          <xsd:sequence maxOccurs="unbounded">
              <xsd:element name="person"/>
          </xsd:sequence>
      </xsd:complexType>
      <xsd:unique name="UNIQUENESS">
          <xsd:selector xpath="./person"/>
          <xsd:field xpath="."/>
          <xsd:annotation>
              <xsd:documentation xml:lang="en">
                  This is an Identity-constraint Definition.
              </xsd:documentation>
          </xsd:annotation>
      </xsd:unique>
  </xsd:element>

</xsd:schema>
