ibmData/valid/D4_3_15/d4_3_15v11.xsd

<?xml version="1.1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root" type="rootType" />  
	<xs:complexType name="rootType">
		<xs:sequence>
			<xs:element name="ele" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="date" type="xs:date"/>
		<xs:assert test="current-date() gt @date"/>
	</xs:complexType>  
</xs:schema>

<!-- 

	Test Case Type: valid test (Datatype/facet section 4.3.15) 	
	facet Type 	  : Assertions
	Description   : dynamic context of the XPath expression, assertion on attribute
-->