nistData/list/decimal/Schema+Instance/NISTSchema-SV-II-list-decimal-pattern-2.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-II-list-decimal-pattern-2-NS"
        targetNamespace="NISTSchema-SV-II-list-decimal-pattern-2-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-decimal-pattern-2.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-decimal-pattern-2,
      which is derived by restriction of a list with item type decimal
      by facet pattern with a value of: \-\d{1} \-\d{4}\.\d{1} \-\d{7}\.\d{2} \d{5}\.\d{8} \d{2}\.\d{16}
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-II-list-decimal-pattern-2" type="nist:NISTSchema-SV-II-list-decimal-pattern-2-Type"/>

  <simpleType name="listOfdecimal">
    <list itemType="decimal"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-II-list-decimal-pattern-2-Type">
    <restriction base="nist:listOfdecimal">
      <pattern value="\-\d{1} \-\d{4}\.\d{1} \-\d{7}\.\d{2} \d{5}\.\d{8} \d{2}\.\d{16}"/>
    </restriction>
  </simpleType>

</schema>
