nistData/list/decimal/Schema+Instance/NISTSchema-SV-II-list-decimal-pattern-5.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-II-list-decimal-pattern-5-NS"
        targetNamespace="NISTSchema-SV-II-list-decimal-pattern-5-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-decimal-pattern-5.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-decimal-pattern-5,
      which is derived by restriction of a list with item type decimal
      by facet pattern with a value of: \d{1} \d{2}\.\d{1} \d{2}\.\d{3} \d{4}\.\d{3} \-\d{3}\.\d{6} \-\d{6}\.\d{5} \-\d{1}\.\d{17}
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-II-list-decimal-pattern-5" type="nist:NISTSchema-SV-II-list-decimal-pattern-5-Type"/>

  <simpleType name="listOfdecimal">
    <list itemType="decimal"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-II-list-decimal-pattern-5-Type">
    <restriction base="nist:listOfdecimal">
      <pattern value="\d{1} \d{2}\.\d{1} \d{2}\.\d{3} \d{4}\.\d{3} \-\d{3}\.\d{6} \-\d{6}\.\d{5} \-\d{1}\.\d{17}"/>
    </restriction>
  </simpleType>

</schema>
