nistData/list/decimal/Schema+Instance/NISTSchema-SV-II-list-decimal-enumeration-4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="NISTSchema-SV-II-list-decimal-enumeration-4-NS"
        targetNamespace="NISTSchema-SV-II-list-decimal-enumeration-4-NS">

  <xs:annotation>
    <xs:documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-II-list-decimal-enumeration-4.xsd
      This schema specifies a datatype, NISTSchema-SV-II-list-decimal-enumeration-4,
      which is derived by restriction of a list with itemType decimal
      by facet enumeration with values of:
          74.6926 79458.865468 2541623.1 -0.1679 9334.631 -47056.6278508478
          -365 9.6 30 -5244263281.22 -29.045396980677296 -7.9259516882732 -1094.436488
          -7920.3027 -2.2265290174524976 62.4 -554077673880.3 -464.5940131416 -7864061.9
          15128218.862 7.417638970490295 -0.117 8.8835 2642.846881012 -803667.303 73.6
          -5 -1.671 -16308155.045 -1.385705 747035.201370 -81.50 -77.1435066026437 21314992055.6599759 -4905785529217.947
          6 898977.1165867854 483919.52906 0.9 9.8227858619485 751799.11186 45.2
      This schema is intended to be valid with
      regard to the schema for schemas.
    </xs:documentation>
  </xs:annotation>



  <xs:element name="NISTSchema-SV-II-list-decimal-enumeration-4" type="NISTSchema-SV-II-list-decimal-enumeration-4-Type"/>

  <xs:simpleType name="listOfdecimal">
    <xs:list itemType="xs:decimal"/>
  </xs:simpleType>

  <xs:simpleType name="NISTSchema-SV-II-list-decimal-enumeration-4-Type">
    <xs:restriction base="listOfdecimal">
          <xs:enumeration value="74.6926 79458.865468 2541623.1 -0.1679 9334.631 -47056.6278508478"/>
          <xs:enumeration value="-365 9.6 30 -5244263281.22 -29.045396980677296 -7.9259516882732 -1094.436488"/>
          <xs:enumeration value="-7920.3027 -2.2265290174524976 62.4 -554077673880.3 -464.5940131416 -7864061.9"/>
          <xs:enumeration value="15128218.862 7.417638970490295 -0.117 8.8835 2642.846881012 -803667.303 73.6"/>
          <xs:enumeration value="-5 -1.671 -16308155.045 -1.385705 747035.201370 -81.50 -77.1435066026437 21314992055.6599759 -4905785529217.947"/>
          <xs:enumeration value="6 898977.1165867854 483919.52906 0.9 9.8227858619485 751799.11186 45.2"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
