nistData/list/decimal/Schema+Instance/NISTSchema-SV-IV-list-decimal-pattern-3.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nist="NISTSchema-SV-IV-list-decimal-pattern-3-NS"
        targetNamespace="NISTSchema-SV-IV-list-decimal-pattern-3-NS">

  <annotation>
    <documentation>
      The National Institute of Standards and Technology.
      Conformance test for W3C XML Schema Part 2: Datatypes.
      Created Jan 13, 2004.

      File: NISTSchema-SV-IV-list-decimal-pattern-3.xsd
      This schema specifies a datatype, NISTSchema-SV-IV-list-decimal-pattern-3,
      which is derived by restriction of a list with item type decimal
      by facet pattern with a value of: \-\d{1} \-\d{1}\.\d{2} \.\d{5} \d{1}\.\d{6} \-\d{8}\.\d{1} \-\d{1}\.\d{10} \-\d{11}\.\d{2} \-\d{8}\.\d{10}
      This schema is intended to be valid with
      regard to the schema for schemas.
    </documentation>
  </annotation>

  <element name="NISTSchema-SV-IV-list-decimal-pattern-3" type="nist:NISTSchema-SV-IV-list-decimal-pattern-3-Type"/>

  <simpleType name="listOfdecimal">
    <list itemType="decimal"/>
  </simpleType>

  <simpleType name="NISTSchema-SV-IV-list-decimal-pattern-3-Type">
    <restriction base="nist:listOfdecimal">
      <pattern value="\-\d{1} \-\d{1}\.\d{2} \.\d{5} \d{1}\.\d{6} \-\d{8}\.\d{1} \-\d{1}\.\d{10} \-\d{11}\.\d{2} \-\d{8}\.\d{10}"/>
    </restriction>
  </simpleType>

</schema>
