ibmData/instance_invalid/S3_4_2_4/s3_4_2_4ii11.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://xstest-tns/schema11_S3_4_2_4"
        elementFormDefault="qualified"
        attributeFormDefault="qualified"
        xmlns:tns="http://xstest-tns/schema11_S3_4_2_4"
        defaultAttributes="tns:defaultAttrGroup1">

	<attributeGroup name="defaultAttrGroup1">
		<attribute name="defaultAttr1" type="boolean" use="required"/>
	</attributeGroup>
	
	<attributeGroup name="defaultAttrGroup2">
		<attribute name="defaultAttr2" type="boolean" use="required"/>
	</attributeGroup>

	<element name="root" type="tns:attrGoupType"/>    
 
    <complexType name="attrGoupType">
		<attributeGroup ref="tns:defaultAttrGroup2"/>
	</complexType>
   
 
 
</schema>


<!-- 
	Test Case Type: instance invalid test (Structures 3.4.2.4) 
	Base Type     : attributeGroup
	Description   : test defaultAttributesApply is absent, and ref attribute in attributeGroup
-->