ibmData/instance_invalid/S3_4_2_4/s3_4_2_4ii05b.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://xstest-tns/schema11_S3_4_2_4"
        elementFormDefault="qualified"
        attributeFormDefault="qualified"
        xmlns:tns="http://xstest-tns/schema11_S3_4_2_4"
        defaultAttributes="tns:defaultAttrGroup">
        
	<attributeGroup name="defaultAttrGroup">
		<attribute name="defaultAttr" type="boolean" use="required"/>
	</attributeGroup>
	

	<complexType name="c1" defaultAttributesApply="false">
		<sequence>
			<element name="element1" type="tns:c2" minOccurs="1"/>
			<element name="element2" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="c2" defaultAttributesApply="true"/>		
	
	<element name="root" type="tns:c1"/>

</schema>
<!-- 
	Test Case Type: instance invalid test (Structures 3.4.2.4) 
	Base Type     : attributeGroup
	Description   : test defaultAttributesApply = false and redefined as true
-->