ibmData/instance_invalid/S3_4_2_4/s3_4_2_4ii05.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://xstest-tns/schema11_S3_4_2_4"
        elementFormDefault="qualified"
        attributeFormDefault="qualified"
        xmlns:tns="http://xstest-tns/schema11_S3_4_2_4"
        defaultAttributes="tns:defaultAttrGroup">
		
	<redefine schemaLocation="s3_4_2_4ii05b.xsd">
		<complexType name="c1" defaultAttributesApply="true">
			<complexContent>
				<extension base="tns:c1">
					<sequence>
						<element name="element_added" minOccurs="1"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
		
		<complexType name="c2" defaultAttributesApply="false">
			<complexContent>
				<extension base="tns:c2"/>					
			</complexContent>
		</complexType>
	</redefine>
</schema>


<!-- 
	Test Case Type: instance invalid test (Structures 3.4.2.4) 
	Base Type     : attributeGroup
	Description   : test defaultAttributesApply was false/true and redefined as true/false
-->