sunData/ElemDecl/disallowedSubst/disallowedSubst00102m/disallowedSubst00102m2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)disallowedSubst00102m2.xsd
   generated from: @(#)disallowedSubst00102m.jmpp	1.3 02/08/22

-->

<xsd:schema
  xmlns="ElemDecl/disallowedSubst"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/disallowedSubst"
  elementFormDefault="qualified">

  <xsd:element name="root">
      <xsd:complexType>
          <xsd:sequence>
              <xsd:element ref="Head" maxOccurs="unbounded"/>
          </xsd:sequence>
      </xsd:complexType>
  </xsd:element>

  <xsd:element name="Head" type="HeadType" block="substitution"/>

  <xsd:complexType name="HeadType">
      <xsd:sequence>
          <xsd:element name="Ear"/>
          <xsd:element name="Eye"/>
      </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Member1" type="HeadType" substitutionGroup="Head"/>
  
</xsd:schema>
