saxonData/Subsgroup/subsgroup002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Element substitutable for another in more than one way -->
<!-- requires XSD 1.1 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
 
 <xs:element name="doc">
    <xs:complexType>
       <xs:sequence>     
         <xs:element ref="body"/>
         <xs:element ref="back"/>
       </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="body">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="content"  minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="back">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="content"  minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element> 
  
  <xs:element name="content" abstract="true"/>
  
  <xs:element name="chapContent" abstract="true" substitutionGroup="content" type="xs:string"/> 
  
  <xs:element name="appendixContent" abstract="true" substitutionGroup="content" type="xs:string"/>
  
  <xs:element name="para" substitutionGroup="chapContent appendixContent" type="xs:token"/>   

</xs:schema>
