saxonData/Subsgroup/subsgroup003b.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.myexample.com/actions/data"
    xmlns:tns="http://www.myexample.com/actions/data" xmlns:command="http://www.myexample.com/command"
    elementFormDefault="qualified">
    <xs:import namespace="http://www.myexample.com/command"
        schemaLocation="subsgroup003a.xsd" />

    <xs:element name="read" type="tns:readType"
        substitutionGroup="command:Action" />

    <xs:complexType name="readType">
        <xs:complexContent>
            <xs:extension base="command:ActionType">
                <xs:attribute name="a" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>