saxonData/Subsgroup/subsgroup901.bad.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Element in substitution group, fails "element declarations consistent" because of a conflict
     between a locally declared element and the substitution group of a globally declared element.
     This is actually a 1.0 test, but it's a condition that appears to be untested in the 1.0
     test suite -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
 
 <xs:element name="doc">
    <xs:complexType>
       <xs:sequence>     
         <xs:element ref="body"/>
         <xs:element ref="back"/>
       </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="body">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="chapContent"  minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="back">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="n" type="xs:date"/>
        <xs:element name="spacer"/>
        <xs:element ref="appendixContent"  minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element> 
  
  <xs:element name="chapContent" abstract="true" type="xs:string"/> 
  
  <xs:element name="appendixContent" abstract="true"/>
  
  <xs:element name="n" substitutionGroup="chapContent appendixContent" type="xs:string"/>   

</xs:schema>
