saxonData/Subsgroup/subsgroup003a.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.myexample.com/command" xmlns:tns="http://www.myexample.com/command"
    elementFormDefault="qualified">

    <xs:element name="Action" type="tns:ActionType" abstract="true" />

    <xs:complexType name="ActionType" abstract="true">
        <xs:attribute name="result" type="xs:string" />
    </xs:complexType>

    <xs:element name="Command">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:Action" minOccurs="1" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>