saxonData/Subsgroup/subsgroup902.bad.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Element in more than one substitution group causes UPA violation -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
 
 <xs:element name="doc">
    <xs:complexType>
       <xs:sequence>     
         <xs:element ref="body"/>
         <xs:element ref="back"/>
       </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="body">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="chapContent"  minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="back">
    <xs:complexType saxon:debug="true" xmlns:saxon="http://saxon.sf.net/">
      <xs:sequence>
        <xs:element ref="para"  minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="para"  minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
        <xs:element ref="chapContent"  minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="appendixContent"  minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element> 
  
  <xs:element name="chapContent" abstract="true" type="xs:string"/> 
  
  <xs:element name="appendixContent" abstract="true"/>
  
  <xs:element name="para" substitutionGroup="chapContent appendixContent" type="xs:string"/>   

</xs:schema>
