sunData/ElemDecl/name/name00501m/name00501m14.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Ident: @(#)name00501m14.xsd
   generated from: @(#)name00501m.jmpp	1.3 02/08/22

-->

<xsd:schema
  xmlns="ElemDecl/name"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/name">

  <xsd:element name="root"/>

  <xsd:element name="Main" type="xsd:boolean"/>

  <xsd:element name="Global">
      <xsd:complexType>
          <xsd:sequence>
              <xsd:element ref="Main" maxOccurs="unbounded"/>
          </xsd:sequence>
      </xsd:complexType>
  </xsd:element>

</xsd:schema>
