ibmData/instance_invalid/S3_12/s3_12ii05.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns" 
	xmlns:tns="http://xstest-tns"
	elementFormDefault="unqualified">

<!--
Test Case Type: Schema Valid test/ Instance invalid test
Description   : Test xs:error as conditionally assigned type 
-->
	
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="tns:titleType" maxOccurs="5">
					<xs:alternative test="@type='text'" type="tns:stringTitleType" />
					<xs:alternative test="@type='number'" type="xs:error" />
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="titleType" mixed="true">
		<xs:attribute name="type" type="xs:anySimpleType"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="stringTitleType">
		<xs:simpleContent>
			<xs:restriction base="tns:titleType">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>

