ibmData/instance_invalid/S3_12/s3_12ii01.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xstest-tns" xmlns:tns="http://xstest-tns"
	elementFormDefault="unqualified">
<!-- 
Test Case Type: Instance invalid test
Description   : The alternative type's value is an invalid float
-->

	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="elem1" type="tns:anySimpleType" maxOccurs="5">
					<xs:alternative test="@type='float'" type="tns:floatType" />
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="anySimpleType">
		<xs:simpleContent>
			<xs:extension base="xs:anySimpleType">
				<xs:attribute name="type" type="xs:string" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="floatType">
		<xs:simpleContent>
			<xs:restriction base="tns:anySimpleType">
				<xs:simpleType>
					<xs:restriction base="xs:float" />
				</xs:simpleType>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>

</xs:schema>
