saxonData/TargetNS/target003.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:complexType name="B" abstract="true">
         <xs:anyAttribute namespace="http://www.target003.com/" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="R">
      <xs:complexContent>
        <xs:restriction base="B">
           <xs:attribute name="att" targetNamespace="http://www.target003.com/" type="xs:integer"/>
        </xs:restriction>
      </xs:complexContent>        
    </xs:complexType>
    <xs:element name="parent" type="R"/>    
</xs:schema>
